[2019-10-03 07:52] Gary-van-Breda commented on #24
With the Scheme module now enabled, what are the requirements for the country-specific menu?

[2019-10-03 07:57] Gary-van-Breda commented on #79
This will be dealt with under #115

[2019-10-03 22:16] Gary-van-Breda commented on #115
New report ebms_visits_and_sites_summary.xml created, awaiting deployment onto warehouse.
This will go into a new version of the Reporting: Site/Visit Summary page, which will display either a users data, or their scheme's data (see #79)
The original report/page will be kept for supermanagers only.

[2019-10-04 06:57] BirenRathod commented on #115
@Gary-van-Breda
I have pulled that report on to live warehouse.

[2019-10-04 09:44] Gary-van-Breda commented on #115
Section Plot: Done & Pushed to Live

[2019-10-04 10:16] Gary-van-Breda commented on #115
Reporting: Site/Visit Summary page : Done

[2019-10-04 11:48] Gary-van-Breda commented on #79
Done slightly differently than the Annual report, using standard reporting parameters on new report (see #115)
Can now choose to see your own data, or data for your entire scheme, and either this year or last.
All users can see the data for their scheme.
The ability to see the data for the entire eBMS project has been moved to a different page, which I will make not available for normal data recor

[2019-10-04 13:49] DavidRoy commented on #74
Thanks, closing

[2019-10-04 13:49] #74 closed

[2019-10-04 13:49] DavidRoy commented on #125
Thanks.  Closing

[2019-10-04 13:49] #125 closed

[2019-10-05 14:50] DavidRoy opened #129 "enable viewing of samples within app"
Add option for app users to view samples in the app, including those submitted

[2019-10-05 14:52] DavidRoy opened #130 "Uploaded photos should be associated with occurrences not samples"
Currently photos are associated to the whole 15 minute sample.  They should be associated with the species occurrence instead to enable use within verification

[2019-10-05 14:53] DavidRoy opened #131 "Enhance species search"
Currently, if a species is entered by common name the latin name is also removed from the search results list.  This is ok but can confuse users.  Potential solution = when searching for species to add to a sample, show those already selected in the list (i.e. greyed out?) but they can’t be added again.

[2019-10-05 15:02] DavidRoy opened #132 "Improve 15 minute count-down"
Only the change of the time to yellow close to finishing the counts is not very helpful in bright sunshine (typically when you do such counts), as it becomes hard to read. Maybe red is better? Or a red background around the time and the numbers in white?

Also add a vibrate and/or sound to the time at 3m remaining and end of timer?

[2019-10-05 15:05] DavidRoy opened #133 "Make unfinished samples more obvious"
If you forget to push the FINISH button, and you switch off the app, when you go back you can't find the count anymore. However when I wanted to start a new count, I got the question if I wanted to continue the old one or start a new. So I could go there and finish my count, but I wondered why it was not visible in some way in the overview of counts as this might happen to more people.

[2019-10-05 15:09] DavidRoy opened #134 "Add more countries as setup option"
During the first use of the app, you are asked to select a country. Only four options for the moment, so enable wider list of countries (i.e. all those available within the species list attribute).

Also add an  'elsewhere' option

[2019-10-05 15:32] johnvanbreda commented on #122
Changes to records (including deletions) will only be replicated into Elasticsearch when the next Logstash run occurs. This means a typical delay of up to 15 mins if everything is up to date.

[2019-10-05 15:53] johnvanbreda commented on #120
I've removed those columns. I tried downloading the records for dbr.ebms.test@gmail.com and the quantity field was populated OK. Please re-open if there is still a problem.

[2019-10-05 15:53] #120 closed

[2019-10-05 16:17] DavidRoy opened #135 "lag in 'next' button during app setup screens"
In the introduction during the first use of the app, it seems the button "Next" needs to be pushed several times before having a reaction.

[2019-10-05 16:32] DavidRoy opened #136 "Add life stage as occurrence attribute"
using term-list: http://warehouse1.indicia.org.uk/index.php/termlist/edit/287?tab=terms

[2019-10-05 16:40] DavidRoy commented on #122
Understood.  I'll raise a separate issue for an information message when deleting

[2019-10-05 16:40] #122 closed

[2019-10-05 16:44] DavidRoy opened #137 "Improvements to ability to delete occurrences"
following from #122

when exploring records and selecting edit option, e.g. https://butterfly-monitoring.net/enter-app-record?occurrence_id=11816913&sample_id=

There is no option to delete an individual occurrence.  Only option to delete entire list of records.

Actions required:
1. ability to delete individual occurrences from a sample
2. ability to delete all occurrences from a sample
3. add in

[2019-10-05 16:46] DavidRoy opened #138 "Enable option to upload all pending samples"
to enable all samples to be uploaded from the pending list. For the moment, you need to open and close each survey to upload

[2019-10-05 16:47] DavidRoy opened #139 "Enable sample completion when no mobile signal"
User report from testing:
Once, when I had no phone signal up a mountain I could not "finish" my count because the area was not recorded (and I couldn't access a map or GPS). So it prevented me from starting another count as I walked down the mountain...which was frustrating.

[2019-10-05 17:20] johnvanbreda commented on #20
Done

[2019-10-05 17:20] #20 closed

[2019-10-05 18:32] DavidRoy opened #140 "Enable option to submit single sightings"
Add option to add ad-hoc/individual occurrences

[2019-10-05 18:33] DavidRoy opened #141 "Add current location symbol to map"
Testing feedback:
For the map, would it be possible to have a dot marker to show the position of the latest fix as well as the blue line? When doing the timed count in the back garden (standing still) it didn't look as if the map had picked up my location - until I walked up and down the garden and a blue line then appeared.

[2019-10-05 18:36] DavidRoy opened #142 "Need to confirm initial GPS fix before tracking route?"
user feedback:
For the tracking, I noticed that the initial jumping-around as the satellite fix is refined is actually tracked as part of the route - see attached screen grab. I walked the whole transect in a south-westerly direction, and the initial northwards jump was just my phone figuring out my GPS location. Not sure how this could be fixed - perhaps the first couple of fixes should be ignore

[2019-10-05 18:38] DavidRoy opened #143 "Automatically start new sample after 15 mins?"
User feedback:
I guess the 15-minute upper time limit is very deliberate. However I can see myself using this app whilst out for walks e.g. round nature reserves to record everything I see, and typically those walks would be much longer than 15 minutes. I suppose it would be easy enough to just start a new observation every 15 minutes, but I did wonder whether it might be possible to set up an aut

[2019-10-05 18:52] DavidRoy commented on #22
Also needs a drupal role to assign users as verifiers

[2019-10-05 18:54] Gary-van-Breda commented on #22
Drupal 'verifier' role already exists.

[2019-10-05 21:57] Gary-van-Breda opened #144 "JS Error when editing node with json widget"
The inclusion of the json.js from the json widget media directory seems to break the admin toolbar. It looks like this version of JSON.parse can't handle being given a null.

Why are we redefining JSON?

I don't know if this has a knock on effect in preventing other JS from running.

[2019-10-06 17:49] DavidRoy commented on #144
@BirenRathod is the same issue we've had on other sites with recent Drupal updates?

[2019-10-06 19:38] johnvanbreda commented on #144
@Gary-van-Breda I suspect this has always been the way since the jsonwidget was a third party library we just copied into our JS. In fact it's even worse as we also include the json2.js file if the json resource is added which does the same.

Having just tested what happens if I strip this all out though, if you click view source on the JSON widget control, then although it works, the source is un

[2019-10-07 11:53] DavidRoy opened #145 "Add sample attributes to samples tab of explore report"
To add to:
https://butterfly-monitoring.net/elastic/my-records

Samples tab, add the following attributes:
1. Start time
2. End time
3. Area sampled

[2019-10-07 11:54] DavidRoy opened #146 "Enable sample list download"
For https://butterfly-monitoring.net/elastic/my-records, samples tab.  Enable spreadsheet download of data grid.

Requires this issue to be completed first
#145

[2019-10-07 11:55] DavidRoy opened #147 "Extend records download to include additional fields"
Add the following sample attributes to the records (occurrences) download file:
1. Start Time
2. End Time
3. Area sampled

links to #145

[2019-10-07 14:13] johnvanbreda commented on #22
Done - see https://butterfly-monitoring.net/admin/filters-list.

[2019-10-07 14:15] johnvanbreda commented on #114
@kazlauskis do you know what the username was in this instance and whether the user account was actually created and linked to the warehouse?

Has this happened again since?

[2019-10-07 21:26] Gary-van-Breda commented on #79
"Global" Site/Visit summary now only available to supermanagers.

[2019-10-07 21:51] Gary-van-Breda commented on #115
Year Plot: Done & Pushed to Live

Still to Do:
- Site data entry
- Transect Allocation
- Reporting: Annual Summary

Then we remove the Branch CMS attribute.

[2019-10-07 22:25] Gary-van-Breda commented on #115
Have removed the Country Manager allocation from the Transect Allocation form. this still needs some code changes to sort the filters.

[2019-10-07 22:35] Gary-van-Breda commented on #106
Is this for download, or to be displayed as a grid on a new reporting page?

[2019-10-08 10:01] kazlauskis commented on #114
@johnvanbreda I have tried it again and this hasn't repeated. Maybe it was a one-off then. Feel free to close it for now.

[2019-10-08 10:02] johnvanbreda commented on #106
Hi @Gary-van-Breda - it's assigned to me so I'm assuming its an Elasticsearch output page.

[2019-10-08 10:26] johnvanbreda commented on #106
@DavidRoy - is this OK: https://butterfly-monitoring.net/elastic/summary-by-country-year?

[2019-10-08 10:33] johnvanbreda commented on #114
Thanks!

[2019-10-08 10:33] #114 closed

[2019-10-08 13:37] Gary-van-Breda commented on #115
New version of report ebms_region_locations.xml created, awaiting deployment onto warehouse.

This is required to make the region to site linked list in the Transect Allocation form work - a bugfix that is independant of this particular issue.

@johnvanbreda or @BirenRathod : can we have the current master branch of the brc reports deployed onto warehouse1? Thanks.

[2019-10-08 14:44] johnvanbreda commented on #115
I've pulled the brc_reports folder @Gary-van-Breda.

[2019-10-08 16:47] DavidRoy commented on #106
@johnvanbreda looks great.  Can you also add in a column for number of samples

[2019-10-08 17:18] DavidRoy commented on #22
When i go to create a new filter, i return to the site home page instead of the filter setup page:
https://butterfly-monitoring.net/filters/admin-edit

When logged in as admin

[2019-10-08 20:58] Gary-van-Breda commented on #115
@johnvanbreda : Thx. There is a commit which has not been pushed to live - comment 'Column title can be empty' : is this OK to go on Live? I have several commits waiting behind it. (These are the code changes for the Transect Allocation page)

[2019-10-08 21:47] Gary-van-Breda commented on #115
Schemes now integrated into Site Data Entry page: scheme co-ordinators can edit a site if the country on the site matches the country associated with their scheme.
I have also tidied up the menu permission code, and created a dummy Italian page visible to Italian scheme members on the TEST system, under the ABLE main menu item.
Both of these code changes are on DEV and TEST, and queued up to go on

[2019-10-09 07:32] johnvanbreda commented on #115
@Gary-van-Breda fine about the commit going live.

[2019-10-09 10:44] Gary-van-Breda commented on #115
All existing changes pushed to Live: Site Data Entry and Transect Allocation

[2019-10-10 08:15] CrisSevilleja commented on #78
I reopen this issue to delete one test transect in Portugal.

Please delete the transect in live:  EBIO Lamas de Olo     41.36703N 7.79226W

[2019-10-10 08:28] xaviermestdagh opened #148 "Discrepancies in field content of .shp and .csv reports of sites and sections"
From the page "National sites", the fields of the "Full Site Sections data download (CSV)" and the SHP have discrepancies have discrepancies in their content:
Section code (.csv) = e.g. S1, S2, S3... => duplicates
Section_code (.shp) = e.g. EBMS:Luxembourg:10.1, EBMS:Luxembourg:10.2, ... => unique

So there are currently no possibilities to make a join between these fiels based on section IDs.
In

[2019-10-10 13:36] Gary-van-Breda commented on #78
@CrisSevilleja : If you go in to Edit the transect (e.g. via the All sites page), you should see a "Delete" button at the bottom, next to the "Save" button. You should be able to use this to delete the currently displayed transect.
If this doesn't work, let me know, and I'll have a look at why.

[2019-10-12 14:27] DavidRoy opened #149 "Enable transect count mode for app"
add in functionality to enter data against routes/transects already.
The requirement here is for a user having the option to select a transect (location where website = ABLE and Type = Transect) already setup (via the website) and assigned to the user logged into the app.  Then a simple user interface to allow entry of the sample attributes (linked to surveyID = 562), list of occurrences (species

[2019-10-13 10:56] Gary-van-Breda commented on #115
@DavidRoy : I've completed the Annual Summary changes. I have pushed them through as far as TEST only, as there have been some fairly major changes to the filtering and I thought you should perhaps check them out to ensure you are happy with them before they go to Live. The fundamental changes are that the selection of branch/scheme data has moved from user filter to location filter, and there a m

[2019-10-14 10:44] kazlauskis opened #150 "Create a report to pull user transects"
This links to BiologicalRecordsCentre/ABLE#149 where the app should allow a user to submit surveys based on selected transects. The specification here is work in progress, so feel free to update.

Example request:
[code]

Example response:
[code]

[2019-10-14 10:45] DavidRoy commented on #150
Thanks.  @Gary-van-Breda i suggested you pick this up but it might be better suited to @johnvanbreda?

[2019-10-14 21:59] Gary-van-Breda commented on #150
Sorry - I don't have more visibility of the workings of mobile app - is the userId the Drupal CMS ID, or the Indicia Warehouse User ID?

[2019-10-15 08:13] kazlauskis commented on #150
Here in this example I was thinking of Drupal user ID. The spec above is mostly speculative as I don't know the current structure of the transects, how they are stored and what properties have. If you have any info to share then that would be great. Thanks.

[2019-10-15 12:12] DavidRoy commented on #115
Thanks.  That works well and makes sense.  Please deploy to live

[2019-10-15 14:31] Gary-van-Breda commented on #115
Code deployed to Live, and configured.
@johnvanbreda : the last stage is going to be removing the Branch CMS (Drupal) User Id attribute. Can I just remove the attribute from the survey? Will this remove the attribute values in the database?

[2019-10-15 14:44] johnvanbreda commented on #115
Removing the attribute from the survey will leave the values "dead" in the database - if you let me know the survey ID and attribute ID I can clean them out properly.

[2019-10-15 15:10] Gary-van-Breda commented on #115
Survey ID = 562 (EBMS Live)
Location attribute ID = 235 (Branch CMS User ID)
Shall I remove the attribute first?

[2019-10-15 20:34] Gary-van-Breda commented on #150
The surveyID for the transects is 562
The transects are stored as locations with the following data:

- Parent_id is null
- Name
- Sref /System/Gemoetry - usually the centre point of the sections.
- Code : unique text value.
- Location Type : Transect
- Attribute : CMS User ID (ID 234, multi value integer, holding the Drupal CMS User ID of users this Transect is allocated to, optional)
- Attribute

[2019-10-16 06:57] DavidRoy commented on #150
Thanks.  For the initial requirement, the following are needed I think.

1.  To provide the user with a list of transects they are assigned to, together with the name and code of the transect and the number of sections for the transect.
Requires a request to identify the transects assigned to a user (defined by their DrupalID), transect name, code and the number of sections

2. The user to select

[2019-10-16 12:57] johnvanbreda commented on #150
@Gary-van-Breda I'll assume you've picked this one up then unless you tell me otherwise.

[2019-10-16 13:57] johnvanbreda commented on #115
Done - I removed the attribute from the survey as well as the values. Here's the script for reference:
[code]

[2019-10-16 18:58] johnvanbreda commented on #121
Is the solution here to improve the implementation of Footable? This means that when the page is too narrow the + button appears so you can see the hidden columns. I can improve this so it automatically prioritises the columns from left to right, hiding those on the right first.

Or, another improvement might be an option to display the extra cells under the row by default rather than having to ex

[2019-10-16 21:49] Gary-van-Breda commented on #115
@DavidRoy : this issue is now completed - would you like to close it?

[2019-10-17 07:34] DavidRoy commented on #121
Thanks.  Improved use of Footable seems a good option.
@larspett may have a view

[2019-10-17 08:44] DavidRoy opened #151 "Export for sample tracks submitted through the eBMS app"
The eBMS captures a route associated with samples (see example below).  Requirement is for a user to be able to download the tracks.

One options is to extend the existing Transect route download report at bottom of https://butterfly-monitoring.net/my-sites:
![dl](https://user-images.githubusercontent.com/2699478/66993325-46e1c180-f0c3-11e9-9fe7-4da76bcd377b.png)

![track](https://user-images.gith

[2019-10-17 21:36] Gary-van-Breda commented on #150
@johnvanbreda : can you deploy the new reports/projects/ebms/ebms_app_sites_list.xml in the brc-report repository into warehouse1? Thx

[2019-10-18 08:46] johnvanbreda commented on #121
I've experimented some more with this and I think the Footable option is OK. However, on the current site there is a module called Simple Responsive Table which tries to implement responsive tables across the Drupal site. This module seems to clash with both Footable and the Bootstrap tables CSS that are on the site. The module also doesn't seem to work with AJAX populated tables since it attaches

[2019-10-18 08:48] DavidRoy commented on #121
@BirenRathod @Gary-van-Breda to advise on need for 'Simple Responsive Table'

Will need to make changes on test before deploying to live

[2019-10-18 08:55] johnvanbreda commented on #150
@Gary-van-Breda done

[2019-10-18 09:07] Gary-van-Breda commented on #121
From my POV, I wasn't aware of it either.

[2019-10-18 09:08] CrisSevilleja commented on #123
@Gary-van-Breda @DavidRoy
I realised that the map of Europe in My Data https://butterfly-monitoring.net/mydata is labelled wrong.

It should be the opposite:
points for survey = 562 should be coloured blue and labelled 'eBMS Timed counts'
points for survey = 565 should be coloured red and labelled 'eBMS Transects'

In the selection tab for samples and maps, the labels are shown wrong

[2019-10-18 09:12] DavidRoy commented on #123
Well spotted!

@johnvanbreda  can you fix.  This error is in the map legend/selector not the page text

[2019-10-18 09:44] johnvanbreda commented on #119
Done

[2019-10-18 09:44] #119 closed

[2019-10-18 10:43] johnvanbreda commented on #123
Fixed

[2019-10-18 10:55] johnvanbreda commented on #118
Done

[2019-10-18 10:55] #118 closed

[2019-10-18 10:59] DavidRoy commented on #123
sorry John, not fixed.   It is the map controls that need changing

The labels need to be switched around.  There are no eBMS transects in the UK

[2019-10-18 11:05] johnvanbreda commented on #117
This seems to be how it works to me - please re-open if not.

[2019-10-18 11:05] #117 closed

[2019-10-18 11:07] johnvanbreda commented on #121
@BirenRathod what do you mean by "works nicely with footer"?

[2019-10-18 11:28] BirenRathod commented on #121
@johnvanbreda
At present, I'm only aware that footer is using table for displaying logo. So this module helps to display table in all devices.

[2019-10-18 11:43] Gary-van-Breda commented on #150
@kazlauskis : the report is there now. It uses "website_id", but otherwise is as requested.

reports/projects/ebms/ebms_app_sites_list.xml

[2019-10-18 11:47] Gary-van-Breda commented on #2
@DavidRoy : can you now review this (in the light of completion of #115) - can this now be closed?

[2019-10-18 11:53] BirenRathod commented on #121
@johnvanbreda
In regards to Bootstrap table & Footable modules, These modules are useful only with views, so for using table in text editor we need an alternative module where 'Simple responsive modules' comes in the picture. Having said that I got another module called 'Reponsive tables filter' which I can try using   to solve this problem.

[2019-10-18 11:56] kazlauskis commented on #150
Thanks @Gary-van-Breda, what can I use for `location_type_id` and `locattrs`? Also, is the `website_id` here the same for all users, that is `118`?

[2019-10-18 12:30] #2 closed

[2019-10-18 12:56] johnvanbreda commented on #123
Sorry, I'm not up to speed with what the app is doing but I think the request above is wrong.
According to the warehouse:
562 = EBMS Live, this survey has a parent/child structure in the hierarchy so must be the transects
565 = EBMS Mobile App, this survey has no parent samples so I assume is timed counts.

Given that, I've reverted to the original request:
* points for survey = 562 should be colo

[2019-10-18 12:56] #123 closed

[2019-10-18 12:57] Gary-van-Breda commented on #150
You should be able to leave those empty
Yes - everyone is website_id = 188

[2019-10-18 13:07] johnvanbreda commented on #22
Fixed

[2019-10-18 13:08] #22 closed

[2019-10-18 13:21] BirenRathod commented on #121
@johnvanbreda
I tried with everything but it only works best with table. Anyway I just did test with responsive tables filter module and it just provide the same functionality except it is not same as user friendly as other.

Do you want me to install Footable module?

[2019-10-18 14:02] BirenRathod commented on #121
@johnvanbreda
I can see it works but is this solution for just eBMS, if it is then it will not resolve my problem. Because I need a solution which works all the Drupal 8 sites with minimum efforts.

[2019-10-18 14:04] kazlauskis commented on #150
@DavidRoy does this cover United Kingdom?

[2019-10-18 14:14] kazlauskis commented on #150
@Gary-van-Breda would it be possible to retrieve the path of a transect in the future? This is not an immediate requirement.

[2019-10-18 14:15] johnvanbreda commented on #121
Simple Responsive Table doesn't work alongside Indicia tables. That's because Indicia tables have built in Footable functionality to make them responsive. Simple Responsive Table applies it's functionality to all tables indiscriminately and tries to change the table layout in a way that breaks when the table has Footable applied. It also seems to clash with the CSS applied by Bootstrap's .table cl

[2019-10-18 14:22] BirenRathod commented on #121
@johnvanbreda
As I mentioned before, I found replacement module of 'Simple Responsive table', So I can disable "simple responsive module".
Also,t to use your approach of using Bootstrap grid, I have to use those CCS styles on all every Drupal   8 website which is bit fiddly. So I need a bit simple solution and 'Responsive tables filter' module fits for that purpose.

[2019-10-18 15:10] DavidRoy commented on #150
Yes, UKBMS website.id = 27

[2019-10-18 15:13] kazlauskis commented on #150
I have tried to create a new transect on the eBMS website and it didn't allow me to select UK, I assume this should be done on the UKBMS site instead right?

[2019-10-18 15:16] DavidRoy commented on #150
Correct.  Actually, thinking about this - it won't work easily as the users will be registered with eBMS.  Forget about the UKBMS for now, and I'll give it some more thought

[2019-10-18 15:27] Gary-van-Breda commented on #150
@kazlauskis : There are already KML, GPX and SHP file format downloads of the section paths available on the main Drupal site (the paths are held on the section location records, not the transects themselves), so yes it should be relatively easy to get. What format would you want?

[2019-10-18 18:12] DavidRoy opened #152 "Verification filter setup by Countries (of Europe) and NUTS region"
For the where element of the filter setup for verification - https://butterfly-monitoring.net/admin/filter-edit

the options should be countries of Europe and NUTS regions (first sub-country level)

remove UK-specific layers currently offered:
ViceCounty
Butterfly Conservation Branch
National Trust Site
RSPB Reserves
National Nature Reserve
Country (as currently only UK countries plus Isle of Man)

[2019-10-21 08:15] kazlauskis commented on #150
Can you do GeoJSON or WKT?

[2019-10-21 11:13] kazlauskis commented on #102
Can this be closed?

[2019-10-21 11:17] larspett commented on #102
yes fine with me, the recent version has the the signs the other way round as suggested

[2019-10-21 11:18] #102 closed

[2019-10-21 12:19] kazlauskis commented on #149
* Is the `Recorder` attribute necessary to show the user for editing or could it be pre-populated with the user account details on submit?
* Does `Sun` attribute have to be per-section or a global one is enough?

[2019-10-21 12:23] larspett commented on #149
As for SeBMS, pre-populated would be fine. sun would be fine as a global attribute for us but others may have other preferences. We started in 2010 with per-section sun information but later I heard quite a few BMSs do not use it at the per-section level.

[2019-10-21 12:24] DavidRoy commented on #149
Yes, recorder can be pre-populated from account but ideally editable

Sun is per-section but can be set globally

[2019-10-21 12:26] DavidRoy commented on #149
Also, further sample attribute is ‘completeness’.  Should be available in warehouse

[2019-10-21 12:27] kazlauskis commented on #140
Is there an existing survey for this?

[2019-10-21 13:33] DavidRoy commented on #140
No.  Are you ok setting up?

Sharing relevant attributes with times count or transect surveys

[2019-10-21 13:39] kazlauskis commented on #140
Sure, which of the attributes would you like us to use?
* Temperature
* Sun
* Wind direction, speed
* Recorder

[2019-10-21 19:27] Gary-van-Breda commented on #150
We could probably do WKT out of the box: GeoJSON would take a little bit more work but would be doable - may a day or two to add a new report format type.

[2019-10-21 21:35] kazlauskis commented on #150
WKT is fine, if that doesn't require much of your time then please add this in to the response of the report. Cheers

[2019-10-22 07:46] DavidRoy commented on #140
Just recorder name and a quantity measure

No need for the weather details on this 'causal records' mode

[2019-10-22 08:52] johnvanbreda commented on #150
@Gary-van-Breda FYI there is this function which I've successfully used elsewhere: http://www.postgis.org/docs/ST_AsGeoJSON.html

[2019-10-22 08:57] DavidRoy commented on #149
Sample Attribute to add into 'eBMS Transect mode' =
Reliability (ID 1393, restricted to Transect Section)

For 'Sun', we intend to switch to the inverse (% cloud) as this is used by most scheme #68

[2019-10-23 12:42] kazlauskis commented on #130
@DavidRoy sorry, I couldn't reproduce this, do you have an ID of a sample that has the photos?

[2019-10-23 13:04] kazlauskis opened #153 "Mobile photo upload doesn't work"
Uploading a photo shows an error in Drupal logs. Sample is still created but the photo in the occurrence is missing, showing an empty image thumbnail. To replicate this open the eBMS app and create a test record.

[2019-10-24 10:09] #132 closed

[2019-10-28 11:18] kazlauskis commented on #150
@Gary-van-Breda any thoughts on when the section paths could be added to the report?

[2019-10-28 14:35] kazlauskis commented on #149
@DavidRoy for the timed count we have created a mobile-specific survey, I assume in this case here for the transects the app should post the existing eBMS survey (surveyID = 562) is that correct? If that is the case, would you like me to enhance the survey to capture mobile-specific attributes like device operating system, app version etc?

[2019-10-28 14:56] DavidRoy commented on #149
@kazlauskis yes and yes

Link to surveyID = 562 and add in mobile-specific attributes

[2019-10-28 20:06] kazlauskis commented on #150
@Gary-van-Breda could you also add `location_id`, `entered_sref_system` and `entered_sref` to responses? I have updated the example.

[2019-10-28 20:18] kazlauskis commented on #149
@johnvanbreda When submitting a transect record from the app, does sending the `zero_abundance: t/f` attribute matter or can the app skip it? I have tried it both and the website forms showed up the same. Cheers.

[2019-10-30 00:05] Gary-van-Breda commented on #150
@johnvanbreda : when I use the report engine to attempt to generate the JSON structure above, I get the sections data as JSON encoded strings, rather than an array of objects, and similar for the ST_AsGeoJSON. Has what @kazlauskis is asking been done before, and if so where?
This looks like an API type thing, rather than something that can be handled by the report engine. I could conceivably add s

[2019-10-30 11:06] DavidRoy commented on #134
Thanks, works well in v1.2 so closing

[2019-10-30 11:06] #134 closed

[2019-10-30 11:08] DavidRoy commented on #136
done in v1.2, thanks

[2019-10-30 11:08] #136 closed

[2019-10-30 11:20] DavidRoy commented on #131
addressed in v1.2, thanks

[2019-10-30 11:20] #131 closed

[2019-10-30 11:56] kazlauskis commented on #150
@Gary-van-Breda does the system have any transects without any sections? or should I exclude such possibility? Cheers

[2019-10-30 12:39] BirenRathod commented on #121
@johnvanbreda
Sorry I haven't got response from you to this about easy way to implement bootstrap grid without involvement of code in by user.

[2019-10-30 22:31] Gary-van-Breda commented on #150
It is possible for a transect to not have the sections defined for it, and/or have a number of sections = 0. I do not know if there are any just now.

[2019-10-31 07:50] DavidRoy commented on #150
@Gary-van-Breda we should restrict the transect number to be 1 at least where setup.

@kazlauskis - for the app you can assume there is at least 1 section for a transect site.  As Gary says, for some transects we'll know the number of sections but have no route (GIS) data for them

[2019-10-31 13:17] kazlauskis opened #154 "Fix app transect record duplication"
In case of a network failure or a timed out submission a duplicate record can occur and to prevent this the Drupal `mobile-indicia-api` module should be improved.

In the module there is already a mechanism that would prevent the duplicates, but only for records with 1-5 occurrences attached. The limit of 5 occurrences is for optimisation purposes only as it can be slow to make multiple requests t

[2019-10-31 13:35] DavidRoy commented on #154
I suggest a quick fix of increasing the occurrence limit to 50

Then schedule time for the sample-id duplication check for sometime in the new year?

[2019-10-31 13:39] #133 closed

[2019-10-31 13:55] kazlauskis commented on #150
@Gary-van-Breda I am planning to release the app functionality that uses the report by the end of next week. Do you think it is possible for the updated report to be ready sometime early next week? Don't worry about the transect paths for now.

[2019-10-31 14:40] Gary-van-Breda commented on #150
@kazlauskis : can we separate the two reports, one for the transects, and one for the sections for a transect? I think this is the easiest way to get the current report engine giving the data you require.

[2019-10-31 14:48] kazlauskis commented on #150
@Gary-van-Breda we can do that but only if there are not better ways. If a user has 8 different transects then the app will have to make 1+8 requests on a slow mobile network to gather all the relevant information. Knowing how slow some of our reports can be the user experience will be poor here.

[2019-10-31 22:40] Gary-van-Breda commented on #150
@johnvanbreda : can you deploy the new reports/projects/ebms/ebms_app_sections_list.xml in the brc-report repository into warehouse1? Thx

[2019-10-31 22:50] Gary-van-Breda commented on #150
@kazlauskis : this new report takes the request format:
[code]
Note the location list is a comma separated string of the transect location ids, and will return all the sections for those transects. This means you should need just 2 requests.
It should return a list of the parent_id, id, name, code, centroid_sref, sref_system and geom (as a stringified GeoJSON object) for each section whose parent

[2019-10-31 23:13] Gary-van-Breda commented on #148
@johnvanbreda or @birenrathod : can we replace the section_gis_download_view in the ukbms shema on warehouse 1 with the following view?
[code]

[2019-10-31 23:37] Gary-van-Breda commented on #148
@johnvanbreda or @birenrathod : can I have the new version of the ebms_site_sections_download.xml file deployed from the brc-reports into warehouse1? Thx

This adds the unique section code to the "Full Site Sections data download (CSV)".

After this it should be quite easy to join the data.

[2019-11-01 10:01] BirenRathod commented on #148
@Gary-van-Breda

The view in ukbms database has been implemented now and report has been pulled down now.

[2019-11-02 23:47] Gary-van-Breda commented on #148
Thx @BirenRathod
I have updated the layer in geoserver, so now the shp file includes the new columns added to the view.
@xaviermestdagh : can you confirm that you can now join the data, and if you are happy, close this issue?

[2019-11-03 16:18] johnvanbreda commented on #150
@Gary-van-Breda just to confirm - I've pulled the BRC reports module on warehouse1 but it was already up to date.

[2019-11-03 16:22] johnvanbreda commented on #150
@Gary-van-Breda if you are still needing help with the question above about JSON encoding of the sections and GeoJSON data can you let me know exactly what you are doing in order to see the problem please?

[2019-11-03 16:38] johnvanbreda commented on #121
@BirenRathod sorry, I don't really understand the question. The ABLE website theme is a Bootstrap subtheme, therefore it makes sense to use the Bootstrap grid HTML style in order to define all layouts where possible. There is a little bit of inline CSS in the example I gave, but there is also a little bit of inline CSS in the table based example set up on the live site. So this is no different sur

[2019-11-03 16:41] johnvanbreda commented on #149
@kazlauskis if you set the zero abundance=t flag for any record which is actually a zero count, then it will still be a record but will be shown with a strike-through style on any Explore pages. It can also then be filtered out of any reports as appropriate. It needs to be set by the client (i.e. the app) rather than automatically on the server, since only the client knows the exact behaviour of a

[2019-11-03 17:06] DavidRoy commented on #149
@kazlauskis I don't think zero_abundance is relevant for the app and can be skipped.  The transect and timed area count protocols are both expecting positive counts for species recorded

[2019-11-03 17:16] DavidRoy commented on #24
Closing, will raise more specific issues as needed

[2019-11-03 17:16] #24 closed

[2019-11-03 17:47] johnvanbreda commented on #152
Done

[2019-11-03 17:47] #152 closed

[2019-11-03 18:25] DavidRoy opened #155 "Download page for role = scheme co-ordinator"
Require a new page to enable verifiers to download occurrences - transect records and mobile app records.

i.e. to download records shown on https://butterfly-monitoring.net/elastic/all-records, restricted to spatial context as defined by verification filter

[2019-11-04 06:14] xaviermestdagh commented on #148
That's great, many thanks!

[2019-11-04 06:14] #148 closed

[2019-11-04 07:07] xaviermestdagh opened #156 "Empty "Samples" report (annual report)"
In Annual report, tab Download, the report "Samples" is empty (.csv file of 0kb).

[2019-11-04 07:56] BirenRathod commented on #121
@johnvanbreda
I have no problem of using CSS and of course we should use Bootstrap grid HTML style. You use Bootstrap grid HTML style & CSS in the text editor which you and I know how to use it but most users don't know. so they just need button or some sort of user interface, so they can achieve same result by them shelves.

Also, adding a CSS is fine in the style.css file, So any Boostrap grid u

[2019-11-04 11:40] kazlauskis commented on #150
@Gary-van-Breda looks good to me, thanks. Can you also add the `centroid_sref` and `sref_system` to the transect?

[2019-11-04 11:43] kazlauskis commented on #149
@DavidRoy do you say the app shouldn't allow empty lists submission, right? If so then I will skip the flag indeed.

[2019-11-04 11:50] DavidRoy commented on #149
Empty lists are fine.  This is a sample without any occurrences?

This is different from occurrences with zero_abundance.

Zero abundance/absence is a difficult concept in the context of the eBMS samples.

[2019-11-04 11:56] kazlauskis commented on #149
Got it, thanks 👍

[2019-11-04 15:30] kazlauskis commented on #150
@Gary-van-Breda could you also put this report to `devwarehouse`? I am using the dev site for testing the functionality.

[2019-11-04 16:50] CrisSevilleja opened #157 "Enable Hungarian as a language to www.butterfly-monitoring.net"
@DavidRoy @Gary-van-Breda
Hungarian BMS will join soon. We need the Hungarian language in the set of languages. Thanks

[2019-11-04 21:43] Gary-van-Breda commented on #150
@johnvanbreda : I think I'm happy about where we are with these 2 reports.
I've updated the reports/projects/ebms/ebms_app_sites_list.xml report to include the 2 new columns: can you deploy it to both warehouse1 and the devwarehouse ?
Thx

[2019-11-04 23:08] Gary-van-Breda commented on #156
Coding donw, awaiting deployment to live: see https://github.com/Indicia-Team/warehouse/pull/340

[2019-11-05 08:50] DavidRoy commented on #157
Now enabled, thanks

[2019-11-05 08:50] #157 closed

[2019-11-05 13:14] johnvanbreda commented on #156
Merged to develop ready for the next full release.

[2019-11-05 13:19] johnvanbreda commented on #150
I've done warehouse1. @BirenRathod do you mind pulling the brc_reports module on the devwarehouse please, either that or reset my password as I can't log in. Thanks!

[2019-11-05 13:49] johnvanbreda commented on #121
@BirenRathod but normal users won't actually create their own site footers, so I don't see the relevance? It's very unusual for a normal user to edit text and insert a table.

@DavidRoy the new responsive behaviour is now implemented. If that looks OK to you this issue can be closed.

[2019-11-05 14:19] BirenRathod commented on #121
@johnvanbreda
Mostly they are from BRC. They don't necessary need to create footer but they do add multiple logo in it.

[2019-11-05 15:26] DavidRoy commented on #121
@larspett can you review this please and close if resolved for you?

[2019-11-05 21:24] larspett commented on #121
It is considerably better now but still has some issues with my screen width etc. The + & - are placed more or less on the text next to the sign and table headers sometimes end up vertical. The top right menu is often halfway out of the screen (iPhone XR). I also had a look at the verification and that page is less responsive than the MyData.

[2019-11-05 21:25] larspett commented on #121
![Image](https://i.imgur.com/D6pmbi5.jpg)
![Image](https://i.imgur.com/1YboW5X.jpg)
![Image](https://i.imgur.com/99O7Xkq.jpg)
![Image](https://i.imgur.com/5e4R5lk.jpg)
![Image](https://i.imgur.com/hQv5S6z.jpg)

[2019-11-05 22:08] BirenRathod commented on #150
@johnvanbreda
I have pull the reports now. Also I have reset the password too. please change the password after you logged in.

[2019-11-06 09:30] johnvanbreda commented on #144
I've reviewed again, merged and closed this issue.

[2019-11-06 09:30] #144 closed

[2019-11-06 11:38] BirenRathod commented on #153
@kazlauskis & @DavidRoy
I have upgraded the path in sample.php for photo upload. Can any of you test and let me know. if it is working.

[2019-11-07 15:21] DavidRoy opened #158 "Restrict menu item 'Scheme admin' to role = scheme co-ordinator"
Currently, all users can see the Scheme Admin menu.
https://butterfly-monitoring.net/scheme-admin

This should be changed so it is restricted to users with role = Scheme co-ordinator or Super-manager

[2019-11-07 15:21] DavidRoy opened #159 "Verification page only visible to users with role = verifier"
https://butterfly-monitoring.net/verification should only be visible to users with role = verifier

Currently this page is accessible by all users

[2019-11-08 09:29] kazlauskis commented on #150
Thanks all for helping to build the report ✌️ The app is now using this and I am closing the task.

[2019-11-08 09:30] #139 closed

[2019-11-08 09:30] #135 closed

[2019-11-12 09:27] kazlauskis commented on #150
@Gary-van-Breda some users aren't getting the transects. This account that should have some transects: `dbr.ebms.test@gmail.com`, drupal ID `1301`. Would you be able to look into this?

[2019-11-12 09:33] DavidRoy commented on #150
@Gary-van-Breda it is my account under email dbr@ceh.ac.uk where I am not seeing my sites listed via the app.
user = https://butterfly-monitoring.net/users/david-roy

I should be seeing this site listed on the app, when calling the report created for this issue:
https://butterfly-monitoring.net/ebms-site-details?id=222517

[2019-11-12 09:44] DavidRoy commented on #150
Closing as sites now appear after log out/in to the app

[2019-11-12 09:58] kazlauskis commented on #150
@Gary-van-Breda please ignore the last few comments from myself and David. The transects are returned correctly.

For one user the sections report is not returning any sections though.

Transects report:
[code]

Sections report:
[code]

[2019-11-12 10:03] DavidRoy commented on #150
@Gary-van-Breda in this case, the transect site is setup but not its component sections.  This is why no data is returned.

One suggestion for dealing with this scenario is that sections (child locations) are automatically setup on site (parent location) setup.  On initial setup, the sections (child locations) can have the same spatial information (i.e. point) as the transect (parent) location.

I

[2019-11-12 12:29] Gary-van-Breda commented on #150
That approach is used on WCBS, but only for the sites that I upload (from a CSV file). I then create another CSV file with the sections in and then upload that. If a site is created manually from the data-entry form, then the sections are not created - there is currently no functionality to create the sections automatically in the site data entry form on either UKBMS or ABLE/EBMS.
Do you want this

[2019-11-12 12:31] DavidRoy commented on #150
Yes, i think we need this to prevent frustration with app users.  How work do you estimate to complete this?

[2019-11-12 12:42] DavidRoy opened #160 "App transect entry - cloud cover should allow zero value"
v1.3

Currently the slider/entry box for setting the cloud cover value for an eBMS transect only allows the range 1-100.  It should allow for zero to be entered

[2019-11-12 12:45] DavidRoy opened #161 "App transect entry - text for reliability values"
v1.3

Currently, the reliability option for an eBMS transect walk only has numbers (1,2,3).  These should be replaced with a label for each category as:
1. Suitable conditions
2. Unsuitable conditions
3. Unable to survey

[2019-11-12 12:57] Gary-van-Breda commented on #150
About a day...

[2019-11-12 13:21] DavidRoy commented on #150
Please schedule this in.  i will close this issue and start a new one.

[2019-11-12 13:21] #150 closed

[2019-11-12 13:24] DavidRoy opened #162 "Create sections when transect site created or number of sections changes"
follows on from #150

Requirement is:
1. Create the sections when the sites are created, and when the number of sections is altered.
2. Data fix to retrospectively create the sections for site where this has not already happened.

Estimated as ~1 day of work

[2019-11-12 21:38] Gary-van-Breda commented on #156
@xaviermestdagh : this has now been deployed, and it looks like it is working.
Can you review, and hopefully close? Thank you.

[2019-11-12 23:09] Gary-van-Breda commented on #158
Done: I've set it for roles Scheme co-ordinator, Super-manager and Administrator

[2019-11-12 23:10] Gary-van-Breda commented on #158
When you edit a menu link there is now a section which allows you to specify which roles this link applies to.

[2019-11-12 23:13] Gary-van-Breda commented on #159
Done: I've set it for roles verifier and Administrator
See comments on #158
Note that as the verification is under the "Scheme admin" menu, which is restricted (as in #158), the verifier must also be a Scheme coordinator, supermanager or administrator in order to see the menu item.

[2019-11-13 05:55] xaviermestdagh commented on #156
@Gary-van-Breda : I made several trials on Firefox and Edge and it is often very slow to load on this part (I had this message 2-3 times "The application did not respond in time."). When working, the "samples" report is however still empty.

[2019-11-13 07:25] Gary-van-Breda commented on #156
What are the filter options you are using?

[2019-11-13 07:34] DavidRoy commented on #159
Thanks, that's now correct

[2019-11-13 07:34] #159 closed

[2019-11-13 07:35] DavidRoy commented on #153
@BirenRathod still not working.  See: http://warehouse1.indicia.org.uk/index.php/occurrence/edit/12176567

[2019-11-13 07:39] DavidRoy commented on #130
Athough you can't see the images, this is an example where two photos were added against two different species but both assigned to: http://warehouse1.indicia.org.uk/index.php/occurrence/edit/12176567

whereas one should have been assigned to: http://warehouse1.indicia.org.uk/index.php/occurrence/edit/12176568

[2019-11-13 07:46] xaviermestdagh commented on #156
"Combine data for all recorders".
Indeed, when using the filter "My data" the "Samples" csv report is not empty.

[2019-11-13 07:52] BirenRathod commented on #153
@DavidRoy
is it the same problem on the website too? there is a fair chance that it might not work on the website too. which form do you use for photo upload? can you send me the URL please?

[2019-11-13 07:53] DavidRoy opened #163 "Unable to edit verification filters"
Logged in as admin.
When clicking to edit a verification filter at:
https://butterfly-monitoring.net/admin/filters-list

The resulting page does not load:
https://butterfly-monitoring.net/filters/admin-edit?filters_user_id=7620

but defaults to the home page

[2019-11-13 08:02] DavidRoy opened #164 "Verification page does not reflect verification filter"
Filters setup as listed at:
https://butterfly-monitoring.net/admin/filters-list

But verification page does not apply these, e.g.
https://butterfly-monitoring.net/admin/filter-edit?filters_user_id=7620

is not applied for user = https://butterfly-monitoring.net/user/1198
who sees all records in the verification system
https://butterfly-monitoring.net/verification

rather than restricted to country

[2019-11-13 08:08] DavidRoy commented on #153
@BirenRathod adding photo by the website works fine.  I've just added one:
http://warehouse1.indicia.org.uk/index.php/occurrence/edit/12176568

Form used = https://butterfly-monitoring.net/enter-app-record?occurrence_id=12176568&sample_id=

[2019-11-13 08:13] johnvanbreda commented on #155
@DavidRoy Is this best done as a new page, or should we put the verification data table on a tab and have a 2nd tab for downloading?

[2019-11-13 08:22] johnvanbreda commented on #163
Fixed

[2019-11-13 08:22] #163 closed

[2019-11-13 08:27] DavidRoy commented on #155
@johnvanbreda both ideally, but maybe start with the easiest.

The plan is to have a separate downloads page for the various file formats, e.g. transect routes, occurrences, summary tables etc.  The verifier download would fit into that idea?

[2019-11-13 09:09] kazlauskis commented on #130
Ah, got it now! All photos are attached to the first occurrence of a sample rather than to multiple occurrences. I will fix it for the next update.

[2019-11-13 10:24] johnvanbreda commented on #164
This was a caching issue. When we had performance issues in spring, since every report page tends to load a user's report filters and they only change occasionally, they were contributing to the overall problem due to the sheer number of loads. I added caching to the load of the filters to fix this. That does mean after adding a filter it won't appear immediately, but for obvious reasons I'm not k

[2019-11-13 10:24] #164 closed

[2019-11-13 10:39] BirenRathod commented on #153
@DavidRoy & @kazlauskis

Photo upload problem has now resolved. please check it from your mobile.
here is the record -> http://warehouse1.indicia.org.uk/index.php/sample/edit/7050517

Please me know if it works , so I will delete this record as this is just for testing.

[2019-11-13 11:35] johnvanbreda commented on #145
Done

[2019-11-13 13:38] DavidRoy commented on #130
Great.  I have a screen recording if you want me to demonstrate this.  But you are right, that the photos accumulate.

[2019-11-13 13:48] DavidRoy commented on #153
Thanks - closing this issue.  Confirmed this now works ok.  Please delete the test record.

[2019-11-13 13:48] #153 closed

[2019-11-13 13:51] BirenRathod commented on #153
@DavidRoy

Thanks for confirming. I deleted that record now.

[2019-11-13 19:00] kazlauskis commented on #55
Thanks @johnvanbreda @DavidRoy, I am working on the reports now. The app (i.e. client-side) isn't a secure environment to protect any connection secrets so I wonder can we expose the credentials to allow the app direct access to this endpoint or should we wrap this up under another API layer?

[2019-11-13 23:23] Gary-van-Breda commented on #156
@johnvanbreda or @BirenRathod : could either of you deploy a new ebms_sample_download.xml report in the brc-reports into warehouse1 please?

[2019-11-14 08:05] johnvanbreda commented on #156
Done

[2019-11-14 08:07] johnvanbreda commented on #55
@kazlauskis There is already a Drupal proxy for connecting to Elasticsearch which can be protected by Drupal auth. Is that the sort of thing you mean?

[2019-11-14 08:27] kazlauskis commented on #55
Yes, where can I find more info about this? I'd like this for the eBMS site.

[2019-11-14 09:32] johnvanbreda commented on #55
@kazlauskis probably the best bet is to point you at an example in the code:
https://github.com/Indicia-Team/media/blob/d9871e759ec38d4227afdf4eb88dc9db5184c2ab/js/indicia.datacomponents/jquery.idc.recordDetailsPane.js#L214

Although the endpoint (esproxy_rawsearch) takes a nid as a parameter, for the rawsearch method it is OK to just pass 0 or any number.

[2019-11-14 10:04] kazlauskis commented on #55
Cheers, I've been playing with this this morning and I am puzzled with why I get different results when hitting thr ES directly and using the proxy. Any thoughts on why is that? Is there any ES logs I could access?

### Proxy
POST to `https://butterfly-monitoring.net/iform/esproxy/rawsearch/1` (or `searchbyparams`)
[code]

I get
[code]

### Direct
POST to `https://warehouse1.indicia.org.uk/index.p

[2019-11-14 11:59] xaviermestdagh commented on #156
Sorry, I don't know if this deployment was supposed to fix the problem, but I still have empty "samples" reports

[2019-11-14 14:26] Gary-van-Breda commented on #156
I have just now reconfigured the Annual summary page to use the new report. I've done a couple of trial sample downloads, and it looks OK to me - @xaviermestdagh can you check now?

[2019-11-14 16:27] xaviermestdagh commented on #156
great, thanks

[2019-11-14 16:27] #156 closed

[2019-11-14 18:46] kazlauskis commented on #55
@johnvanbreda Another quesion, does iForm module have any way of specifying CORS headers? Calling the proxy from the app will require adding some headers to the response of the module.

[2019-11-15 09:27] DavidRoy commented on #121
@larspett we will not put much effort into making the verification system responsive as this tool is complex and the expectation is that it will be used on a large screen.

I suggest we close this general issue now and raise any important specific issues as they arise.  The home page text misalignment will likely be addressed by some general re-design work next year

[2019-11-15 09:27] #121 closed

[2019-11-15 09:45] DavidRoy commented on #145
Re-opening as the area sampled field is not being populated.
![samples](https://user-images.githubusercontent.com/2699478/68933448-5a08af80-079d-11ea-9e8f-19711efb313c.png)

[2019-11-15 11:45] johnvanbreda commented on #145
This is a data issue, the area sampled attribute is not being stored for sample ID 7045628 for example. This sample is in survey 562 but the area sampled (m2) attribute (ID 723) is only linked to survey 565.

[2019-11-15 15:37] johnvanbreda commented on #55
I didn't implement CORS headers as so far we've only used this from the same domain. I'll have a look at what needs to be done.

I've added logging of the ES requests we send - can you try both your requests again and let me know the exact time you sent them please so I can dig them out of the logs.

[2019-11-15 15:45] johnvanbreda commented on #55
@kazlauskis for the CORS changes, do you want me to just set Access-Control-Allow-Origin: * on the header, or would JSONP be the preferred way to go?

[2019-11-15 17:34] kazlauskis commented on #55
@johnvanbreda I have just posted the two reqests (17:31). I think two headers would be necessary for CORS:
[code]

[2019-11-15 18:02] johnvanbreda commented on #55
There are 2 differences between the requests you sent at 17:31. First, the proxy is adding a filter on the metadata.trial field automaticallly (to exclude training records). I assume that's OK. The second difference though is that in one of the requests the field names are wrapped in escaped quotes. E.g.
[code]
Are the extra quotes being added at your end? Looking at the example you gave I think s

[2019-11-15 18:33] kazlauskis commented on #55
I have removed the quotes and sent another request at 18:31 but the result is the same. Yes, I don't think the trial flag should make a difference here.

[2019-11-18 19:26] DavidRoy commented on #155
@johnvanbreda bumping this issue, and other able for Nov milestone

[2019-11-19 07:40] xaviermestdagh opened #165 "Empty .csv reports from the page "National sites""
Perhaps related to issue #156
The two reports listed below are empty:
Full Sites data download (CSV)
Full Site Sections data download (CSV)

[2019-11-19 08:20] DavidRoy commented on #145
@johnvanbreda yes, please restrict the report page to survey = 565.  The Area sampled (id 723) is linked to this survey and should therefore display for the other samples?

[2019-11-19 08:52] xaviermestdagh opened #166 "Sections of a single transect associated to two different transect grid_ref"
Sections of the transect EBMS:Luxembourg:89 have two different grid_ref
S1 and S6 =>73863,135670
S3, S4, S5, S2 => 73881,135692
grid_ref should be unique for all sections of a single transect

[2019-11-19 14:21] johnvanbreda commented on #146
Code in develop branch (warehouse, client_helpers and media) can support download of ES composite aggregations. This would need to be set up on the page after the next full release.

[2019-11-19 14:31] johnvanbreda commented on #145
Fixed. The survey ID now applied as a filter, plus an extraneous space removed from the config that broke it for the other samples. Please close if OK.

[2019-11-19 15:04] johnvanbreda commented on #155
I've created a separate page at https://butterfly-monitoring.net/verification/download, for 2 reasons: 1) We could add multiple downloads to the page and 2) adding download to the existing tool means the UI being a little more cramped. But, I can see that it would be useful to download straight from the verification tool as well so let me know if that's needed, or close if this is OK.

[2019-11-19 19:31] DavidRoy commented on #155
I can't get this to work.
I masqueraded as a user with role = verifier and verification filter setup.
https://butterfly-monitoring.net/user/1198

Goto:  https://butterfly-monitoring.net/verification/download

Click on download but nothing happens (the pie does not move off 'Downloading')

[2019-11-19 19:38] DavidRoy commented on #155
Also, the download file format should match the version for 'my data' at https://butterfly-monitoring.net/elastic/my-records

i.e. removes UK-centric fields such as VC

[2019-11-19 19:42] DavidRoy commented on #145
Thanks, closing

[2019-11-19 19:42] #145 closed

[2019-11-20 11:53] johnvanbreda commented on #155
Both issues fixed.

[2019-11-20 12:23] johnvanbreda commented on #137
The generic record form dynamically adapts to the record you are editing. As this one is the only one in the sample, it behaves like a single record form. If you go to a record which belongs to a sample with other records in it, then you get the ability to remove just one record or delete the list, e.g. https://butterfly-monitoring.net/enter-app-record?occurrence_id=11691100&sample_id=.

Should th

[2019-11-20 19:34] DavidRoy commented on #155
The file was produced, thanks.  One issue I noticed is that the 'Date interpreted' column has 'Unknown' for all occurrences.  As the only date column it is essential that this is populated correctly.

[2019-11-21 06:56] DavidRoy commented on #137
Thanks.  That makes sense.  Please could you add a message to the page (for edits and deletes) that any changes to the record will take 15 minutes for the update.  We can then close this issue

[2019-11-21 07:00] DavidRoy commented on #158
Thanks.  Now closing

[2019-11-21 07:00] #158 closed

[2019-11-21 10:26] johnvanbreda commented on #137
Done

[2019-11-21 10:26] #137 closed

[2019-11-21 11:45] burkmarr commented on #151
@DavidRoy - I'm not sure that I understand what is required here beyond what is already available. I just tried the ```SHP format GIS section download``` and I got the sections geometry.

I did this for the user we recently discussed via email and got the same results as I extracted - using the more long-winded method - direct from the warehouse.

Am I misunderstanding something?

[2019-11-21 12:19] johnvanbreda commented on #155
Bug fixed, relating to removing the date start and end fields from the download which meant that the calculated date interpreted field could not get its underlying data.

[2019-11-21 13:36] DavidRoy commented on #151
@burkmarr yes, the current functionality work.  What is required here is an equivalent report for the mobile app GIS data - survey.id=565

The current reports are for eBMS transects, survey.id = 562

[2019-11-21 15:01] Gary-van-Breda commented on #151
Just to clarify what the existing report does: There is no dependance on the survey.
It provides the geometries of the child locations of the sites (of a configurable location type, currently Transects), that are allocated to the person via the "CMS User ID" attribute (again configurable, is the "Country" attribute via the Scheme for scheme coordinators)
What location type is being used for the Ap

[2019-11-21 15:12] DavidRoy commented on #151
I’m not sure what location type is set for app samples - likely the warehouse default?

[2019-11-21 15:33] Gary-van-Breda commented on #151
I can llok up - do you have the name of one of them?

[2019-11-21 15:35] DavidRoy commented on #151
They don’t have names but will be under survey.id = 575

[2019-11-21 16:15] Gary-van-Breda commented on #151
OK - I didn't under quite twig that the path is stored in the geometry on the sample record, and they do not use location records.
This will need a new report.

[2019-11-21 16:43] Gary-van-Breda commented on #165
The footer had not been converted properly to the new EBMS Scheme, so was referencing the old "Branch" based way of doing things.
I've corrected the form configuration and the footer code.
There seems to be some data duplication, which I will look at

[2019-11-21 16:52] Gary-van-Breda commented on #165
There is some attribute duplication on the sections: I will do a data fix, but this seems to have happened a while back and the site form has been re-written since.

[2019-11-21 22:50] Gary-van-Breda commented on #165
Data fix done.
Xavier - please check, and hopefully close?

[2019-11-22 14:42] DavidRoy commented on #151
These paths are not necessarily repeated so are different from transect routes which are fixed and regularly recorded.
@Gary-van-Breda is there anything 'bad' about this approach?

[2019-11-22 16:46] Gary-van-Breda commented on #151
Not at all: it's just different.

[2019-11-25 06:00] xaviermestdagh commented on #165
Working from the "My Data", but cannot test from the "Scheme admin": the scheme transect allocation, scheme sites and scheme walks are redirecting to the home page.

[2019-11-25 07:28] Gary-van-Breda commented on #165
Which language are you using?

[2019-11-25 08:52] xaviermestdagh commented on #165
English and French are both redirecting to English home page

[2019-11-25 13:04] CrisSevilleja commented on #165
For all the language these links are not working. The links are okay if you write them directly https://butterfly-monitoring.net/scheme-sites  but they are not well linked to the menu.

[2019-11-25 13:56] Gary-van-Breda commented on #165
The 3 scheme links have now been sorted.
The titles on the pages have been changed, and the automatic URL generation is ticked. This means that the URLs on the pages have have changed, but the menu items had not. I've sorted this now.

[2019-11-26 08:17] kazlauskis commented on #55
@johnvanbreda I got his working - I was using request params instead of the body to send the query. Could I somehow add the CORS response headers to the website?

[2019-11-26 09:32] kazlauskis commented on #55
@johnvanbreda this works now, I am not sure what has changed but I can close the ticket.

[2019-11-26 09:32] #55 closed

[2019-11-26 09:48] johnvanbreda commented on #55
@kazlauskis Does that mean you don't need CORS headers specifically added? I was looking into this today, but found that you need to enable CORS globally on the Drupal site according to the instructions at https://www.drupal.org/node/2715637. I found it slightly disconcerting as I'd rather just enable it for the Elasticsearch proxy.

[2019-11-26 10:42] kazlauskis commented on #55
I have enabled these CORS settings for the site some time ago, this was required for the Indicia API module to work. I am not sure what has changed now, but I can now also make calls to the proxy as well. If you wanted to restrict the origins but still allow the app then you can change it to:
`allowedOrigins: ['http://localhost:8100', 'http://localhost:8000', 'http://ebms.herokuapp.com']`

[2019-11-26 10:46] johnvanbreda commented on #54
@kazlauskis here's a demo request body - you just need to change the survey ID:

[code]

[2019-11-27 15:09] #160 closed

[2019-11-27 15:09] #161 closed

[2019-11-27 15:09] #149 closed

[2019-11-27 15:10] #130 closed

[2019-11-27 17:15] burkmarr commented on #151
I've tried an approach based on the Transect Sites report referenced above (https://butterfly-monitoring.net/my-sites) because it seemed like it would be the simplest place to start. However, I have been unable to get the GIS download link to work because I cannot find a way to pass the Indicia User ID to a download report via a Get request.

The page transects sites page doesn't need to do this -

[2019-11-27 17:17] DavidRoy commented on #151
thanks Rich.  For performance reasons, I agree that it would be benefitial to export via the ElasticSearch Index.  Also, i agree that it makes sense to add to the my-records page.

[2019-11-27 22:33] Gary-van-Breda commented on #151
The report grid footer translations are slightly different to the normal ones: it was done quite a while ago. They can be found in the report_grid function in the report_helper.php: the indicia_user_id can be accessed using the '{iUserID}' token.

[2019-11-28 10:14] burkmarr commented on #151
Thanks @Gary-van-Breda - that's what I needed to know.

@DavidRoy - I've completed the approach I took yesterday, so now a user can download the GIS tracks of their timed counts from this page: https://butterfly-monitoring.net/my-timed-counts-samples-gis-download.

So if users have been asking you for this, you can point them to this page. There's currently no link to it from the main menu. Let me

[2019-11-28 11:42] Gary-van-Breda commented on #151
The SHP file downloads used elsewhere on ABLE require a view to be set up in the Postgres database on the warehouse (currently it uses the same view as UKBMS, and that is in the ukbms schema), and a layer to be set up in the Geoserver to point to the view.

[2019-11-28 12:00] johnvanbreda commented on #151
@burkmarr @DavidRoy as long as the geometry of the path is stored in the sample the occurrence is directly attached to, then yes, this information is stored along with each occurrence in Elasticsearch (in the location.geom field). The geometries associated with parent samples are not stored at it stands but could be added, though at the cost of extra overhead of course.

[2019-11-28 15:55] burkmarr commented on #151
Thanks @johnvanbreda and @Gary-van-Breda.

[2019-11-28 17:04] CrisSevilleja opened #167 "Problem with the default language of the Menu: it is in Croatian"
@DavidRoy the eBMS menu and the title heads of every tab appear by default in Croatian. I translated the eBMS Menu to Croatian and it was applied as default language although English is still the default language in the translation tab...
In languages with the complete Menu translated is not a problem but for others like Italian, the menu appear half in Italian and half in Croatian. I don't what I

[2019-11-28 17:12] DavidRoy commented on #167
@Gary-van-Breda can you investigate as a priority please as I’m currently travelling. Thanks

[2019-11-29 12:42] Gary-van-Breda commented on #167
I don't think this is @CrisSevilleja 's fault. I note that Croatian come before English when listing the Languages in alphabetic order, and the those without Croatian default to English. Something weird is happening in Drupal itself - am investigating

[2019-11-29 14:04] CrisSevilleja commented on #167
@Gary-van-Breda good to hear that I didn't make it. I saw it is already fixed. Thanks!

[2019-11-29 14:07] Gary-van-Breda commented on #167
On https://butterfly-monitoring.net/admin/config/regional/language it states that the order of the languages on that page has no impact on the detection and selection of the translation to be used. This is misleading - it has no impact on the detection of which language translation it should use, but the order displayed is the order used to determine a fallback language if there is no translation

[2019-11-29 14:41] DavidRoy commented on #167
Thanks Gary.  That's ok.  We can make the argument that English is the default language as all the content starts off in that language.

Closing the issue now

[2019-11-29 14:41] #167 closed

[2019-12-05 22:30] Gary-van-Breda commented on #166
This is all to do with the calculations used to work out the sref/centroid of the section. There are currently 3 options:

- Same as parent transect
- 100m grid square covering the centroid of the section
- 100m grid square covering the start of the section

The last 2 are only available if using WGC84, or OSGB / OSIE, otherwise it defaults to "Same as parent transect". In this case we are using L

[2019-12-06 00:27] Gary-van-Breda commented on #166
Code deployed to Live.
All section routes on EBMS:Luxembourg:89 re-saved, which has recalculated the centroid Sref for each, Now all showing different values.
Any other sites with the same issue should have their routes re-saved as well.
@xaviermestdagh : Is this OK?

[2019-12-09 22:18] Gary-van-Breda commented on #162
Data fix for Part 2:
[Issue 162.zip](https://github.com/BiologicalRecordsCentre/ABLE/files/3941969/Issue.162.zip)

[2019-12-11 09:32] Gary-van-Breda commented on #162
Code changes to the site form now deployed.
@johnvanbreda : can you run the script above against warehouse1?

[2019-12-11 12:04] xaviermestdagh commented on #166
In the Full site section data download (csv), all sections from a single transect do have the same SRef coordinates, which is great.
In the .shp export, sections of the transect EBMS:Luxembourg:89 still have different values of grid-ref.

[2019-12-11 12:53] Gary-van-Breda commented on #166
OK I may have misunderstood: should the sections on the Transect all have the same Sref coordinate (which will be the same as the parent transect), or should they be different - i.e. be dependent on the route itself.

[2019-12-11 12:59] DavidRoy commented on #101
@johnvanbreda are we able to progress this again now we've made progress on this with iMammalia

[2019-12-11 13:00] DavidRoy commented on #115
Now working, thanks

[2019-12-11 13:00] #115 closed

[2019-12-11 13:20] xaviermestdagh commented on #166
Yes, misunderstanding from my side as well.
I understood the field "SRef" means "Site ref" (=transect ref) in both csv exports (Full Site...csv). But if it means "Spatial Ref", so the "SRef" in the "Full Site Section Data Download.csv" should be the centroid of sections (no need in this file to have the centroid coordinates of the parent transect as it is accessible through a join on the "Site cod

[2019-12-11 15:26] Gary-van-Breda commented on #166
Yes: in the CSV section download the first 6 columns (Site ID, Site Name, Site Code, Site Type, SRef, System) are all from the parent Site/Transect, not the section itself.
I don't have access to the SHP file view just now, but I would assume that is showing the Section data, not the Site/Transect.
Would you like me to change/add anything to either the SHP file data, or the CSV download?

[2019-12-11 15:34] xaviermestdagh commented on #166
Having the section coordinates (of the centroid) in the .csv might avoid the need to calculate it in GIS from the .shp.
In addition, I would recommend to rename the field "SRef" with a more self-understanding name (max 10 characters). For instance "SiteRef" or "TransRef".

[2019-12-11 21:59] Gary-van-Breda commented on #166
CSV report update lodged into Git, ready to be merged into master branch and deployed to warehouse1 (@johnvanbreda)

[2019-12-12 07:56] johnvanbreda commented on #166
Pulled onto the warehouse @Gary-van-Breda

[2019-12-12 21:36] Gary-van-Breda commented on #166
Thanks @johnvanbreda
@xaviermestdagh : I've double checked and the CSV Section download now has the site ref identified as such, plus an extra column for the Section Ref. This is used on the My sites and Scheme sites pages (and All sites, though I don't think you have access to that.)

[2019-12-15 19:42] DavidRoy opened #168 "Alternative walk input form"
Requested by Hungary scheme.

To have two entries per species per section:
1. standard count for species within transect strip 5m width
2. count/count-range for species outside main transect width

One option is a wide table with 2 columns per section

@Gary-van-Breda to provide estimate for when this can be implemented

[2019-12-16 10:59] CrisSevilleja commented on #68
@DavidRoy @Gary-van-Breda
There is one volunteer in the South of Spain was counting butterflies in November and he will continue if the weather allows him. He was a bit confused with the Sun cover, due to in BMS Spain they use Cloud cover.

Could be possible to include the %Cloud? I imagine he will start including data at the end of January, early February.

Thanks!

[2019-12-16 11:08] DavidRoy commented on #68
@CrisSevilleja the plan is to have both a %sun and %cloud value and the two to be interchangeable so that cloud+sun = 100.  Since some schemes use sun and some use cloud ;-)

[2019-12-16 11:18] CrisSevilleja commented on #68
@DavidRoy Ok, I like to have both %sun and %cloud. I would like to give it priority due to many Spanish volunteers are registering on eBMS and they are asking.

[2019-12-17 19:13] DavidRoy opened #169 "Store GPS track when recording transects"
To store route to check consistency in walking the transect

[2019-12-17 19:14] DavidRoy opened #170 "Map of sample locations"
A map to view all sample locations, with different symbols for timed counts and transects

[2019-12-17 19:17] DavidRoy opened #171 "Show country status in Guide"
A list of countries present and status (e.g. Present, Vagrant etc).

[2019-12-17 19:18] DavidRoy opened #172 "Home page species report available separately for set country"
Option to switch the home page report to restrict to country that user has set

[2019-12-17 19:20] DavidRoy opened #173 "Show a GPS permissions warning"
If the user denies to give the app enough permissions to use the GPS, then some warning message should be shown to notify this next time the app is in use.

[2019-12-17 19:21] DavidRoy opened #174 "Help with transect sections switch"
Show a warning when the app reaches next section. Use GPS to track the location.

[2019-12-17 19:21] DavidRoy opened #175 "Add sections map"
Have an option to view the transect and its sections on the map and current location

[2019-12-17 19:35] DavidRoy opened #176 "Fix map trail drawing"
It is hard to draw on very small screens, make the buttons bigger. Also, drawing on iOS requires long tap’s instead of normal, so fix that.

[2019-12-17 19:41] DavidRoy opened #177 "More guidance for volunteers"
Some more help both on the app and possibly the website.

[2019-12-17 19:42] DavidRoy opened #178 "Add extra countries"
Add Turkey (outside europe0)

[2019-12-17 19:44] DavidRoy opened #179 "Attach GPS coords to photos on timed counts"
Exporting the photos from the device gallery should contain coordinates for each photo.

[2019-12-17 19:44] DavidRoy opened #180 "Add ability to copy species list from previous 15min count"
* This would copy species list from previous survey
   * In the future it would allow to select the survey to copy from
*  All the species counts would be reset to 0
* Species with 0 counts would not be submitted to the database

[2019-12-17 19:47] DavidRoy opened #181 "Better navigation between transect sections"
Swipe or a ’Next’ button in the header.

[2019-12-17 19:56] DavidRoy commented on #140
view from martin warren -  will need a very clear introduction which I suggest has to be read and ticked before you move on to use the app for the first time.

Also consider using the milestone functionality within Indicia to email recorders who generally use casual recording mode, i.e. advocate the value of timed counts

[2019-12-17 20:00] DavidRoy opened #182 "Rename 'Add' button to 'Add species'"
to make clearer for new recorders

[2019-12-17 20:07] DavidRoy opened #183 "Add option for adding transect occurrence photos and comments"

[2019-12-17 23:07] Gary-van-Breda commented on #68
% Cloud deployed to Live.
% Cloud + % Sun = 100%, at a section level. Added to Occurrrence download from Annual summary. Re-editing a walk and going to the Butterflies tab will populate the % cloud data for an existing walk.

Do you need "% Cloud" at a walk level as well? (pt 3 above is not clear)
Do you need a data fix to set the value for all existing sections/walks?

[2019-12-19 08:38] DavidRoy commented on #68
Thanks @Gary-van-Breda .  In answer to the two questions.
YES = Do you need "% Cloud" at a walk level as well? (pt 3 above is not clear)
YES = Do you need a data fix to set the value for all existing sections/walks?

[2019-12-19 08:59] larspett opened #184 "Contact email to coordinators with formatting error"
The information email to country coordinators sent when someone points their scheme to a particular BMS appears to  be html but sent as plain text or something like that.

![IMG_2651](https://user-images.githubusercontent.com/19598308/71159594-34f8d800-2246-11ea-967d-48641872b281.jpg)

[2019-12-24 10:28] DavidRoy opened #185 "import European moth list"
Import European Moth list for use within ABLE tools.  See attached...

[Lepiforums-Europaliste_der_Schmetterlinge_Version_6-Stand_2019_01_01_zum_download_fuer_ausdruck.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/3998002/Lepiforums-Europaliste_der_Schmetterlinge_Version_6-Stand_2019_01_01_zum_download_fuer_ausdruck.xlsx)

[2019-12-24 10:29] DavidRoy opened #186 "import European bumblebee checklist"
Import European Bumblebee checklist for use within ABLE tools

[BumblBee Checklist.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/3998007/BumblBee.Checklist.xlsx)

[2019-12-24 10:30] DavidRoy commented on #146
@johnvanbreda are we able to finish this issue?

[2019-12-24 10:59] DavidRoy opened #187 "geographic verification rule-sets for butterflies"
require rule-sets imported into Indicia warehouse to be used for ABLE/eBMS data.  May need some discussion on how to implement.

source data comes from processing of GBIF (via Bas Oteman).  Format is:

spName,startDoy,endDoy,lowerX,upperX,lowerY,upperY,maxNumber
Leptotes pirithous,6,118,1666139.334,1744872.883,949408.2163,1028141.765,9999
Leptotes pirithous,6,118,1744872.883,1823606.431,949408.216

[2019-12-24 11:44] DavidRoy commented on #4
Initial requirement is to implement the spreadsheet import option.  Will raise a new issue for this.

[2019-12-24 11:46] DavidRoy opened #188 "Implement standard spreadsheet import on eBMS"
wider issue is #4

Initial requirement is to enable standing Indicia importer for occurrences.
https://butterfly-monitoring.net/import-occurrences

[2019-12-24 11:54] DavidRoy opened #189 "Implement approach to handle sensitive species"
Requirement to handle sensitive species appropriately within workflow mechanism.  Applied to eBMS surveys.

SPECIES | Action   (blurring etc)
-- | --
Pieris   wollastoni | Hidden
Coenonympha   phryne | 10 km square
Pseudochazara   cingovskii | 10 km square
Gonepteryx   maderensis | 1 km square
Colias   myrmidone | Hidden
Pieris   cheiranthi | 1 km square
Lycaena   helle | 1 km square
Phengaris   a

[2020-01-02 12:37] johnvanbreda commented on #189
@DavidRoy would you prefer the hidden taxa to be set as unlreleased, or confidential? I think the latter is perhaps more logical?

[2020-01-02 14:05] johnvanbreda commented on #189
Note to self: I've added the workflow events for blurring but still need to do the "hidden" ones, plus write a script to update existing data.

[2020-01-02 15:37] DavidRoy commented on #189
@johnvanbreda - confidential preferred to unreleased.  But is sensitive not the way we handled this requirement previously?

[2020-01-02 15:45] johnvanbreda commented on #189
Sensitive means a record remains visible but is blurred. If you want the ones flagged as hidden to be completely invisible for normal users then they have to be confidential.

[2020-01-02 15:46] DavidRoy commented on #189
sorry, i didn't read your message carefully enough.  yes to making the hidden ones confidential.
thanks

[2020-01-02 16:43] johnvanbreda commented on #189
I've done the confidential records and updated past data.

For future reference, here's the script:
[code]

[2020-01-02 16:43] johnvanbreda commented on #189
@DavidRoy This is all done now apart from Hipparchia tilosi which is marked as no data so I wasn't sure what to do with it.

[2020-01-02 19:25] DavidRoy commented on #189
@johnvanbreda please treat this as 'confidential' for the time being

[2020-01-02 20:10] johnvanbreda commented on #188
@DavidRoy - questions:
1) Is there a survey structure already suitable for this, or do I need to create one? If so, what additional attributes?
2) Presumably this is for ad-hoc records rather than transect data?

[2020-01-02 20:15] johnvanbreda commented on #187
We could probably script a process which converts these into text files in the correct Record Cleaner format, or perhaps better, import the data direct into the PostgreSQL tables. I presume there will be one set of rules for every species in the eBMS list? What do the lower & upper X/Y values refer to?

[2020-01-02 20:23] johnvanbreda commented on #146
@Gary-van-Breda is it OK for me to update the client helpers and media folders fully, or would you prefer for me to restrict the update to just the Elasticsearch reporting code?

[2020-01-02 20:23] DavidRoy commented on #188
1. no, but probably one that is quite generic
2. yes, for ad-hoc records

[2020-01-02 23:17] Gary-van-Breda commented on #146
@johnvanbreda  Can I review the state over the next couple of days, and get back to you?

[2020-01-06 19:57] DavidRoy commented on #187
Max number is the limit to the number of butterflies in a single observations. For exampleaccept a record of 1000 Pieris napi individuals at a single location, but 1000 Parnassia apollo individuals would be highly suspect. However, this field is not populated (i.e. set as default of 9999) so can be ignored for this purpose.  i will copy you into an email thread about the way forward with this requ

[2020-01-21 16:14] DavidRoy opened #190 "Use 'long press' to access 'Transect mode' and 'Casual record'"
As discussed, the primary mode for the app should be timed counts.  This should be the survey with a standard press of the '+' button.

Transect counts and casual records should be alternative survey modes when user has a long-press of the '+' button

[2020-01-22 08:46] kazlauskis commented on #129
Is this for viewing samples submitted through the website?

[2020-01-22 08:47] DavidRoy commented on #129
No, for within the app.  Maybe this can be closed?

[2020-01-22 08:59] kazlauskis commented on #129
Thanks. Users can view submitted samples but only at a shallow level - not everything is shown. Let's leave keep it open for now.

[2020-01-27 11:45] johnvanbreda commented on #147
Done

[2020-01-27 11:45] #147 closed

[2020-02-14 10:33] CrisSevilleja opened #191 "An user cannot add a new transect"
@GPowney @DavidRoy
The user nachoarce77 https://butterfly-monitoring.net/es/user/1395 cannot add a new transect on eBMS website. He got on the Site details: https://butterfly-monitoring.net/ebms-site-details  the following message without any option to continue further adding a new site:

He is registered under the BMS Spain.

[2020-02-14 10:37] DavidRoy commented on #191
wrong gary :-)

Now tagging the right one @Gary-van-Breda

Also marking as urgent as affects new transects being setup.  I have checked other users and confirm there is a general issue with the new site page

[2020-02-14 10:45] CrisSevilleja commented on #191
hahaha sorry. Thanks!

[2020-02-14 12:21] Gary-van-Breda commented on #191
Caused by looking up the country attribute using the translated caption, rather than untranslated - worked OK in English, not in Spanish etc.
Fixed and deployed to Live.

[2020-02-14 12:26] DavidRoy commented on #191
Thanks
@CrisSevilleja can you check and close if resolved

[2020-02-17 10:12] CrisSevilleja commented on #191
thank you, it is already working

[2020-02-17 10:12] #191 closed

[2020-02-19 08:59] DavidRoy commented on #143
either an app setting to automatically start next

or a message to ask 'do you want to start another count?'

[2020-02-19 09:09] DavidRoy opened #192 "Make bridge to other systems, e.g. iNaturalist, Observado"
So that recorders can have all their data in one place, setup a system to export data to iNaturalist and/or Observado.

Simple option is to provide an eBMS export in Observado format.  More complex option is automated approach.

@CrisSevilleja to define Observado import format with Chris vS

[2020-02-19 09:12] DavidRoy opened #193 "Include dragonflies within ABLE app and website"
@CrisSevilleja to provide list of species

[2020-02-19 09:19] DavidRoy commented on #129
Requirement is to see the full sample/occurrence details in the app even after submission

[2020-02-19 09:31] DavidRoy opened #194 "Improved names displayed on species guide"
two requirements.
1. Users to choose language displayed for species names, e.g. Latin, Common name
2. Common name to match language setting, defaulting to latin where common name missing

@kazlauskis to label if small, medium, large task

[2020-02-19 09:42] kazlauskis commented on #143
I like the message option.

[2020-02-19 09:43] DavidRoy opened #195 "App home page report. Label heading to 'Top Species from all timed counts'"
Currently the title is misleading as users may think this is their own data only.

[2020-02-19 09:43] kazlauskis commented on #129
I agree this is important and we should have it before the first big public release.

[2020-02-19 09:44] DavidRoy opened #196 "App home page report for user's own data"
Currently the home page report gives overall totals for all users

@kazlauskis to label size of task

[2020-02-19 09:47] #171 closed

[2020-02-19 09:49] kazlauskis commented on #194
I understand this is for the species guide list, right? We are showing both names in the species profile.
![Screenshot 2020-02-19 at 09 48 42](https://user-images.githubusercontent.com/7383162/74822471-158d3280-52fd-11ea-9166-34cb0d10e014.png)

[2020-02-19 09:53] johnvanbreda commented on #187
Information provided on how the x,y values work:

Waiting for the full list before writing an import script and/or custom verification rule tool.

[2020-02-19 09:55] johnvanbreda commented on #162
@Gary-van-Breda - sorry I missed the notification. Do you still want me to run the script in the zip?

[2020-02-19 09:58] DavidRoy opened #197 "Option for multiple photos for some species in App guide"
To provide images to help identification of species, and for sexual dimorphism

@kazlauskis to advise on implications for size of app on phone

[2020-02-19 10:11] johnvanbreda commented on #185
Done - list ID 260.

[2020-02-19 10:11] #185 closed

[2020-02-19 10:23] DavidRoy opened #198 "Transect allocation to filter users by scheme"
When using transect allocation as a scheme co-ordinator, the list of users should be filtered by the same scheme

e.g. https://butterfly-monitoring.net/scheme-transects-allocation

If being used by Spanish co-ordinator, then list of users should be those linked to Spain BMS

[2020-02-19 10:28] DavidRoy opened #199 "New transect site setup - show section lengths while being created"
Currently, transect section lengths are calculated once saved.

Requirement is to show length as the line is being drawn.  This is needed when users want to setup a section of a specific length (e.g. 100m).

[2020-02-19 10:31] kazlauskis commented on #197
At the moment, Android app size is 50Mb having 230 photos (out of 500 species). We could add as many photos as you would like, but it gets slightly trickier when the apps go over 100Mb. We would have to start hosting the photos ourselves instead of bundling with the code and uploading to the app stores. Adding another 200 photos would render this task `small` otherwise `medium` to `large`.

[2020-02-19 10:54] johnvanbreda commented on #185
For reference, here's a script run after import to allocate TVKs and clean up UTF problems:

[code]

Actual imported file attached (after manipulation to sort out taxonomic hierarchy).
[EU moths.zip](https://github.com/BiologicalRecordsCentre/ABLE/files/4224593/EU.moths.zip)

[2020-02-19 10:58] johnvanbreda commented on #186
[BumblBee.Checklist.zip](https://github.com/BiologicalRecordsCentre/ABLE/files/4224618/BumblBee.Checklist.zip)

Attached file uploaded. The same script as in #185 was used to allocate TVKs (using EBMSB as a prefix).

[2020-02-19 10:58] #186 closed

[2020-02-19 11:37] DavidRoy commented on #194
yes, that's correct.  It's only on the multi-species display

[2020-02-19 12:12] Gary-van-Breda commented on #162
@johnvanbreda : yes please.

[2020-02-24 14:51] DavidRoy commented on #146
@Gary-van-Breda is waiting on you?

[2020-02-25 09:39] CrisSevilleja commented on #194
Right now it is correct, showing Latin names when the language is not English. At the moment other languages are loaded that use Common names in their languages, that one should be the default (e.g. Dutch, Croatian, Czech)

[2020-02-25 11:22] CrisSevilleja commented on #193
Here is the list of European Dragonflies:
[European Odonata.zip](https://github.com/BiologicalRecordsCentre/ABLE/files/4249686/European.Odonata.zip)

Should we add a new issue @DavidRoy to include the filter of the different taxa in the Entry Data of the app?

[2020-02-25 22:08] Gary-van-Breda commented on #146
OK: There are no changes to the Iform and media on ABLE which are not in the main repository.
I have created a branch on client_helpers which has the single outstanding change in ABLE (#191), and I have assigned the merge request to you, @johnvanbreda.
As a note, I have also (erroneously?) done a change to helper_base.php to switch on the language delegation: I know this should be done in helper_c

[2020-02-26 10:38] johnvanbreda commented on #146
Thanks @Gary-van-Breda, I'll update iform when I get a chance then.

I think you can just add a helper_config.php file to the respository, containing the single `$delegate_translation_to_hostsite` variable setting?

[2020-02-26 15:05] Gary-van-Breda commented on #146
Do you know if there are any helper_config files on the systems as they are, which would be overwritten by such a file?

[2020-02-26 15:20] johnvanbreda commented on #146
As there is nothing under Git, I am reasonably sure that there is no helper_config.php file. Not sure if you spotted this change but about a year ago I changed things so the helper_config.php file can be omitted if just using Drupal settings (it used to make things fall over if you accidentally removed it during an upgrade for example).

[2020-02-26 15:36] Gary-van-Breda commented on #146
OK - I've done that now, pushed onto master: you should now be able to copy the current develop branches of media and client_helpers over to ABLE.

[2020-03-02 13:00] CrisSevilleja commented on #194
Common names in Dutch, Czech and Croatian
@kazlauskis @DavidRoy

[Croatian_butterfly_names.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/4275485/Croatian_butterfly_names.xlsx)

[Czech_butterfly_names.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/4275462/Czech_butterfly_names.xlsx)
[SpeciesList_NL.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/4275471/Specie

[2020-03-03 08:53] kazlauskis commented on #194
Hi @CrisSevilleja, would it be OK to ask the translators to add the names directly to Transifex instead? We have this `app_species_names` resource there:
https://www.transifex.com/ceh/ebms/app_species_names/

[2020-03-03 11:15] CrisSevilleja commented on #194
@kazlauskis Yes I know, but people directly sent me the files. I think It is time-consuming for them, adding one by one the names when they have it on a file. Also, the names are in English, that not everyone knows the corresponding one in their language. It would be better to have the scientific name, but anyways they need to add one by one on Transifex and it is annoying. I don't think they will

[2020-03-03 20:33] kazlauskis commented on #194
OK, I see you point, I can certainly add the lists myself.

[2020-03-08 19:02] kazlauskis commented on #196
A comment from Martin Warren:

Can I suggest something like
ButterflyCount, part of the European Butterfly Monitoring Scheme (eBMS). (or brought to you by EBMS)
Plus add the logo? And say "top recorded butterflies"

[2020-03-09 09:01] Gary-van-Breda commented on #168
I have deployed the new form version at https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2. It is currently set up to be identical to the normal walk data entry form.

I will (on the Dev site):

- Switch over the My Walks, Branch Walks and Annual summary to point to the new form.
- Add a Moths Grid: As a EBMS/ABLE moth list is not in the Dev site, I will attach this to the "UK Mast

[2020-03-09 09:08] DavidRoy commented on #168
I confirm the number scale:
one (1)
few (2-5)
several (6-16)
many (>16)

thanks

[2020-03-09 09:38] DavidRoy commented on #168
@Gary-van-Breda
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2
does not allow a temperature value to be entered, so the rest of the functionality can't be tested

[2020-03-09 22:03] Gary-van-Breda commented on #168
I think there was a config mismatch on the DEV site for the termlists: I've set them to be owned generically (as they are common between EBMS and UKBMS), run the scheduled tasks and cleared the caches. It now looks OK.
This is not a problem on Live, so its config is OK.

[2020-03-10 11:21] #177 closed

[2020-03-10 11:27] kazlauskis commented on #185
@DavidRoy Does this involve the app? Should we open up another ticket?

[2020-03-16 10:41] DavidRoy opened #200 "Enable moth species list within 15-minute count"
1. Enable moths to be selected from species list
2. Enable filtering by moths/butterflies within account settings (follow iRecord app approach)

Follows from #185

[2020-03-16 10:43] DavidRoy opened #201 "Add moth-survey mode to eBMS app"
Add new survey mode to app, for moth trapping (follow approach used for iRecord app)

Will need moth-trap form on website for record editing/viewing - will raise this as a separate issue

links to #200 and #185

[2020-03-16 10:44] DavidRoy opened #202 "Add moth-trap entry form to website"
links to #201 and #185

Mirror form used on iRecord?

[2020-03-16 11:01] kazlauskis commented on #201
Thanks, should I use the same survey and it's attributes?

[2020-03-16 12:04] kazlauskis commented on #178
To add these countries I would need an updated warehouse species list export with the new country statuses, just like in #13 (@johnvanbreda)

After adding these countries to the warehouse, I suggest wrapping the SQL query into a report, so I could pull it programmatically next time.

[2020-03-16 15:01] DavidRoy commented on #201
Yes, but cloned across to the ABLE website (id = 118)

[2020-03-17 08:54] CrisSevilleja opened #203 "Walk Data Entry Page changes language to English"
Trying to introduce data for a transect walk, the page changes from Italian to English

https://butterfly-monitoring.net/ebms-input-data?location_type_id=777&date=11/03/2020

@Gary-van-Breda  @DavidRoy
(I cannot establish labels for the issue, I don't know why)

[2020-03-17 10:40] CrisSevilleja opened #204 "Wrong Spanish translation in ButterflyCount app"
In the eBMS app, Menu section, there is one part called "Help" in Spanish is "Ayuda" and in that page, it is well translated. If you enter in the help page, the title of the page should be "Ayuda" but it appears as "Creditos". I checked the translation in Transifex and it is well done.

@kazlauskis could you change this mistake on the app? There is not a hurry on that but it would be great to chan

[2020-03-17 10:43] kazlauskis commented on #204
Thanks, well spotted, I will fix it asap.

[2020-03-17 20:21] johnvanbreda commented on #203
@Gary-van-Breda does the reload of the page need to respect the language prefix in the URL?

[2020-03-17 20:46] DavidRoy commented on #168
@Gary-van-Breda the page works well.  I don't think the main sample image functionality is implemented?  I suggest this should be available by default

[2020-03-19 09:56] CrisSevilleja commented on #204
thanks @kazlauskis! Also, I saw it happens the same for English, I imagine it is in every language.

[2020-03-19 16:39] DavidRoy commented on #192
From Indicia side = https://indicia-online-recording-rest-api.readthedocs.io/en/latest/

[2020-03-20 09:37] CrisSevilleja opened #205 "Apply translations to drawing functions of the area, 15-minute count"
@kazlauskis The translations were not applied or done for the drawing functions of the area in the 15-minute count. Neither the pop-ups that are so useful for drawing. I don't know if we have these words translated in Transifex. thank you

@DavidRoy
![Screenshot_20200320-103201](https://user-images.githubusercontent.com/25052478/77151548-7348a200-6a96-11ea-92cf-1ae60b489fbc.png)

[2020-03-23 09:55] kazlauskis commented on #170
I am thinking of having the functionality as a third tab in the Surveys page. Let me know if anyone thinks of a better place.

<img width="319" alt="Screenshot 2020-03-23 at 09 53 22" src="https://user-images.githubusercontent.com/7383162/77304343-370e7f00-6cec-11ea-8dbe-4d27775078df.png">

[2020-03-23 09:59] DavidRoy commented on #170
Agreed!  Good solution

[2020-03-23 10:29] CrisSevilleja commented on #170
Yes! I like this idea, good solution to see the map :D

[2020-03-23 10:30] CrisSevilleja commented on #205
thanks

[2020-03-23 10:41] CrisSevilleja opened #206 "Problems loading google map while drawing a transect"
@Gary-van-Breda @DavidRoy
Some users reported me they had some issues drawing a new transect on the eBMS website (Site details, https://butterfly-monitoring.net/ebms-site-details) because the google hybrid map didn't load the complete area, only the square in the center (like in the picture). Maybe it is a problem with the browser.

Drawing one transect I realised that if you move the image around

[2020-03-23 17:55] kazlauskis commented on #170
I have added the map now. It shows all the user surveys on the device. Circle for 15min counts and a square symbol for transects. Clicking on any of the markers it opens a popup with few record details. This is essentially only a placeholder for some more fancy stuff and should be worked on more in the future. Unless you want me to add something specific here I am going to pick up another issue.

[2020-03-24 07:49] CrisSevilleja commented on #170
I really like it. Thanks!

[2020-03-24 07:52] CrisSevilleja commented on #190
Could it be possible to add a pop-up mentioning this function? I can imagine many people are not going to try a long-press by default and they are not going to find the transects and casual records
@kazlauskis

[2020-03-24 08:41] DavidRoy commented on #190
The casual records option is not there yet, only the transect recording.  So I think we don't need to make this too obvious as we can contact transect recorders directly?

When the casual mode is available, then I agree we should add a pop-up

[2020-03-24 08:42] DavidRoy commented on #170
me too!

[2020-03-24 08:56] kazlauskis commented on #190
I'm thinking of adding some text label when using long-press to somehow explain why other surveys require long-press. Does 'Advanced recording options' make sense? here is to illustrate it:

<img width="324" alt="Screenshot 2020-03-24 at 08 53 54" src="https://user-images.githubusercontent.com/7383162/77406915-44d80900-6dad-11ea-99cc-a72fb513b415.png">

[2020-03-24 09:30] DavidRoy commented on #190
I suggest 'Other recording options' as casual/opportunistic is less advanced than the 15-minute count

[2020-03-25 08:07] kazlauskis commented on #196
This is the same as #56, no?

[2020-03-25 08:44] DavidRoy opened #207 "ButterflyCount map screen - zoom to location option"
To help with using the map on ButterflyCount, an option to zoom to the phone's current location would be helpful

[2020-03-26 09:03] CrisSevilleja opened #208 "Missing section number in the Transect window on the app"
@kazlauskis  @DavidRoy

In the transect window on ButterflyCount app, it is missing the section number when you are inside of a section adding butterfly species.
See the picture.

![missing section number](https://user-images.githubusercontent.com/25052478/77628716-b4cec680-6f48-11ea-8df3-8ca271a51c35.png)

[2020-03-26 09:13] DavidRoy commented on #208
I agree.  I think it would be helpful to also have an option to move back-forward through sections, e.g. a back and next option.  It could look like this

Section:   <<--- 3 ---->>

with the arrows being buttons

Maybe tricky as the species list would need to change with the section chosen

[2020-03-26 09:21] CrisSevilleja opened #209 "Add ability to copy species list from previous transect section"
@kazlauskis @DavidRoy

Using the app for 15-minute counts and transects, I thought it would be more comfortable to have a fixed list of species seen by the recorder on the data entry window. Especially if you are doing a transect with 4-5 sections, in every section you need to type every time the common species for example. Maybe it can be fixed to 5-7 species more commonly seen in that specific t

[2020-03-26 09:50] kazlauskis commented on #208
I will add the section number to the header and will also add a link to the next section. I have to keep the back button as a link to the all-sections page for now.

[2020-03-26 10:34] CrisSevilleja commented on #208
Thank you @kazlauskis I like your propose. It will be enough with these changes

[2020-03-30 12:49] larspett opened #210 "No transects available in v 1.5"
I am trying out the newest version of the app on iOS (v 1.5.0 (1) ) and can't access the transect entry form. Why is that? Is it permanently disabled until I have allocated a transect to myself, is it a deliberate omission in this version, or is it a bug? I used to have a couple of transects allocated to myself.

[2020-03-30 13:03] DavidRoy commented on #210
via your gmail account which is set as Sweden BMS co-ordinator
You were only allocated to a one site: Billebjer

I have allocated you to all the ones in Sweden:
Billebjer
Fjällmossen slinga
Fjällmossen transekt
Rökepipan
Simängsvägen

Can you test this, thanks

[2020-03-30 13:08] CrisSevilleja commented on #210
Dear Lars,

I think I understood your question. We included the option to do a
long-press on the + button to enter to transect form and other options. If
you click the + button as normal you will enter directly to 15-min counts.

I hope I resolved your doubt.

Cheers,
Cristina

El lun., 30 mar. 2020 15:03, David Roy (CEH) <notifications@github.com>
escribió:

[2020-03-30 13:10] larspett commented on #210
Yes, it did work, it was the press long-option that effectively hid the transect option to me.  I suspect that I might not be the only one getting stuck on that. Personally I preferred seing both options and chosing. Possibly being offered to have a default option of my own. But being forced into 15-min counts is slightly annoying (to me)

[2020-03-30 13:13] larspett commented on #210
I would vote against this UX as a user

[2020-03-30 13:13] #210 closed

[2020-03-30 13:16] DavidRoy commented on #210
We had a long discussion about this.  We think the transect option is confusing to the general user, so is a deliberate option to make the transects less obvious.  To use the transect option requires the route to be setup and the user allocated to the site - both need engagement with the national co-ordinator who can then explain how the app works.

For more general users of the app, we want to ke

[2020-03-30 13:24] larspett commented on #210
I understand the rationale and don't want to jump in with old arguments in a discussion that has already been closed but the UX favours 15-min counts over transects (which is fine for the general users) while I would prefer to encourage the standardised observations. If anything, I'd be happy with the long press alternating between default entry form (15-min until transects are selected, then tran

[2020-03-30 13:28] DavidRoy commented on #210
Agreed, this was a compromise.  We also discussed two separate apps but that is more work.

We'll raise a feature request to have a user-setting - to have a preferred method for standard vs long-press.  We also intend to add in opportunistic recording as a third method

[2020-03-30 13:34] larspett commented on #210
Just to be clear - I meant that the long press could be used to set the current default method, i.e. that users can toggle between althernative methods using long press. Then again, the + wasn't intuitive to me as a new user as a means to change entry mode. I am not entirely confortable promoting 15-min counts as a preferred/default method in the app text either but will do my best to phrase it in

[2020-03-31 08:35] larspett commented on #209
It might be even better to preload (as an option, possibly also the number of species optional) the same feature as in the website entries with "species seen by me - species seen at this site - common species - all species - etc"  That would align with the website entry method and has actually been asked for by one of the Danes who I was in contact with (a guy who wouldn't translate for free, thou

[2020-03-31 08:38] kazlauskis opened #211 "Enable Android back button"
It is currently disabled due to page navigation complexities.

[2020-03-31 08:41] kazlauskis opened #212 "Enable automatic record re-upload when back online"
At the moment, the user has to manually manage the upload of each record.

[2020-03-31 08:43] kazlauskis opened #213 "Enable timeout vibration when phone is locked"
It only vibrates when the user is in the app and the device is not locked.

[2020-03-31 08:46] kazlauskis opened #214 "Enable GPS tracking when phone is locked"
The GPS stops when the device is locked or the app is not in focus.

[2020-03-31 09:07] kazlauskis commented on #209
Yeah, Martin Warren also wanted to see something like this in the app. We can make this progressive, first, allow to copy user's previous lists, then suggest common species in the country and then, also, suggest species based on location.

[2020-03-31 09:19] larspett opened #215 "Misaligned text in upload screen"
I am not sure if this is language-specific but suspect not. The "uploaded" text seems to be top left aligned rather than middle horisontally + suitably padded left-rigth to accomodate for the number of uploads, Maybe the number (here  **1**) should be in purple #74598D too like the other characters.
![IMG_4489](https://user-images.githubusercontent.com/19598308/78009480-63a44580-7341-11ea-8398-11f

[2020-03-31 09:29] larspett opened #216 "Common species screen is not translated"
The common species screen pulls the most common species from Indicia which means that they are currently shown in English, no matter what the default app language is. The best option would be to have this in the selected language. It should be noted that if these five remain the top 5, then there should be names available in all app languages, however there could be a situation where a given langu

[2020-03-31 09:32] DavidRoy commented on #216
Another holding position is to just show the latin name?

[2020-03-31 10:18] larspett commented on #216
That would be even easier option than adding an explanation about the current vs planned translation of the page

[2020-03-31 10:24] larspett opened #217 "Incorrect name in species list"
The entry "Oliver Grizzled Skipper" in the English part of the Transifex species list should be "Olive/Oberthür's Grizzled Skipper"

[2020-03-31 13:36] larspett commented on #198
This is very high on my wishlist, Since volunteers register with all sorts of names, it is difficult to administer a list which includes everyone from all schemes

[2020-03-31 13:39] larspett commented on #99
Is there any way of submitting website translation strings?  Right now there are so few strings translated (at least in Swedish) that it might even be better to keep everything in English until the translation has been brought more up to date. Ping @DavidRoy @kazlauskis

[2020-03-31 13:55] DavidRoy commented on #99
We have nearly linked Transifex to Drupal to enable wider translation.  Within the next month we will request translations for the website

[2020-03-31 14:06] larspett commented on #99
excellent

From: David Roy (CEH) [mailto:notifications@github.com]
Sent: den 31 mars 2020 15:56
To: BiologicalRecordsCentre/ABLE
Cc: Lars Pettersson; Mention
Subject: Re: [BiologicalRecordsCentre/ABLE] Website translations to Swedish refused (#99)

We have nearly linked Transifex to Drupal to enable wider translation. Within the next month we will request translations for the website

—
You are re

[2020-03-31 15:13] DavidRoy commented on #216
@kazlauskis as discussed, could you quickly remove english common names from the home page report for the time being

[2020-03-31 15:17] kazlauskis commented on #216
OK, the app is undergoing the iOS app store review right now and if all goes well it should be finished by tomorrow morning which will give us another day to fix this.

[2020-04-01 09:57] johnvanbreda commented on #101
@DavidRoy can you send me the Transifex API token for ABLE please?

[2020-04-01 13:06] johnvanbreda commented on #101
@DavidRoy I've added Transifex to the Dev site for you to test. For the Indicia pages, note that the parameters of the page are not submitted for translation (as that would be too prone to error). Instead, the individual strings which Indicia outputs are added to the translation sources (under the Locale section).

[2020-04-01 15:12] DavidRoy commented on #101
@johnvanbreda thanks.  I think we agreed you would produce some simple guidance on the setup so that we start off on the right basis.

[2020-04-02 07:37] DavidRoy commented on #216
@larspett please close if now fixed for you in Swedish

[2020-04-02 07:39] #208 closed

[2020-04-02 07:39] #138 closed

[2020-04-02 07:39] #129 closed

[2020-04-02 07:39] #176 closed

[2020-04-02 07:39] #170 closed

[2020-04-02 07:39] #205 closed

[2020-04-02 07:39] #204 closed

[2020-04-02 07:39] #190 closed

[2020-04-02 07:39] #195 closed

[2020-04-02 07:42] DavidRoy opened #218 "Typo on Transect page"
On the transect mode, the 'Cloud' label is repeated on the screen.  The first 'Cloud' label should be [Wind Direction]

This is a bug
![Screenshot 2020-04-02 at 08 41 51](https://user-images.githubusercontent.com/2699478/78222883-e6520f80-74bd-11ea-8886-5a1434691da1.png)

[2020-04-02 07:49] larspett commented on #216
In what version? The TestFlight one is still the same so should I check somewhere else? The webpage version of the app?  Best, Lars

2 apr. 2020 kl. 09:37 skrev David Roy (CEH) <notifications@github.com>:

﻿

@larspett<https://github.com/larspett> please close if now fixed for you in Swedish

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https

[2020-04-02 07:53] DavidRoy commented on #216
The app is now live, v1.5.1 (1), so best to update from the app store.

[2020-04-02 08:21] larspett commented on #216
Yes- in Swedish now. Well done! /Lars

2 apr. 2020 kl. 09:53 skrev David Roy (CEH) <notifications@github.com>:

﻿

The app is now live, v1.5.1 (1), so best to update from the app store.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/BiologicalRecordsCentre/ABLE/issues/216#issuecomment-607682554>, or unsubscribe<https://githu

[2020-04-02 08:56] johnvanbreda commented on #101
Ok, so you can (on the dev site):
1. Pages (including Indicia pages) should be created with their language set to English.
2. Go to Translation -> Sources, set Choose Source = Content, select page(s) and click Request Translation. Submit to Provider, then repeat for each language.
3. For Indicia pages, the page configuration is not translated in this way as it is too prone to errors in translation

[2020-04-02 10:21] kazlauskis commented on #218
Thanks, I have found how this has crept into and have it fixed now. The update should reach our users shortly.

[2020-04-02 10:44] larspett commented on #216
closing now

[2020-04-02 10:44] #216 closed

[2020-04-02 10:51] kazlauskis opened #219 "Website logout button is missing on small screens"
From Carin:

Here is a screenshot.

<img width="325" alt="Screenshot 2020-04-02 at 11 49 30" src="https://user-images.githubusercontent.com/7383162/78241351-21f9d300-74d8-11ea-9a69-13215d256913.png">

[2020-04-02 10:54] DavidRoy commented on #219
@BirenRathod can you pick this one up?

[2020-04-02 11:06] BirenRathod commented on #219
@DavidRoy
I will take a look.

[2020-04-02 11:09] DavidRoy commented on #101
@johnvanbreda I've done the first two steps, and need to check a few things.

firstly, on [2] the page gave some warnings. See attached below. The page is shown in Transifex but there are some additional characters formatting that doesn't look right.
![err](https://user-images.githubusercontent.com/2699478/78242917-c4b35100-74da-11ea-8296-8d12c2bc4e44.png)

[error.docx](https://github.com/Biologic

[2020-04-02 11:30] BirenRathod commented on #219
@kazlauskis & @DavidRoy
It hidden under that "My account" dropdown menu but it provides scroll bar at right side, so it needs to scroll down by mouse.

[2020-04-02 11:33] BirenRathod commented on #219
The same trick you need to do to see a list of submenu of "My transect reports"

[2020-04-02 11:36] DavidRoy commented on #101
@johnvanbreda I tried the steps for translation for Indicia pages
1. viewed https://dev-butterfly-monitoring.pantheonsite.io/my-sites and switched language to Spanish
2. i searched for 'site name' but the Indicia column heading text was not there to translate

Maybe this page has already been tested with translation?

Tried the same with this page and it worked as expected.  I've translated in Tra

[2020-04-02 11:45] BirenRathod commented on #219
Here is a screenshot
![image](https://user-images.githubusercontent.com/5941255/78245732-e105bc80-74df-11ea-88d0-a1d715eed6e0.png)

[2020-04-02 11:52] kazlauskis commented on #219
I have only tried this on iOS myself, but the scrolling didn't work well.

[2020-04-02 11:59] BirenRathod commented on #219
@kazlauskis
I just checked on iOS, it works same way as on Windows or Android phone.

[2020-04-02 12:19] BirenRathod commented on #219
Here it is from iOS
![image](https://user-images.githubusercontent.com/5941255/78248350-67240200-74e4-11ea-9016-9d8183ad5ac1.png)

[2020-04-02 13:34] DavidRoy commented on #101
p.s. it is better if the translations in Transifex get put under:
https://www.transifex.com/ceh/ebms-website-wwwbutterfly-monitoringnet/dashboard/

rather than
https://www.transifex.com/ceh/ebms/dashboard/

which can focus on the app translations

[2020-04-02 13:52] johnvanbreda commented on #101
The My Sites page has a lot of rubbish <span> elements in the HTML - click on View Source at https://dev-butterfly-monitoring.pantheonsite.io/node/32/edit and you will see what I mean. I think Transifex is showing these as the numbered tags. I'll look into the error messages - I think I mentioned before that the Drupal -> Transifex module has some bugs.

[2020-04-02 13:55] DavidRoy commented on #101
oh yes.  We'll clear this up before the main translations in that case.

I think the next steps are:
- move to using https://www.transifex.com/ceh/ebms-website-wwwbutterfly-monitoringnet/dashboard/
- complete a round-journey test of the translations, including Indicia elements

[2020-04-02 13:56] DavidRoy commented on #219
Very clunky but not an immediate priority.  At some point we'll work on the theming/design a bit more.

[2020-04-02 14:02] BirenRathod commented on #219
That's right. There is a solution for that. I'm not suggesting do now but we can certainly implement.
The solution is here -> https://dev-brc-site.pantheonsite.io/, I still need to do bit of work on it but menu is almost there.

[2020-04-02 14:45] johnvanbreda commented on #101
I've fixed the PHP notices and also changed the Transifex project, so ready for a round-journey test.

[2020-04-02 16:00] johnvanbreda commented on #188
I've added a page to the Dev site for testing: https://dev-butterfly-monitoring.pantheonsite.io/import-ad-hoc-records.

Do you think we should lock down the columns that are available for importing rather than offering the full range of default columns?

[2020-04-02 18:48] DavidRoy commented on #188
Yes, locking down is good (for this!).

[2020-04-02 20:03] DavidRoy commented on #101
Thanks.  I went through the steps again on the 'my walks' page. https://dev-butterfly-monitoring.pantheonsite.io/my-walks

For step 1, I got this warning.  Can it be ignored?
"You have enforced the job source language which most likely resulted in having a translation of your original content as the job source text. You should review the job translation received from the translator carefully to pr

[2020-04-07 11:50] DavidRoy commented on #146
@johnvanbreda can we complete this issue now?

[2020-04-07 11:52] DavidRoy commented on #151
@burkmarr bumping this issue from a while ago

[2020-04-07 12:55] DavidRoy opened #220 "timeout on ElasticSearch download"
https://butterfly-monitoring.net/elastic/my-records

Using the download tab.  User Chris van Swaay reports this error message. In dutch but reports a timeout on warehouse1.indicia.org.uk.
![es timeout](https://user-images.githubusercontent.com/2699478/78671541-58b85a80-78d7-11ea-8fad-3e442bb20ed0.png)

Tried repeatedly between 13:30 and 13:50.  Using Chrome.

As an ElasticSearch report this is une

[2020-04-07 13:07] DavidRoy commented on #220
Clarification, the .zip file is created, so the timeout is retrieving via the server?

[2020-04-07 13:45] DavidRoy commented on #218
Fixed, thanks

[2020-04-07 13:45] #218 closed

[2020-04-08 09:40] kazlauskis opened #221 "Password with special characters fails App login"
Login failed when the password included one of the Swedish characters åäö /ÅÄÖ.

[2020-04-08 13:54] DavidRoy commented on #6
links to https://github.com/BiologicalRecordsCentre/MammalNet-Europe/issues/5.  ABLE will piggy-back on this implementation

[2020-04-08 15:56] johnvanbreda commented on #220
So the timeout occurred when clicking on the download link, not when generating the file? That would be file system access on the warehouse rather than Elasticsearch. I've just tried masquerading as Christian though and could not reproduce this - are you able to @DavidRoy

[2020-04-08 16:02] DavidRoy commented on #220
I've not been able to replicate either, and also concluded that this is a file access issue.  Any suggestions for how to track this down?

Chris tried again today and reports:
_Here is a screenshot, where you can see that the download.zip is produced and ready to click on, however clicking only leads to 'Connect' (verbinden, down left) and nothing happens._

![es download bug](https://user-images.

[2020-04-09 08:34] DavidRoy commented on #220
@johnvanbreda is another option for the download functionality to provide an email to the user that gives a link to the file when ready?

[2020-04-09 09:34] johnvanbreda commented on #220
If the file is being generated OK, but the link is not working in Chrome, then there is something fundamental wrong which I'd rather understand than code a new approach which might suffer a similar problem. Something for Christian to try:
1) Right click on the file link and copy the link.
2) Paste it into a new tab.
3) Paste it into a tab in a different browser (e.g. Edge).
4) Email one of us the

[2020-04-09 09:46] DavidRoy commented on #220
Agreed. I've asked Chris to try this again

[2020-04-09 13:48] CrisSevilleja opened #222 "Problem transect Cruzinha I (Portugal), two sections 2"
The transect Cruzinha I is recorded by Paula Banza and Filipa Bragança. When they enter the data, in the "Entry data site" https://butterfly-monitoring.net/ebms-input-data?, section 2 (S2) appears duplicated (see the picture attached). This transect has data from last year, so I cannot remove it and draw it again easily.

@Gary-van-Breda could you check this issue?
@DavidRoy
![error transect Cruzi

[2020-04-13 08:07] kazlauskis opened #223 "Records with one GPS coord are rejected by warehouse"
Needs better validation on the app to indicate this to the user. Linked to [#237 (BiologicalRecordsCentre/ABLE#214)](https://zube.io/biologicalrecordscentre/ebms/c/237)

[2020-04-16 21:02] kazlauskis opened #224 "Auto detect device language"
Not essential but it's better UX if the app detects the language rather than showing the language screen. It's small to medium sized.

[2020-04-21 14:21] burkmarr commented on #151
@DavidRoy to tackle this with ES requires our ES API to be enhanced to deliver formats other than CSV. I am looking at this as part of the ES download work I'm tasked with so can return to this issue once I've progressed that. In the meantime, don't forget that I created the page referred to above (https://butterfly-monitoring.net/my-timed-counts-samples-gis-download) where people can download the

[2020-04-26 20:26] Gary-van-Breda commented on #222
The transect data entry page is currently  undergoing a rewrite.  It had created two S2s.
The walks have been merged onto a single section, and the duplicate section removed.
@CrisSevilleja : This instance should now be fixed.

[2020-04-27 08:03] DavidRoy opened #225 "Add dutch common names"
Following instructions:
https://github.com/BiologicalRecordsCentre/ABLE/issues/97

1. Make sure any new languages are registered in the Indicia Languages list (under Lookup lists on the warehouse).
2. Create a spreadsheet with the following columns, only for the rows which have a common name:
taxa_taxon_list_id
common name (English)
common name (Swedish)
3. Add a "Common Names" column containing t

[2020-04-27 14:42] johnvanbreda commented on #225
Done. A few notes:
1. When the Swedish names are added, the spreadsheet should be updated to add the Swedish names to the existing common names data, not replace it. Otherwise the importer would remove existing names.
2. I needed to add set taxon_group to insect - butterfly on first page of importer. The language could be left blank as it's only used when creating the accepted name.
3. Map taxa_ta

[2020-04-27 14:42] #225 closed

[2020-04-27 15:13] CrisSevilleja commented on #222
Thanks @Gary-van-Breda for resolving this issue

[2020-04-27 15:13] #222 closed

[2020-04-28 09:00] johnvanbreda commented on #101
@DavidRoy please can you add me to the Transifex team so I can check the language codes in use. At the moment the pull of translation back into Drupal is not working but I've managed to work out that this is because the language code configured in Drupal (fr_FR) is expected to be just fr in the API requests.

[2020-04-28 12:21] DavidRoy commented on #101
@johnvanbreda invites sent

[2020-04-28 14:42] kazlauskis commented on #225
Thanks, I will now add it to the app.

@DavidRoy in Transifex some more languages have species names translated and if we added them all to the warehouse then I could clean import it all to the app. I can provide excel files for these languages. https://www.transifex.com/ceh/ebms/app_species_names

[2020-04-28 15:16] DavidRoy commented on #225
@kazlauskis yes, please pass on the names translated in Transifex.  Can you include the taxa_taxon_list_id as well?

[2020-04-28 16:13] DavidRoy opened #226 "add common names to warehouse for several countries"
@johnvanbreda further to #225, we would like to add common names for:
Croatian
Czech
Finish
German
Hungarian

Is the best option for us to supply a file for each language with two columns:
taxa_taxon_list_id, common name

[2020-04-29 09:21] DavidRoy opened #227 "For UK app users, message about links to other surveys"
Requirement is for UK but possibly needed for other countries too

For those using the app where they choose United Kingdom as country on startup or via app settings:
add popup text to say:
_This app is not for the Big Butterfly Count.  If you want to take part in that survey please visit https://www.bigbutterflycount.org/_

@kazlauskis to comment on the feasibility/complexity of implementing

[2020-04-29 09:28] DavidRoy opened #228 "change to App 'about' text"
Edit to ‘About This App’ statement to reduce potential for confusion with participants in Big Butterfly Count.

Currently it says ‘_This app enables you to contribute to butterfly conservation_’.

change to:
‘_This app enables you to contribute to the recording and conservation of Europe’s butterflies.  The app is not part of the Big Butterfly Count that is run in the UK by Butterfly Conservation

[2020-04-29 09:40] kazlauskis commented on #226
No Lithuanian? 😢

At the moment, only 3 more languages have this translated which I have attached here. The data sheets have a bit more info for validation in case my matching of taxon_ids to common names had any mistakes.

@DavidRoy Are we planning on using Transifex for further species name translations or would you expect people to send us the excel sheets?

[ru_RU.xlsx](https://github.com/Biol

[2020-04-29 09:43] DavidRoy commented on #226
Thanks.
@CrisSevilleja what do you think.  We use spreadsheets for the common names?

[2020-04-29 10:18] johnvanbreda commented on #226
@DavidRoy if we are just using the standard importer as before, then we need a spreadsheet with the taxa_taxon_list_id of the accepted name, plus a single field formatted with ALL the common names (including the ones already uploaded), in the format:
name | langcode
name | langcode

This approach might be quite fiddly though. Another approach would be to have a spreadsheet with just the names plus

[2020-04-29 10:46] CrisSevilleja commented on #226
@DavidRoy I think coordinators will prefer to send spreadsheets directly than typing one by one common names on Transifex. Common names are relatively static strings that are not going to change.

Sorry @kazlauskis I didn't have the common names from Lithuania, good you included them!

[2020-04-29 13:43] kazlauskis commented on #226
@johnvanbreda @DavidRoy I could set up a shared excel doc with the current names we have if this helps. It would look like this

taxa_taxon_list_id | external_key | taxon | nl_NL | ru_RU | …
-- | -- | -- | -- | -- | --
432425 | eBMS442 | Aglais io | Dagpauwoog | Многоцветница павлиний глаз | …
… | … | … | … | … | …

[2020-04-29 13:45] DavidRoy commented on #226
@kazlauskis yes please. Here are the extra names that Cristina has collated:
[CommonNames_Hu_Cro_Ger_Fin_Cz.zip](https://github.com/BiologicalRecordsCentre/ABLE/files/4552031/CommonNames_Hu_Cro_Ger_Fin_Cz.zip)

[2020-04-29 14:25] CrisSevilleja commented on #226
@kazlauskis thanks for including the common names. Please for German language use this updated version (in the last minute an error found). Thank you

[eBMS_list_plus_Eng&German(Austria).xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/4552226/eBMS_list_plus_Eng.German.Austria.xlsx)

[2020-04-29 15:02] kazlauskis commented on #226
I have pulled in all the names to an online document. I had to do some manual corrections to the English names (formatting issues) and also mapping of the limited Russian species list to the full list here. Please have a look and let me know if you needed anything else. I will send you the password to access the doc separately over email.

[Species Names Sheet](https://flumensio-my.sharepoint.com/

[2020-04-29 15:08] DavidRoy commented on #226
Thanks
@johnvanbreda can you work with this to update the common names in the warehouse.  Via the back-end database sounds the best option

[2020-04-30 12:50] johnvanbreda commented on #226
Here are the steps:
1. Download the spreadsheet and save as CSV (UTF-8).
2. I created a new list on the warehouse to act as a temporary staging ground - list 262.
3. On the warehouse, check the Languages list contains all required languages and add any that are missing.
4. Use the warehouse imported on list 262's Taxa tab, upload the CSV file. Set the language to the match the first column of name

[2020-04-30 18:29] DavidRoy commented on #226
Thanks John
@kazlauskis can you incorporate in the app now?  And push out an update?

[2020-04-30 19:59] johnvanbreda commented on #226
@kazlauskis @DavidRoy please can you pause on that till tomorrow morning? There were a few copies of names with dodgy characters in which I've had to clean up in the database, but because they then didn't match up with the existing names in my matching query above we've ended up with duplicates and other issues. I've tidied quite a bit but need an hour or so tomorrow to finish off I think.

[2020-05-01 08:25] johnvanbreda commented on #226
@kazlauskis @DavidRoy I'm happy with the names as they are now.

[2020-05-01 10:04] johnvanbreda commented on #101
Hi @DavidRoy the problem I had was because French and Italian are listed on Transifex with the 2 character main language code (fr or it) rather than the code including the sub-dialect (e.g. fr_FR). The settings on the Transifex provider configuration in Drupal have to exactly match or when you try to pull translations down you get an error. I've changed the settings in Drupal to match. So, here ar

[2020-05-01 11:01] kazlauskis commented on #226
I have pulled in the species names and will add all into the app today.

[2020-05-01 13:58] kazlauskis commented on #228
Sorry, I couldn't find this specific term anywhere in the app 😐 Should I just add this to the top of the About page text?

[2020-05-01 14:00] DavidRoy commented on #228
yes please, I think that was what is intended

[2020-05-01 14:10] kazlauskis commented on #228
Great, would you like this to be shown to all other languages as well or is it just English?

[2020-05-01 14:25] kazlauskis commented on #227
Do we want this to be translated to other languages? e.g. selecting Spanish + UK as a country would show this translated.

[2020-05-01 14:56] DavidRoy commented on #228
Just english is fine, in fact preferred as it won't make much sense to other countries

[2020-05-01 14:56] DavidRoy commented on #227
no, just English is fine

[2020-05-01 15:01] kazlauskis commented on #228
Cool, that's what I thought too.

[2020-05-06 07:56] #227 closed

[2020-05-06 07:56] #228 closed

[2020-05-11 10:26] CrisSevilleja opened #229 "Error loading translated pages on eBMS website"
I included the translation of the eBMS website menu into several languages. Changing between pages in a selected language all the pages show the selected language with the exception of:
- My sites   https://butterfly-monitoring.net/my-sites
- My walks  https://butterfly-monitoring.net/my-walks
- Annual report   https://butterfly-monitoring.net/annual-report

For all the translated languages, if yo

[2020-05-12 13:13] DavidRoy commented on #101
hi  @johnvanbreda I've got round to testing.  I tested translating the column heading 'Site Name' on https://dev-butterfly-monitoring.pantheonsite.io/my-sites to Swedish

Pushing to Transifex and translating worked ok.  But when getting to the Drupal step (https://dev-butterfly-monitoring.pantheonsite.io/admin/tmgmt/jobs) of:
Go to Translations > Jobs. Click Manage for the string you want to pull.

[2020-05-13 13:48] DavidRoy opened #230 "emails from butterfly-monitoring.net getting blocked by spam filters"
We've had some reports of emails from butterfly-monitoring.net not getting through.
@BirenRathod do you have any suggestions on how we can minimize this?

[2020-05-13 17:52] BirenRathod commented on #230
@DavidRoy
There was a due of upgrading major version of SMTP module. I just did so should be fine by now. Please check and let me know if you find any porblem.

[2020-05-13 18:18] BirenRathod commented on #230
@DavidRoy
After upgrading a module, I checked and it is a problem of spam filter. I have asked CCS.

[2020-05-14 08:02] johnvanbreda commented on #230
@DavidRoy I recently had a similar problem on another site. One thing I found that was handy is that in Outlook if you can get hold of a message which did pass through the filters, you can look at the message properties (using a small arrow pointing to bottom right in the message's toolbar), This contains an Internet Headers field which has a section called X-Spam-Filters (though I think it may di

[2020-05-14 09:14] CrisSevilleja commented on #229
Now, all the links are working

[2020-05-14 09:14] #229 closed

[2020-05-14 12:42] DavidRoy commented on #4
Closing as not a priority

[2020-05-14 12:42] #4 closed

[2020-05-14 12:43] #60 closed

[2020-05-14 12:44] #79 closed

[2020-05-14 12:45] DavidRoy commented on #162
@Gary-van-Breda where are we with this one?

[2020-05-14 12:46] DavidRoy commented on #226
Thanks all.  Closing this for now.

[2020-05-14 12:46] #226 closed

[2020-05-14 12:49] DavidRoy commented on #217
@larspett can you point me to the where this needs fixing in Transifex please

[2020-05-15 11:45] BirenRathod commented on #230
This has been blocked by spam filter used in CEH if it hasn't been allowed before. It may end up in junk folder.

[2020-05-18 13:45] DavidRoy opened #231 "Transect visit summary page"
Require a summary page to show the visit and count information on a single page.  Currently they are on separate pages of the input-data form. https://butterfly-monitoring.net/ebms-input-data

Example information to include on a single page =
[Guembres_4.05.2020_exampleSumVisit.pdf](https://github.com/BiologicalRecordsCentre/ABLE/files/4644436/Guembres_4.05.2020_exampleSumVisit.pdf)

[2020-05-18 13:54] DavidRoy opened #232 "Transect input form - improve species list searching"
https://butterfly-monitoring.net/ebms-input-data

This page should default to 'Species known at this site' so a blank list.

When 'all species' selected, the species list is very long.  Could a 'Species - name search' option be available to help users find the right row for entering counts?

[2020-05-18 14:07] DavidRoy opened #233 "Transect - input form. Enable 'Country' species list"
On https://butterfly-monitoring.net/ebms-input-data

current species list options are:
- all species
- species known at this site
- species I have recorded

A further option would be helpful:
- country species list

This would be populated using the taxon-attributes available for the eBMS taxon list

[2020-05-18 14:08] DavidRoy opened #234 "Allow recorders to see/edit all walks for transect sites assigned to"
https://butterfly-monitoring.net/my-walks is currently restricted to a users own transect walks.

This should be extended to include any transect walks to sites that a user is assigned to.

[2020-05-18 14:12] DavidRoy commented on #219
Closing, as the layout on iOS is ok

[2020-05-18 14:12] #219 closed

[2020-05-18 14:21] DavidRoy commented on #194
@CrisSevilleja is this issue fixed?

[2020-05-18 14:23] DavidRoy commented on #223
@kazlauskis was this fixed in last update?

[2020-05-18 14:28] DavidRoy commented on #209
links to #180

[2020-05-18 14:30] DavidRoy opened #235 "15minute counts - enable phone sound when vibrates when time is up"
as well as phone vibrate when 15-minute count time runs short (3 minutes) and runs out, could the phone also make a sound?

[2020-05-18 15:29] DavidRoy opened #236 "ButterflyCount app - Add in sample attribute for 'type of count'"
There are three main modes of using the 15 minute count within the app and it would be good to capture the 'type':
1. Count while walking a track
2. Count while surveying an area of habitat
3. Count while stationary, e.g. in a garden

Interpreting the area is different for each.  Suggest adding an attribute to the 15-minute count screen below 'Area' of ''Type of count" with options being
- 'Walkin

[2020-05-18 15:30] CrisSevilleja commented on #194
yes, it is fixed. Thanks! @DavidRoy

[2020-05-18 15:31] DavidRoy opened #237 "ButterflyCount - capture precise location for every individual butterfly seen"
Currently, there butterfly count is assigned to a survey area (GPS track or area drawn on a map).  There is a require to capture precise location information for every individual butterfly seen (e.g. when a species is added to the sample list and when the numbers are increased).

The expectation from users is to have precise location information

[2020-05-18 15:31] DavidRoy commented on #194
Thanks, closing

[2020-05-18 15:31] #194 closed

[2020-05-18 15:35] DavidRoy opened #238 "ButterflyCount app: + button to remember last choice"
Currently, the plus button starts a 15 minute count and a long-press enable transect recording.

Could the + press remember the last option chosen.  So if mainly using for transects then a long-press is not needed?

[2020-05-18 15:54] DavidRoy opened #239 "ButterflyCount app - allow users to 'favourite' sites"
Enable recorders to make sites where they have created 15 minute counts as favourites.

Then enable these sites to be selected for future surveys, then no need for GPS tracking or to draw a survey area.

[2020-05-18 16:03] DavidRoy opened #240 "ButterflyCount: Add 'weather' as attributes for 15 minute counts"
* [x] Create a new page labeled 'Additional details'
* [x] Move Comment page link to the new details page
* [x] Add in weather criteria for 15 minute counts
  * Weather options same as used on Transects:
Temperature
Cloud
Wind Direction
Wind Speed
  * Label: Weather conditions
  * (optional)  auto-populating the weather values using a Meterological API?
https://openweathermap.org/current

[2020-05-18 16:13] DavidRoy opened #241 "ButterflyCount: add 'eBMS fixed timed count sites' to survey options"
Add to survey options, alongside:
15 minute count
eBMS Transect site
eBMS Timed count site

This is for Timed Count locations with saved locations in the data warehouse.  A widely used protocol in Sweden where the sites are fixed for timed counts (15 minute)

Survey setup matches - http://warehouse1.indicia.org.uk/index.php/attribute_by_survey/563?type=sample

may need to consider how integrates w

[2020-05-18 16:20] DavidRoy opened #242 "ButteflyCount - clearer list of survey options available via long-press +"
This page confuses some users.  Not obvious that 'Other recording options' is a heading.

Will become clearer when the list of survey options is longer.

For now, rename 'Other recording options' as 'Click on other recording options from list below'

![pic8](https://user-images.githubusercontent.com/2699478/82236163-9cb56b00-992b-11ea-91ca-b072cb8f3556.png)

[2020-05-19 08:06] kazlauskis commented on #223
No this wasn't, let's keep it open for now.

[2020-05-19 08:10] kazlauskis commented on #193
This is to add 134 species to both recording and species guide, right?

[2020-05-19 08:12] DavidRoy commented on #193
Just the recording pages.  Needs the list loading into Indicia Warehouse first?

[2020-05-19 08:17] kazlauskis commented on #193
Yes, if the list is not in the warehouse yet.

[2020-05-19 08:24] kazlauskis commented on #236
Adding a new attribute is a small task, to make changes to the area count will make it medium-large.

[2020-05-19 08:27] kazlauskis commented on #237
We have had a brief discussion of this last year. One of the issues we have come across was knowing which species record to drop from the list when decrementing a count.

To properly accommodate subsample recording this would require big changes to the interface.

[2020-05-19 08:30] kazlauskis commented on #238
Yes, we could do this. This would probably confuse some people without enough clarification. Another option would be to add a settings option to allow the user to choose the preferred default plus-button action.

[2020-05-19 08:33] DavidRoy commented on #238
yes, that would be a good option

[2020-05-19 08:33] kazlauskis commented on #240
The survey main page is becoming tight for the species list. I think we should wrap any new attributes like weather, survey type etc under a new 'Other' page, would that be OK?

[2020-05-19 08:35] DavidRoy commented on #237
It would be the last occurrence to be deleted if decrementing a count

[2020-05-19 08:36] DavidRoy commented on #240
How about changing 'Comment' to be 'Additional details' and include weather + comments?

[2020-05-19 08:43] kazlauskis commented on #237
I can do it but what about changing a species ID. Say you have realised that one of the first of the 5 Large Whites you have recorded was actually a Small White, when decrementing would it still be OK to drop the last one?

[2020-05-19 08:49] kazlauskis commented on #240
👍
<img width="448" alt="Screenshot 2020-05-19 at 09 48 46" src="https://user-images.githubusercontent.com/7383162/82305721-f06c9680-99b5-11ea-832a-bb6d3bccdba2.png">

[2020-05-19 11:49] johnvanbreda commented on #101
This was exactly the same issue as before. The language codes used by Drupal need to be mapped correctly to those used in Transifex. The mapping is on the Provider settings page (https://dev-butterfly-monitoring.pantheonsite.io/admin/tmgmt/translators/manage/transifex?destination=/admin/tmgmt/translators) and the language codes used in Transifex are at https://www.transifex.com/ceh/ebms-website-ww

[2020-05-20 16:56] DavidRoy commented on #237
After discussing options, the next steps are:
- karolis to mockup a proposed User Interface
- david to consider storage implications

[2020-05-20 19:38] chrisvanswaay commented on #237
I would keep the normal input screen as it is (it works really fine in the field). If recorders want to make a change, they should go to a special screen in which they see all their entries one by one. That way you can delete records, or make a change: select one record, tap it, and make the change.
Indeed something like this (or something else) would require an extra screen.
It will also mean I w

[2020-05-21 16:25] CrisSevilleja opened #243 "eBMS website: add language Bulgarian"
In the eBMS website, include in the language list, the Bulgarian and in the list of BMS (when someone registers), the Bulgarian BMS

@DavidRoy @Gary-van-Breda

[2020-05-24 09:37] DavidRoy commented on #243
That's now setup - can you check and close the issue if needed?
Are there any other schemes to add?

[2020-05-25 08:28] CrisSevilleja commented on #243
Thanks! I think we are missing the Czech Republic and Slovenian BMS, just in case someone wants to use the app.

[2020-05-25 13:50] johnvanbreda commented on #146
This is now configured on the live site, as well as a species list download.

[2020-05-25 13:50] #146 closed

[2020-05-25 17:20] DavidRoy commented on #243
https://butterfly-monitoring.net/czechia-bms
https://butterfly-monitoring.net/slovenia-bms

also created

[2020-05-25 17:20] #243 closed

[2020-05-25 17:42] DavidRoy commented on #193
@johnvanbreda can you import this list into the warehouse please, thanks

[2020-05-26 09:33] DavidRoy commented on #101
Thanks @johnvanbreda.  The end-to-end test works in translating 'Site Name' on https://dev-butterfly-monitoring.pantheonsite.io/es/node/32 into Spanish.

Can you new setup on the live site so we can push through text for translation

[2020-05-26 10:44] johnvanbreda commented on #101
Installed and configured on the live site ready for you to try @DavidRoy.

[2020-05-26 11:23] DavidRoy commented on #101
Thanks @johnvanbreda
We will test.

One question, how do hyperlinks get sent for translations.
e.g. "Full Sites data download (CSV)" returns no results with source = 'Locale'
![pic13](https://user-images.githubusercontent.com/2699478/82895197-b9fdc100-9f4b-11ea-9404-4d981230be6c.png)

[2020-05-27 09:16] DavidRoy commented on #101
The return journey Drupal-Transifex seems to work.  See completed jobs:
https://butterfly-monitoring.net/admin/tmgmt/jobs?state=5&source_language=All&target_language=All&translator=All
![pic14](https://user-images.githubusercontent.com/2699478/83001033-12dc6080-a003-11ea-8451-8e5ab91b812c.png)

But the translation does not appear on the page as expected.  Site Name should be translated when switch

[2020-05-27 15:02] johnvanbreda commented on #101
After some investigation I discovered that clearing the Drupal cache is required to update the translations.

[2020-05-27 16:47] DavidRoy commented on #101
That works, hurray.  It's been a challenge to say the least, but now seems to work ok.  Closing this issue as the job is now pushing through content for translation.  Will raise anything specific as separate issues.

[2020-05-28 13:51] CrisSevilleja commented on #212
@kazlauskis with re-upload you mean when the first you wanted to upload the record and it failed?

I see it important to choose when to upload the records to give the recorders the option of checking the record before submitting it.

[2020-05-28 14:59] CrisSevilleja opened #244 "Problems entering data for one Transect: eBMS website"
One recorder has problems entering data to his transect.  The transect name is LLANES (one of the transects migrated from the Spanish platform).

He enters on the page My visits, and then the Walk Data Entry. He fills all the environmental variables and time and when he clicks on the Next button, it appears a warning message "The data could not be saved" (picture attached). He never continued to t

[2020-05-28 16:23] DavidRoy commented on #155
@johnvanbreda re-opening this issue as the requirement is clarifying in my mind.  What we need is a download page that covers all the options for a scheme co-ordinator to have.  I've drafted a rough page to show the requirement to group together all the download types in one place.  Either delivered via a single page or as a set of links to specific download pages
https://butterfly-monitoring.net/

[2020-05-28 16:59] kazlauskis commented on #212
@CrisSevilleja yes, once the user flags the record for upload it will try to send it but if failed it should try to resend it once the user is back online.

[2020-05-29 08:35] CrisSevilleja opened #245 "ButterflyCount: add a filter to the Picture Guide"
Include a filter to the Picture Guide for searching by family. Maybe other characteristics can be added to the filter.

@kazlauskis

[2020-05-29 08:37] DavidRoy commented on #245
yes, something similar to the European ladybirds app?

[2020-05-29 09:15] CrisSevilleja commented on #212
@kazlauskis ah great useful to add it, thanks for the clarification.

[2020-05-29 09:18] CrisSevilleja commented on #245
Exactly. At least to include the filter by family. Later we can add more filters based on the shape, color, and so on.

[2020-05-29 10:08] DavidRoy commented on #241
Having discussed.  These to be treated as transects with a single section.  Therefore to fit within the existing Transect functionality in terms of attributes etc.

A small/medium task as main requirement is:
List of sites to include Transects and Fixed Timed Count sites already setup on the warehouse and assigned to users.

[2020-05-29 10:13] johnvanbreda commented on #155
Ok - I think this would be a set of links as we'd deliver some via Elasticsearch and some via PostgreSQL. Is this on the current list of priorities?

[2020-05-29 10:27] johnvanbreda commented on #101
The hyperlinks in this page are generated by the "report footer" option which doesn't send it's content for translation. Although we can enable translation of the entire Indicia parameters setting, I think this will be prone to error. A better solution would be to add a feature to the report footer option (as well as other dynamic content added to reporting pages) to allow content to be exposed to

[2020-05-29 10:32] DavidRoy commented on #101
Yes please.  I've re-opened this issue to cover this

[2020-05-29 10:39] kazlauskis commented on #100
@DavidRoy have the new species been added to the warehouse?

@johnvanbreda once this is added could you re-export the species list like you did here below?
https://github.com/BiologicalRecordsCentre/ABLE/issues/13#issuecomment-495299115

or better, create a report so I could do this myself next time. Cheers

[2020-05-29 10:44] DavidRoy commented on #100
Taxon list = 260

Still needs some aggregates adding which I will do today

[2020-05-29 10:53] kazlauskis commented on #180
We can allow to clone the survey with species counts reset to 0s and location/date/other cleared. It could look something like this - record swipe left to delete and swipe right to clone and other options in the future. Would this be OK?

<img width="361" alt="Screenshot 2020-05-29 at 11 50 25" src="https://user-images.githubusercontent.com/7383162/83252261-da738880-a1a2-11ea-8034-e1d2f5b3611d.png

[2020-05-29 10:56] DavidRoy commented on #180
Yes, that looks good.  And only species with count >0 would get submitted for the list

[2020-05-29 10:59] DavidRoy commented on #100
@johnvanbreda can you add the following to the ABLE moth lists (id = 260)

- Unidentified Geometrid (within Geometridae family)
- Hemaris fuciformis/tityus | Narrow-bordered Bee Hawk-moth/Broad-bordered Bee Hawk-moth
(within Sphingidae family)
- Zygaena viciae/lonicerae | New Forest Burnet/Narrow-bordered Five-spot Burnet (within Zygaenidae)

[2020-05-29 11:00] kazlauskis commented on #209
We are thinking of adding this functionality under the species 'Add' button as a long press dropdown list. Would something like this be OK?

<img width="357" alt="Screenshot 2020-05-29 at 11 55 41" src="https://user-images.githubusercontent.com/7383162/83252852-de53da80-a1a3-11ea-8ad0-fb058e292aa7.png">

[2020-05-29 11:04] DavidRoy commented on #209
yes, although how would 'from my past record' work?
'recommended species' not currently available?

This functionality does give the potential for the options to align with the warehouse species list later on (separate work to extend the warehouse list to include other flags)

[2020-05-29 11:09] DavidRoy opened #246 "Additional butterfly recording aggregates"
To add to ABLE Butterflies, id = 251

Addition of recording aggregates of:
Unidentified Blue (within Lycaenidae)
Unidentified Copper (within Lycaenidae)
Unidentified Hairstreak (within Lycaenidae)
Unidentified Heliconians and Fritillaries (within Nymphalidae)
Unidentified Browns, Graylings and Ringlets (within Nymphalidae)
Unidentified Fritillary (within Nymphalidae)
Boloria selene/euphrosyne | Sm

[2020-05-29 11:17] kazlauskis commented on #209
Great, for this ticket we would pick up the section-copy only and then we could create another tickets for other options.

[2020-05-29 11:32] DavidRoy commented on #209
Agreed, that would be a good start

[2020-05-29 11:41] johnvanbreda commented on #100
New taxa added. Will there be any other taxonomic amendments or shall I proceed and update the Elasticsearch taxonomic lookup tables @DavidRoy?

@kazlauskis there is a new report referenced in the above commit for you.

[2020-05-29 11:55] DavidRoy commented on #100
There is a dragonfly list to load plus some butterfly aggregates to add.  In June milestone

[2020-05-29 13:04] DavidRoy commented on #180
This requirement is also needed for the 15m counts.  Maybe the best first option is "previous species list'

[2020-05-29 13:36] DavidRoy commented on #100
@johnvanbreda extra species dictionary tasks are:
#246
#193

[2020-05-29 14:12] kazlauskis commented on #180
My comments were regarding the 15min survey only. But having defined the transect species list copy in another ticket I started to think that being consistent and adding same long-press dialog to the 'Add species' button here would be also better.

Instead of the swipe-right option to clone I will add a long-press to the add species button, OK?

[2020-05-29 14:30] johnvanbreda commented on #101
Done and implemented for the my-sites page.

@Gary-van-Breda tagging you just so you are aware of what I've done. Up to now, any custom HTML added to pages was untranslatable (e.g. by embedding directly in the form structure of a dynamic page, or using the footer of a report grid as in this case). I've changed it so that you can specify a phrase for translation in the format `{t:phrase here}`. Hav

[2020-05-29 14:30] #101 closed

[2020-05-30 09:11] kazlauskis commented on #100
Hi @johnvanbreda, could you also add in the `language_iso` to the taxa results? I would like to filter out non latin names on my end.

[2020-05-30 11:11] kazlauskis commented on #237
I will do the mockup and will add it here shortly.

[2020-05-30 13:46] kazlauskis commented on #240
@DavidRoy it will look like this for the 15min survey now, is it OK?

<img width="367" alt="screenshot" src="https://user-images.githubusercontent.com/7383162/83329971-41b53980-a284-11ea-923b-9b09c5d473cb.png">

[2020-05-31 07:50] DavidRoy commented on #240
yes, thanks.  Looks good

[2020-05-31 07:52] DavidRoy commented on #182
Thanks

[2020-05-31 07:52] #182 closed

[2020-05-31 07:52] DavidRoy commented on #242
Thanks

[2020-05-31 07:52] #242 closed

[2020-06-01 14:45] johnvanbreda commented on #100
@kazlauskis The report now includes a language_iso column.

[2020-06-01 15:47] johnvanbreda commented on #246
Done

[2020-06-01 15:47] #246 closed

[2020-06-01 16:08] johnvanbreda commented on #193
Done - list 265

[2020-06-02 09:09] CrisSevilleja commented on #240
Really good idea to include it inside of the comment tab. Just one question, is it going to be compulsory to fill these weather conditions to save the 15-min counts? I don't imagine but just in case, to be sure. Thanks!

[2020-06-02 09:34] kazlauskis commented on #240
Yeah, we probably want to keep it optional.

[2020-06-02 09:36] DavidRoy commented on #240
Yes, optional and hopefully with values already filled in from online met data

[2020-06-02 09:39] CrisSevilleja commented on #240
great! thanks for answering

[2020-06-04 08:21] DavidRoy commented on #244
@Gary-van-Breda could you look at this one as a priority please

[2020-06-04 08:53] kazlauskis commented on #178
We'll be working on adding extra species to the app next (#100) which overlaps with this task so we could do both. Have the new countries been added to the warehouse now?

[2020-06-04 08:55] DavidRoy commented on #178
Still waiting on me. I'll try and do this today

[2020-06-04 13:06] CrisSevilleja commented on #234
Thanks @DavidRoy for posting this issue. I received this same suggestion from several coordinators recently. Could it be possible to give a bit of a priority?

[2020-06-04 13:12] DavidRoy commented on #178
@johnvanbreda can you extend the ABLE Butterflies list to incorporate Armenia then make availalbe to Karolis.  The steps are:
1. Add [AM] as a taxon attribute for this list
2. Add in additional taxa that are present in Armenia but absent from the existing list.  See eBMS Species + Armenia New Taxa.xlsx in attached .zip file
3. Set [AM} = P for species already on the list and present in Armenia.  S

[2020-06-04 13:28] CrisSevilleja opened #247 "eBMS website: Change Species Search bar position"
The Species search bar appears at the bottom of the page makes it not easy to find for new users. Could it be possible to place the Searching bar on the top for better visibility?

Issue related to #232

![Input species data](https://user-images.githubusercontent.com/25052478/83762733-237e7d80-a678-11ea-9021-97e53e1cc3bc.PNG)

[2020-06-04 13:33] CrisSevilleja commented on #232
A good point to improve the Transect input form.

I will add one thing. Searching for species in the search bar is only possible by the scientific name, despite that several common names are related to the species.

[2020-06-04 14:12] CrisSevilleja opened #248 "Species list: add the Aggregate species Polyommatus icarus/celina"
Polyommatus icarus/celina is required for the Iberian Peninsula.

@DavidRoy sorry, I cannot add labels or assign the issue.

[2020-06-05 13:55] DavidRoy opened #249 "Change location_id for loaded samples"
@Gary-van-Breda 18 samples were imported in error to the wrong location_id.  To correct this is it as simple as below, which would then trigger the necessary work_queue items:

update indicia.samples sa set location_id = 223870, updated_on = now0, updated_by_id = 1
where sa.survey_id = 562
and survey_id = 562
and external_key is not null
and location_id = 228053

[2020-06-05 14:17] johnvanbreda commented on #249
Assuming the update is OK for Gary, note that the work_queue items won't be auto-created. You'll want something like:
[code]

[2020-06-05 15:36] kazlauskis commented on #240
@DavidRoy do we want to capture `not-recorded/no data` weather option or can we omit it when the user hasn't selected anything?  i.e. do we want it to be more intentional and allow the user to specify that it wasn't recorded as an option.

Temperature values:
[code]

[2020-06-05 15:43] DavidRoy commented on #240
If we use the API then we'll have the values for the weather?

If we don't have the API values, we'll want the 'not recorded/no data' as the default

[2020-06-05 15:59] kazlauskis commented on #240
Yes, the API should provide the values if the user has a network connection. Otherwise, we will then default it to `not recorded/no data` and if the user clicks on a specific temperature and then decides to not record it by selecting `not recorded/no data` we will not send any value to the database and it will look like the user didn't record anything rather than intentionally selected 'no data'.

[2020-06-06 08:41] Gary-van-Breda commented on #249
Are these pure top level samples, or do they have subsamples/occurrences associated with them? (If so we'll need to realign the sub samples to the section location records).
We'll also need to work queue entries for the summary builder...

[2020-06-06 09:01] DavidRoy commented on #249
Just pure samples. No sub-samples or occurrences attached

[2020-06-06 09:44] DavidRoy commented on #240
have set up an account and will email you the API key

[2020-06-06 12:53] DavidRoy commented on #240
here are the wind speed terms linked to mph. https://en.wikipedia.org/wiki/Beaufort_scale

<1 mph = Smoke rises vertically
1-3mph = Slight smoke drift
4-7 mph = Wind felt on face, leaves rustle
8-12 mph = Leaves and twigs in slight motion
13-18mph = Dust raised and small branches move
19-24 mph = Small trees in leaf begin to sway
25+ = Large branches move and trees sway

[2020-06-06 16:44] CrisSevilleja opened #250 "One problem loading transects on ButterflyCount"
Saba González Lorenzo, (https://butterfly-monitoring.net/user/1392) Indicia Warehouse User ID: 246336 cannot see her transects on the app.

I asked for screenshots and she has a warning error in the transect window. I asked her to log out and log in again and she got the same error message when she tries to refresh the transects (picture 4).

She is recording the transect called CALDAS DE REIS, on

[2020-06-08 10:56] DavidRoy commented on #250
@CrisSevilleja do you know whether there has been a password change for this user?  The two need to be kept in synch.

@kazlauskis any other ideas about this problem?

[2020-06-08 10:57] DavidRoy commented on #249
@Gary-van-Breda is the logic of this update ok?

[2020-06-08 11:18] johnvanbreda commented on #248
@DavidRoy shall I add this?

[2020-06-08 11:31] DavidRoy commented on #248
yes please

[2020-06-08 12:35] kazlauskis commented on #250
I have tried to pull in her transects in to the app and it works fine. I think she has to re-login and try  it again.

[2020-06-08 14:00] johnvanbreda commented on #178
Now done.

[2020-06-08 14:18] johnvanbreda commented on #248
Done  - it's 466950. I set the country codes to P for Portugal and Spain.

[2020-06-08 14:29] kazlauskis commented on #248
I will pull this in with the next app update.

[2020-06-08 15:16] CrisSevilleja commented on #248
thank you. I close this issue

[2020-06-08 15:16] #248 closed

[2020-06-08 15:18] CrisSevilleja commented on #250
I asked her to try to re-login and try again. Thanks

[2020-06-08 20:31] Gary-van-Breda commented on #249
Yes-ish, but don't need the occurrences cache task as there are none. So in total, do the following...

update indicia.samples set location_id = 223870, updated_on = now0, updated_by_id = 1
where survey_id = 562
and external_key is not null
and location_id = 228053;

delete from indicia.summary_occurrences where location_id = 228053;

insert into indicia.work_queue(task, entity, record_id, cost_es

[2020-06-09 08:24] DavidRoy commented on #249
Thanks.  Now done

[2020-06-09 08:24] #249 closed

[2020-06-09 08:58] CrisSevilleja commented on #250
She continues with the same error message "Could not find/authenticate user" in the transect window. She re-logined and nothing changed, although she discarded local data, so I am not sure if the 15-min counts were really sent to the website. At least there is one she recently did (picture)
 She has the version 1.6.1

![15-min count Saba](https://user-images.githubusercontent.com/25052478/84127796

[2020-06-09 10:05] kazlauskis commented on #250
Fixed it now, she should try to re-login again using her email. This links to #221 where special characters in username/password are not allowed. Reopen this if she still has any problems.

[2020-06-09 10:05] #250 closed

[2020-06-10 11:03] CrisSevilleja commented on #244
@Gary-van-Breda any news about this issue?

[2020-06-10 22:48] Gary-van-Breda commented on #244
The problem was that Javier's Indicia Warehouse User ID=784512 was wrong. I do not know how it was changed, but I have reset the value (clearing it then saving the user) - it is now 272766.
Could Javier try again?

[2020-06-11 09:09] Gary-van-Breda commented on #203
Its the generation of the link within the calendar grid that needed to be language aware. I've changed the form to allow the definition of the node via the node ID, which is then translated into the language specific route, for both new and existing walks.
Code deployed to Live. Looks OK to me.
@CrisSevilleja : please review (and hopefully close?)

[2020-06-11 09:35] CrisSevilleja commented on #203
It looks okay, thanks

[2020-06-11 09:35] #203 closed

[2020-06-11 15:48] DavidRoy commented on #206
@CrisSevilleja we can't replicate this.  Is this still happening or maybe it was a temporary connection issue?

[2020-06-12 08:43] kazlauskis commented on #240
We think this is good to go live, the translations haven't been done yet but the weather values are correctly captured and the weather API works well.

The next step would be to change the website edit form to allow to edit the new weather values.

[2020-06-12 09:00] CrisSevilleja commented on #244
Solved! thanks

[2020-06-12 09:00] #244 closed

[2020-06-12 10:05] CrisSevilleja commented on #206
@DavidRoy it doesn't happen exactly that, only one square loaded but if you want to create a new transect you don't see the whole map and you need to move around the image to load the surrounding squares. It happened to me last Tuesday drawing a new transect, even for drawing one section was tricky to get the whole area loaded.

[2020-06-12 16:42] kazlauskis commented on #100
The new list is now in the app and will go through beta testing next week. I think the 15min web form needs updating with the new species list ID.

[2020-06-12 17:45] kazlauskis commented on #100
@johnvanbreda There were some strange entries coming out from the species report, we have just filtered these out on the app-end, but mentioning this here in case this indicates some bigger problem.

when using species list 260, we got some `[Unterfamilie nicht zugeordne...]` as latin entries
[code]
when using species list 251, we got some zero-width space characters `\u200b` which were gave us fu

[2020-06-14 15:47] DavidRoy opened #251 "Additional sample attributes to 'my records' report"
https://butterfly-monitoring.net/elastic/my-records

The app now collects weather information for 15 minute count samples.  These need to be available via the explore report, under the samples tab.  Also included within sample downloads

All attributes: http://warehouse1.indicia.org.uk/index.php/attribute_by_survey/565?type=sample

[2020-06-14 15:54] DavidRoy opened #252 "Record edit form should include all attributes for editing"
https://butterfly-monitoring.net/enter-app-record?occurrence_id=14188823&sample_id=

Link for my-records report-occurrence tab to edit a record should goto a form to allow editing of all information.  This should include sample attributes for weather conditions.
http://warehouse1.indicia.org.uk/index.php/attribute_by_survey/565?type=sample

Currently it does not include the weather conditions

[2020-06-15 07:52] DavidRoy commented on #193
Re-opening as the list is required in the ButterflyCount app

[2020-06-15 07:57] DavidRoy commented on #240
Closing.  Works well and data captured.  Have raised separate issue for the occurrence editing

[2020-06-15 07:57] #240 closed

[2020-06-15 08:41] kazlauskis commented on #193
@johnvanbreda this contains only the dragonflies, would you like me to combine the 265 (dragonflies) and 260 (butterflies+burnet moths) to a single species list within the app or is the plan here to create another species list with all the species groups for the web forms and the app to use?

[2020-06-15 10:19] johnvanbreda commented on #251
Done

[2020-06-15 10:41] johnvanbreda commented on #155
@DavidRoy will a scheme coordinator have there permissions set up using a verification filter, or is there a different mechanism in place to define which records fall inside their scheme's remit?

[2020-06-15 10:51] DavidRoy commented on #155
We need three separate roles.
1. scheme co-ordinator (gives access to list of sites, transect walks etc).
Defined by Drupal setting?
2. verifier (gives access to the verification page)
Defined by verification filter and stored in warehouse
3. data downloads
Defined by filter and stored in warehouse

thanks
david

[2020-06-15 11:01] johnvanbreda commented on #155
Thanks, are the downloads available for each role going to be identical?

[2020-06-15 11:04] DavidRoy commented on #155
In terms of file formats yes.   Ideally, the filter setup will define the set of records

[2020-06-15 11:04] johnvanbreda commented on #155
Sorry, another question - are the downloads of transect occurrence data a simple list of occurrences (like the iRecord download tool) or a summary table (like the download on the Annual Summary)?

[2020-06-15 11:10] DavidRoy commented on #155
Simple occurrences (e.g. iRecord like)

The Annual report will remain separate for more bespoke downloads

[2020-06-17 08:46] Snogo opened #253 "ButterflyCount app - having the option to go directly to the instructions during a 15min count"
having the option to go to the instructions to see the butterfly photos during a 15-min count
right now you have to “exit”/go back while inside a 15-min count to get to the main menu and then to the photo list. finding your way back to the 15-min count afterwards

[2020-06-17 09:14] johnvanbreda commented on #155
@DavidRoy do you need pages added to the website to allow you to set up the filters for different users?

[2020-06-17 09:18] DavidRoy commented on #155
@johnvanbreda
I think we have these?
https://butterfly-monitoring.net/admin/filters-list
https://butterfly-monitoring.net/filters/admin-edit

[2020-06-18 10:03] kazlauskis commented on #241
Please correct me if I'm wrong. We should add an extra survey:
* Name: eBMS Timed Count Site
* Same structure and attributes as 15min Count survey (565)
  * (I am not sure why there is a distinction between App count (565) and Website count surveys (563))
* The Area/Location would be selected from a list of transects with a single section

[2020-06-18 11:10] DavidRoy commented on #241
yes, that is right.
Copying in @larspett who has this requirement

[2020-06-18 13:57] DavidRoy opened #254 "Add survey drop-down list to Explore report"
https://butterfly-monitoring.net/elastic/all-records

Add drop-down option box above map to enable switch between 'All', 'Transects' and '15 minute counts'.  The latter two options switch between surveys 562 and 565 respectively.

[2020-06-18 14:48] DavidRoy opened #255 "Regional co-ordinator role"
Requirement is for a regional co-ordinator role to enable access to sites/walks within BMS/Countries.  Include download options, links to #155

Would be based on the intersection of sites with the NUTS spatial layer.

Evaluate the option to use the filter functionality within the Indicia database to provide flexibility in defining the set of sites included within a role

@Gary-van-Breda to scope o

[2020-06-18 15:52] DavidRoy commented on #193
@johnvanbreda bump

[2020-06-22 08:53] Gary-van-Breda commented on #234
I've just uploaded a new report into the indicia-reports BRC repository.
https://github.com/BiologicalRecordsCentre/indicia-reports/commit/286ef87fb97f69c321620ee9a9f60faf05e27103
@johnvanbreda or @BirenRathod : could I have it deployed into warehouse1?

[2020-06-22 09:00] BirenRathod commented on #234
@Gary-van-Breda
I have just the pulled the report.

[2020-06-22 09:20] Gary-van-Breda commented on #234
Thanks @BirenRathod.

I have configured the "My walks" page to use the new report. It shoudl now display all walks created by the user or on sites allocated to the user.
@CrisSevilleja Can you please check?

[2020-06-22 09:58] CrisSevilleja commented on #234
Yes, I checked it and it is working well. Thank you so much

@DavidRoy you can close this issue

[2020-06-22 10:00] DavidRoy commented on #234
Thanks

[2020-06-22 10:00] #234 closed

[2020-06-22 10:15] CrisSevilleja commented on #245
People asked me if a filter to search by family or gender can be applied to the Picture Guide

[2020-06-22 10:33] CrisSevilleja opened #256 "ButterflyCount: Improve the app understanding"
App users asked me similar doubts about the app functions. It would be good to improve the app's understanding with simple actions.

We talked to include pop-ups when opening the app the first times. I would add them for:

- [x]  _How to remove a record_
   show a popup after more than 2 pending records have been added to the surveys page list. Show it once only when the user navigates to the pend

[2020-06-22 11:49] CrisSevilleja opened #257 "ButterflyCount: allow extra information (e.g. stage, photo) for butterfly records in eBMS transect option"
@kazlauskis @DavidRoy
I wonder if it would be possible to add the option of Edit Occurrence of the butterfly records (adding pictures, comments, stage...) to the eBMS transect on the app like it is possible to do for the 15-min counts.

Some transect recorders asked me if it could be possible to add that option. If the action to apply it is not complicated, I would include it. What do you think?

[2020-06-22 11:54] DavidRoy commented on #257
This would be a useful addition.  It would also require some changes to the website to enable the records to be viewed/edited once submitted.
I'll discuss the requirement with @Gary-van-Breda

[2020-06-24 06:25] johnvanbreda commented on #252
Done

[2020-06-24 06:25] #252 closed

[2020-06-24 07:58] DavidRoy commented on #251
Looks good but the edit link on the samples is blank

[2020-06-24 12:00] kazlauskis commented on #256
I agree that we could make it more informative. The help page on the app has some information, if you'd like to expand it then I would be happy to incorporate your texts with the next app release. It would be best if the guidelines that are currently on the website would also be somehow added to the app itself but for now adding a link would be easy to do.

[2020-06-24 12:30] CrisSevilleja opened #258 "ButterflyCount: add Aggregated Species"
On the website, we have several aggregated species (not possible to identify them on the field) and those aggregated species are missing on the app.

@DavidRoy @kazlauskis

[2020-06-24 13:46] johnvanbreda commented on #251
This is now fixed.

[2020-06-24 13:46] #251 closed

[2020-06-24 16:27] DavidRoy opened #259 "Moth list data fix"
@johnvanbreda can you do an urgent data fix for ABLE so that the ButterflyCount mobile app uses the correct species lists.

For the attached list of taxa_taxon_list_ids the following actions are needed:
- update taxon_group_id = 104 (they are all currently id = 114)
- update allow_data_entry to false

These are all taxa on list 260 which are butterflies.  We use list id 251 for the butterfly list.

[2020-06-24 17:01] DavidRoy commented on #178
@johnvanbreda can you extend the ABLE Butterflies list to incorporate Turkey (Asian part) then make availalbe to Karolis. The steps are:

1. Add [TRA] as a taxon attribute for this list

2. Add in additional taxa that are present in Turkey (Asia) but absent from the existing list.
[eBMS Species + TRA New Taxa.txt](https://github.com/BiologicalRecordsCentre/ABLE/files/4826887/eBMS.Species.%2B.TRA.N

[2020-06-24 18:36] johnvanbreda commented on #259
I've changed the IDs as above, but have discovered another issue with this list. We use the external_key as a unique identifier for the taxonomic concept (i.e. all name variants for a taxon share the external key) and the search_code as a unique identifier for the name itself. In the taxa which were added last week, the search code of all the names is set to the same as the external key, so we hav

[2020-06-24 20:17] DavidRoy commented on #259
Thanks John
@kazlauskis I don't think this remaining issue stops you from updating the app

[2020-06-24 20:18] DavidRoy commented on #178
@johnvanbreda this is higher priority than other ABLE issues so we can update the species list in the app in one go

[2020-06-25 13:31] johnvanbreda commented on #259
@DavidRoy there seem to be > 300 other butterflies on the moths list that were not on the above list. The following query illustrates this:
[code]

This query demonstrates that there are quite a few butterflies on list 260 which are not represented on list 251:
[code]

Questions:
1) Should the butterflies on list 260 that are not on list 251 be moved across (or duplicated) into list 251? This may

[2020-06-25 13:36] johnvanbreda commented on #178
This is done, with a couple of caveats:
* Point 3 - I set [TRA] (not AM) to the code provided in the list (not always P).
* Some of the taxa listed for point 3 are actually on the moths list (e.g. https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/455867, see #259).

[2020-06-25 14:35] DavidRoy commented on #259
Thanks.  Two actions needed.
- All butterflies on list 260 should have taxon_group set to id=104 and set to allow_data_entry=false

The 251 list is well-curated and the definite list for Europe.  Butterfly additions on 260 are either additional common names or synonyms.  I will review them to see whether it is worth incorporating.

[2020-06-25 14:39] DavidRoy commented on #258
ok to close now I think

[2020-06-25 14:39] #258 closed

[2020-06-25 14:49] DavidRoy opened #260 "ButterflyCount - improve filtering of species list by country"
Now the app has a long species list, to avoid users being swamped by names.

Enable option for the full list or a list restricted by country

@kazlauskis to indicate scale or task

[2020-06-25 14:50] DavidRoy opened #261 "ButterflyCount - symbols on species names in list"
extension to #260

Code the species names in the search/add page by taxon group and country, e.g. icon for butterfly-moth-bee-dragonfly, country flag for present in country set by user setting

@kazlauskis to label with size of task

[2020-06-25 15:12] johnvanbreda commented on #259
Ok, thanks. That's done.

[2020-06-25 15:36] johnvanbreda commented on #259
RE-opening as this part of the issue is not yet resolved and the Elastic search species lookups will need to be updated to reflect changes: "We use the external_key as a unique identifier for the taxonomic concept (i.e. all name variants for a taxon share the external key) and the search_code as a unique identifier for the name itself. In the taxa which were added last week, the search code of all

[2020-06-25 16:15] johnvanbreda commented on #259
I've repaired the search codes by generating new ones using the following script, but still need to update the ES lookup files:

[code]

[2020-06-26 08:12] kazlauskis commented on #253
Sorry, I this one slipped though the cracks in my list. Yes, it would be great to be able to have a better survey integration with the species guide.

Thanks for raising this!

[2020-06-26 09:40] johnvanbreda commented on #259
ES lookups now updated.

[2020-06-26 09:40] #259 closed

[2020-06-26 12:36] #100 closed

[2020-06-26 12:36] #215 closed

[2020-06-26 15:14] DavidRoy commented on #260
to clarify, this issue is for the species list in the recording functionality (transects and 15 minute counts)

[2020-06-26 15:16] DavidRoy commented on #253
@kazlauskis can you add a scale (small, medium, large) to the issue label for this?

[2020-06-26 15:17] DavidRoy commented on #200
Closing as the lists are now in the app.  The second requirement is now issue #260

[2020-06-26 15:17] #200 closed

[2020-06-29 07:28] CrisSevilleja opened #262 "Website: section 2 duplicated in transect EBMS:Portugal:38"
The transect Parque Ambiental de Santa Margarida in Portugal has the Section 2 duplicated (EBMS:Portugal:38)

@DavidRoy @johnvanbreda could you remove one of Sections 2? Thanks

![section duplication-  PT 15 May](https://user-images.githubusercontent.com/25052478/85985267-c9f53e80-b9ea-11ea-8dd0-c47d75d165ef.PNG)

[2020-06-29 07:30] DavidRoy commented on #262
One for @Gary-van-Breda

[2020-06-29 07:36] johnvanbreda commented on #193
@DavidRoy I'm not sure if I'm the right person to decide strategy on combinations of lists for the app? I had wondered whether we should combine everything into a "European Insects" list at some point (even if incomplete initially) so they all share the same hierarchy.

[2020-06-29 07:38] DavidRoy commented on #193
We've decided to keep them separate for the time being.  We can consider merging them at a later date.  Closing this issue and will raise anything more specific as separate issues

[2020-06-29 07:38] #193 closed

[2020-06-29 08:59] DavidRoy commented on #178
@kazlauskis can you add Armenia as a country option on setup.  The butterfly species list for this is taxon_attribute [AM]

[2020-06-29 12:03] kazlauskis opened #263 "Keep the app awake"
It would be nice if the app could keep the phone awake >> the app is really great but one of the biggest hindrance when working with lots of species and count numbers (i.e. you should often catch and identify confusion species esp. when day-flying geometrids are also around) that the phone keeps getting locked >> of course, i can change it in the setting but the bulk of the volunteer users wouldn'

[2020-06-29 12:04] kazlauskis opened #264 "Add Armenia"
The butterfly species list for this is taxon_attribute [AM].

Links BiologicalRecordsCentre/ABLE#178

[2020-06-29 12:05] kazlauskis opened #265 "Add Kosovo"
TBD

Links #178

[2020-06-29 12:06] kazlauskis commented on #178
I am creating smaller tickets for any subsequent countries. Helps me manage the workflow.

[2020-06-29 12:06] #178 closed

[2020-06-30 09:27] CrisSevilleja opened #266 "ButterflyCount: searching for common names works only if the language is selected"
@kazlauskis  @DavidRoy

Chris van Swaay reported that he couldn't search for Dutch common names on the app while doing a count. It was strange because I could do it.

We realised that he couldn't search for Dutch common names until he selected the language Dutch in the app settings. He didn't select it before because he saw the whole app in Dutch, so it was no necessary to select the language.

I

[2020-06-30 10:07] kazlauskis commented on #266
@CrisSevilleja Yes, you have to have the language selected before it allows to search for common names. Since Chris was testing the app from the very beginning and we have imported the species names at some time not too long ago this required some initial users to re-select their language to get the full benefits. I think, this shouldn't be a problem to any new users. If it is then please reopen t

[2020-06-30 10:07] #266 closed

[2020-07-01 07:19] DavidRoy opened #267 "15m count - extra information on type of count"
Suggestion by Chris van Swaay

Potential additional sample attribute for count_category with options:

- I noticed this is a great place for butterflies, so decided to start a count.
- This is a purely random count.
- I make this walk almost every day.
- This is my garden.

[2020-07-01 07:23] DavidRoy opened #268 "15m count - indicate if moths/dragonflies/bees are included in the count"
As the species list grows, if other groups (moths, dragonfly, bumblebees) are not included in the species list we do not know if recorders either saw none (i.e. a zero count) or are only recording butterflies (i.e. other taxon groups are missing values).  This difference is important for future analysis.

The requirement is an additional sample attribute(s) with a flag of whether other groups were

[2020-07-01 08:31] kazlauskis commented on #268
Would something like this work? Another screen where you can select all the recorded groups:

![Screenshot 2020-07-01 at 09 30 17](https://user-images.githubusercontent.com/7383162/86222010-90087180-bb7d-11ea-84d4-29fe65e92d1d.png)

[2020-07-01 09:14] johnvanbreda opened #269 "Duplicate attribute values for transect sections"
When preparing queries for a new download page (#155) which download transect sections, I've noticed that transect sections often have duplicate attribute values. E.g.
[code]
results in 2 values for the same attribute and location, even though the attribute itself is not marked as multi-value. They were created 7 seconds apart so I wonder if this is a result of a bug in the sections editor?

Do we

[2020-07-01 10:24] johnvanbreda opened #270 "Incorrect values stored for timed counts data"
Whilst working on downloads, I noted that sample_attribute_values stored for sample_attribute_id=1393 (Reliability) often have the int_value set to 222. This attribute is a lookup list linked to termlist 837 which supports the following:
16592	(3)
16591	(2)
16590	(1)
I'm not sure why the value 222 is being stored - is this an incorrect value in the app?

[2020-07-01 10:39] larspett commented on #268
I can see that there is presently a strong movement towards adding lots of species and non-butterfly features but am concerned that the complexity and volunteer-deterrence potential grows exponentially the more features we add. Will there be options to **limit** rather than add features? I would need a **lean** rather than a feature-filled app for what I coordinate, or at least a general setting t

[2020-07-01 11:15] kazlauskis commented on #270
I have looked this up and couldn't see why the 222 was sent. The app uses the correct values but there might be a bug somewhere. Do you have some sample Ids I could look up that has this issue?

[2020-07-01 11:39] johnvanbreda commented on #270
The sample ID I spotted was 8906521 but looking in the sample_attribute_values table it seems widespread. The most recent is 9044926.

[2020-07-01 12:47] kazlauskis commented on #237
@chrisvanswaay @DavidRoy Sorry for the delay.

Overall, this is quite a big structural change to how the data is organised. One way would be to wrap each occurrence within a sample and assign it precise locations from the GPS. The number +/- buttons would only append/delete the last species entry in the list, but you could manually swipe left any occurrence and delete it. You could also change the

[2020-07-01 12:48] Gary-van-Breda commented on #270
If I remember correctly, this is an issue with the main site and/od data migration, not the App

[2020-07-01 13:41] CrisSevilleja commented on #267
I would define "This is purely random count" as a default count_category

Where do you @DavidRoy think this feature should be placed on the app? We need to keep the app easy-to-do as much as possible

[2020-07-01 13:57] chrisvanswaay commented on #237
Hi Karolis,

Thanks for this. Looks good, though I can't seem to test it. I have had
this problem before, not sure why. But the solution to show the location
and time of the observation seems logical. The only thing that might help
is to delete from the map with time (so the map of the track with the
observations as points with the species name next to it?). But I guess that
could potentially be a

[2020-07-01 15:01] kazlauskis commented on #237
Yes, I had a thought like this. It would be great to show all the occurrences on the map and would help with the validation of locations. I suggest to wait until this basic functionality is tested a bit more in the field before adding the extra mapping.

A question I have is whether you would want to correct/set any occurrence locations manually? At the moment, it is GPS-only but we could add a ma

[2020-07-01 15:05] chrisvanswaay commented on #237
Thanks Karolis. Good question, also as so far I have had to redraw the line
often, as my gps is not very good and when you don't see any butterflies
and have it in your pocket, it loses track of where you are. So this will
also depend on such things which we can't all influence. But I guess people
would want to do that on a map, I guess no one understands coordinates. I
think I would like to move

[2020-07-01 17:27] kazlauskis commented on #270
Would you still like me to investigate this or can I leave it to you guys?

[2020-07-01 17:33] kazlauskis commented on #268
As an idea, some of the attributes could be moved away from the survey screens into the app settings. Eg. we could have this as a setting in the app menu - `Species I always record`, which if set would hide any unnecessary fields from the surveys and silently set the values in the background.

[2020-07-02 07:59] DavidRoy commented on #268
@larspett I understand your concerns and we'll keep the interface as clean and as simple as possible.  Extra species groups are needed as some schemes across Europe record more than butterflies and a selection of day-flying moths.

@kazlauskis having these options as settings is good.  By default, the app should just be for butterflies

[2020-07-02 08:19] DavidRoy commented on #270
@Gary-van-Breda the samples.external_key and occurrences.external_key fields are empty for the sample IDs given by john as examples.  Also, the location name is not one that is part of the data migration.  Therefore, I conclude this bug is on the walk_input form on the website?

[2020-07-02 13:24] johnvanbreda commented on #155
@DavidRoy ready for you to try out - see https://butterfly-monitoring.net/downloads

[2020-07-02 19:04] DavidRoy commented on #155
@johnvanbreda I've tested and it works well.  The only thing to finalise is the 'roles'.

The two relevant ones are:
scheme co-ordinator
verifier

Both are defined by NUTS regions.  In theory they could be different but we can assume/ensure they are the defined by the same geographic area.  Therefore can we remove the need for the drop-down [Dataset:] list to switch between them.
![download_datase

[2020-07-02 19:17] DavidRoy opened #271 "Explore report should exclude 'not accepted' records"
https://butterfly-monitoring.net/elastic/all-records

This map should exclude rejected records.  Currently, this record from the North Sea is still on the map even though rejected.
https://butterfly-monitoring.net/mydata/details/record?occurrence_id=14426622

[2020-07-02 19:23] johnvanbreda commented on #155
At the moment, we have a custom permissions control which does the following:
1. Picks up any verification filters for the user and extracts the associated location ID (i.e. country). Creates options to download the data for each it finds.
2. Picks up any download filters for the user and extracts the associated location ID (i.e. country). Creates options to download the data for each it finds.
3.

[2020-07-02 19:37] DavidRoy opened #272 "Unable to delete filter"
https://butterfly-monitoring.net/admin/filter-edit?filters_user_id=9193

Unable to delete filter on this page.  Also there is no action when clicking on the saving icon on this form, although filters are saved.

[2020-07-02 19:40] DavidRoy commented on #155
That all sounds good.  Related to this is the filter admin setup #272

[2020-07-03 08:45] johnvanbreda commented on #272
JavaScript error on the page fixed so now working.

[2020-07-03 08:45] #272 closed

[2020-07-03 12:02] johnvanbreda commented on #155
Now done. If you only have 1 country option, then you just see a message. Please close if OK.

[2020-07-03 12:42] johnvanbreda commented on #271
Done

[2020-07-03 12:42] #271 closed

[2020-07-05 08:19] DavidRoy commented on #155
@johnvanbreda this page is getting there, but when masquerading as user = 'muguira' who has role 'scheme co-ordinator' for Spain I get an error message when trying to download the Transect occurrence and sample files.
![spain error](https://user-images.githubusercontent.com/2699478/86528517-afb2d900-bea0-11ea-9e71-acf87fbde777.png)

[2020-07-05 13:45] johnvanbreda commented on #155
Fixed - a minor permissions configuration mistake.

[2020-07-05 15:04] DavidRoy opened #273 "ButterflyCount - Ringlet missing from species list?"
I can't work out why the taxon name 'Ringlet' is missing from the 15 minute list.  See
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/432558
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/434490

[2020-07-05 16:21] johnvanbreda commented on #254
Done

[2020-07-05 16:21] #254 closed

[2020-07-06 13:14] kazlauskis commented on #273
Fixed it now. The issue was that there were many Ringlets all sorted alphabetically and results caped to 20 species (for performance), placing the African Ringlet and others above. We'll release this fix with the next update this week.

[2020-07-06 13:43] DavidRoy commented on #273
Thanks.  Is this fixed for other name searches as there will likely be similar cases with returns >20?

[2020-07-06 13:45] kazlauskis commented on #273
Yes, this should work for other names now too. We have increased the limit to 200 and placing single-word names above others too.

[2020-07-06 16:08] johnvanbreda commented on #6
I've set up an export from iRecord for the ABLE data but there are only a couple of hundred accepted records at the moment, so is it worth waiting till the dataset is more complete before publishing?

When ready, there is a resource waiting for metadata to be added on the IPT: http://ipt.brc.ac.uk/ipt/manage/resource?r=ebms.

[2020-07-07 07:30] DavidRoy commented on #155
thanks, works well

[2020-07-07 07:30] #155 closed

[2020-07-07 07:51] DavidRoy opened #274 "Import Swedish fixed point sites"
Actions required:
1. New location_type  = 'Fixed point site'
2. New survey 'Fixed points' for website = ABLE
3. Import existing locations (file sent by email)
4.	Sample attributes (mirrored from ‘Transects’ and ‘Mobile App Timed Counts’
•	Start Time [id=1385]
•	End Time [id=1386]
•	% Sun [id=1387]
•	% Cloud [id=1457]
•	Temperature [id=1388]
•	Wind Direction [id=1389]
•	Wind Speed [id=1390]

5.	Occ

[2020-07-07 08:11] DavidRoy commented on #192
Requirement - user account have 'opt-in' for data to flow to observation.org

API documentation is here: https://waarneming.nl/api/v1/docs/
You should read waarneming.nl as observation.org. There may be slight alterations or additions for international data.

[2020-07-07 08:15] DavidRoy commented on #192
@johnvanbreda to review API documentation before follow-up discussion with observation.org

[2020-07-07 08:15] johnvanbreda commented on #274
@DavidRoy will all the data entry be done via the app?

[2020-07-07 08:17] DavidRoy commented on #274
yes

[2020-07-07 08:30] DavidRoy opened #275 "Calculate Recorder Metrics"
Using metrics from:
https://www.nature.com/articles/s41598-020-67658-3.epdf?sharing_token=ytTMK1vruRhmwrp6f86m99RgN0jAjWel9jnR3ZoTv0Nh_80C7srSORW4Yh8vYYO13j0D5oXkwk0AfDzMzT2KOsznti7GbrkhvbXxRYL-aprcriXLyXsdflf09I6PauTrfrXU3zEKl1MeP2xCV4-gxADtLwmtL9PXkAb2SRchgHk%3D

Code at
https://github.com/BiologicalRecordsCentre/recorderMetrics

Need to decide on most appropriate metrics for ButterflyCount

[2020-07-07 09:41] DavidRoy commented on #187
Following discussions, start with some scoping of options.
Potential approach is an ElasticSearch Species index which stores:
- geographic range polygons (pre-built)
- phenology by bioclimate zomes (pre-built from BMS data)

@johnvanbreda to scope out scale of work required

[2020-07-07 09:53] johnvanbreda commented on #192
I think the basics required are:
1. User will paste their Observado user ID into a field in their Drupal profile and tick a box to enable the link.
2. We'll need a mapping table from our species external keys to the Observado species ID (integer).
3. The Observado user ID and link status flag will need to be synced to the Indicia user account.
4. We'll need to add a custom attribute "Observado ID"

[2020-07-07 10:22] johnvanbreda opened #276 "User interface for managing REST API users"
Currently, API users are configured in a PHP file on the warehouse. This is OK for a small number of users, but as the user-base for the API grows it will become more desirable to provide a user interface in the warehouse to manage them.

Requirements:
1. The user interface will provide create, read, update, delete operations for API users.
2. For each user, store the following:
   * title
   * de

[2020-07-07 12:31] DavidRoy opened #277 "walk-data-entry-2: prevent end time being before start time"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

It should not be possible to enter an end time that is before a start time.
See example
![problem_start-time_end-time](https://user-images.githubusercontent.com/2699478/86781744-26dd9e00-c056-11ea-9353-c4fee9310ee7.jpg)

[2020-07-07 12:33] DavidRoy opened #278 "walk-data-entry-2: any options to speed up page?"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

Possible problem with being on dev and maybe on temporary but the page was slow when tested.  Is there room for improvement?
![problem_slow_script](https://user-images.githubusercontent.com/2699478/86781866-59879680-c056-11ea-9df5-ca983041521b.jpg)

[2020-07-07 12:47] DavidRoy opened #279 "walk-data-entry-2: photo upload size limit"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

The sample photo upload functionality is currently missing from the form.  When re-instated, it needs to provide information on permitted file size.

![problem_pic_too_large](https://user-images.githubusercontent.com/2699478/86783568-64432b00-c058-11ea-8e9f-01bd0a7d140f.jpg)
![problem_pic_too_large_2](https://user-images.githubuse

[2020-07-07 12:49] DavidRoy opened #280 "walk-data-entry-2: Dropdown should show reliability score descriptions"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

Drop-down list currently not populated
![problem_cloud_reliability](https://user-images.githubusercontent.com/2699478/86783737-9e143180-c058-11ea-8ce1-414a27fdbe5c.jpg)

[2020-07-07 12:59] DavidRoy opened #281 "walk-data-entry-2: improve name search"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

The search does not allow using the species part of the name epiphet, e.g. typing 'rhamni' to find 'Gonepteryx rhamni'
Also, the option to search 3+2 in names, e.g 'Gon rh'

![problem_spp_entry_1](https://user-images.githubusercontent.com/2699478/86785066-20e9bc00-c05a-11ea-85d3-2482596c8dc9.jpg)

[2020-07-07 13:02] DavidRoy opened #282 "walk-data-entry-2: species name should be filtered by language"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

Currently the species name list includes the latin name plus Latin+common names in multiple languages.  The search should be specific to country/language
![problem_spp_entry_2](https://user-images.githubusercontent.com/2699478/86785373-76be6400-c05a-11ea-8dba-fa9aa5294548.jpg)

[2020-07-07 13:04] johnvanbreda commented on #187
Having looked into this further, Elasticsearch's limitations around joining across documents mean I'm not sure this is the right approach. We would have to run multiple queries, probably one per species, rather than use relational joins to do checks in one or two queries.

So, I think we can store range polygons in the existing cache_verification_rules_without_polygons table. Currently this table

[2020-07-07 13:13] DavidRoy opened #283 "walk-data-entry-2: tidy up visit information page"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

1. Time entry should be in 24HR clock format as used in most of Europe.  The entry field heading and help text/error messages should make this clear
2. % Sun currently has a value 'NaN' in field when form first loaded. Should be blank.
3. Form to be tidied up to follow approach for UKBMS
![ukbms walks](https://user-images.githubus

[2020-07-08 07:35] DavidRoy opened #284 "walk-data-entry-2: add option for comments attached to occurrences"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-2

Required for the extended (long) version of the form.

[2020-07-08 07:39] DavidRoy opened #285 "ButterflyCount: Add sample photo option to 15 minute count"
There is room under 'Additional Details' for this, under a heading 'Representative photo of where the 15 minute count was made'
![IMG_0827](https://user-images.githubusercontent.com/2699478/86891294-825f6880-c0f6-11ea-9047-058638ef8332.PNG)

@kazlauskis to indicate scale of task

[2020-07-08 07:47] DavidRoy opened #286 "Enable other species list (moths, dragonflies etc) to be edited on 15 minute count form on website"
https://butterfly-monitoring.net/enter-app-record

Currently only allows species names to be edited from the ABLE butterflies list

[2020-07-08 11:00] johnvanbreda commented on #286
Fixed. Enabled for lists 251, 260, 261 and 265.

[2020-07-08 11:00] #286 closed

[2020-07-08 11:28] johnvanbreda commented on #274
I've imported the locations (location type ID=17785, name=ABLE fixed point site).
I've set up the survey (ID 589).
I've added the attributes pending review from Lars.

[2020-07-08 11:30] johnvanbreda commented on #5
@DavidRoy do we need to work on the assumption that Indicia will do all the work to push/pull the changes, or can we expect development at the iNaturalist/Observado end to implement a similar set of API requests to Indicia?

[2020-07-08 11:38] DavidRoy commented on #274
Thanks.  Lars agreed with the attributes.  We may need to extend reports, editing forms and downloads to accommodate data for these sites but will raise those as separate issues as needed.

[2020-07-08 11:38] #274 closed

[2020-07-08 11:40] DavidRoy commented on #241
Survey for these 'fixed timed count sites' now setup, with attributes.
Swidish sites imported
#274

[2020-07-08 11:55] DavidRoy commented on #5
@johnvanbreda we will need some engagement with the other systems.  At the stage of scoping, is one approach to develop a preferred option to then take to the other systems?

[2020-07-08 16:02] DavidRoy opened #287 "ABLE Moth list - data fix"
Some moth names have been wrongly classified as language = English.  These need a database fix to set Language = 'deu'.  File of taxa_taxon_list_ids

[ABLE moth data fix 2020 07 08.txt](https://github.com/BiologicalRecordsCentre/ABLE/files/4891818/ABLE.moth.data.fix.2020.07.08.txt)

[2020-07-08 17:09] johnvanbreda commented on #287
Done

[2020-07-08 17:09] #287 closed