[2022-04-28 12:54] JimBacon commented on #411
For reference, country attributes copied to bumble bee species list by query
[code]

[2022-04-28 12:55] DavidRoy commented on #411
@JimBacon for the aggregates we can do without the Genus synonyms in brackets.  There is an argument for removing them from the whole list but let's leave for the time being

@xaviermestdagh do you need the sub-species for your transect recording?

[2022-04-28 13:07] JimBacon commented on #411
@CrisSevilleja, for the species of Austria, Switzerland and Germany, is the species presence 'P' in all cases?

[2022-04-28 16:18] JimBacon commented on #419
@DavidRoy There is something ugly going on.

There is a deleted taxon list, ID 255, called ABLE Butterflies.
For this, it seems, all the country attributes were duplicated (IDs 129 to 174)
In addition, the species presence termlist was duplicated (ID 839)

The taxon list, ID 251, uses country codes with IDs  83 - 128, 175, 176, 191 in association with the species termlist ID 816.
However, one of t

[2022-04-29 08:37] CrisSevilleja commented on #411
@JimBacon yes exactly, the species shown for these countries all are present 'P'

[2022-05-02 11:55] larspett opened #420 "Segment order incorrect in Swedish BMS transects"
I tried one of the imported SEBMS transects in ButterflyCount today and the listed segment order was not the correct one. Maybe segments (for the ordering of items) have been given numbers based on seg_uid (geo_seg_segmentid in the exported file) or some other number. The correct one is seg_sequence (geo_seg_sequence). The names S1-S4 are correct but the list order wrong see illustration:
![image]

[2022-05-02 12:51] DavidRoy commented on #420
@JimBacon @kazlauskis can you liaise on the best way to resolve this.  Thanks

[2022-05-03 10:05] JimBacon commented on #420
The order in which the transects are imported is not something I had any obvious control over. They are in whatever order QGIS saved them in to the SHP file I guess. I imagine the app is showing them in order by Indicia location ID. See screenshot.

They need to be in order by code. Sadly, there is an 'S' stuck on the code which means sorting on the column doesn't work easily as S11 will be sorted

[2022-05-03 10:54] kazlauskis commented on #420
Hi all, yeah, the app currently shows the list in the order it receives from the warehouse. It also fetches the code for each section and I can use it to sort the list that way in the app. There are some updates coming out so I will bundle this together.

@JimBacon Do you know if the code is always in the same format - **S**{NUMBER}?

[2022-05-03 11:08] larspett commented on #420
So in this case, a resupply to the warehouse with sections sorted on geo_seg_sequenceid would be best?

From: Karolis Kazlauskis ***@***.***>
Sent: den 3 maj 2022 12:55
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pettersson ***@***.***>; Author ***@***.***>
Subject: Re: [BiologicalRecordsCentre/ABLE] Segment order incorrect in Swedish BMS transects (Issue #420)

Hi all, yeah, the app cu

[2022-05-03 14:53] JimBacon commented on #420
@kazlauskis The website ensures that the code for each section is in the format S{NUMBER}. I copied that when importing the Swedish transects. A check in the database confirms all sections follow this format.

@larspett It will be more robust to sort on section code than the Indicia location ID. Say you created a transect with two sections, S1 with ID=x and S2 with ID=x+1 and then wanted to insert

[2022-05-03 15:27] JimBacon commented on #420
Yes, the Indicia warehouse returns data sorted by ID by default. It would be easy for the app to request the response to be sorted by code but the result would be wrong because the 'S' makes it an alphabetic sort rather than a numeric sort :-(

[2022-05-04 13:31] DavidRoy commented on #192
Also consider a two-way flow with verification happening at Observation.org

[2022-05-04 14:25] JimBacon opened #421 "Import Croatian transects"
Transect data supplied by email.

[2022-05-05 06:43] kazlauskis commented on #393
Is this is done now? Can we use the current categories in the app?

[2022-05-05 08:23] JimBacon commented on #393
No. See https://github.com/BiologicalRecordsCentre/SPRING/issues/41. I think they are talking about the same thing even though they are in different repos which is not helping me.

[2022-05-05 08:50] kazlauskis commented on #393
Thanks Jim.

@DavidRoy apart from the actual lamp/trap categories do you think this [trap form ](https://butterfly-monitoring.net/moth-trap-details) structure is now finalised? We can build the trap set up based on the form in the app and then update the categories when these are done on the website.

[2022-05-05 09:02] JimBacon commented on #393
@kazlauskis For info, as it may not be immediately obvious, the current implementation allows a person to describe a trap with any possible combination of lamps. You can add multiple lamp types, with descriptions for each if needed, and a quantity for each. This all gets wrapped up as JSON and stored in a single location attribute.

[2022-05-05 10:53] JimBacon commented on #421
For reference, I have done the following to import the transects, which have only a single section in each.

1. Opened the SHP file in QGIS and added additional fields consistent with the existing naming convention for eBMS:
    1.  transect code: EBMS:Croatia:<id> (where id is the row number from the imported file)
    2. section name: <transekt_n> - S1 (as all the transects have a single section

[2022-05-05 11:14] DavidRoy commented on #393
@kazlauskis - yes go ahead with the current process for setting up the traps.  The term lists may change but I think the process is less likely to change

[2022-05-05 15:58] JimBacon commented on #411
For reference, a query like the following populated the taxon attributes.
[code]

261 is the bumblebee species list ID
26 is the ID of the taxon rank, 'species'
85 is the ID of the taxon attribute for Austria.
16407 is the ID of the termlists_term for 'P'
2 is my user ID

[2022-05-05 16:31] JimBacon commented on #411
Hi @CrisSevilleja In the list for Austria, you include _Bombus maxillosus_ and _Bombus barbutellus_.
I had to look up _B. maxillosus_ as it was not in our list and it appears to be a synonym of _B. barbutellus_. See https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=714950. If you are in agreement, we can omit _B. maxillosus_.

[2022-05-06 07:16] larspett commented on #393
sorry about that, I posted a suggestion to https://github.com/BiologicalRecordsCentre/SPRING/issues/41 on April 25th suggesting that that separate thread is closed but that post seems to be missing (posted via email thread). Anyway, this is what I wrote since some of it can be useful for this thread:

[2022-05-06 08:21] #99 closed

[2022-05-06 08:22] DavidRoy commented on #142
@kazlauskis can we close this?

[2022-05-06 08:23] DavidRoy commented on #411
@xaviermestdagh can you respond on this?  We are aiming to update the app species lists in May

[2022-05-06 08:24] kazlauskis commented on #142
Let's close it. I haven't heard of this one happening again and we did improve how we capture the area since.

[2022-05-06 08:24] #142 closed

[2022-05-06 08:25] #128 closed

[2022-05-06 08:28] #165 closed

[2022-05-06 08:48] DavidRoy commented on #419
@JimBacon agreed on any tidying you suggest
TRA is Asian part of Turkey. see #178

[2022-05-06 08:53] #395 closed

[2022-05-06 11:36] CrisSevilleja commented on #411
@JimBacon okay, I agree on omitting B. maxillosus. Thanks

[2022-05-10 07:29] xaviermestdagh commented on #411
Hi! Sorry I didn't notice this conversation. I will check with my colleague Sarah Vray.

[2022-05-10 08:53] JimBacon commented on #419
For reference, I ran the following queries to delete the duplicate attributes and the duplicate termlist:
[code]
The taxon attribute TRA (id = 176) was a little confused, having some attribute values referencing termlist 816 and some 839. To fix that I ran the following;
[code]

[2022-05-10 10:34] CrisSevilleja commented on #414
Hi @JimBacon sorry but this problem came back and now more pages are not switching properly to the languages... The same ones as before and several main pages on the menu:

Butterfly monitoring https://butterfly-monitoring.net/BMS
My scheme https://butterfly-monitoring.net/my-scheme
eBMS data https://butterfly-monitoring.net/ebms-data-summary
Scheme admin https://butterfly-monitoring.net/scheme-ad

[2022-05-10 10:47] CrisSevilleja opened #422 "Apply translation of languages to select - website"
On the eBMS website, when selecting the language to visualize it would be good to show the translation of that language, like French appears as Français. Some languages have it but not all. We have this option already available on the app. Here is the complete list with the translations:

Bulgarian = български
Catalan= Català
Croatian= Hrvatski
Czech= čeština
Danish= Dansk
Dutch = Nederlands
Frenc

[2022-05-10 11:38] DavidRoy commented on #192
Following technical discussions.  A few key points.
1. Use existing observation.org api's for initial flow from Indicia to observation.org
2. Prioritise data flow for individual users of the ButterflyCount app, authenticating accounts between Indicia and observation.org
3. Second priority is data flow for images + observations from SPRING where users do not have an observation.org account.  Create

[2022-05-10 11:42] chrisvanswaay commented on #192
Remember to create the option that some people may NOT want their data to become visible at observation.org, also not via a SPRING account. Of course this does not apply to professional recorders we have in the project, but also volunteers use the app, and they must have the choice (imho).

[2022-05-10 12:09] JimBacon commented on #419
@DavidRoy Just checking that you intend the Asian part of Turkey to be counted in Europe. The naming is counter-intuitive.

[2022-05-10 12:10] larspett commented on #192
We might want to generalize this further than just to Observation.org so that there is a versatile API to API connection that enables two-way dataflow between the source database (Indicia) and other databases mirroring the Indicia data. We are pulling the FIT Count data here and will want to pull Butterfly Count data in the near future. Would be good to be able to supply site (including spatial da

[2022-05-10 13:50] #422 closed

[2022-05-10 15:01] JimBacon opened #423 "Import Croatian Observation Data"
Import observations made on transects in 2020-21 from file supplied by email.

[2022-05-10 16:39] DavidRoy commented on #419
@JimBacon no, TRA should not be included in the 'European' list of names

[2022-05-11 07:54] larspett opened #424 "General two-way integration across databases through API"
Following issue #192 , wee might want to generalize this further than just to Observation.org so that there is a versatile API to API connection that enables two-way dataflow between the source database (Indicia) and other databases mirroring the Indicia data. We (Sweden) are pulling the FIT Count data to our national database and will want to pull Butterfly Count data in the near future. It would

[2022-05-11 08:13] JimBacon commented on #419
If TRA is out then this must mean AM (Armenia) is out too. I will proceed accordingly.

[2022-05-11 09:25] JimBacon commented on #419
I've done a thorough cross-check. I need to leave out Kenya (KE), Armenia (AM) and the Asian part of Turkey (TRA). Georgia is not in either list.

I note that initially, TR implied the European part of Turkey and RU implied the European part of Russia. We then had to invent TRA for the Asian part of Turkey. Now we are adding a Europe flag we could remove TRA and instead use TR for all of Turkey, '

[2022-05-11 10:54] JimBacon commented on #419
Note:
The published list contains 496 species
I find 502 when checking our list for European species.
I discover the following additions in our list which all have some presence somewhere in Europe.

- Pyrgus armoricanus/serratulae (eBMS198)
- Leptidea sinapis/juvernica (eBMS210)
- Colias hyale/alfacariensis (eBMS220)
- Apatura ilia/iris (eBMS436)
- Euphydryas aurinia beckeri (eBMS453.1)
- Polyomm

[2022-05-11 11:33] CrisSevilleja commented on #414
It happens again @JimBacon ! now the pages are running well, I was checking yesterday the whole day switching from pages to pages in different languages and some of them were turning into English all the time. But today no... I don't understand, I don't think you did anything but now the translation on the pages is working well.

Maybe I need just your revision on that to make it running! XD Thank

[2022-05-11 11:52] CrisSevilleja opened #425 "Selecting the English language doesn't change the species names"
By default on the app when the English language is selected the common names of the species appear in English and the Latin name disappears. Some users know the Latin names and not English, important to keep the Latin names.

- change to have the possibility to select the English language but keep the species name in Latin on the Picture Guide.

I was thinking that maybe add another field on the A

[2022-05-11 12:02] DavidRoy commented on #425
@crissevilleja - is this a wider requirement for recorders to choose their language choice? Latin or common names in different languages?

[2022-05-11 12:03] CrisSevilleja opened #426 "Set a fix list of species - ButterflyCount"
Make available on the App to select a fixed list of species to appear on the 15-min counts by default and with zero abundance

Useful for low diversity areas (islands, urban areas) or for avoiding searching for species that normally appear. The list can be changed at any time

[2022-05-11 12:29] CrisSevilleja opened #427 "Determine the species list for transects - ButterflyCount"
To align with the website entry method, determine the possibility to preload the species list based on the same feature as in the website entries with "species seen by me - species seen at this site"

It could be done for the whole transect o by sections, whatever is easier

Maybe the best place to select this option is on the App Setting, as you consider.

[2022-05-11 13:37] CrisSevilleja opened #428 "Add picture and comment on the transect section- ButterflyCount"
when registering data per section in a transect, be possible to add the fields of taking pictures and comment on the section

[2022-05-11 13:44] CrisSevilleja commented on #183
Add option for adding sample photos and comments per individual on transects

similar to the available option for 15-min counts (without the location) showing species name, stage, comment and picture.

<img width="231" alt="2022-05-11_15h41_15" src="https://user-images.githubusercontent.com/25052478/167864137-a68fe7ee-a63d-4a1d-a0c4-762bb363dcbe.png">

[2022-05-11 13:46] CrisSevilleja opened #429 "Display the whole name of the transect during the selection - ButterflyCount"
If possible to make more room for the name of the transects to avoid cutting the name. See picture

![transect display error LUX](https://user-images.githubusercontent.com/25052478/167864796-15713ed4-b603-4cab-9072-06ad990f436b.png)

[2022-05-11 15:00] DavidRoy commented on #245
@CrisSevilleja did you mean 'gender' or did you mean 'Genus?  I don't think we have images tagged by gender?

[2022-05-11 15:20] JimBacon commented on #419
@DavidRoy There is one species in the European list, _Hypolimnas misippus_ which is not present in any European country, but is an irregular vagrant in 3.
You have asked me to set the European presence flag to P for all species in the list. Would it be better for it to be I in this instance?
All the other species are present in at least one country.

[2022-05-11 15:22] DavidRoy commented on #419
@JimBacon - yes, that makes most sense

[2022-05-11 15:57] JimBacon commented on #419
For reference, the inserting of European presence values was done with the query
[code]
251 is the ID of the EBMS butterfly list
195 is the ID of the Europe taxon attribute
164047 is the termlist_term ID for P(resent)
16410 is the  termlist_term ID for I(rregular)
16411 is the  termlist_term ID for Ex(tinct)
2 is my user ID

[2022-05-11 18:12] kazlauskis commented on #368
@DavidRoy Would this then add +5/10 occurrences to this list and each of the new occurrences would get assigned the same location?

[2022-05-11 18:17] DavidRoy commented on #368
@CrisSevilleja I see the requirement but would it work better on the species list page, rather than going via the occurrences.  Then when touch (+1) or +5 +10 is selected an occurrence is created with the associated quantity (1,5,10)

@kazlauskis could you mock something up?

[2022-05-11 18:54] DavidRoy commented on #368
Thanks.  i think that's a good solution

[2022-05-12 07:53] JimBacon commented on #419
Need to trigger update of `cache_taxa_taxon_lists.attrs_json`

[2022-05-12 08:35] JimBacon commented on #419
Thanks. I'd found it and am just waiting for the work queue to do its thing.
I executed the query
[code]

[2022-05-12 08:44] #419 closed

[2022-05-12 08:51] JimBacon commented on #414
I didn't change anything so it seems, as they say, that time is a great healer.
This makes me wonder if it is a cache issue causing problems, either in your browser or the server.
If it happens again you could try clearing your browser cache to see if that helps.
Perhaps, once all the pages for translation have been created, we won't see this again.

[2022-05-12 09:37] JimBacon commented on #423
Hi @DavidRoy

I have suggested to Martina that I import the data in to the `EBMS ad-hoc imports` survey because it lacks the below fields required for the transects survey. However, that suggestion was based solely on the appropriate name of the survey and suitable attributes! Is this a bad idea? I see only one sample in this survey and I don't know if the website will show records in this survey.

[2022-05-12 09:46] JimBacon opened #430 "Enhance warehouse locations API"
https://github.com/Indicia-Team/warehouse/issues/430

[2022-05-12 10:33] DavidRoy commented on #423
@JimBacon I think it's best to import into the standard EBMS transect survey.  There is a 'Not recorded' option for temperature and wind speed I believe.  For the start and end time, if they are required fields please set as '00:00'

[2022-05-12 11:47] #202 closed

[2022-05-13 08:13] CrisSevilleja commented on #414
Okay, if it happens again I will try to use another browser or clean the cache. Indeed it looks like the time is the key point.
Thank you for your patience Jim, let's hope this doesn't disturb us again.

[2022-05-13 12:56] DavidRoy commented on #187
@johnvanbreda a heads up that we returning to this issue and we would like to work on this again in Autumn/Winter 2022/23.  We will provide the range maps and flight periods in advance

Can you estimate the time required to develop this functionality

[2022-05-16 09:13] DavidRoy opened #431 "eBMS: add Japanese species list"
- [x] Create new taxon_list attribute for Japan - JP
- [x] Create new languages entry for Japanese - jpn
- [x] Match genera to existing taxon list 251 and add missing genera to the list.
- [x] Match list against GBIF backbone to obtain authority and an external key for species.
- [x] Match species to existing taxon list 251.  Set [JP] = 'P' where Japanese species already in the list.
- [x]  Match

[2022-05-16 09:35] johnvanbreda commented on #187
@DavidRoy I think we should allocate 1 day to reviewing the latest available rule data and building a demo query on the dev warehouse, to ensure that the approach is correct and performant. Then probably a further 2 days to build the combined range/phenology checker verification check module and a further 1 day to cover imports of the rule data.

[2022-05-16 09:40] larspett commented on #187
The spatial x phenology checker will need to accommodate the full European range & will then require some careful planning to handle flight times of for instance orange-tip from the far south to the far north to avoid that phenology rules end up too vague/broad

16 maj 2022 kl. 11:35 skrev John van Breda ***@***.***>:

﻿

@DavidRoy<https://github.com/DavidRoy> I think we should allocate 1 day to r

[2022-05-16 11:25] CrisSevilleja commented on #426
Yes exactly @kazlauskis

[2022-05-16 11:28] CrisSevilleja commented on #368
Yes, I think that is a good solution @kazlauskis

[2022-05-16 11:37] CrisSevilleja commented on #245
@DavidRoy sorry, I wanted to say Genus

[2022-05-16 11:42] kazlauskis commented on #368
Thanks, do you need the choice of the +5 and +10 or can we just default the long-tap to +5? I'm asking this because if the +10 is going to be rarely (?) used then it is more efficient to avoid the extra taps.

[2022-05-16 11:45] DavidRoy commented on #368
I suggest we only go for +5 as the aim of this survey is to count while walking and to capture the details of occurrences.  We could extend to +10 in future if there is clear demand?

[2022-05-16 11:49] kazlauskis commented on #245
Yeah, this wold be cool to have the filters in the app. I wonder if we could do it like in the iRecord Butterflies app so you can both use the filters and search in the species guide by name. What do you think?

![Screenshot 2022-05-16 at 14 44 57](https://user-images.githubusercontent.com/7383162/168586084-5dd9fbde-202d-4fca-bc59-0b2f8b90876b.png)

![Screenshot 2022-05-16 at 14 45 02](https://use

[2022-05-16 15:39] CrisSevilleja commented on #245
it would be awesome to add this filter to the ButterflyCount app but I think we don't have the whole European butterfly list with all these attributes... I am afraid

[2022-05-16 15:45] CrisSevilleja commented on #368
I agree, let's go only for +5 for now and see how people uses it and if more it is needed

[2022-05-17 07:33] kazlauskis commented on #245
No problem, I am wondering about the best way to present the filters. The iRB app filter interface in the screenshots would allow to choose a butterfly Family and we could add any new filters later. We could also do the filters as a popup like in the European Ladybirds app if you wanted. That one doesn't quite work for filters with many choices and it wouldn't have  a species search option though.

[2022-05-17 07:42] kazlauskis commented on #183
@CrisSevilleja OK, we can add a page like in your screenshot with options to add a photo and a comment. You could access it from the section species list. Is that OK?

![butterflies app flumens io_(iPhone SE) (1)](https://user-images.githubusercontent.com/7383162/168756701-4c20a71b-ffc0-4543-9e97-248b954a9971.png)

[2022-05-17 07:44] kazlauskis commented on #428
@CrisSevilleja like here in the screenshot, yeah?

![butterflies app flumens io_(iPhone SE) (1)](https://user-images.githubusercontent.com/7383162/168757303-29172704-fc9e-4146-9dfc-9edfa6caa49a.png)

[2022-05-17 08:35] DavidRoy commented on #245
I like the iRB filters and gives us an incentive to extend the guide filters

[2022-05-17 17:05] CrisSevilleja commented on #428
exactly @kazlauskis like that is good. Thanks

[2022-05-17 17:05] CrisSevilleja commented on #183
Yes @kazlauskis , like that is good

[2022-05-18 11:13] JimBacon opened #432 "eBMS: add Kenyan species list"
Match list against GBIF backbone to obtain authority and an external key.
Add missing genera to existing taxon list 251. Can be added as children of families with no need to use sub-families.
Add missing species to taxon list 251 as children of respective genera.
Set existing taxon_list attribute for Kenya - KE, id=191 - to  'P' for all species in list

List emailed separately

[2022-05-20 08:55] DavidRoy opened #433 "SPRING Moth trap data download - for individuals"
Add moth trap download to my_data -> downloads page, to allow individuals to download their own data
https://butterfly-monitoring.net/mydata/downloads

Same download report as available for role = regional co-ordinator under
https://butterfly-monitoring.net/downloads

@johnvanbreda can you pick this up on the assumption that it's a small job?

[2022-05-23 15:05] Gary-van-Breda commented on #247
@DavidRoy @CrisSevilleja New form deployed to Live, configured so "Add Species" auto is at top of page.

[2022-05-23 15:07] Gary-van-Breda commented on #168
@DavidRoy Walk Data Entry page (2) deployed to Live.

[2022-05-23 15:09] Gary-van-Breda commented on #3
@DavidRoy : Walk data entry page (2) deployed to Live.

[2022-05-23 15:11] Gary-van-Breda commented on #284
@DavidRoy : Walk Data Entry page (2) deployed to Live. Occurrence comments initially configured for Hungary only.

[2022-05-23 15:46] Gary-van-Breda commented on #280
@DavidRoy : Walk Data Entry page (2) deployed to Live. (Reliability is enabled for all schemes.)

[2022-05-23 15:47] Gary-van-Breda commented on #278
@DavidRoy : Walk Data Entry page (2) deployed to Live.

[2022-05-23 15:50] Gary-van-Breda commented on #332
@DavidRoy : config set so Any Butterflies defaults to ticked. Walk Data Entry (2) deployed to Live.

[2022-05-23 15:53] Gary-van-Breda commented on #257
@DavidRoy : the Walk data entry page (2) has been deployed to live, using the Butterfly life stage, initially configured for Hungary only.

[2022-05-27 08:33] kazlauskis commented on #431
@JimBacon do you know if the Japanese list is now in the warehouse? no problem if not.

[2022-05-27 10:12] #430 closed

[2022-05-27 10:54] kazlauskis commented on #397
@DavidRoy do you want us to enable -0, 0 .... 40, +40 range for the two 15min count surveys and also the transect survey but not the moth trap survey, is that right?

[2022-05-30 06:57] kazlauskis commented on #371
A transect survey should point to another page.

[2022-05-30 07:01] CrisSevilleja commented on #397
We should allow those temperatures for moths also; they can place moth traps with cold temperatures.
@DavidRoy can you confirm?

[2022-05-30 07:06] kazlauskis commented on #397
@CrisSevilleja do you mean the moth survey or moths recorded in other surveys? We don't yet collect temperature in the moth survey.

[2022-05-30 07:13] #173 closed

[2022-05-30 07:19] #429 closed

[2022-05-30 07:21] CrisSevilleja commented on #397
Indeed, sorry we don't have that field for moth trap yet. However, moth species can be recorded with the 15-min counts and my moth colleague asked me to be able to record under 10 degrees @kazlauskis So, allow from -0 up to +40 for transects and the two 15-min counts. Thanks!

[2022-05-30 07:36] #368 closed

[2022-05-30 08:10] #420 closed

[2022-05-30 08:29] kazlauskis commented on #418
@DavidRoy is this ticket still valid? We already have the moth species (list id=260) in the app for searching - the user has to enable the moths group in the app settings. Or is this something else?

[2022-05-30 08:42] larspett commented on #418
If I remember correctly, it is intended to add the day active species subset rather than the full moth list which would be a lot of work to scroll through during butterfly transects

[2022-05-30 09:16] kazlauskis commented on #416
We have now updated the common names lists in the app.

@DavidRoy Catalan and Danish languages don't have any interface translations in Transifex. We can still push these common names for these languages but it will be strange if a user chooses on of those languages and it is still all in English, only the search results would be changed. What would you like us to do?

[2022-05-30 09:38] kazlauskis commented on #418
@larspett thanks.

@DavidRoy this requires updating `reports/projects/ebms/taxa_list_for_app.xml` report the app uses for fetching the species list. It needs to return the `194` attribute so that the app can then filter the day moths.

[2022-05-30 09:58] CrisSevilleja opened #434 "Urgent: Warning message entering Transect data - eBMS website"
A new warning message appears when entering new records on the Walk Entry Data.
_The following warnings have been identified
The value entered for this taxon on this transect section (1) exceeds
the expected maximum (undefined)
The total seen for this taxon on this walk (1) exceeds the expected
maximum (undefined)
Do you still wish to enter this data?_

This new warning message is annoying, it is

[2022-05-30 13:25] CrisSevilleja opened #435 "eBMS: add Albania"
Add Albania as a country on the eBMS website and Albania BMS under My Scheme page.

[2022-05-30 14:09] kazlauskis commented on #397
@DavidRoy This temperature attribute (ID=1388) that is in use in the app is also shared with `EU Pollinator - Transects` and iRecord Butterflies single species count surveys. Is it OK to change the values for it or would you like us to create a new attribute?

[2022-05-31 09:05] #371 closed

[2022-05-31 10:36] kazlauskis commented on #349
@johnvanbreda we are adding the time of sighting occurrences. This links to the report you have developed in the mentioned ticket. Would you like us to send the time in specific format e.g "hh:mm" or a do you want a full ISO string?

[2022-05-31 12:37] DavidRoy commented on #397
@kazlauskis thanks for checking this.  Best to create a new attribute given its wider use

[2022-05-31 12:46] DavidRoy commented on #418
@JimBacon are you able to update the report end point for this?

[2022-05-31 12:52] DavidRoy commented on #416
@CrisSevilleja can you confirm we should go ahead with the common names but not the wider translation.  I think this is ok

[2022-05-31 18:13] kazlauskis commented on #265
@DavidRoy I can't find Kosovo in the existing species export. It has Turkey (Asia) [TRA] and Armenia [AM], both of which were added to the app a while ago, but Kosovo doesn't show up in the codes. Does it need adding to the warehouse species list?

It has these country codes at the moment:
`AD, AL, AT, BA, BE, BG, BY, CH, CY, CZ, DE, DK, EE, ES, ES_CA, FI, FR, GB, GR, HR, HU, IE, IS, IT, LI, LT, L

[2022-05-31 18:23] kazlauskis commented on #416
This is done now.

[2022-05-31 18:23] #416 closed

[2022-06-01 05:28] #425 closed

[2022-06-01 15:56] Gary-van-Breda commented on #434
@CrisSevilleja : Fix deployed to Live.

[2022-06-02 07:07] CrisSevilleja commented on #434
@Gary-van-Breda thank you for working on this but I still get the warning message for every record type on the Walk Entry Data https://butterfly-monitoring.net/walk-data-entry?sample_id=18585178
@DavidRoy did you want this warning message to appear for every record?

[2022-06-02 07:16] #428 closed

[2022-06-02 07:21] CrisSevilleja opened #436 "Small issues on the new Walk Data Entry - eBMS website"
There are two small details to fix on these new improved pages:

Walk Data Entry page 1 - Need to enter a whole number on the % Sun to go further; it is a not mandatory field because there are %Sun per section on the next page. Keep it as a not mandatory field and allow to move to the next page without filling it.
![2022-06-02_08h56_39](https://user-images.githubusercontent.com/25052478/171573799-

[2022-06-02 07:21] #183 closed

[2022-06-02 14:35] kazlauskis commented on #245
@CrisSevilleja do you have species families data? In the app we currently use this species dataset:
[species.profiles.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8824845/species.profiles.csv)

[2022-06-03 06:14] kazlauskis commented on #245
Never mind the families data, I found it in the original data set 🙂

[2022-06-03 06:48] kazlauskis commented on #245
@CrisSevilleja while I am at it, the species are currently sorted by Family as they originally came from the Euro Butterfly Checklist 2018. Would it not be better to sort the list alphabetically?

[2022-06-03 07:03] larspett commented on #245
No, unless that is optional for those who want it, otherwise it will be a mess with unrelated and very different species next to each other

3 juni 2022 kl. 08:48 skrev Karolis Kazlauskis ***@***.***>:

﻿

@CrisSevilleja<https://github.com/CrisSevilleja> while I am at it, the species are currently sorted by Family as they originally came from the Euro Butterfly Checklist 2018. Would it not be bett

[2022-06-03 09:16] kazlauskis commented on #56
This is done now.

[2022-06-03 09:16] #56 closed

[2022-06-03 11:18] kazlauskis commented on #196
Done the top user species now. Please create another report for walked distance report.
![localhost_8000_home_report(Pixel 5)](https://user-images.githubusercontent.com/7383162/171843962-7a7f7fc3-56cc-4fd9-a985-3f3944ff21cd.png)

[2022-06-03 11:18] #196 closed

[2022-06-05 16:11] DavidRoy commented on #434
@CrisSevilleja can you send a screenshot of the message.  Is it the copyright statement at the bottom of the page?

[2022-06-05 19:29] CrisSevilleja commented on #434
@DavidRoy  this is the warning message appearing every time you enter a record
<img width="843" alt="image" src="https://user-images.githubusercontent.com/25052478/172067319-08b5da80-ed21-4ddd-a1ea-a16294e18247.png">

[2022-06-05 22:32] Gary-van-Breda commented on #434
@CrisSevilleja : I've masqueraded in as you, and I am not seeing the probelm. Can you clear your browser caches and try again?

[2022-06-06 10:09] #402 closed

[2022-06-06 10:14] kazlauskis commented on #349
@johnvanbreda we'll be sending ISO strings, let us know if you wanted this different.

[2022-06-06 10:36] #397 closed

[2022-06-06 10:42] #365 closed

[2022-06-06 11:11] Gary-van-Breda commented on #436
@CrisSevilleja Could you have another look? There was an update deployed late last week which I think has fixed these.

[2022-06-06 14:06] JimBacon opened #437 "Common names always in English"
When entering transect-walk records, the common name suggestions are always in English, regardless of the selected language.

[2022-06-06 15:03] CrisSevilleja commented on #434
Hi @Gary-van-Breda now I tried in Chrome and Edge and the warning message doesn't appear anymore. Thank you for that!

the only thing now is a new message 'Mandatory Section Data. You must enter the highlighted section related data before you may enter any species counts". That is okay, you just need to close it. But every time I enter in a new visit or in a former visit, the %Sun is not saved and

[2022-06-06 15:04] CrisSevilleja commented on #436
Now those issues are fixed, thank you @Gary-van-Breda

[2022-06-06 15:40] Gary-van-Breda commented on #434
@CrisSevilleja : can you tell me what the walk sample ID is for the above?

[2022-06-06 15:41] DavidRoy commented on #260
@JimBacon are you able to pick this up?

[2022-06-06 15:50] DavidRoy commented on #260
agreed!

[2022-06-06 20:51] Gary-van-Breda commented on #434
@CrisSevilleja : I have deployed a fix to the initial validation, so this should now work when you try to edit existing data - the form is now meant to force the mandatory sun/cloud and reliability to be filled in before any species attributes.

[2022-06-06 20:57] Gary-van-Breda commented on #232
@CrisSevilleja : this is fixed in the new version of the form: could you check you are happy with it?

[2022-06-07 06:04] #349 closed

[2022-06-07 07:56] CrisSevilleja commented on #434
@Gary-van-Breda  the walk sample ID I used as an example https://butterfly-monitoring.net/walk-data-entry?sample_id=18632172
I checked this issue now and you were right, there was a problem saving the sun/cloud and reliability numbers. Now those variables can be saved, so it is possible to edit the records.

Thank you so much

[2022-06-07 07:56] #434 closed

[2022-06-07 08:55] kazlauskis commented on #418
We've added a setting to show only the day-flying moths. This setting will appear only when 'moths' is selected as one of the species groups.

Is this ticket for filtering out day-flying moth common names too? At the moment, the report gives us 42 day-flying moth scientific names. It doesn't include common names so the filter will only filter the scientific names and not common names.

![localhost

[2022-06-07 08:55] Gary-van-Breda commented on #233
@DavidRoy @xaviermestdagh : Live stage view is live for Hungary only. Do you wish for it to be enabled for Luxembourg? (If so do you want the outside transect count, the comments and/or the occurrence images as well?)

Should I also start setting up the config for the Country species lists? What value(s) should I use for the presence attributes to indicate a taxon should be included in the country

[2022-06-07 08:58] Gary-van-Breda commented on #334
@DavidRoy "None" now added to options. This is the default for existing walks (when it actually shows just the existing occurrences).

[2022-06-07 09:00] larspett commented on #418
Would be good to get the common names

7 juni 2022 kl. 10:55 skrev Karolis Kazlauskis ***@***.***>:

﻿

We've added a setting to show only the day-flying moths. This setting will appear only when 'moths' is selected as one of the species groups.

Is this ticket for filtering out day-flying moth common names too? At the moment, the report gives us 42 day-flying moth scientific names. It doesn't inc

[2022-06-07 09:09] xaviermestdagh commented on #233
@Gary-van-Breda is there a way I can see the hungarian form? (the dev-butterfly... link here below is not working)

[2022-06-07 09:49] CrisSevilleja opened #438 "Incorrect link entering records- Transect Input"
@kazlauskis reviewing the demo, I found one error when increasing the individuals on the Transect Input part (section). Better to explain with an image:
Below in the picture, when pressing the number on the left, that works increasing the number but the app brings you to the Edit occurrence page (red arrow) - Incorrect link
When pressing on the species name, the app brings you to the Edit occurren

[2022-06-07 10:08] CrisSevilleja opened #439 "Improve button names in the layout for other languages - ButterflyCount"
@kazlauskis One tiny detail that I would like to correct if possible (I don't know how much you can do for it)
When changing to a different language on the app, sometimes the translated words are longer than English and you cannot see them completely. It is not a big issue in general but I was thinking it could be possible to improve it for the main buttons of the app (main layout).
In general, th

[2022-06-07 10:39] kazlauskis commented on #438
Ah, thanks, the demo isn't perfect but this actually works in the real app.

[2022-06-07 10:39] #438 closed

[2022-06-07 11:05] Gary-van-Breda commented on #325
The annual summary is correct. The import has created multiple child samples for each section - this requires a datafix.
The import keeps a track of the previous row's walk section sample when attaching occurrences, to prevent this duplication, but it does rely on the occurrences being grouped (sorted) by section number, especially if the previous data lookup is not used. It looks like this was no

[2022-06-07 13:23] Gary-van-Breda commented on #333
@DavidRoy : do you still consider this an issue?
(see narrative in https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/209 )

[2022-06-07 21:49] Gary-van-Breda commented on #198
Currently deployed to Live.

[2022-06-08 06:57] CrisSevilleja commented on #334
It is a good option. Thanks

[2022-06-08 06:57] #334 closed

[2022-06-08 07:02] CrisSevilleja commented on #198
This is working for a while on the website.

[2022-06-08 07:02] #198 closed

[2022-06-08 09:08] #439 closed

[2022-06-08 09:19] DavidRoy commented on #333
We can close this one now, thanks

[2022-06-08 09:19] #333 closed

[2022-06-08 14:53] JimBacon commented on #432
All of the families in the Kenyan list already exist in taxon_list 251 but none of the genera do.
We can import them from the following csv file via the warehouse web interface, mapping the Family column to the parent taxon.
[ebms_kenya_genera.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8862763/ebms_kenya_genera.csv)

[2022-06-09 08:47] JimBacon commented on #432
The species can be imported via the warehouse web interface from the following csv file.
The GBIF_code column is mapped to the Search Code field and the GBIF_preferred_code is mapped to the External Key field.
[ebms_kenya_species.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8868581/ebms_kenya_species.csv)

[2022-06-09 09:01] JimBacon commented on #432
@DavidRoy I stumbled on a possible typo. The list includes _Nepheronia bugueti_ (synonym: _Nepheronia buquetii_). Google doesn't show anyone else spelling it with a 'G'. Can you confirm?

[2022-06-09 09:43] JimBacon commented on #432
The import revealed a bug, https://github.com/Indicia-Team/warehouse/issues/438, which caused the authority of some species to be incorrect. The following query rectified the problem in the data.
[code]

[2022-06-09 10:26] DavidRoy commented on #432
@CrisSevilleja can you check with Kenya colleagues about the species name?

[2022-06-09 12:19] CrisSevilleja commented on #432
@JimBacon _Nepheronia buquetii_ is the correct name, as you said it had been a mistake. Getting close to get Kenyan species on eBMS! Thanks

[2022-06-09 14:49] CrisSevilleja opened #440 "Translation of new functions: Entry Walk Data - eBMS website"
@DavidRoy @JimBacon @Gary-van-Breda
All the new improvements and functions applied to the eBMS website are great but I am worried about volunteers not understanding English and not being able to register data (I heard some already).

I was wondering how I can include the translation of the new message "Mandatory Section Data", the top-down list for Reliability, and the question, Any butterfly? Wit

[2022-06-09 14:52] CrisSevilleja commented on #440
I just found "Any Butterflies?" and request the translation, but I am sure the connection with Transifex is not working properly...

[2022-06-09 16:00] #432 closed

[2022-06-09 16:16] JimBacon commented on #233
@DavidRoy The question from @Gary-van-Breda is one for you, I think.

The values (from https://warehouse1.indicia.org.uk/index.php/termlist/edit/816) are as follows:

- A: Absent (never recorded in the respective country or island group or only doubtful records).
- P: Present (native or well-established populations, including alien species).
- P?: Possibly present (recorded but continued presence

[2022-06-10 09:58] Gary-van-Breda commented on #233
@DavidRoy : Shall I set the country list up for just one country first so you can check it? if so, which one?

[2022-06-10 10:01] DavidRoy commented on #233
@Gary-van-Breda good idea.  Please test using Luxembourg so @xaviermestdagh can confirm the list makes sense?

[2022-06-10 12:21] DavidRoy opened #441 "ButterflyCount: handling of missing weather data"
@chrisvanswaay reports on latest test version
_All went well, except that I got a problem trying to upload a count without weather data (as we were in a place without connection). It gave an error, but it worked when I entered a temperature by hand. It didn't complain about the other weather parameters (cloud, wind) missing._

@kazlauskis can you review how this scenario is handled.  my view is th

[2022-06-13 08:28] xaviermestdagh commented on #233
Thanks @Gary-van-Breda, I could have a look at live stage view on live on Hungarian site.
For butterflies I am not in favor of having this live stage view for Luxembourg because:
- our protocol targets adult stage only, and having the possibility to record other live stages might lead observers to spend very various duration on field.
- it will be different from the mobile app.
- observations outs

[2022-06-13 08:35] xaviermestdagh commented on #233
If I understood well, list of species should be filtered for Luxembourg? FYI, I still see species with no potential presence in Luxembourg. But Indeed all values except "A" are worth to keep I believe.
![image](https://user-images.githubusercontent.com/24294138/173313002-625cccde-1bc7-4129-9431-a78cb7a5f612.png)

[2022-06-13 08:49] xaviermestdagh commented on #411
Hi @DavidRoy
Sorry it took so long, I transfer you the answer from Sarah Vray (she says not having access to this GitHub):
-	For the sub-species: yes the sub-species would be good to keep, because indeed the 2 sub-species of B. soroeensis are very different and fall in 2 different groups. But if it is not possible, it’s not a big problem, we would just to keep in mind that the group Bombus lapidar

[2022-06-13 08:52] DavidRoy commented on #411
@JimBacon - can you update the lists accordingly

[2022-06-13 08:55] kazlauskis opened #442 "Inform the user some important (but not required) values are missing"
This links to #441. The user should be informed some values are missing from the survey. The app would still allow uploading such records.

- [ ] Temperature
- [ ] Anything else?

[2022-06-13 08:55] kazlauskis commented on #441
Thanks. I've fixed this one now; it was a Beta app issue.

[2022-06-13 08:55] #441 closed

[2022-06-13 11:04] kazlauskis commented on #418
Done now.

[2022-06-13 13:33] JimBacon commented on #260
@kazlauskis I have updated `ebms_app_species_list` to include the additional information you requested.

I did what you asked for but `taxa_list_for_app` has changed since you raised the issue so maybe this needs additional work.

[2022-06-13 15:54] JimBacon commented on #411
For info, to update the `attrs_json` field in the `cache_taxa_taxon_lists` table, I ran the following query.
[code]

[2022-06-14 08:14] JimBacon commented on #233
_Colias aurorina_ has a value of 'A' for Luxembourg so, when Gary has finished, it should no longer appear in the list for you @xaviermestdagh.

@Gary-van-Breda, the list now includes Kenyan species, for which the presence value in European countries will be null. Your query may need to be  filter on `!= 'A' and not null` or use an inner join to exclude taxa with a null presence. Also, only the pr

[2022-06-14 08:30] johnvanbreda commented on #349
@kazlauskis ISO format should be fine as it's stored in a text field.

[2022-06-15 08:31] kazlauskis commented on #260
@JimBacon This is great! The app only requires one report now, so the `taxa_list_for_app` can be deprecated. I have done the work on the app now.

There is one thing you might want to check. When fetching moths, I also get some butterflies, like this:
[code]

2.

[2022-06-15 13:21] JimBacon commented on #260
There are about a thousand butterfly names in the moth list.
It relates to issue https://github.com/BiologicalRecordsCentre/ABLE/issues/259
I don't know why they weren't deleted.
Would you like me to add a filter on `allow_data_entry = true` which will exclude them from the report results?
Such a filter is present in the `taxa_list_for_app` report.

I thought you might not be able to determine the

[2022-06-15 15:54] JimBacon commented on #431
@DavidRoy can you clarify a few points regarding the species list please.

- Does the _sp._ abbreviation indicate a species aggregate?
- Why are there two records for _Papilio sp._ (Code 115 and 185)?
- Why are there three records for _Brenthis sp._ (Code 1410, 1415 and 1425)?
- Why are there two records for _Argynnis adippe_ (Code 1502, 1505)?

[2022-06-15 15:58] DavidRoy commented on #431
@JimBacon sp. means a species within the Genus.  It can be in the list as a Genus entry but will need to be available for data entry - e.g. where it is not possible to identify the individual species

Argynnis adippe x 2 is a duplication error.  One can be removed

[2022-06-16 07:15] kazlauskis commented on #260
Yes, please. If some taxa entries shouldn't be used for recording in the app then we should exclude these from the report.

The current report returns all the attributes for the taxa, including the country codes and the day-flying status. This and other of your improvements now make this report to be the only one we currently require 🎉

[2022-06-16 09:36] JimBacon commented on #260
Okay, there should be no more butterflies appearing in the moth list for you now.

Day-active is a boolean but the report assumes all attributes are of the termlist type, which is why I expected a problem. It is returning `Day-active=Dominant` as true is stored as an integer value of 1 and 'Dominant' is the term with id=1. It's the wrong value but you get the right meaning. I don't want to 'fix' i

[2022-06-16 10:29] kazlauskis commented on #260
Thanks, all done then!

[2022-06-16 10:29] #260 closed

[2022-06-16 14:47] JimBacon commented on #431
@DavidRoy If we are encouraging data entry by genus (it is currently available for any genus, I think) then that begs a couple of questions:

1. Do we need to set the country presence attributes on genera?
2. Do we want to allow recording against some genera and not others?

Creating a record, e.g. _Papilio sp._ as a child of the _Papilio_ genus with taxon rank of species sounds easier to me.

I'v

[2022-06-16 14:59] DavidRoy commented on #431
@JimBacon I agree that 'Papilio sp.' is a better option for cases where this is needed.  You are right that using the Genus names is more complicated.

[2022-06-17 11:58] DavidRoy commented on #265
@kazlauskis removing from the current milestone
@CrisSevilleja can you work on the species list for Kosovo?  I'm not sure who our contact is for this

[2022-06-17 15:49] kazlauskis opened #443 "Add in-app photo cropping"
Photos sent to the AI for classification might benefit from photo cropping. We could add this feature like we have done it in the E-Surveyor app.

[2022-06-17 15:50] DavidRoy commented on #443
I was going to ask you about this as we've found it can make quite a difference for the AI classification success for moths

[2022-06-17 16:21] larspett commented on #443
I noticed that cropping can actually influence the id for some AI. The Norwegian app Artsoraklet went from almost 100% Plebejus argus to 100% Plebejus idas. It is somewhat worrying and I haven't seen it being evaluated. Unsure if ObsIdentify behaves in a similar way.
![image](https://user-images.githubusercontent.com/19598308/174337882-ca8caceb-1969-492e-91e1-e40cb9164e4f.png)
![image](https://use

[2022-06-20 10:13] JimBacon opened #444 "Duplicate taxon name in species list"
Speyeria aglaja, https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/432391, has two identical synonyms added at different times with taxa_taxon_list_id of 434653 and 466540. There are occurrences recorded against each (94 and 280 respectively). Not necessarily a problem, if reporting is done against preferred taxa, but potentially a source of confusion.

Before consolidating records

[2022-06-20 10:25] larspett opened #445 "Moth common names stop working"
### Describe the issue

I used the new version of the app several times this weekend and activated day-flying moths. First, I was able to use the Swedish common name Ängsmätare for <i>Ematurga atomaria</i>Then I saw a “Blåbärslundmätare” <i>Jodis putata</i> which is also day-active. However, the common name didn’t pull any name from the search field. I supposed this was because it might not have b

[2022-06-20 11:57] JimBacon commented on #444
It's worse than I first thought as there are also duplicates of some preferred names. Fortunately these have mostly not been recorded against.

Taxa_taxon_list_id | Taxon | Authority | External Key
-- | -- | -- | --
466880 | Boloria caucasica | (Lederer, 1852) | eBMS659
467161 | Boloria caucasica | (Lederer, 1852) | eBMS818
432026 | Carcharodus |   | eBMS46
432028 | Carcharodus |   | eBMS48
467131

[2022-06-20 14:00] JimBacon commented on #431
All of the families in the Japanese list already exist in taxon_list 251 but the genera in the following file do not.
We can import them from the file via the warehouse web interface, mapping the Family column to the parent taxon.
[new-genera.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8941146/new-genera.csv)

[2022-06-20 15:02] JimBacon commented on #431
Species that are new to the list can be imported via the warehouse web interface from the following file. The GBIF_code column is mapped to the Search Code field and the GBIF_preferred_code is mapped to the External Key field. The Genus column is mapped to the the parent taxon.
[new-species.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8941690/new-species.csv)

[2022-06-20 15:49] JimBacon commented on #431
For info, using the attached file containing data on Japanese species already present in the EBMS butterfly list, the following query created and set the JP attribute values.
[existing-species.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8942006/existing-species.csv)
[code]
196 is the ID of the JP taxon attribute
16407 is the termlist_term ID for P(resent)
2 is my user ID

[2022-06-21 09:06] JimBacon commented on #431
For info, the following query created taxa and taxa_taxon_list records for Japanese names of existing species.
[code]

[2022-06-21 09:20] JimBacon commented on #431
For info, the following query will update the attrs_json field for all the taxa in the species list.
[code]

[2022-06-21 09:27] JimBacon commented on #431
@kazlauskis The Japanese list is now in the warehouse. May take a short while for caches to update.

I'm conscious that we may have introduced a problem by obtaining `external key` and `search_code` from the GBIF Backbone Taxonomy rather than assigning eBMS codes. As not all the names have a match in GBIF there are some null values. Indexing via ElasticSearch is where I think this may come to be a

[2022-06-21 09:27] #431 closed

[2022-06-21 09:51] JimBacon commented on #432
Note: Import to warehouse complete but not exported to ElasticSearch. Null `external_key` and `search_code` fields will have to be filled before doing the export.

[2022-06-21 10:39] kazlauskis commented on #431
We have added Japan 🇯🇵 and its species to the [app demo](https://butterflies.app.flumens.io/demo.html) now.

@CrisSevilleja, please forward this to the Japanese translator to double-check everything is correct. We can then push this to the Beta testing.

![localhost_8000_survey_precise-area_60af069d-573b-4f45-9d44-2adbd1af8bf4_edit_taxon(iPhone SE) (1)](https://user-images.githubusercontent.com/73

[2022-06-21 10:56] JimBacon commented on #444
@kazlauskis Do we need to coordinate how we do this? Will I break the current app if I mark species as deleted in the warehouse list?

[2022-06-21 12:12] DavidRoy commented on #265
ok, let's close this one for now

[2022-06-21 13:45] CrisSevilleja opened #446 "Improvement ButterflyCount beta version: vibration"
checking the current beta version (and in previous versions), the 15-min count vibration is almost inappreciable when 3 minutes and 1 minute are left. So if the phone is in your pocket or without an active screen, you miss when the time is up.

[2022-06-21 13:55] CrisSevilleja opened #447 "Improvement ButterflyCount beta version: day-flying moths position"
I would change the position of the day-flying moths' option. Put it inside the Species group under the Moths list, I think more logical and keep its appearance when the Moths list is active (like now). The current position can be confusing or not found by users. I show below my idea.

![moths](https://user-images.githubusercontent.com/25052478/174816394-0dae6e6e-b838-4a40-9274-f1c075bc0ccb.png)

[2022-06-21 14:01] CrisSevilleja opened #448 "Improvement ButterflyCount beta version: increasing recorders"
I like a lot this option. However, it doesn't work perfectly. When touching the symbol - or + on the screen, the number changes but the keyboard of the phone appears, when annoying when you just wanted to increase one or two the number of recorders.

The keyword should appear when touching the number, not the symbols. Possible to do it @kazlauskis ?

[2022-06-22 08:24] kazlauskis commented on #444
Would the warehouse reject an occurrence submission with a deleted taxon?

[2022-06-22 13:29] Vilius-Stankaitis commented on #180
@Cristina Sevilleja Hi, Are you using the latest app version 1.17.0(186)?

[2022-06-22 14:02] CrisSevilleja commented on #180
Hi @Vilius-Stankaitis I am using the 1.17.0(185), now I am downloading the 186 I can try if this function is working. Should it work on the 186 version?

[2022-06-23 06:52] chrisvanswaay commented on #180
I am not sure which version I used when I was on holiday in Italy, but there I tried several times and usually it didn't work and only two or three species were copied from the previous count. And with the big numbers there this meant I had to re-enter all species again and again.

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van d

[2022-06-23 08:24] Vilius-Stankaitis commented on #180
@Chris van Swaay thanks, it helped a lot. Fixed

[2022-06-23 10:35] kazlauskis commented on #445
@larspett thanks, we're looking into this now.

[2022-06-23 12:09] CrisSevilleja commented on #445
Also reported for Dutch common names for day-flying moths. Thanks @kazlauskis for having a look

[2022-06-23 14:40] JimBacon commented on #444
The query which will update occurrences submitted against the taxa_taxon_list_ids that will be deleted is as follows:
[code]
This has been executed to update records that already exist.

[2022-06-23 16:14] JimBacon commented on #444
The preferred taxon names were edited/deleted via the warehouse website interface. The deleted taxa were all assigned as present in the country TRA (Asian part of Turkey) so this was transferred to the retained taxa which were all assiged as present in the country AM (Armenia). It suggests the duplication arose when these species lists were imported.

The non-preferred names were deleted by the qu

[2022-06-23 16:23] JimBacon commented on #444
The warehouse is configured with _Erebia albergana_ as the preferred name and _Erebia alberganus_ is a synonym. See https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/432605. There is no change to make here. @kazlauskis when you extract the list, check this is correct for you, to ensure there is not a problem with how the report is written.

[2022-06-24 07:49] #446 closed

[2022-06-24 07:49] DavidRoy opened #449 "Issue: Butterfly Count 'Your Top Species' report incorrect?"
### Describe the issue

When logged in using my email address (warehouse id = 5), the report shows 144 Rock Grayling records etc under 'Your Top Species' report.  This is wrong for me.

### Expected behavior

Report reflects my 15 minute counts

### To Reproduce

1. login
2. Goto Reports

### App Version

v.1.17.0 (185)

### Device

iPhone

### When did this happen

_No response_

### Screenshots

[2022-06-24 07:52] #448 closed

[2022-06-24 08:00] #180 closed

[2022-06-24 08:36] kazlauskis commented on #445
Thanks again for reporting this. This is fixed now and will come out with the next beta release soon

[2022-06-24 08:36] #445 closed

[2022-06-24 08:56] kazlauskis commented on #444
@JimBacon thanks, I have pulled in the new species list. You're right, we can't enforce the user app update and it might take a while until this fix reaches everyone.

@CrisSevilleja the app displays species synonyms and _Erebia alberganus_ is a synonym for _Erebia albergana_. If you don't want to see _Erebia alberganus_ specifically, we can probably remove it from the synonyms. Alternatively, if

[2022-06-24 09:10] DavidRoy commented on #444
Thanks for dealing with this.  I think we should include synonyms as they are still in use for some recorders

[2022-06-24 09:28] kazlauskis commented on #449
@DavidRoy this report also includes transect species, would you like us to restrict it to 15min counts only?

Or do you say that this species shouldn't appear in your reports at all? There are some _Hipparchia hermione_ records "created" by you but "recorded" by ANDR S GARCÖA P REZ so I am not sure how this works. This is one of those records:
https://warehouse1.indicia.org.uk/index.php/occurrence

[2022-06-24 09:34] kazlauskis commented on #449
By the way, thanks for using the issue template ❤️😄

[2022-06-29 06:22] DavidRoy commented on #423
These all need to be added as new taxa for recording.
For the Genus-level aggregates, these can be marked as 'P' for all of Europe
For the other aggregates, we'll need to review these with other countries.
For the sub-species records, we'll also need to review these with other countries

This final point means we'll need a way of reviewing taxa x country lists through a web interface at some point

[2022-06-29 07:06] DavidRoy opened #450 "Issue: ButterflyCount Moth trap setup - site name text not visible"
### Describe the issue

When using trap setup option in moth survey, on the page to give location name the text is not visible when typing.  Wrong font colour?  Should be white (currently same purple as background).  Text is saved but not visible when typing

### Expected behavior

Text should be visible when typing on page

### To Reproduce

1 go to moth survey
2 click on moth trap on survey deta

[2022-06-29 07:58] CrisSevilleja opened #451 "ButterflyCount: allow selecting several images for identification"
@kazlauskis Checking the beta version one suggestion to make faster the collection of data on the moth trap on the app, taking all the pictures first with the camera and then entering on Gallery:
It would be useful to be able to select several pictures from the Gallery, sending them to identify a bulk of images. Would it be possible? at the moment you need to select one by one and it is a bit anno

[2022-06-29 08:14] CrisSevilleja opened #452 "ButterflyCount app: highlight more new identifications from AI"
When several images are sent to be identified by the AI, it is difficult to see sometimes when a new species has been identified or it is a new individual. Could be possible to highlight more when a new identification has been done?

In the beta version, I saw sometimes in green new identifications of new individuals (species already included) but not for new species aggregated to the species list

[2022-06-29 16:33] #450 closed

[2022-06-30 15:26] DavidRoy opened #453 "Issue: species for Kenya incomplete?"
### Describe the issue

Set country - Kenya
Go to guide and suggests country species list = 5.  It should be many more

need to check if problem with warehouse report or app

### Expected behavior

Correct number of species for kenya

### To Reproduce

Go to menu-settings-app
Set country = Kenya
Go to Guide
Text says guide covers 2 out 5 species country

### App Version

1.17.0 (190)

### Device

[2022-06-30 17:23] kazlauskis commented on #453
Most of the Kenyan species don't yet have the profile texts or pics. This guide only shows the ones that have both.

[2022-06-30 21:14] DavidRoy commented on #453
I still don’t understand why the right total of 217 is not given.  I understand the profile information is mostly missing.

can you easily fix?

[2022-07-01 09:11] #453 closed

[2022-07-04 17:04] JimBacon commented on #423
For info I have done the following
1. On the warehouse,
    1. Updated transect section, Đakovo_Jošava - S1  to [Đakovo, Jošava - S1](https://warehouse1.indicia.org.uk/index.php/location/edit/290315)
    4. Added synonym _Polyommatus semiargus_ to _[Cyaniris semiargus](https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/432337)_
	5. Updated taxon Thymelicus lineolus/sylvestris to [Thy

[2022-07-04 17:34] JimBacon commented on #423
Forgot that I still have to set the species presence for the genus-level aggregates.
I will raise a separate issue for a way of reviewing taxa x country lists through a web interface.

[2022-07-05 08:19] JimBacon opened #454 "Moth occurrence download includes training samples"
Chris said:

David replied:

[2022-07-05 08:28] DavidRoy commented on #454
@kazlauskis can you confirm how samples and occurrences are submitted when the app is in training mode

[2022-07-05 09:35] JimBacon commented on #454
The occurrence download comes from the ElasticSearch occurrence index which does not contain the sample.training (a.k.a. trial) field, only occurrence.training. Short of adding the field to the index, which seems like the wrong solution, I see no way to filter out these occurrences.

What I can do is correct the data, if these are confirmed to be training records.

[2022-07-05 11:28] JimBacon commented on #454
If it is considered invalid for a training sample to have non-training occurrences then it would be proper for the warehouse to reject such a submission or mend it. This would prevent the issue recurring.

[2022-07-05 11:48] JimBacon opened #455 "Enable review of species presence"
Add a web page with a table of taxa against country showing the species presence for each.

Possible requirements to be determined:
 -  editing of presence values
 - editing of the species list
 - editing of the countries
 - filtering of the the countries/taxa shown
 - ordering of countries/taxa shown

[2022-07-05 11:55] DavidRoy commented on #454
@johnvanbreda might have a view on this, including the FRDBI data - he built their site

[2022-07-05 15:50] JimBacon commented on #423
I inserted the species presence for the genus-level aggregates as follows. I didn't follow the suggestion to "mark as 'P' for all of Europe" because there were countries where all members of the genus were absent. For the Europe-wide attribute, the outcome was naturally 'P' for all cases.
[code]
This was followed by
[code]

[2022-07-05 15:50] #423 closed

[2022-07-05 16:26] CrisSevilleja commented on #317
@JimBacon and @Gary-van-Breda another transect with a duplicated section:

ID= 255860 | ICNF PNAL Arnal (EBMS:Portugal:70) shows section 8 duplicated and even it is not possible to enter data on this section at all (as the user reported, I didn't try).

If it is not possible to remove the duplicated section, please at least,  could it be possible to allow including data on this duplicated section?

[2022-07-06 10:03] JimBacon commented on #423
Hi @CrisSevilleja

There is one species list for eBMS.

For each species there are presence attributes indicating which species are present in which country.

When entering data via the app or website, the entire list (which now includes Japanese and Kenyan species too) could be filtered to only show species found in the country of the transect. I do not think the website does this but I think the

[2022-07-06 10:33] johnvanbreda commented on #454
The FRDBI issues are associated occurrences, typically hosts for fungi records. There was a bug in the code that meant that associated occurrences were not picking up the training flag. I've fixed this, applied the fix to FRDBI and updated the occurrences.

[2022-07-06 12:24] kazlauskis opened #456 "In app training mode attach training attribute to sub-samples and occurrences"
At the moment, it is only set to top-level samples.

Best to set the training mode to top sample at the creation time and then to sub-models when it is uploaded. The implementation should be in the `indicja.js` lib.

- [x] Update  `indicja.js` lib .
- [x] Write a test.

Comes from BiologicalRecordsCentre/ABLE#454

[2022-07-07 07:20] CrisSevilleja commented on #423
Hi @JimBacon , yes totally, you replied to my question perfectly. I wanted to know this exactly: "Updates to names and synonyms will apply everywhere those names can be seen." For the other new taxa is okay and understandable, we need to check it first.

quite complicated task but well organised. Thank you Jim.

[2022-07-07 08:36] CrisSevilleja opened #457 "Verification page: not allowing editing other taxa apart from butterflies"
On the verification page of ebms https://butterfly-monitoring.net/verification, it is not possible to edit a record adding a moth or dragonfly species. The searching bar is only completing for butterfly species.

One example for a Lithuanian verifier with the permission to edit records for butterflies, dragonflies and moths not able to include the genus Xanthorhoe (moth), only butterfly species ap

[2022-07-07 10:21] DavidRoy commented on #457
@JimBacon can you add this to your (long!) list of tasks

[2022-07-11 09:37] CrisSevilleja opened #458 "Transifex connection not working to provide translation: eBMS website"
The translations of the inner part of the website are done with the connection with Transifex: https://www.transifex.com/ceh/ebms-website-wwwbutterfly-monitoringnet/dashboard/

I request those translations for the eBMS website on this page https://butterfly-monitoring.net/admin/tmgmt/sources/locale/default that appear on Transifex to add translations in different languages. However, when the trans

[2022-07-11 10:27] CrisSevilleja commented on #426
Giving an idea of how I see the Custom Species list for the app:
![mock-up](https://user-images.githubusercontent.com/25052478/178243913-c5536f7c-b5eb-4eb3-8fff-7c4c46ff172f.png)

It would be great to select several species for the custom list, and be able to modify them at any time. On the mock-up, I placed the click buttons but it can be also a bin symbol to delete them. I don't know which optio

[2022-07-11 10:48] DavidRoy commented on #426
Looks good.   Maybe also have a filter on the species selector - starting with the species present within a country.  We could extend this to have a list of 'common' species for each country?

[2022-07-11 14:39] JimBacon commented on #458
Hi @CrisSevilleja

There are two ways to get the translations.

- Manually, clicking the 'Check for updates' button, to get the translations one-by-one. See https://docs.transifex.com/drupal-integrations/drupal-8-9#previewing-translation-jobs-progress-in-drupal. I tested this and it works.
- Automatically, but only if they are 100% complete on Transifex, which they are for Spanish.

It seems the a

[2022-07-11 16:29] JimBacon commented on #457
Hi @CrisSevilleja

I think you are reporting two issues here, although they may have similar symptoms.

1. On the Verification page, https://butterfly-monitoring.net/verification, when attempting to redetermine a record, a Lithuanian verifier was unable to select a moth species.

This may relate to permissions of the verifier since it is possible for you to do this. Can you email me their name so

[2022-07-12 10:01] JimBacon commented on #317
I am going to start fixing these in the database. The duplicate sections in ID= 255860 | ICNF PNAL Arnal (EBMS:Portugal:70) were created on 9th March 2021 so it doesn't signal a fault with the current transect editing code.

@kazlauskis, does the app keep a local copy of the transect sections and will we need to arrange an update if I change them on the warehouse?

[2022-07-13 08:53] JimBacon commented on #317
For info, I've looked at every pair of duplicates and made a decision about which I am going to keep and which to delete. Initially I thought I would be keeping the higher ID, but no. Then I thought the most recently updated - not quite. Also a couple of odd ones noted below.

Next step is to reassign samples from sections being deleted to sections being kept, checking for, and trying to remove, d

[2022-07-14 14:01] JimBacon commented on #317
For info, the following matrices explain my strategy for reassigning samples of sections to keep and delete

<table>
    <tr>
        <th colspan=2 rowspan=2>Transect</th>
        <th colspan=2>Sample of section to delete</th>
    </tr>
    <tr>
        <th>absent</th>
        <th>present</th>
    </tr>
    <tr>
        <th rowspan=2>Sample of section to keep</th>
        <th>absent</th>
        <

[2022-07-14 15:17] JimBacon commented on #317
It appears that the duplicate samples have arisen when records have been created but one is updated to hold the occurrences and attributes while the other can be discarded. For example, the walk with sample id 11913614 has two records for the section with location id 244390. They have the following properties

<table>
    <tr>
        <th>sample_id</th>
        <td>11913628</td>
        <td>119136

[2022-07-14 15:32] JimBacon opened #459 "Duplicate section records on walks"
There are many walks where, instead of having one sample for each section, there are many samples for a section. This was observed in https://github.com/BiologicalRecordsCentre/ABLE/issues/317#issuecomment-1184572698.

Over the EBMS transects there are thousands of such duplicates. Mostly this looks like errors introduced when importing Spanish records. This unexpected data arrangement means repor

[2022-07-14 15:54] DavidRoy commented on #459
Sorry for the Spanish loading issue - my bad

[2022-07-18 15:24] JimBacon commented on #317
The following updates were performed to relocate samples according to the strategy and then delete the duplicate locations

1. Where a walk has a sample from a section to delete and there is no sample from the corresponding section to keep.
[code]
2. Where a walk has samples from both a section to delete and the corresponding section to keep but there are no occurrences on the sample of the sectio

[2022-07-18 15:31] JimBacon commented on #317
@CrisSevilleja I think I have repaired the database so there are currently no duplicate transect sections. Could you check it looks okay and see if solves the problems for the recorders?

[2022-07-18 17:29] #201 closed

[2022-07-19 11:20] kazlauskis commented on #317
@JimBacon The app caches the section locations, but the user can manually refresh the list. I remember you said uploading a sample with a deleted location id won't result in an error. If some locations were deleted, I should probably refresh the locations automatically in the background for the user in the app then.

[2022-07-21 16:50] JimBacon commented on #457
Hi @CrisSevilleja

I've looked in to the issue of re-determining species on the verification page. The situation is this:

With the 'Search all speci' option not ticked

- A butterfly can be changed to another butterfly in the EBMS Butterflies list (ID = 251)
- A moth can be changed to another moth in the EBMS Moths list (ID = 260)
- A dragonfly can be changed to another dragonfly in the EBMS Drag

[2022-07-25 09:29] johnvanbreda commented on #424
@larspett such an API already exists - we can provide access via an API to simple Darwin Core formatted occurrences, or pull the same format from elsewhere. In practice though we find that many of the other systems we need to integrate with already have some form of API and would prefer that we write code to integrate with their API as it is less effort for them.

[2022-07-25 09:34] DavidRoy commented on #424
Also, part of this requirement is a two-way exchange for a return journey of record annotations (e.g. verification assessments)

[2022-07-25 13:41] CrisSevilleja commented on #317
@JimBacon such incredible work. Thank you so much for taking the time and patience to check every possible situation, solve the duplicated samples and leave the transects without duplicated sections. The most important part is the data is saved despite these duplications.

I did the first checks on the transects I knew they had duplicated sections and they appear correctly when entering the data!

[2022-07-25 13:49] CrisSevilleja commented on #459
@JimBacon what I get is that this issue is different for the #317 duplicated sections you already solved, am I right?

Regarding the Spanish data import, the coordinator was reporting always problems with visualizing well the Spanish data imported in the migration (before 2020). Also, this brings me to another issue #325 about data visualization where a data fix is needed. Do you know something ab

[2022-07-25 14:37] CrisSevilleja commented on #458
Hi @JimBacon thanks for this advice, I didn't know it was possible to make manual translations to get the transifex with connection. I did it for Spanish and Romanian languages and it worked, however, I missed some updates for German. A bit strange because German is completely translated....

Anyway, if you can check the automatic update that will be the best. One thing is that missing translation

[2022-07-25 14:49] CrisSevilleja commented on #366
With the new app update last June, the Dutch names applied on the system are not longer there @JurrienVanDeijk
When being outside of the Netherlands and trying to use the Dutch names for species outside NL, they don't appear.

The complete butterfly list for Europe was sent with the vernacular names in Dutch. It would be good to have a look for next update. Thanks

[2022-07-25 15:12] DavidRoy commented on #458
@JimBacon I've invited you as an admin for CEH transifex account. Let me know if you need different access

[2022-07-26 10:18] JimBacon commented on #458
@DavidRoy I've not had any email notifications and I get no response from a password reset attempt via https://www.transifex.com/signin/ Am I in the wrong place?

[2022-07-26 12:34] DavidRoy commented on #458
@JimBacon You are in the right place.  Can you access:
https://www.transifex.com/ceh/ebms-website-wwwbutterfly-monitoringnet/dashboard/

[2022-07-26 12:37] JimBacon commented on #458
@DavidRoy I just got an email invitation and am signing in.

[2022-07-27 07:19] CrisSevilleja opened #460 "Drawn section length are wrong for Japan: eBMS website"
Japanese BMS started to draw transects on the eBMS system and the coordinator realised the section length are wrong for Japan (presumably for outside of Europe). One transect as an example, Tokyo Institute for Nature Study ID 297025 with 9 sections, the total length is 21.000 m and some sections have 4km of length on the eBMS.
I include a pdf with the real length per section being a few 100 m.

Ca

[2022-07-27 07:51] #247 closed

[2022-07-27 07:57] DavidRoy commented on #460
@JimBacon can you look into this please

[2022-07-27 08:02] DavidRoy commented on #435
That's done.  Please close the issue if all is ok

[2022-07-27 08:08] CrisSevilleja opened #461 "Searching common names not working on eBMS website"
Common names from many different languages are included on the eBMS system and possible to search on the app. However, for the website, it is still not possible.

Previously we have all the available common names shown on the website when searching but it was confusing for volunteers and we removed it. But now it is only possible to search species by scientific name or in English.

Could it be pos

[2022-07-27 08:10] #435 closed

[2022-07-27 08:36] CrisSevilleja commented on #458
Trying to update translations manually but it fails even if the Language is complete on Transifex. One example of the Japanese language on the screenshot shows the failure message on the website.

<img width="960" alt="2022-07-27_10h30_40" src="https://user-images.githubusercontent.com/25052478/181201092-daca4964-9148-4148-abe2-2725c9f69405.png">

@JimBacon I know you are checking this, just to gi

[2022-07-27 09:46] CrisSevilleja commented on #457
Hi @JimBacon

Thanks for explaining everything. Regarding the desired behaviour, I think the second option makes sense. I don't think or it shouldn't be that we need to redetermine species across species groups, we expected to redetermine within a species group. @DavidRoy do you agree on this?

[2022-07-27 10:12] JimBacon commented on #460
The section length calculation is as follows:
[code]
The geometry of the transect is being transformed to the British National Grid prior to the length calculation. This is giving very wrong results for Japan but it will also be giving somewhat wrong results for mainland Europe.

I can fix the code and I can correct all the section and transect lengths stored in the database, but does this have wi

[2022-07-27 10:17] DavidRoy commented on #460
@JimBacon thanks for tracking this down.  Please update the code and make the data correction.  There is analysis using the transect lengths but this will not cause a major problem for Europe analysis

[2022-07-27 15:54] JimBacon commented on #460
Code fixed and deployed. Section lengths for the example Japanese transect updated. @CrisSevilleja, the Japanese coordinator can check and continue entering transects.

Further updates of section lengths to follow.

[2022-07-28 08:06] CrisSevilleja commented on #460
Great! so efficient @JimBacon Thank you for the fast fixed. I have checked the Japanese transects and now the length makes more sense.

[2022-07-28 14:16] CrisSevilleja opened #462 "Reorder the fields on Section detail page: ebms website"
To improve the layout of the section detail page:

Place the section length under the section number (currently you need to scroll down to see it)
![mock-up section details](https://user-images.githubusercontent.com/25052478/181528680-2c5283ab-d225-4e9c-a705-96af450b074a.png)

Turn upside down the fields. Place first the Primary Land/Habitat, then 2nd Land/Habitat and then the notes.
![Habitat- se

[2022-07-28 16:09] JimBacon commented on #460
To update the lengths of transect sections I ran the following query:
[code]
Unexpectedly, a couple of dozen sections had multiple attribute values for section length. To remove the duplicates I ran the following update:
[code]
Then, to update the total transect lengths I ran the following query:
[code]
What this has achieved is to update lengths where they had previously been incorrectly calculat

[2022-07-28 16:09] #460 closed

[2022-07-28 16:19] JimBacon opened #463 "Transect sections missing length attribute"
There are sections, probably imported, for which the length has not been calculated. We can run a query to create the missing attributes.
The total length of the transects may be missing too, or may be present and need recalculating.

Refer to https://github.com/BiologicalRecordsCentre/ABLE/issues/460#issuecomment-1198354374

[2022-08-04 15:04] JimBacon commented on #459
Hi Cristina,
This is exactly the same problem that was reported in #325!

[2022-08-04 16:59] JimBacon commented on #458
I logged in to Transifex and looked at the settings for the automatic updates. They were being sent to
```https://dev-butterfly-monitoring.pantheonsite.io/tmgmt_transifex/webhook/```
 which doesn't even exist. I have corrected this to
```https://butterfly-monitoring.net/tmgmt_transifex_callback```
as specified in https://docs.transifex.com/drupal-integrations/drupal-8-9#setting-up-an-auto-update-w

[2022-08-05 10:22] CrisSevilleja commented on #458
Good @JimBacon you found the error and correct the proper website.

However, as you supposed Drupal is not making the automatic translation, I checked making some manual translation "Check for updates" and it gives the same message "Missing resource with slug: txdrupal__txsep__12429__txsep__default". In this case, this was for the German language that is completely translated on Transifex for the

[2022-08-09 12:18] chrisvanswaay opened #464 "Entering species complexes (via the website)"
Martin Musche (UFZ) wrote me:
A problem appeared when I tried to enter species complexes via the website that are not in the species list. Although I was able to write the name of the complex into the  species field this procedure prevented the selection of species from the list in subsequent fields. An example workflow:

(1) Noctua janthe/ janhina - not in the species list, therefore written in t

[2022-08-09 12:19] chrisvanswaay commented on #464
@JimBacon @DavidRoy

[2022-08-09 12:23] CrisSevilleja commented on #460
thanks, @JimBacon for the update. Indeed the Japanese coordinator complained about the section length again but now after this update, I think the length of the sections is correct and more accurate.

[2022-08-09 12:41] DavidRoy commented on #464
@chrisvanswaay for
(1) you can only enter names (via the app or website) that are already known by the system.  We'll need to extend the species dictionary for these complexes.
(3) can Martin provide a screenshot as I'm not sure why this name is not able to be selected.  Are you able to replicate this problem?

[2022-08-09 15:12] chrisvanswaay commented on #464
Well, I can't reproduce it. But I also can't enter a complex. How shall we tackle this? As I start I could list our species-complexes, but of course these don't work in Hungary or Spain. Maybe better ask the coordinators there?

[2022-08-09 15:38] DavidRoy commented on #464
yes, we'll need the regional co-ordinators to provide a list of complexes needed.  We've had the same requirement with the butterfly lists.  Ideally we would do an update to the lists in one go as it will require an update to both the website and the app.

[2022-08-10 06:00] chrisvanswaay commented on #464
@DavidRoy  Would it be an idea to ask our SPRING partner observation.org which moth-species-complexes they use? Would be a good start, I guess, if they provide a list to start with. I have also asked the fieldwork-partners for species complexes.

[2022-08-10 09:09] johnvanbreda commented on #464
@chrisvanswaay I'd like to know more about this comment:

Can you let me know how to reproduce this internal error please?

[2022-08-10 10:09] chrisvanswaay commented on #464
@johnvanbreda I couldn't reproduce it myself.
Martin Musche wrote:
(1) Noctua janthe/ janhina - not in the species list, therefore written in the species field
I simply couldn't enter a species not in the species list. He says 'written in the species field', but what does he mean?
Of course you could ask him directly, he is a member of our SPRING team (martin.musche@ufz.de).

[2022-08-10 11:36] DavidRoy commented on #464
@chrisvanswaay I'll contact Martin and suggest he comments directly to any issues he has

I also support your idea to ask fieldwork partners to identify any species complexes required

[2022-08-10 12:58] MartinMusche commented on #464
I attached a screenshot. This was the workflow:

(1) Selection of Peribatodes rhomboidaria from the list
(2) Selection of Noctua janthe from the list
(3) Change of species name using the edit button from Noctua janthe to Noctua janthe/janthina
(4) Selection of the next species (Eilema complana) from the list
(5) try to select the next species from the list which is not possible
[screenshot_complex

[2022-08-10 15:14] CrisSevilleja commented on #366
Dutch common names don't appear on the ButterflyCount app, there were included before but with the last update those names dissapeared.

Could be possible to include them again on the app specifically and also on the website? @kazlauskis @DavidRoy  @chrisvanswaay

[2022-08-17 07:23] chrisvanswaay opened #465 "No endtime in sample downloads 15 min counts anymore"
@DavidRoy @kazlauskis @CrisSevilleja
While working with the 15 minute count sample data, I noticed that in most (but not all) recent samples the endtime is missing, including my own data. I checked and this started in my counts from 2 June 2022 onwards (from that date onwards all my endtimes are missing). I might have missed something, but this comes as a surprise to me. It also means we cannot di

[2022-08-17 07:24] kazlauskis commented on #366
@CrisSevilleja I can still see the Dutch names in the latest app version, e.g searching Bosparelmoervlinder. Can you give an example of a species you can't find?

[2022-08-17 07:31] kazlauskis commented on #465
@chrisvanswaay Sorry, I've just noticed a bug in the app. We'll fix it asap.

@Vilius-Stankaitis We're uploading the end time with an incorrect warehouse ID. Can you please change it from `surveyEndTime` to whatever the correct warehouse attribute ID is?

[2022-08-17 07:37] chrisvanswaay commented on #465
Thanks for the quick reaction @kazlauskis

[2022-08-17 07:47] Vilius-Stankaitis commented on #465
Fixed

[2022-08-17 07:51] chrisvanswaay opened #466 "time of occurrences in download"
@DavidRoy @kazlauskis @CrisSevilleja
Something else surprised me in the occurrences download, where all occurrences in a sample have the same starttine and endtime as the sample. Now I understand this was the case in the first versions of the app (and nothing wrong with copying it to the occurrences, though not needed as already in the sample download), but nowadays in the app I can see all occurr

[2022-08-17 07:54] chrisvanswaay commented on #465
@Vilius-Stankaitis Thanks. Does this mean all endtimes will become available also from 'old' data when I download again, or only from now on with new counts?

[2022-08-17 08:06] DavidRoy commented on #466
I agree that each occurrence should have it's own timestamp (not start/end time).
@kazlauskis @Vilius-Stankaitis can you implement this if not already done - it may be that this information is in the database but not in the downloads

[2022-08-17 08:18] Vilius-Stankaitis commented on #465
Unfortunately, only from now on.

[2022-08-17 08:22] #465 closed

[2022-08-17 08:27] Vilius-Stankaitis commented on #466
it should be in the database as occAttr:912 (occurrence time of sighting).

[2022-08-17 08:30] chrisvanswaay commented on #366
The problem is not with Dutch species in NL (as Bosparelmoervlinder), but with non-Dutch species in other countries. As Wedewitje for Pieris ergane when on holiday in Croatia or Italy.

[2022-08-17 08:49] CrisSevilleja opened #467 "make optional sound and vibration when Time's up on 15-min count"
@kazlauskis @chrisvanswaay @DavidRoy Some volunteers mentioned if it would be possible to generate a sound when the time ends in the 15-min counts. Some others are happy with the vibration and wouldn't like the sound. Therefore I would provide the vibration and sound as an option on the app settings.

could that be possible? what do you think?

[2022-08-17 10:28] chrisvanswaay opened #468 "Hide counts"
@DavidRoy @kazlauskis
I regularly do counts on places I don't want to be publicly known, e.g. because there are sensitive species. Now all data is openly available. Would it be possible to add a switch in the app (either in the settings for always, or at the start of the count for once) so I can hide such counts for other people? I would not mind if they are in the downloads, as the downloads are

[2022-08-17 12:35] kazlauskis commented on #467
I agree this would be nice. We could show a little popup at the top with a message that the time is over, vibration and sound. Like a [push notification](https://duckduckgo.com/?q=push+notification&t=ha&va=j&iax=images&ia=images) which would also show up even when the device is locked.

[2022-08-17 12:51] kazlauskis commented on #366
Wedewitje isn't in the app because it isn't added to the database as a synonym for `Pieris ergane`. Is there another species name I can check that you find missing?

[2022-08-17 13:08] chrisvanswaay commented on #366
Actually all European species have Dutch names, so it concerns the species which have never been reported from NL, e.g. almost all Erebia species (as Simplonbergerebia - Erebia christi, or the much more widespread 'gestreepte heivlinder' (Hipparchia fidia) ). I though you had an excel with all names? Otherwise I can provide them to you.

[2022-08-17 13:28] JimBacon commented on #366
I'm just looking at another issue with common names, https://github.com/BiologicalRecordsCentre/ABLE/issues/461
There are only 78 butterfly names in Dutch (compared to 810 in English)
Perhaps something went wrong when John did the import.

[2022-08-17 13:42] johnvanbreda commented on #366
@JimBacon I think the import I did for Dutch vernaculars was the moth list and there are ~2,500 names in Dutch on that list.

[2022-08-17 14:14] JimBacon commented on #461
Hi @CrisSevilleja

I think this actually works almost exactly as you suggest.
If you edit your account and change your language setting from English to another language then the list of species suggestions when you start typing are in Latin and your chosen language.

What is confusing is that the language selector on the top-right of the page does not reflect the user preference and does not affec

[2022-08-17 14:58] chrisvanswaay commented on #366
I just checked and I sent it to @kazlauskis on 30 August 2021. But no problem to put it here, it should get attached to this message (if github does what I think it does)
[European checklist Dutch vernacular names.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/9363945/European.checklist.Dutch.vernacular.names.xlsx)
.

[2022-08-17 14:59] chrisvanswaay commented on #366
Would be great if this could be added, so Dutch recorders can also record butterflies with Dutch names outside NL.

[2022-08-17 15:15] DavidRoy commented on #468
@chrisvanswaay I agree this is useful.  We have functionality for sensitive locations.  Would you want the records completely hidden or the location to be blurred (if so, what scale to blur to)

[2022-08-17 15:16] JimBacon opened #469 "Support regional variations in common names"
The same species may go by different common names in different regions where the same language is spoken. This is notably an issue with English which is spoken over a large geographical range but is only recognised as one language in ISO 639-2.

For example, _Danus chrysippus_ is known as Plain Tiger in Australia and African Monarch in St Helena

We want to only offer recorders the common names th

[2022-08-17 15:34] JimBacon commented on #366
That would explain why the butterfly names are missing :-)
I can see about importing them in to the database.

[2022-08-18 06:54] #456 closed

[2022-08-18 08:23] JimBacon commented on #461
Sorry, just spotted that the code will need updating to support Japanese common names.
Only the following languages are currently allowed for in `client_helpers/prebuilt_forms/ukbms_sectioned_transects_input_sample_2.php`

          // Map Drupal codes to 3 digit codes held in warehouses
          $langMap = [
            'cs' => 'ces', // Czech
            'de' => 'deu', // German
            'en

[2022-08-18 08:27] CrisSevilleja commented on #461
I was exactly checking and it is not working for other languages as well:

- Bulgarian (butterfly examples - Азбучна опашатка, Синьопетниста опашатка, Невзрачна опашатка, Обикновено тигърче)
- Lithuanian
- Japanese
- Danish
- Slovenian

The searching for common names is working for Dutch, Polish, German, Hungarian, Swedish and Czech. There are other languages that don't have common names (Italian,

[2022-08-18 08:29] CrisSevilleja commented on #461
Also, it is annoying when a certain language is selected in the user account and in the upper part appears the English language. Although the website translate the pages into that language. Do you think it could be possible to change that? I think I should ask Jonh.

[2022-08-18 08:31] CrisSevilleja opened #470 "add Finish language and scheme to eBMS"
Checking the common names I realised Finland is not included on the eBMS website, when it is on the app.

Please @DavidRoy could you add the Finish language to the list and also the Finish BMS. thank you

[2022-08-18 09:07] CrisSevilleja commented on #414
Hi @JimBacon again this problem is back. I cleaned the cache and I used Google Chrome and Microsoft Edge and the translation of the pages is not happening when you select a language different from English.

I am sure all these pages (like before were failing: My transect sites, My transect walks, Annual Report...) have the translation applied.

Again if you can have a look, maybe we resolve it aga

[2022-08-18 09:56] kazlauskis opened #471 "Add an option to delete user account in the app"
Same as [irecord-butterflies-app#107](https://github.com/NERC-CEH/irecord-butterflies-app/issues/107)

- [x] app
- [x] website

[2022-08-18 09:58] kazlauskis commented on #471
@andrewvanbreda, I know you've added your account delete code to FIT, iRecord and NPMS sites. Have you added it to any other sites like https://butterfly-monitoring.net?

[2022-08-18 10:00] JimBacon commented on #461
@CrisSevilleja I've updated the code to support the missing languages.

[2022-08-18 10:26] andrewvanbreda commented on #471
Hi @kazlauskis

No I haven't, just the ones I knew had the apps with the delete functionality.

I don't work on these other projects, and they are not on my pantheon dashboard so I know very little about their day to day operation.

For websites without apps, an urgent update shouldn't really be necessary as I think most (if not all) the websites don't allow standard users to delete their accounts

[2022-08-18 10:34] DavidRoy commented on #471
@andrewvanbreda we can cover your costs for working on the website updates to support app updates

[2022-08-18 10:46] JimBacon commented on #414
Hi @CrisSevilleja, I still can't replicate this!
If I go to, e.g., https://butterfly-monitoring.net/my-sites, and change the language to German or Spanish I see the translated page.

I am using the language selector in the top right corner to change the language and my account setting is for English. (I can imagine, having two places where you can choose the language, could lead to conflict and co

[2022-08-18 10:49] andrewvanbreda commented on #471
@kazlauskis @DavidRoy
Do you have a full list of projects that might need updates? Technically I suppose it should probably be all BRC's Indicia websites. However, as mentioned above, ones which don't have an app and don't allow account cancellation on the website can probably be left for now as the deletion code will get put on those sites with general Indicia updates that admin do.

[2022-08-18 10:54] DavidRoy commented on #414
maybe a quick zoom might pin this down?

[2022-08-18 12:21] kazlauskis commented on #471
@andrewvanbreda Right now, it is only the butterfly site that requires it: https://butterfly-monitoring.net (Pantheon)

These will also need it at some point but probably can wait for now.
https://esurveyor.ceh.ac.uk (Pantheon)
https://dunescapes.brc.ac.uk (Pantheon)
https://european-mammals.brc.ac.uk (Pantheon?)

[2022-08-18 12:22] DavidRoy commented on #471
Yes, that's the list and all are on pantheon

[2022-08-18 12:43] CrisSevilleja commented on #414
Yes, maybe we need to meet to show exactly the problem.

The issue is not related if there is a translation or not, the problem happens when you want to navigate between pages, the language always changes to English on the same pages and does not keep the selected language. So I am in Italian I select another page and suddenly the web changes to English when it should stay in Italian.

Let's discu

[2022-08-18 12:43] andrewvanbreda commented on #471
Hi @JimBacon @Gary-van-Breda
I think Biren is away, so not sure who to contact regarding the administration of EBMS .
I need to need make sure the recent user anonymiser development is operational on the Eurean Butterfly Monitoring site for Karolis.

Do you know if this site is running the very latest Indicia Master code for indicia_features?

If that is the case, then we just need to enable the "

[2022-08-18 13:06] JimBacon commented on #471
Hi @andrewvanbreda

No, the indicia_features module is not up to date. Easy_login reports being on version 5.0 and the current is 8.2

It would be good to know whether @Gary-van-Breda has made any local changes to it which could get overwritten by an update.

[2022-08-18 13:26] andrewvanbreda commented on #471
@JimBacon
Great thanks Jim, both of those are really useful thoughts.

[2022-08-18 13:27] JimBacon opened #472 "Improve language selection on website"
There are two places where a user can set the language for the website display

- In a language switcher in the top-right of the web site which then uses language codes in the url to show translated pages.
- In user account preferences

The language detection and selection settings (admin/config/regional/language/detection) give precedence to the language switcher unless it is set to English. It i

[2022-08-18 13:39] kazlauskis commented on #472
Just a thought. I feel that most of the users register through the app and already have the language chosen there. We could push it to the user profile in the website.

[2022-08-18 13:43] JimBacon commented on #414
I believe I understand your problem. Look at the url of the page you are on and, before clicking a menu item, the url that the browser says it will navigate to, finally the url of the page you arrive at. They should all contain the language code as high-lighted in this screenshot, assuming you are using the language switcher in the top right of the page to select the language.

![image](https://us

[2022-08-19 09:12] chrisvanswaay commented on #468
I think it is best to make them completely hidden. In my experience blurring doesn't help a lot. Would be good if also old counts can be hidden via the website.

[2022-08-20 09:34] DavidRoy commented on #468
@kazlauskis - can you a flag to mark samples as 'sensitive' to the app surveys for timed counts (single species and multi-species).  It sits best on the 'Additional details' page.
@JimBacon can you advise on warehouse setup, e.g. how Karolis posts the information.  Also, can you update the sample-editing page to show this field and allow it to be edited. https://butterfly-monitoring.net/mydata/sam

[2022-08-22 06:58] kazlauskis commented on #468
@JimBacon should we use the `occurrence:confidential` attribute?

[2022-08-22 15:13] JimBacon commented on #468
There are 3 fields used by the database to manage visibility of records. The comments in the database about them are as follows:

- `occurrence:confidential`: Flag managed by the dataset administrator. The confidential flag relates to the need to control communications around a record rather then simply an indicator that a record is sensitive (which should be done via the sensitivity_precision fie

[2022-08-22 15:45] JimBacon commented on #468
Thinking about it a bit more, we might be able to customise the reporting pages to not show records where the `privacy_precision` has been set. However, because that is not the generally understood meaning, they might be blurred rather than hidden if shared to another website.

[2022-08-23 06:58] chrisvanswaay commented on #468
I'm not sure I completely understand all, but it looks like @JimBacon says that hiding is difficult, and blurring is much easier. That's a pity, but it is how it is. In that case we should set a large radius plus blur all the other observations of that visit. Anyway the data should be in good precision for scientific use.

[2022-08-23 13:24] JimBacon commented on #458
I have had a helpful response to the issue I raised with the maintainers of the Transifex module.

There was a backwards-incompatible change made in version 2 of the module which we were unaware of. We started using the new version on 14th September 2021. Jobs created before then cannot be managed by the new module. Jobs created after then cannot be managed by the old module. They suggest re-creat

[2022-08-23 13:27] JimBacon commented on #437
Closing as duplicated by https://github.com/BiologicalRecordsCentre/ABLE/issues/461

[2022-08-23 13:27] #437 closed

[2022-08-23 15:34] JimBacon commented on #472
Link to relevant documentation: https://www.drupal.org/docs/multilingual-guide/enable-language-detection

[2022-08-23 17:42] chrisvanswaay opened #473 "continuous counts in 15min counts"
Something to keep in mind, but I would love an option where I could simply set the counts to continue. So after the 15 minutes is over, then a new count starts automatically and directly.

[2022-08-24 09:33] DavidRoy opened #474 "ButterflyCount: Add Saint Helena as country option"
We now have Saint Helena in the species list and it is being used for a new BMS on the island.  Can you add this to this list of countries for the app setup

[2022-08-24 13:15] JimBacon commented on #440
Text on the forms created by the Indicia software is mostly available for translation through Drupal. (Note to developers. Text which is passed through the Indicia lang::get() function is made available in this way provided the configuration is set in helper_config.php, ref https://github.com/BiologicalRecordsCentre/ABLE/issues/390)

Follow the admin menu to Translation > Sources and select 'Local

[2022-08-24 13:58] JimBacon opened #475 "Enable translation of fields on the user account page"
When editing account details, custom field labels, help text, and choices are only in English.
There is no option to provide translation.

![image](https://user-images.githubusercontent.com/2545390/186428722-943926ee-3087-4d68-9b69-a66cc5f87298.png)

[2022-08-24 14:15] JimBacon commented on #475
To enable the translation of field settings (and much more), I have enabled the Multilingual:Configuration Translation and the Translation Management:Config Entity Source modules. Only administrators currently have permissions for it.

Now if you go to Translation > Sources there are many more options in the 'Choose source' drop down list. Choose 'Config Entity: Field' and you will see e.g. 'First

[2022-08-24 15:23] JimBacon commented on #472
I've noticed a reference to the user account language setting in the EBMS Scheme Drupal module. It says "It is assumed that the default language for a user is as defined in their account, and is not tied to the scheme they are part of."

It looks like it is intended to determine the language of emails it sends to scheme organisers about new users. For this to work, user accounts will have to retai

[2022-08-25 08:42] andrewvanbreda commented on #471
Hi @JimBacon
Are you able to add the EBMS project to me in Pantheon?
What I can do is just update indicia_features/easy_login. I can use Git diff should allow me to detect if I were overwriting anything which is project specific.
Cheers

Failing that I can write some simple notes for someone else to do it.

Hi @kazlauskis I notice the "Cancel Account" button is enabled for users on the website?
Is

[2022-08-25 08:43] andrewvanbreda commented on #471
@kazlauskis Are you able to add me to this project? then I can assign people on issues correctly.
Cheers

[2022-08-25 08:59] andrewvanbreda commented on #471
Hi @JimBacon
Thanks Jim, I can see the project in Pantheon now.

[2022-08-25 09:00] JimBacon commented on #471
Hi @andrewvanbreda

I've added you to the EBMS team.
Since we will both be working on it at the same time I suggest any commits you make are done in to a branch which is merged in to master when you are ready.
Any commits to master I'll assume can be deployed to live.

[2022-08-25 09:31] kazlauskis commented on #471
@andrewvanbreda yes, we've enabled it for the app to function. It wasn't enabled before.

[2022-08-25 09:45] JimBacon commented on #475
To fix the above issue I used Terminus to run Drush commands to modify the language codes as follows:
[code]
@CrisSevilleja it should now be possible to add translations related to account settings. Could you try it out?

[2022-08-25 10:01] andrewvanbreda commented on #471
Hi @JimBacon,

I have examined the situation with ebms indicia_features.

It doesn't look like the easy_login module has any customisations.
The other modules inside indicia_features have too many changes to tell, however those modules are not enabled on ebms so I can only assume there are no customisations either.

So I suggest I update the site to Master indicia_features.

However I will need to

[2022-08-25 10:08] JimBacon commented on #471
Hi @andrewvanbreda ,

Each branch gets its own copy of the files and database so it is perfect for what you are doing. See https://pantheon.io/docs/guides/multidev

I think you should try it this way to gain the experience and you'll probably never want to work any other way again!

[2022-08-25 11:35] andrewvanbreda commented on #471
Hi @JimBacon
Yes I agree this is very nice. I hadn't realise I would get a site with the branch, and it all seems nice and easy.

I have merged into Dev master.

There is only one thing I noticed, the easy_login module will say to the user something all the lines of "let us know about the area you record in" after they save their account, it never used to do that.
I am not suite sure if this is a

[2022-08-26 11:32] #451 closed

[2022-08-26 11:35] kazlauskis commented on #471
The app-side is done now. @andrewvanbreda please close the ticket once your update is live.

[2022-08-26 11:35] #447 closed

[2022-08-26 13:12] andrewvanbreda commented on #471
@kazlauskis
Done now.
However should the other websites also be updated before closing this?
How soon does those other ones need doing by?

@Gary-van-Breda
Note about Recording Location in above comment (copied below for convenience).

"There is only one thing I noticed, the easy_login module will say to the user something all the lines of "let us know about the area you record in" after they save

[2022-08-26 13:39] kazlauskis commented on #471
@andrewvanbreda let's close this one and create new tasks in other repos. I am not sure about the other sites yet. The next one we'll need next month will be https://european-mammals.brc.ac.uk/ (Pantheon). I've created a task for it now.

[2022-08-26 13:39] #471 closed

[2022-08-29 14:05] CrisSevilleja commented on #475
@JimBacon I added the translations of 'First name' and 'Last name' into Spanish through the path you described (Configuration > People > Account settings > Manage fields, find e.g. 'First name'). Everything worked well and I didn't get any warning message.

I still don't see those translations on the website, maybe it takes time to appear.

[2022-08-30 12:12] chrisvanswaay commented on #464
@DavidRoy
@MartinMusche asked me about the developments. Would be easiest to add the species complexes from observation.org, I guess.

[2022-08-31 13:25] JimBacon commented on #475
You just needed to clear the caches.
![image](https://user-images.githubusercontent.com/2545390/187688971-7996c977-960b-4e4b-a016-27b40f8f11a8.png)

[2022-09-01 08:02] CrisSevilleja commented on #475
now it works ;)

So, now to go further with the rest of the languages, I need to do it that way, directly including the translation there and not through Transifex, right? @JimBacon

[2022-09-01 08:05] CrisSevilleja commented on #461
This issue is solved, it is necessary to select on account settings the preferred language to see its common names in the searching bar. For the moment this is done although we will need to work further on how to select the language on the website, at the moment two ways to select the languages with different preferences.

Thanks Jim for this

[2022-09-01 08:05] #461 closed

[2022-09-01 08:11] CrisSevilleja commented on #414
This issue is solved, it is related to the language preference selected. When a language is selected on the account settings, this navigation problem of turning pages into English is not happening.
The problem is when you select another language on the language selector (on the top-right) and is different from your account settings. Then when you navigate between pages normally the pages turn into

[2022-09-01 08:11] #414 closed

[2022-09-01 08:16] JimBacon commented on #475
What happens if you check the boxes against the languages you want to translate and then click the Request Translation button?
![image](https://user-images.githubusercontent.com/2545390/187866239-61eef745-a6c0-4240-9491-79416865b06c.png)

[2022-09-01 08:59] CrisSevilleja commented on #475
I managed to send the requested translations for the three languages.
<img width="960" alt="2022-09-01_10h57_39" src="https://user-images.githubusercontent.com/25052478/187875262-f4284578-9b8a-4c33-bca3-29e7ad57de95.png">

[2022-09-01 10:01] JimBacon commented on #475
It looks like it is mostly working. There are 6 strings to translate for this field: The label, help text, and four options.
The three requests with 6 strings and 90 words show in the list of translation jobs.
![image](https://user-images.githubusercontent.com/2545390/187884826-355d14d6-db9e-46ae-9f81-ec6a82f3bba7.png)

However, Transifex lists 5 strings and 86 words
![image](https://user-images.g

[2022-09-01 10:13] CrisSevilleja commented on #475
you can check it on the language to translate
<img width="708" alt="2022-09-01_12h12_18" src="https://user-images.githubusercontent.com/25052478/187890132-ff959899-927b-4509-85ec-b1c0de58d525.png">

However, I don't know if Hungarian, for example, was not requested, if the translation is given that would be applied on the website....

[2022-09-03 04:33] CrisSevilleja opened #476 "Wrong string on Transifex"
@kazlauskis there is an issue with one string on transifex that apparently is wrong. Please could you check it? I don't know from where that sentence is coming, so I don't know how to edit it.
Thank you
![302202832_465266975613683_3136544062755974583_n](https://user-images.githubusercontent.com/25052478/188255929-7c46349c-a33e-4d66-927a-e85d1e76ad6a.jpg)

[2022-09-05 10:22] kazlauskis commented on #476
@CrisSevilleja this doesn't come from the app but is part of the website translations project.

[2022-09-05 10:34] DavidRoy commented on #476
maybe @JimBacon to advise?

[2022-09-05 11:30] JimBacon commented on #476
The string is the description of the History module, which is not enabled. I see no reason to translate it as it is part of the administration interface that only a few people see. It is not impossible that the exact same string is used for some other purpose but I doubt it.

One might re-write this as "Keeps a record of the content that each user has read".

[2022-09-05 14:16] JimBacon commented on #458
@CrisSevilleja, can you confirm whether the Transifex connection is working properly now for jobs created recently?

[2022-09-05 14:49] JimBacon commented on #317
I've just checked and there is a new transect with duplicate sections: https://butterfly-monitoring.net/ebms-site-details?id=297750 has two S2 sections.

I guess this indicates that there is still a bug in the transect creation code.

[2022-09-05 14:53] DavidRoy commented on #317
@Gary-van-Breda is this a problem with the site setup form

[2022-09-05 17:04] JimBacon commented on #459
As an initial step to fixing this, I am checking if any of the duplicate samples have attributes which need to be managed. Mostly they don't. Where they do, there is mostly only one sample in the set of duplicates for a transect section having attributes.

There are only two instances where more than one sample in a duplicate set for a section on a walk has attributes, as follows

[code]
and
[code

[2022-09-12 16:18] JimBacon commented on #459
Second step is, where one sample in a duplicate set has attribute values, to consolidate the records for that transect section on to the sample with attribute values.

Firstly we re-assign the occurrences of the duplicate samples to the sample we are going to keep. Then we can delete the duplicate samples.

[code]
and
[code]

[2022-09-12 16:57] JimBacon commented on #459
Finally, for the remaining duplicate sets, we can consolidate around an arbitrary sample (taken as the one with the lowest id)

Again we re-assign the occurrences of the duplicate samples to the sample we are going to keep. Then we delete the duplicate samples.

[code]
and
[code]

[2022-09-13 08:04] JimBacon commented on #325
Following work to fix the data, the input page now correctly shows 13 species and 41 individuals for the given example.

![image](https://user-images.githubusercontent.com/2545390/189845557-327f086a-c438-4895-9dcf-914a03b91898.png)

[2022-09-13 08:04] #325 closed

[2022-09-13 08:26] JimBacon commented on #459
The data should now be organised correctly. It appears so in one example tested. https://github.com/BiologicalRecordsCentre/ABLE/issues/325#issuecomment-1245047114

[2022-09-13 08:26] #459 closed

[2022-09-15 16:17] JimBacon commented on #444
I have checked for records against the deleted taxa today and found 17. I updated the occurrences table using the query above.

In addition, I updated cache_occurrences_functional as follows:
[code]

This needs checking again in future, bearing in mind the diminishing number of records with the end of summer. The problem will not manifest itself when people are not recording.

[2022-09-19 10:04] MartinMusche opened #477 "Assignment of data and recorders to coordinators/schemes"
I am registered as a coordinator for Germany.
(1) When I download data from the moth traps there is a record from the Netherlands in the dataset: Sample ID: 18883919.
(2) Just recently I received an email telling me that a new recorder was assigned to my scheme (Indicia Warehouse User ID
341890). However, the person seems to be from Spain (time zone Madrid)

[2022-09-25 11:02] chrisvanswaay opened #478 "Problems entering moth data in Spain"
@JimBacon @kazlauskis @DavidRoy
Hi all, got this email from Constanti in Spain (canliro@gmail.com). I will send him the link to this discussion. I think this issue is in the webversion trying to enter moth counts. Can you have a look?
Chris

------
Now that the CBMS seasons has finished, I started to enter my moth trap data, using the app provided by eBMS. However, I got stuck in my first trial, e

[2022-09-25 13:53] canliro commented on #478
Hi Jim, hi David,
The problem seems to be related with the coordinates given to the trap. I used lat/long, as you can see in the screen capture. The odd thing is that, after several trials with the same message ('spatial reference must be supplied'), I asked my colleague Jordi Corbera, who has been uploading data from his trap samples without problems, the format of coordinates that he uses. I the

[2022-09-26 12:00] JimBacon commented on #478
Hi @canliro

I am sorry you were having problems with the website.
I think I know the cause, which I have now fixed.
Please try again and let us know if it is okay.

For information, this is what I found:
If you chose the trap and then the date on the calendar, as below, the location information was not set correctly.
![image](https://user-images.githubusercontent.com/2545390/192269428-0517cde7-a3

[2022-09-26 17:09] JimBacon commented on #444
It looks like my query to find duplicates searched for records with the same taxon and authority. I've found some more cases to review which count as duplicates being preferred and having the same taxon. They were not picked up previously as they differ in their authority.

Taxa_taxon_list_id | Taxon | Authority | External Key
--- | --- | --- | ---
549813 | Araschnia levana
432420 | Araschnia leva

[2022-09-27 15:54] JimBacon commented on #444
@kazlauskis Can you log the fact there have been some more updates to the EBMS butterflies list and that the app will need updating when convenient.

[2022-09-27 15:55] JimBacon commented on #444
A revised query to check for records against deleted taxa is
[code]

[2022-09-27 21:56] canliro commented on #478
Dear Jim,

I confirm that the problem is solved and that I've started to successfully
enter my moth data.

Thanks for your help and the quick reaction!

All the best,

Constanti

Missatge de JimBacon ***@***.***> del dia dl., 26 de set.
2022 a les 14:00:

[2022-09-28 07:57] #478 closed

[2022-09-28 09:00] JimBacon commented on #366
I am trying to import the Dutch butterfly vernacular names. Can you review the following @chrisvanswaay and provide advice.

The following species are not currently in the EBMS list and my Google research indicates they are North African. Can I omit these?

Papilio saharae, Euchloe falloui, Anthocharis belia, Cigaritis zohra, Cigaritis siphax, Cigaritis allardi, Apharitis myrmecophilia, Tomares ma

[2022-09-28 14:54] JimBacon commented on #366
@chrisvanswaay, one more question.
Where the spreadsheet lists
[code]
Am I correct to understand those are two possible common names for the same species?

[2022-09-29 06:04] chrisvanswaay commented on #366
@JimBacon Actually both are wrong, sorry for that, it should be: Mediterraan icarusblauwtje (so with double rr in Mediterraan).

[2022-09-30 10:12] chrisvanswaay opened #479 "moth data: location name can be used for different sites"
@JimBacon @kazlauskis
I notice in the moth data that the same location-name can be used for different locations: the name 'Moje' is linked to 5 different locations. Now this is bound to produce errors in entering the data or in the analysis. Could it be made impossible to use the same name for different locations?

[2022-10-02 09:15] chrisvanswaay commented on #479
As a consequence I cannot distinguish between traps in the downloads. The only way I can link between the samples and the occurrences is via Location (which can be the same for different traps)
Actually the main problem is that there is not a locations_id in the moth-downloads. That would already solve most of the problems.
Ideally there would be four downloads:

Trap
- trap_id (unique)
- type of

[2022-10-02 09:17] DavidRoy commented on #479
@johnvanbreda can you add location_id to the download

[2022-10-03 09:10] chrisvanswaay opened #480 "Common (vernacular) names for dragonflies"
During our 'recordersday' last Saturday we got the 'complaint' that for dragonflies in the 15min count it is not possible to enter a species by its Dutch vernacular name. I hope this can be made possible. Attached is a file with the vernacular names of dragonflies for quite a few languages, would be great if they could be included. The person to contact if questions arise is Roy van Grunsven (roy.

[2022-10-03 09:18] DavidRoy commented on #480
@JimBacon can you add this requirement to your 'to-do' list, thanks

[2022-10-03 11:19] JimBacon commented on #366
For info, the following query was used to insert the additional Dutch common butterfly names. The temporary table, [dutch_common.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/9696915/dutch_common.csv), is attached.

[code]

[2022-10-03 11:21] JimBacon commented on #366
The additional Dutch common names for butterflies are available on the website, see screenshot.
To close this issue, the names need pulling in to the app @kazlauskis.

![image](https://user-images.githubusercontent.com/2545390/193564816-14cae01e-5108-4f8c-b353-8b367840b36d.png)

[2022-10-03 11:55] kazlauskis commented on #366
That's done now and will appear in the Beta app shortly.

![Screenshot 2022-10-03 at 14 52 34](https://user-images.githubusercontent.com/7383162/193571019-0c2b2f00-e8ac-45b8-ae06-aac66fba32cd.png)

[2022-10-03 11:55] #366 closed

[2022-10-03 12:29] chrisvanswaay commented on #366
Great, thanks!

[2022-10-03 16:21] RoyvanGrunsven commented on #480
There are quite some people interested in using the app and 15min counts for dragonflies but common names would make it easier for many. I do not know if the file that Chris attached is usable for this, otherwise you van ask me or send me a dummy file to fill.

[2022-10-04 08:45] JimBacon commented on #480
Thanks @RoyvanGrunsven. I think the file format will be fine. It may be a few weeks before I start on this. I'll be in touch if I have any questions.

[2022-10-04 08:57] RoyvanGrunsven commented on #480
I was more thinking about synonyms in the scientific names and things like that, I can easily fix those.
In a few weeks would be great. In winter this is not used a lot anyway but I want to promote the 15min counts coming spring before the season. Thanks @JimBacon

[2022-10-04 10:07] JimBacon commented on #480
That would be helpful. I will need our lists to match by scientific name. I spotted one synonym by eye and one extra species in  the [current EBMS list](https://github.com/BiologicalRecordsCentre/ABLE/files/9704677/ebms-dragonflies.csv).

EBMS has _Stylurus flavipes_ instead of _Gomphus flavipes_ and the additional species is _Sympetrum nigrifemur_

Hi @kazlauskis, when is the next release of the

[2022-10-04 10:27] kazlauskis commented on #480
We haven't planned the next release yet but it looks like @DavidRoy has created [Autumn 2022 app priorities](https://github.com/BiologicalRecordsCentre/ABLE/milestone/15) milestone, so I assume that's something we'll do this calendar year.

[2022-10-04 14:35] RoyvanGrunsven commented on #480
Great, those two are quite easily fixed. There are also two additional species, Onychogomphus cazuma, recently described from Spain and the Italian populations of Coenagrion mercuriale are split off as Coenagrion castellani
I'll try to get the file as complete as possible and update here.
[ebms-dragonflies.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/9707849/ebms-dragonflies.csv)

[2022-10-05 09:23] chrisvanswaay opened #481 "How to see which species groups have been counted in the sample download of 15 min counts?"
**Warehouse**:
- [x] Create a new sample warehouse attribute - an array of species group ID numbers.

**App**:
- [x] Attach selected species group information to records.
   - [x] Add a species group filter dialogue to the species search page header.
      - [x] Copy over the previous survey settings to new surveys (save the selected options to the survey metadata but also update global app store

[2022-10-10 13:37] JurrienVanDeijk opened #482 "Common moth names on the EBMS website"
Could it be possible to also add the common names of moths to the website? These names are already available in the app. It is about the following page (https://butterfly-monitoring.net/enter-moth-trap-records?sample_id=20382666):

![image](https://user-images.githubusercontent.com/96239244/194878897-775b080e-24f6-4348-8da1-fb39bc858466.png)

[2022-10-11 07:55] larspett commented on #420
Would it be possible to run a resupply? There is a field which indicates the segment number (seg_sequence, in the export this should be called geo_seg_sequencid)

/Lars

From: JimBacon ***@***.***>
Sent: den 3 maj 2022 12:05
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pettersson ***@***.***>; Author ***@***.***>
Subject: Re: [BiologicalRecordsCentre/ABLE] Segment order incorrect in Swed

[2022-10-11 10:56] JimBacon commented on #420
Hi @larspett,
Are you saying that this is still a problem? It has been closed which means it should be fixed.

[2022-10-11 13:31] JimBacon commented on #482
Hi @JurrienVanDeijk

I have changed a setting for "Species Names Filter" to "Allow common names or preferred latin names".
This should help.
![image](https://user-images.githubusercontent.com/2545390/195103759-1b1dd61a-e26c-4f70-9cda-978f424b142e.png)

[2022-10-11 13:35] JurrienVanDeijk commented on #482
Is this a setting I could have changed myself?

[2022-10-11 13:38] JimBacon commented on #482
Probably not.
You need edit permissions on https://butterfly-monitoring.net/node/146/edit

[2022-10-11 13:38] JurrienVanDeijk commented on #482
Okay, but thanks for changing, now it works!

[2022-10-11 13:40] #482 closed

[2022-10-16 08:41] DavidRoy opened #483 "ButterflyCount: Painted Lady Survey"
First requirement is a mockup for:

idea is to add to the ‘15m Single Species Count’ – accessed by ‘long-pressing’ the (+) in the bottom centre of the home screen.  This survey then asks for a target species.
If Painted Lady was selected, we would then add additional categories of information to provide.
All information is mandatory versus and no default values.
Information provided at the survey

[2022-10-17 14:37] chrisvanswaay opened #484 "Problems reported with entering moth data"
Aniko Kovacs, who coordinates field work in Hungary and Romania, came up with these remarks:

Some further suggestions (also from earlier, therefore some of these
might be solved since then):

- there are no diurnal species on the list, howevere they cought some.
  CvS: I cannot reproduce this, when I try to enter Zygaena filipendulae this works.

- the website doesn't allow to export the data, on

[2022-10-18 08:03] johnvanbreda commented on #479
@chrisvanswaay I've now added location ID to both the moth trap downloads.

[2022-10-18 08:04] CrisSevilleja commented on #477
Hi @MartinMusche the Spanish recorder of moth in Germany was me! I am Cristina the eBMS coordinator working in Dutch Butterfly Conservation.
Indeed it happened what Jim mentioned, I was on holiday on the Butterfly Weekend with my colleagues in Germany and we set up several moth traps, so the records are from Germany although I am not recording constantly there. This kind of samples could happen an

[2022-10-18 08:07] johnvanbreda commented on #479
@DavidRoy do we need to consider the other suggestions for downloads above?

[2022-10-18 11:22] chrisvanswaay commented on #479
Thanks!

[2022-10-18 11:28] DavidRoy commented on #479
@JimBacon can you pick up the other downloads required?

[2022-10-18 11:37] JimBacon commented on #479
Yes but it will be some weeks before it gets to the top of my list.

[2022-10-20 08:00] chrisvanswaay commented on #481
Anyone?

[2022-10-20 08:22] JimBacon commented on #481
I have no knowledge of this survey, at present, so am not the best person to try to answer the question. If it was not designed to record absence then this may be difficult.

[2022-10-20 08:40] chrisvanswaay commented on #481
Thanks @JimBacon .  I can download samples and occurrences, I guess @johnvanbreda prepared that query. From the species in the occurrences-download I can see that it's not only butterflies (but also dragonflies etc). Before starting the count a recorder has to indicate which speciesgroups will be monitored. I need to know which species groups were monitored in a sample. @johnvanbreda  am I right t

[2022-10-20 08:55] johnvanbreda commented on #481
@kazlauskis presumably the question about species groups is collected by the app - do you know if this information gets stored in the database anywhere?

[2022-10-20 09:50] chrisvanswaay opened #485 "api of 15 minute counts"
About a year ago @johnvanbreda provided me with the details for the api to get to the 15 minute count data. So far we haven't had time to work on that (it has been very busy), but now my colleague bas.oteman@vlinderstichting.nl want to try to start with this in the coming winter. We still have the inlog details, but have there been developments in this api that we should know of?

[2022-10-21 06:33] kazlauskis commented on #481
@chrisvanswaay @johnvanbreda the app allows users to filter the species lists to selected species groups but that is about it. This filter is part of the app setting and isn't uploaded to the database as part of the records. I don't see why we couldn't attach the species groups' information to the surveys, though.

[2022-10-21 06:36] chrisvanswaay commented on #481
@kazlauskis Thanks. Hope this can be implemented, it allows the distinction of zero-counts and these are important.

[2022-10-21 06:42] kazlauskis commented on #481
Sure, we can add the species groups to the surveys.

[2022-10-21 07:42] DavidRoy commented on #481
@chrisvanswaay @kazlauskis I'm not sure that is sufficient.  The app species list settings do not necessarily confirm the groups recorded during a count.  I think we should have this as a setting in the 'Additional Details' part of the recording forms.  Also, we should indicate on the species search page which groups are being searched (there is room for this?).

[2022-10-21 08:07] chrisvanswaay commented on #481
It might be the question at the end of the survey (that's the way they do it in Avimap), in which you can also distinguish between complete surveys for a species group, and incomplete surveys for a species group. At the end you usually know which speciesgroups you did count and if complete or not. The result of that question could be saved.

[2022-10-21 08:10] DavidRoy commented on #481
I agree that would work well and make sure we capture this information
@kazlauskis can you implement in the next version

[2022-10-21 08:37] kazlauskis commented on #481
Do we also want to ask for 'completeness' or just the species groups?

[2022-10-21 08:49] DavidRoy commented on #481
Just a list of species groups, same as for the app setting which subdivides (moths and day-flying moths).

Title = Please select the species groups that were included in your survey count.  This is important to distinguish zero counts from 'not included'

The page can default to the app setting

I'm not sure that asking about 'incomplete lists' is helpful.  We there assume that all butterflies, mo

[2022-10-21 09:04] kazlauskis commented on #481
OK 👍

I am thinking about how to improve this for the majority of the users who will probably record only one species group. If the user has selected only one group, then the app won't allow recording any other groups, so maybe we show this question to only those who have chosen multiple groups? In that case, we would still attach the only species group to the record in the background.

[2022-10-21 09:10] chrisvanswaay commented on #481
That's a good idea.

[2022-10-21 12:24] chrisvanswaay opened #486 "'double' species"
I don't know the right English word for them, but we should add combination-species to the list which cannot be identified in the field. I got this list from Aniko from Hungary. I hope @MartinMusche, @canliro, @larspett and @JurrienVanDeijk can add some extra further down, and then these can be added to the species list in app and website.

Phyllodesma tremulifolia / ilicifolia
Saturnia pavonia /

[2022-10-24 13:30] DavidRoy commented on #486
@JimBacon please add to your (long!) to-do list

[2022-10-25 09:17] chrisvanswaay opened #487 "No number in Count field in moth occurrences download"
I'm not sure where this goes wrong (either in the app of @kazlauskis or website @JimBacon ), but when I download the moth data the field 'Count' is sometimes empty. For now I will proceed and interpret that as a 1 (why make a line for a species and enter no number?), but maybe we should make it impossible to enter no number (or put it to 1 as default).
Or do I miss a logical reason why there would

[2022-10-25 09:41] johnvanbreda commented on #487
@JimBacon I did make some changes in the hope that it would fix this problem. For example, `task_cache_builder_attrs_sample` now handles deletion of its own work queue tasks and should only delete the tasks that have actually had their attributes JSON built. If this mechanism is working correctly, then the only other reason I can think of why the attrs are not being filled in is if the work queue

[2022-10-25 10:29] JimBacon commented on #487
Hi @chrisvanswaay, What you are seeing is the result of recording counts inside and outside traps. When there is an outside quantity but no inside quantity then an occurrence exists and you see a record in the download but it has a blank count.

[2022-10-25 11:25] chrisvanswaay commented on #487
Thanks @JimBacon , that makes sense.

[2022-10-25 11:55] chrisvanswaay commented on #487
(it would just be one field extra in the download)

[2022-10-25 12:09] DavidRoy commented on #487
Agreed. Another one for your list @JimBacon

[2022-10-25 12:36] CrisSevilleja commented on #455
Hi Jim. I thought about how to keep the track of the species lists (taxons, countries, translations) included on the eBMS system in a more efficient way. I think this action is on the way do this but I am not sure.

Basically, we have many issues regarding adding new species lists to eBMS, new common names, new countries and taxa... so the eBMS list is updating all the time but at the moment, ther

[2022-10-25 13:16] CrisSevilleja opened #488 "Entry Walk page: filter transects for coordinators"
At the moment, the coordinator role can select from all the eBMS transects when entering data on the Entry Walk Page
https://butterfly-monitoring.net/walk-data-entry?location_type_id=777&date=25/10/2022

You can see below I masqueraded as the Spanish coordinator and he can select any transect from eBMS, being annoying when there are several hundred transects to select.
![image](https://user-images

[2022-10-25 16:50] JimBacon commented on #487
That is done.
Please try it out @chrisvanswaay and close the issue if you are happy.

[2022-10-26 06:41] chrisvanswaay commented on #487
Thanks @JimBacon , looks perfect.

[2022-10-26 06:42] #487 closed

[2022-10-30 10:52] CrisSevilleja opened #489 "Transect download not working properly"
At the moment the download of the transect Occurrences file is not working, neither on the Scheme Download page https://butterfly-monitoring.net/downloads nor at the user Download page https://butterfly-monitoring.net/mydata/downloads

The cvs downloaded doesn't have all the information in the first column, there is also data in the second so that makes it complicated to get the file arranged for

[2022-10-30 10:58] CrisSevilleja opened #490 "Improve Scheme sites table"
For a better track of the coordinators, please add to the table of scheme sites: site code and site coordinates.
https://butterfly-monitoring.net/scheme-sites

This is the current situation:
![image](https://user-images.githubusercontent.com/25052478/198874958-0fcb1c00-53f0-4af4-910c-979371bbe9b3.png)

[2022-10-30 11:00] CrisSevilleja commented on #489
If possible, add the column "site name" for the transect Occurrences file. At the moment it only appears the site code that coordinators doesn't know by heart, but they recognize better the site name. Thanks

[2022-10-30 15:57] DavidRoy commented on #489
@JimBacon can you look at this please

[2022-11-01 11:48] JimBacon commented on #489
Hi @CrisSevilleja

You say

You probably know that a CSV file is a Comma-Separated Variable file. Each field of information is separated from the next by a comma. You can see this clearly if you open the downloaded file in a text editor.

In some countries, where the comma is used as the decimal separator in fractional numbers, Excel tries to be helpful and assumes the semi-colon (;) is the field

[2022-11-01 15:06] JimBacon commented on #489
The reason that there are records with no abundance count is because, in the configuration of the attributes for the EBMS Transects, there are two with function `sex_stage_count`

![image](https://user-images.githubusercontent.com/2545390/199258756-19d54c6d-e8b7-4d09-9189-f215e69e8e01.png)

The cache_occurrence_nonfunctional.attr_sex_stage_count can only take on one value and, when an Outside Tran

[2022-11-01 16:23] JimBacon commented on #489
The  "Download species occurrences from transects" has been updated to include Outside Transect Count and the Transect Name (as requested above).

I was over-complicating the reason for records with no abundance count in my description above (though the problem described does exist). They will simply be occurrences with no abundance count which exist because they have an Outside Transect Count whi

[2022-11-01 17:26] JimBacon commented on #489
Regarding the transect sample data, the Slovenian file attached above contains 45 records with 2 from 2022.
I downloaded it again and now it has 43 records with 5 from 2022. There is some editing in progress it seems.
A query of the database gave identical results and there was no evidence of any inconsistency.
It is to be noted that walks have not been entered in date order. Sorting by date rathe

[2022-11-03 10:16] SarahVray commented on #489
Hello, if I may add something, in our case for the export of species occurrences from Luxembourg BMS we also have missing data ([download-63638f0d5c7003.47320082.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/9927344/download-63638f0d5c7003.47320082.csv)).
- For "Abundance Count", we have 62 NA in 2021 (although the abundance data are visible on the website)
- 72 lines have no informat

[2022-11-03 14:49] CrisSevilleja commented on #489
Thank you Sarah for your information, indeed something is wrong with the download and happen to several coordinators.

Thanks @JimBacon for explaining the case of the missing abundance, but I don't understand it so well the  sex_stage_count function from Outside Transect Count, sorry. This function, if I understand it well, Outside the transect Count I think it is only Hungary has this option to i

[2022-11-04 14:19] JimBacon commented on #489
Hi @CrisSevilleja

I'll try to explain the Excel problem another way. When you use Excel to open a CSV file, because of your regional settings, it separates the data in to columns using the semi-colon instead of the comma. There is a semi-colon in our data which is why it ends up in two columns.

There are two solutions mentioned in the article I gave a link to:

1. Start Excel without any file op

[2022-11-04 14:30] chrisvanswaay commented on #489
Reading in R seems to go well:

library(data.table)
dt <- fread("occurrences.Slovenia.30102022.csv")

![image](https://user-images.githubusercontent.com/25886005/200000083-bc4bef3b-5a84-4aa2-840d-1d821f68cc93.png)

[2022-11-04 14:36] chrisvanswaay commented on #489
@SarahVray Tried your file too:
library(data.table)
dt <- fread("download-63638f0d5c7003.47320082.csv")

Indeed there are NA's, all at site EBMS:Luxembourg:167 (Givenich 1):

![image](https://user-images.githubusercontent.com/25886005/200001433-2b651e42-6d27-43c4-811f-57c35216a95a.png)

[2022-11-08 09:08] xaviermestdagh opened #491 "Downloads>Samples - Weird "Recorder Name" changes"
Hello @JimBacon

I have a weird wrong recorder name in the "sample (visit)..." download csv.
![image](https://user-images.githubusercontent.com/24294138/200520630-f3142e52-c85d-42db-bc49-22de46aeba14.png)

"Hellers, Marcel" is the good name and well spelled in his user details
"Hel**el**rs, Marcel" is found in the sample (visit) download, but only for these two visits.

The good name is however us

[2022-11-08 09:31] xaviermestdagh commented on #491
Likely linked to reported here above:
From the sample (visit) download this visit is reported as recorded by "De Sousa, Tiago" (which I beleive is the good value)
![image](https://user-images.githubusercontent.com/24294138/200526885-2e77c4c9-24c1-4a58-961f-1ecccd6ad0f7.png)

When editing the visit, the visit is recorded by me
![image](https://user-images.githubusercontent.com/24294138/200527443-58

[2022-11-08 09:44] xaviermestdagh commented on #489
I highlighted another issue falling under this quite generic issue name...
Here a list of visits without any values for Start time, End time... (column G to K here below)
![image](https://user-images.githubusercontent.com/24294138/200528607-96467cad-f4df-4162-8b95-3dc95b0e0faa.png)

When looking in the "Transect Sample ID" column, all these records are 8 digits ID when others are 7.
![image](https

[2022-11-08 10:01] johnvanbreda commented on #491
@JimBacon I'll have a quick look...

[2022-11-08 10:24] xaviermestdagh opened #492 "Scheme Sites - export shp error message"
Hi,

I am having the here below error message when trying to export shapefile from here
https://warehouse1.indicia.org.uk/geoserver/wfs?request=GetFeature&service=wfs&version=1.0.0&outputformat=SHAPE-ZIP&srsName=EPSG:4326&typename=indicia:section_gis_download_view&format_options=filename:BranchSections-777.zip&cql_filter=website_id=%27118%27%20AND%20location_type_id=%27777%27%20AND%20location_attr

[2022-11-08 10:41] xaviermestdagh commented on #489
Looking to the occurrences export from the Downloads part, there is the "Transect Code" which is not in the sample (visit) export of the same download part.
On my side, I would be in favour to also have "Transect Code" in the sample (visit) export as well because it was the only site ID available in the annual report (based on which I build all my data management).
As you can see, this Transect Co

[2022-11-08 10:44] xaviermestdagh opened #493 "Downloads exports - % Sun"
Hi,
What is the meaning of for instance the value "20; 20", and why is it sometimes just "20" for some records (missing Transect Code value)?
![image](https://user-images.githubusercontent.com/24294138/200544113-a52fad2a-8090-4e98-837a-a1b0b10010e9.png)

[2022-11-08 10:58] xaviermestdagh opened #494 "Annual report - Sample - Missing temperature field"
Hi,
In the Samples and Occurrences exports form the [Annual report](https://butterfly-monitoring.net/annual-report) is missing the two Temperature related fields
![image](https://user-images.githubusercontent.com/24294138/200546973-f918ce82-1309-4a89-b136-3e303ed7755a.png)
Those fields disapeared because present in the past.

[2022-11-08 11:10] johnvanbreda commented on #491
The problem underlying the first issue is that this visit had been deleted from the system, but the process which updates the reporting data (Elasticsearch/Logstash) was not configured to handle deletions in the samples reports. I've now added the missing configuration so that deleted samples (visits) will get removed.

The second issue relates to the sample/visit not having an explicit recorder d

[2022-11-09 08:30] xaviermestdagh commented on #427
Hi,
A suggestion...
When a user add a species, would it be possible to highlight (a pop up message or unknown other way) when he selects one species not included in the list of species from his selected country/region?

[2022-11-09 14:01] JimBacon commented on #493
No, it was me that was wrong. There area two versions of the record because it is marked as sensitive. I think one version will contain full details of the record while the other may hide some. Whether it is intentional to hide the parent attributes I am not sure.

[2022-11-09 16:26] JimBacon commented on #493
I'm thinking this is probably a bug.
Both [list_for_elastic_all.xml](https://github.com/Indicia-Team/warehouse/blob/master/reports/library/occurrences/list_for_elastic_all.xml) and [list_for_elastic_sensitive_all.xml](https://github.com/Indicia-Team/warehouse/blob/master/reports/library/occurrences/list_for_elastic_sensitive_all.xml) provide `parent_sample_attrs_json` to LogStash but, while `indic

[2022-11-11 17:11] CrisSevilleja opened #495 "URGENT: eBMS website not working!"
Please @DavidRoy @Gary-van-Breda @johnvanbreda @JimBacon the eBMS website is not working at the moment.

I have an important workshop this weekend with volunteers showing the website and it is not working on all the pages showing or collecting data.

Message: "An error occurred whilst connecting to Elasticsearch. 7: Failed to connect to warehouse1.indicia.org.uk port 443: No route to host" on the

[2022-11-12 07:16] kazlauskis commented on #495
I believe there is some server maintenance until 9am 14/11/2022. This probably affects the ElasticSearch database 😕

[2022-11-13 11:29] DavidRoy opened #496 "Add Papilio demoleus to eBMS butterfly list and update app list"
Species present in Cyprus and Turkey (Europe part)

[2022-11-18 10:42] CrisSevilleja commented on #489
Thank you Jim, now I see I can open this file properly. I will see what is the best way to explain to the users to open properly the downloaded files (in general normal users use excel). Regarding the semi-colon, I think it is related to the issue https://github.com/BiologicalRecordsCentre/ABLE/issues/493#issuecomment-1309017292 showing the two sun% that I don't think is useful, maybe better to cr

[2022-11-18 10:53] CrisSevilleja commented on #494
One user reported to me the same, Temperature fields are not included on the downloaded file from the Annual report. He uses the app to include the data of the transects and he knows he included the temperature in the visits but he is not able to see it on the website either on the download file. It looks like a missing connection between the app and the website @kazlauskis , although the missing

[2022-11-18 11:05] CrisSevilleja commented on #494
Checking on My downloads page, the samples download file has the field Temp (Deg C) but for the last visits (since Jun-July) don't show the temperature when I checked they are registered on the website.
[download-637765d94ac570.74437862.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/10040681/download-637765d94ac570.74437862.csv)

[2022-11-18 11:05] #495 closed

[2022-11-18 11:37] kazlauskis commented on #494
@CrisSevilleja the app is uploading the weather information but these values are not mandatory so not all of the records will have this info. If you know any record that has some of the values on the app but not on the website, then please share the record ID and app screenshots and I'll have a look.

[2022-11-18 12:31] CrisSevilleja opened #497 "Issue: End time doesn't appear on main transect page"
### Describe the issue

 It is related to the End time of the transect, which doesn't show the time you select. Before the app showed you by default the selected time and you decided whether you agreed or wanted to change the time. Now it doesn't show you the End time selected on the main page for Transect registration.

Although the app shows the End time when you Finish the transect and see it o

[2022-11-18 12:33] CrisSevilleja commented on #494
@kazlauskis I am talking about transect records where the Temperature is a mandatory field to complete the survey on the app. The app screenshot is above and the Sample ID is 18560392 for the transect on 30/05/2022 transect Añisclo EBMS:Spain:80

[2022-11-18 12:39] kazlauskis commented on #497
Thanks for the video 👏🏻 love it 😄 I can reproduce this issue and we'll fix it asap.

[2022-11-18 13:41] kazlauskis commented on #494
I've checked this up and can't find how to reproduce this issue yet. It would be useful if Fernando tried to update the app to the latest v1.18.1 and uploaded a training transect record. The training records can be enabled on the app settings page by switching the 'Training Mode' on.

[2022-11-18 15:58] CrisSevilleja opened #498 "Fix Bulgaria BMS page"
The current Bulgaria BMS page https://butterfly-monitoring.net/bulgarian-bms is not correct and brings you to the home page of eBMS.

I know there is a way of creating a new page for scheme pages but I don't know how to do it exactly. Please remove or fix this page that is not working at the moment. At the moment, I cannot place information of the Bulgaria BMS. Thanks

[2022-11-20 08:18] JimBacon commented on #498
Hi @CrisSevilleja

The issue here is that the page exists but with url https://butterfly-monitoring.net/bulgaria-bms (bulgaria not bulgaria**n**)

I have corrected the menu configuration so that it points to the correct url. If you see any other links which are wrong then please fix them, if you can, or let me know.

There is inconsistency in the naming used which makes it more difficult to get th

[2022-11-20 08:18] #498 closed

[2022-11-20 10:15] JimBacon commented on #494
To my surprise, I think this is one issue!

It looks as if the configuration of the survey has been changed by someone so that the attribute used for storing temperature now has ID 1660 compared to 1388 at some point in the past.

The annual report download is trying to include a column with ID 1388 (which is then probably omitted as it is no longer associated with the survey) and the sample recor

[2022-11-20 11:26] JimBacon commented on #496
Added as https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/570518

[2022-11-20 11:28] DavidRoy commented on #496
@kazlauskis can you include this in the next app release

[2022-11-21 07:32] kazlauskis commented on #494
@JimBacon In the v1.17.0 app update (6 months ago) we have expanded the temperature ranges https://github.com/BiologicalRecordsCentre/ABLE/issues/397. Other surveys also used the old `smpAttr:1388` so we have created the `smpAttr:1660` with the new temperature range. The downloads should return the new attribute. I understand this requires updating the reports now. Is there any better way to chang

[2022-11-21 07:48] CrisSevilleja commented on #498
thank you for correcting this. Indeed there is inconsistency in the naming...

[2022-11-22 17:46] JimBacon commented on #492
The decoded url is
[code]
GeoServer is obtaining the data from the `section_gis_download_view` in the `ukbms` schema.

The definition of this view is
[code]

It contains a transformation to the spatial reference system, 27700, which is a UK-centred system.
When it tries to operate on locations far from the UK, e.g. location id 297027 in Japan, an error arises.

This is similar to https://github.co

[2022-11-22 19:16] chrisvanswaay commented on #492
@JimBacon  Wouldn't it be more logical to use a global projection, e.g. epsg 4326 (WGS84) in the database. It can always be easily transfered to a local system (as epsg 27700) for national use.

[2022-11-23 09:08] johnvanbreda commented on #492
@chrisvanswaay we chose Web Mercator as the internal projection since most mapping will be done using that projection, therefore it reduces the processing load on the server as reprojection takes quite a bit of CPU effort.

[2022-11-23 09:35] chrisvanswaay commented on #492
Web mercator is EPSG:3857 (and very similar to 4326), but Jim said it was epsg 27700. That confused me.

[2022-11-23 09:36] JimBacon commented on #492
Yes, the geometry is stored using a global system in the database. It is being transformed to a UK-centred system in order to do a length calculation. This is because EBMS took advantage of work already done for UKBMS. While EBMS was constrained to Europe it was reasonably accurate but this is no longer the case. Having diagnosed the issue my next task is to come up with a resolution.

[2022-11-23 12:33] JimBacon commented on #492
My planned solution is to replace
` round(st_length(st_transform(section.boundary_geom, 27700))) AS section_length`
with
` round(st_length(st_transform(section.boundary_geom, 4326)::geography, true)) AS section_length`

A comparison for UK transects showed the results to be the same as before, plus or minus a metre, and the method will work globally.

[2022-11-23 12:48] JimBacon commented on #492
@johnvanbreda I have updated the view directly on warehouse1. Is there a repository where I should be committing this?
@xaviermestdagh would you like to test the export now works as expected?

[2022-11-23 13:23] johnvanbreda commented on #492
@JimBacon I'm not aware of a repository for this view. Maybe https://github.com/Indicia-Team/support_files is a good place?

[2022-11-23 17:35] JimBacon commented on #494
This is work in progress. So far I've made changes to the follow pages

- https://brc-ebms.lndo.site/annual-report
- https://butterfly-monitoring.net/mydata/downloads
- https://brc-ebms.lndo.site/downloads

These will now list temperatures for recent records made with `smpAttr:1660` and omit temperatures for older records made with `smpAttr:1388`. Once I have updated the database to migrate the 13

[2022-11-28 17:07] JimBacon commented on #494
I have also updated the following forms (some of which may not actually be used):

- https://butterfly-monitoring.net/index.php/mydata/samples/edit
- https://butterfly-monitoring.net/index.php/elastic/my-records
- https://butterfly-monitoring.net/index.php/enter-app-timed-count
- https://butterfly-monitoring.net/index.php/enter-app-record
- https://butterfly-monitoring.net/index.php/download-indic

[2022-11-28 17:42] JimBacon commented on #494
In preparation for migrating existing records from sample attribute 1388 to 1660 I note the following changes in the term list IDs (stored in the sample attribute values table) will be needed.

Term | Old ID | New ID
------|--------|--------
4 | 17774 | 20128
5 | 17775 | 20129
6 |  17776 | 20130
7 | 17777 | 20131
8 | 17778 | 20132
9 | 17779 | 20133
10 | 16530 | 20134
11 | 16531 | 20135
12 | 16532

[2022-11-29 17:12] JimBacon commented on #494
This query was executed to update the` sample_attribute_values` table
[code]

Followed by this query to cause the `cache_samples_nonfunctional.attrs_json` to be recalculated
[code]

This fails to update 21 records in `cache_samples_nonfunctional` where the temperature attribute had been marked as deleted. They continue to hold a reference to `smpAttr:1388`. The following query overcomes this.
[cod