[2020-07-09 12:53] DavidRoy commented on #284
Linked to #257 requirement for additional occurrence information

[2020-07-09 12:55] DavidRoy commented on #247
consider as part of work on walk-input-form2

[2020-07-09 13:16] DavidRoy commented on #257
@CrisSevilleja just to confirm that we'd only expect one life stage per species transect walk so will build this in with a species only appearing once on the list

[2020-07-09 15:59] DavidRoy opened #288 "Downloads - transect visit report improvements"
https://butterfly-monitoring.net/downloads
![visit download](https://user-images.githubusercontent.com/2699478/87061215-60074100-c203-11ea-8f30-a106b6a5e768.png)

To help joining with count (occurrence downloads) and site details, add [Location.id] labelled as Transect ID

For consistency, rename 'Site name' as 'Transect Name'
rename 'Transect sample ID' as 'Transect Sample ID'

[2020-07-09 16:13] DavidRoy opened #289 "Downloads - Transect counts report improvements"
https://butterfly-monitoring.net/downloads
![count download](https://user-images.githubusercontent.com/2699478/87063068-c3926e00-c205-11ea-8e3a-541f5298b5a5.png)

To help joining with visit (sample downloads) and site details, add [Location.id] labelled as Transect ID

Date field should be in 'DD/MM/YYYY' format to match format in Visit (samples) file
Remove field 'Survey' as all data is from a si

[2020-07-09 16:20] DavidRoy opened #290 "Downloads - Site Details report improvements"
https://butterfly-monitoring.net/downloads
![visit download](https://user-images.githubusercontent.com/2699478/87064453-abbbe980-c207-11ea-8d45-e4438ff62119.png)

rename 'Site ID' as 'Transect ID'
rename 'Site Name' as 'Transect Name'
rename 'Site Code' as 'Transect Code'
rename 'SRef' as 'Spatial Reference'
rename 'System' as 'Spatial Reference System'
rename 'No. of sections' as 'No. of Sections

[2020-07-09 16:29] DavidRoy opened #291 "Downloads - Section Details report improvements"
https://butterfly-monitoring.net/downloads
![count download](https://user-images.githubusercontent.com/2699478/87065124-8a0f3200-c208-11ea-9f98-f9b490f08469.png)

rename 'Site ID' as 'Transect ID'
rename 'Site Name' as 'Transect Name'
rename 'Site Code' as 'Transect Code'
rename 'SiteRef' as 'Transect Spatial Reference'
rename 'System' as 'Spatial Reference System'
rename 'Section ID' as 'Transect

[2020-07-09 16:35] DavidRoy opened #292 "rename ABLE/eBMS websites in Indicia warehouse"
The website will outlive the ABLE project therefore can the website names be changed:
Website ID renamed from 'EBMS' to 'EBMS old'
Description updated to 'European Butterfly Monitoring (old version no longer used)'

Website ID renamed from 'ABLE' to 'EBMS'
Description updated to 'European Butterfly Monitoring Scheme (EBMS) including the Assessing ButterfLies in Europe (ABLE) project.'

Change to b

[2020-07-09 16:39] DavidRoy opened #293 "rename surveys in Indicia warehouse"
rename the following surveys:
589 - EBMS Fixed points
565 - EBMS 15 minute counts
563 - EBMS Other timed counts
562 - EBMS Transects

[2020-07-09 16:43] DavidRoy opened #294 "Rename Species lists"
For consistency, rename Species list Titles as:
251 - rename as 'EBMS Butterflies'
265 - rename as 'EBMS Dragonflies'

[2020-07-09 16:45] DavidRoy opened #295 "Change '\' to '/' in species names for EBMS species lists"
for lists 251 and 260
replace '\' with '/' in recording aggregates

e.g. “Leptidea sinapis/reali” rather than “Leptidea sinapis\reali”

helps with parsing names

[2020-07-10 07:58] johnvanbreda commented on #295
Done. SQL for safekeeping:
[code]

[2020-07-10 07:58] #295 closed

[2020-07-10 08:10] johnvanbreda commented on #294
Done

[2020-07-10 08:10] #294 closed

[2020-07-10 08:23] johnvanbreda commented on #292
Done. Just for info, a website title change is not automatically updated in the cache builder at the moment, since it's a rare case and it could potentially trigger an enormous update (e.g. if you accidentally updated the iRecord website title). So I've queued the records for update, setting the priority to 3 so other changes take precedence:
[code]

[2020-07-10 08:23] #292 closed

[2020-07-10 08:23] johnvanbreda commented on #293
Done

[2020-07-10 08:23] #293 closed

[2020-07-10 08:37] johnvanbreda commented on #291
Done, but I've not deleted the following columns pending confirmation, as I believe these are specific to the transect sections and therefore are not on the sites report:
Section Length (m)
Linear habitat term ID
Linear habitat term
Primary Habitat Present term ID
Primary Habitat Present term
2nd Habitat Present term ID
2nd Habitat Present term
Primary Land Management Present term ID
Primary Land

[2020-07-10 08:44] CrisSevilleja commented on #257
@DavidRoy okay. Thanks for informing me

[2020-07-10 09:20] DavidRoy commented on #291
You are right to keep these columns!  My mistake in haste.

[2020-07-10 09:22] #291 closed

[2020-07-10 10:03] johnvanbreda commented on #290
Done

[2020-07-10 10:03] #290 closed

[2020-07-10 10:23] johnvanbreda commented on #289
Done. A couple of points:
* I also deleted temp (def C) as this column is included in the Visit (sample) file.
* The date format was already correct I think - let me know if you spot cases where it isn't.

[2020-07-10 10:23] #289 closed

[2020-07-10 10:42] johnvanbreda commented on #288
Done

[2020-07-10 10:42] #288 closed

[2020-07-10 11:16] RetoSchmucki commented on #289
Hi @johnvanbreda , @DavidRoy  ask for date format to be "DD/MM/YYYY", actually it would be better to have the other one that is "YYYY-MM-DD" wich is a POSIX standard. the issue was in the export that David sent me, for example where date format in the count table was "2020-03-07" while in the visit table it was "27/07/2018".

[2020-07-11 09:39] DavidRoy commented on #241
@kazlauskis
Following discussion, this requirement to be addressed by the following changes:
1. Extend the current survey-name in the app from 'eBMS Transect' to 'eBMS Transect or fixed site'
2. When providing users with a list of fixed sites, this should include sites from surveys 562 and 589
3. Change title of 'Transect' page to 'Transect or Fixed Site'
4. [optional] for Survey 589 sites (with n

[2020-07-13 16:16] #256 closed

[2020-07-13 16:16] #264 closed

[2020-07-13 16:16] #238 closed

[2020-07-13 16:16] #273 closed

[2020-07-17 09:51] DavidRoy opened #296 "Fix duplication issue when importing data"
There is a duplication issue of counts, caused by imports of data for Spain.  There are either 2 or 3 duplicates.   The simplest way to resolve this is to delete the duplicates and retain the first occurrence (and associated occurrence attributes).

The sql to identify the duplicates is:
[code]

returns 10683 rows

@Gary-van-Breda can you make this the top priority task for ABLE

[2020-07-19 16:27] DavidRoy opened #297 "ButterflyCount: back button not working"
A report of the back button not working on Android device - Xiaomi Mi A1 phone with Lineage OS 17.1 (Android 10).

[2020-07-19 16:48] kazlauskis commented on #297
Android native back button or the app back button on the header?

[2020-07-19 16:52] DavidRoy opened #298 "Download - 15 minute counts, occurrences - location field 'invalid field ##'"
https://butterfly-monitoring.net/downloads

the occurrences download has the location field empty and the lat/lon field entries as 'Invalid field ##'

[2020-07-19 16:55] DavidRoy opened #299 "Occurrences download file changes"
links to #298

Remove location field
Add sample_id field

[2020-07-20 13:51] johnvanbreda commented on #298
Location field removed as per #299. Lat/lon configuration fixed so this now downloads correctly.

[2020-07-20 13:51] #298 closed

[2020-07-20 13:52] johnvanbreda commented on #299
Done. I presume this was for the timed counts only.

[2020-07-20 13:52] #299 closed

[2020-07-20 13:57] DavidRoy commented on #299
yes, thanks

[2020-07-20 16:35] DavidRoy commented on #297
native android button is not working, while the one in the app is fine.

[2020-07-20 16:59] kazlauskis commented on #297
Yes, that's disabled on purpose. None of the other apps we have done has it enabled either. The reason is that this keeps things much more simple. We have it as a feature request in another ticket so I am closing this one now. #211

[2020-07-20 16:59] #297 closed

[2020-07-20 20:35] gpopac commented on #211
Hello Karolis :) I think there is no reason to disable this button, since no other app on Android disables it. It is very strange for me using Android for years to find that some button does not work as expected. But if it is more easy this way, than OK.

[2020-08-03 07:47] DavidRoy commented on #267
Suggest this requirement is handled by two extra sample attributes

Attribute name = '15 minute count type'
Values = Area, Walk, Point

Attribute name = '15 minute count location type'
Values = 'Butterfly hot-spot','Random','Garden'

These could either be included under
- main count screen under 'Area'
- on the map screen
- under 'Additional Details' section

My preference is on the map page with

[2020-08-03 09:38] DavidRoy opened #300 "Improvement to website translation. Drupal - Transifex"
follows on from #101

Two requirements.
1. The ability to group strings together as a 'resource' within Transifex.  currently, each string is its own resource which is then cumbersome for translators who have to click through each resource-string
2. Within Drupal, Job items need to be selected individually to update and then again to review.  Again, this is cumbersome and requires a lot of clicks.

[2020-08-04 09:48] DavidRoy opened #301 "Update butterfly list to include Pieris napi/rapae aggregate"
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/473307

[2020-08-05 14:45] CrisSevilleja commented on #262
This issue is still unresolved. Please, could be possible to do it? @Gary-van-Breda

Thank you

[2020-08-10 09:15] Snogo opened #302 "Account Password Change - notice or request to login again"
I had the issue that I couldn't upload my timed counts for a while until I realized that I changed the password of my account
this is correct behaviour however there should be either a message in the app or the request to login again

[2020-08-10 16:16] DavidRoy opened #303 "+"

[2020-08-10 16:16] #303 closed

[2020-08-10 16:26] johnvanbreda commented on #187
Given the latest file examples provided by @DavidRoy here are my thoughts on the best approach.
1. Add a new custom warehouse module(s) for combined range/period within year checks. We need custom code because the existing period_within_year checks are not bound by a range.
2. This would declare a custom table, with fields for species TVK (external key), bounding box, start day in year, end day in

[2020-09-16 15:37] CrisSevilleja commented on #262
@Gary-van-Breda @DavidRoy the transect **Parque Ambiental de Santa Margarida** (Portugal) continues with Section 2 duplicated.

Another transect, **Puertos de la Bachota** (Spain) has a duplication in Section 2. I don't know how to resolve that and volunteers get confused when they see the duplication and don't know where to add the data.

Can you resolve this issue, please?

[2020-09-16 15:39] CrisSevilleja opened #304 "ButterflyCount: Update Slovenian language into the app"
@kazlauskis
Slovenian language has been 100% translated on Transifex and the translator would like to see the translation in the app in order to edit it if there are some mistakes.

Thank you

[2020-09-16 17:13] kazlauskis commented on #304
Thanks, with the next app version we could add the language and let the translator check it before the public release.

[2020-09-17 07:25] CrisSevilleja commented on #304
Thanks @kazlauskis when are you planning to do the next app version?

[2020-09-17 09:08] kazlauskis commented on #304
It depends on when I can finish my current projects but if nothing urgent comes up then I should be able to produce the web app for the translator within the next 2 weeks if that's OK?

[2020-09-17 12:34] CrisSevilleja commented on #304
Yes, 2 weeks is okay for me. I only wanted to have an approximation date to say to the translator.
Thanks!

[2020-09-18 18:28] kazlauskis commented on #304
Heya, I have added the Slovenian to the app now. It is available now in the web demo: https://butterflies.app.flumens.io/demo.html

[2020-09-19 06:54] DavidRoy commented on #301
Could you update the species list when you are next updating the app

[2020-09-21 07:20] CrisSevilleja opened #305 "Urgent- one volunteer cannot create new transects on the website"
@DavidRoy  A Spanish volunteer (regional coordinator) nachoarce77 Indicia Warehouse User ID246551 cannot create new transects since Friday and has a warning message (picture). I had the same problem last Friday with another user, but today everything works well for me but not with Nacho's account.

Could you resolve this issue soon?
![image](https://user-images.githubusercontent.com/25052478/93740

[2020-09-21 07:21] DavidRoy commented on #305
@Gary-van-Breda @johnvanbreda
Any clues in the error message to resolve this?

[2020-09-21 07:59] Gary-van-Breda commented on #305
This error occurs when the number of sections is zero: can they try to re-enter the new transect, but add a positive number for the number of sections.

[2020-09-21 08:20] Gary-van-Breda commented on #305
I have bumped the minimum value for the number of sections up from zero to 1, and cleared the caches.

[2020-09-21 08:21] johnvanbreda commented on #305
@Gary-van-Breda the line of code with the error has the following:
[code]

Why does this throw a number, rather than an exception object?

[2020-09-21 08:23] Gary-van-Breda commented on #305
This is a reminent of the development, when I absolutely wanted it to drop out in this scenario, and not be caught. I'll review the code.

[2020-09-30 06:56] DavidRoy opened #306 "Transect sample download - missing information"
https://butterfly-monitoring.net/downloads

Reported by https://butterfly-monitoring.net/users/xavier-mestdagh

These may be legacy issues as Luxembourg was an early adopter of the eBMS online but problems reported =

Downloading sample(visit) information for transects (zipped csv) lacks information.
1. "Transect ID" is missing for all records
2. "Transect Name" is missing for some records
3. For

[2020-09-30 08:34] CrisSevilleja commented on #305
https://butterfly-monitoring.net/user/1395
This user continues not able to add new transects.

[2020-09-30 09:44] johnvanbreda commented on #306
There is definitely a legacy issue for the first 20 records in this download so I'll only report on issues that I could find in the later data.
1. I've fixed this - a configuration mistake.
2. I think this is only an issue in the first 20 rows where the data are wrong.
3. The output is the data as it is stored. The app doesn't seem to be storing not recorded for these, so nothing will appear in th

[2020-09-30 09:54] DavidRoy commented on #306
Thanks.
2. @Gary-van-Breda can you look into this
3. @kazlauskis - I'll raise a separate issue for this
4. @johnvanbreda - for this report for co-ordinators, the full sref can be downloaded

[2020-09-30 09:57] DavidRoy opened #307 "ButterflyCount app - weather data should be submitted as 'Not recorded' when null for both Transects and 15 minute counts"
Following on from #306

When weather information is missing from Transect/15-minute counts, the value submitted should be 'Not recorded' rather than null.

Is the simplest approach to make 'Not recorded' the default value in the app?

[2020-09-30 18:53] kazlauskis commented on #307
Yes, that's the simplest way. Either make it mandatory or set it to 'not recorded' by default.

[2020-10-01 09:40] DavidRoy commented on #304
@kazlauskis do you know when the app update will go live with Slovenian?

[2020-10-01 18:01] kazlauskis commented on #304
Early next week I will spend 2 days working on the app and will push a Beta release for another week of testing. So if all is good then the Slovenian language should appear within 1-2 weeks time.

[2020-10-05 07:50] CrisSevilleja commented on #232
I would allow searching by Latin name, common name, or species (not only starting with the genus). For example, it is not possible to look for Pieris brassicae, only by brassicae, you need to write first Pieris.

Also, if you select a species by the common name in another language, it doesn't appear on the recorded species list; there are placed only Latin names.

Thanks

[2020-10-05 12:46] kazlauskis commented on #301
I should add this only to the species recording functionality - not to the species guide, is that correct?

[2020-10-05 12:59] DavidRoy commented on #301
yes, aggregates are just for the recording lists

[2020-10-13 11:35] CrisSevilleja opened #308 "Error in butterfly species list of eBMS website"
Checking the data from Portugal, I realised about one error in the butterfly species, Coenonympha pamphilus
As you can see in the picture, it appears Coenonympha pamphius, missing the L in pamphilus.

Now on the species lists of countries appear both options.
Can it be possible to repair this issue? @DavidRoy I am not sure, who can do it

<img width="445" alt="Coenonympha pamphilus error" src="htt

[2020-10-14 15:38] Gary-van-Breda commented on #305
An issue was found in code where it was using a translated value for the attribute caption when looking up the attribute for the number of sections. This has now been corrected, and deployed to Live. As a test, I created a site whilst masqueraded in as Mr de Acre, whilst the language was set to Spanish, and it worked OK. I have deleted the test site.

I think this is now resolved: can you confirm

[2020-10-19 14:51] johnvanbreda commented on #308
I've corrected the data in the warehouse using the following script:
[code]

@kazlauskis can you confirm that the app submits ID 432465 not 466948 please?

[2020-10-22 16:04] Gary-van-Breda commented on #308
There is also a child taxon of 466948 - "Coenonympha pamphilus ssp. lyllus", 466949 (which looks like it is spelt correctly). Should we move it across to be under 432465 ?

I think we also have to run the following:
[code]
This should recalculate the Annual Summary data for the changed occurrences, including removing the summary data for the old taxon.

[2020-10-22 16:30] Gary-van-Breda commented on #306
RE Number 2: It looks to me like an issue around Elasticsearch: those initial 20 shouldn't be in the download. Cross referencing the Transect Sample IDs - these are all created years before ABLE was moved over to warehouse1. The first 8 have IDs that have been deleted, and the other 12 are on other surveys.
In addition there is some duplication of Transect Sample IDs e.g. 6010870 where there are 3

[2020-10-23 10:21] kazlauskis commented on #308
@johnvanbreda the app allows to submit 3 options right now:

[code]
This comes from `projects/ebms/taxa_list_for_app.xml` report.

[2020-10-23 14:10] CrisSevilleja commented on #305
Yes, I can confirm the user can create and edit his transects. Thanks

[2020-10-23 14:10] #305 closed

[2020-10-24 09:51] kazlauskis commented on #237
@chrisvanswaay we have built the functionality to capture precise locations for individual species during the 15min count. This includes the option to correct any occurrence locations using a map as well. The functionality isn't yet available to the public and it would be great if you had a look at how it works and let us know if you're happy with it. Here is a video to illustrate the functionalit

[2020-10-26 08:21] chrisvanswaay commented on #237
Hi Karolis,

Great that you managed to work on this. The youtube video looks good, this looks like a perfect solution. I can't test it on my own phone.

Best wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van de steun van donateurs. Wilt u bijdragen aan bescherming van vlinders en libellen? Neem dan een kijkje op onze

[2020-10-28 15:02] Gary-van-Breda commented on #296
@DavidRoy : I've run an update against the database for the Spanish data : can you rerun the query to see if there are still outstanding issues - if possible attach the output, thanks.

[2020-10-28 15:54] johnvanbreda commented on #308
@kazlauskis I've updated the report so taxa where allow_data_entry=false are excluded. Therefore [466948, "pamphius"] can be removed from the app.

[2020-10-28 15:58] johnvanbreda commented on #308
@Gary-van-Breda agreed, I've re-parented 466949 and inserted the work_queue tasks as suggested.

[2020-10-28 16:15] kazlauskis commented on #308
Thanks, I will update the species list in the app then.

[2020-10-28 16:17] kazlauskis opened #309 "Update species list in the app"
Links to #308

[2020-10-28 17:06] johnvanbreda commented on #306
The issue wasn't Elasticsearch, but the initial migration of data from warehouse2 to warehouse1 which didn't recreate parent samples correctly in these cases. I've recreated the parent samples required using the following script:

[code]

[2020-10-28 17:06] johnvanbreda commented on #306
NB - point 4 still to do.

[2020-10-28 17:57] Gary-van-Breda commented on #262
I have addressed Parque Ambiental de Santa Margarida.

[2020-10-28 21:55] Gary-van-Breda commented on #306
@johnvanbreda : Also need
[code]

[2020-10-28 22:19] Gary-van-Breda commented on #262
**Puertos de la Bachota** also resolved.
@CrisSevilleja : can you check you are happy?

[2020-11-03 14:33] Gary-van-Breda commented on #281
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry

[2020-11-03 14:36] Gary-van-Breda commented on #283
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-03 14:38] Gary-van-Breda commented on #282
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-03 14:39] Gary-van-Breda commented on #280
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-03 14:40] Gary-van-Breda commented on #279
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-03 14:43] Gary-van-Breda commented on #247
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new
My Walks and Scheme Walks have been reconfigured to point to this URL

[2020-11-03 14:57] Gary-van-Breda commented on #232
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

My Walks and Scheme Walks have been reconfigured to point to this URL

The "add a species" autocomplete has been changed to search/highlight if the taxon already exists on the grid.
See also #281 and #282 which cover similar requests.

The current configu

[2020-11-03 15:01] Gary-van-Breda commented on #68
Deployed to Dev site for review.
The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

My Walks and Scheme Walks have been reconfigured to point to this URL

The time check has been deployed to Live. Due to the node based method of implementation, we can only apply it to the new form once we have the Live node number.

[2020-11-03 15:53] Gary-van-Breda commented on #277
Due to the nature of how the Start and End time checks are coded, we can't add this check to the new walk form until we have the node number on Live. However, I have added the check to the old form, and deployed it to Dev for review: see https://dev-butterfly-monitoring.pantheonsite.io/node/36/

[2020-11-04 18:30] DavidRoy opened #310 "Downloads for 15minute count survey - GIS data"
The downloads page:
https://butterfly-monitoring.net/downloads

The 15 minute timed-count downloads (survey id = 565) are not downloading.  The file currently includes transect data.  Is this because of the form structure restricted to location_type_id = 777 (transect sections?)

Needs resolving urgently.

[misc_extensions.report_helper_control]
@control=report_download_link
@caption=Download trac

[2020-11-04 22:01] johnvanbreda commented on #310
Done

[2020-11-04 22:01] #310 closed

[2020-11-05 08:22] Gary-van-Breda commented on #284
@johnvanbreda or @BirenRathod : there is a new report in indicia-reports : "projects/ukbms/ukbms_occurrences_list_for_parent_sample.xml"
Could I have this deployed to the devwarehouse?

[2020-11-05 09:59] johnvanbreda commented on #284
@Gary-van-Breda I've pulled brc_reports on the dev warehouse.

[2020-11-05 10:02] johnvanbreda commented on #106
@DavidRoy why was this re-opened?

[2020-11-05 10:08] DavidRoy commented on #106
@johnvanbreda can you summarise the report filters.  There are some discrepancies in the numbers on the report.

Austria= 5 (2020); correct number 12 transects
Italy= 23 (2020); correct number 53 transects
Portugal= 27 (2020); correct number 37 transects

[2020-11-05 11:43] Gary-van-Breda commented on #284
Deployed to Dev site for review: configured on Hungary branch only: you will need to create/edit a walk on a Hungarian location to see.

The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new
My Walks and Scheme Walks have been reconfigured to point to this URL

[2020-11-05 11:45] Gary-van-Breda commented on #257
Deployed to Dev site for review: configured on Hungary branch only: you will need to create/edit a walk on a Hungarian location to see.
Added extra stage attribute for this testing case; photos and comments also enabled.

The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new
My Walks and Scheme Walks have been reconfigured to point to this U

[2020-11-05 11:49] Gary-van-Breda commented on #3
Deployed to Dev site for review:
Walk level images included at bottom of first page in walk data entry, configured all branches.
See #257 for details on Occurrence level images.

The urls have been redone on Dev, so use:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new
My Walks and Scheme Walks have been reconfigured to point to this URL

[2020-11-05 12:35] johnvanbreda commented on #306
Point #4 will be done once changes on Pantheon Dev are pulled through to live (awaiting testing on other issues for @Gary-van-Breda). I've also done the work queue.

@Gary-van-Breda please can you close this the next time you update the code on live.

[2020-11-05 13:16] johnvanbreda commented on #106
The data look correct as far as I can tell. For Austria I used the following workings to check:
[code]

The above queries give 5 as a result. @DavidRoy how are you calculating the value 12?

[2020-11-05 13:45] CrisSevilleja opened #311 "Warning messages on Walk data entry page"
Several users reported three warning messages appeared on the second page of Walk data entry (entering species) https://butterfly-monitoring.net/ebms-input-data?sample_id=12134857

The visit data is saved perfectly but the warning messages shouldn't be there, it si confusing for the users.

Could you @Gary-van-Breda or @johnvanbreda check it?
@DavidRoy

<img width="661" alt="3" src="https://user-i

[2020-11-05 13:58] CrisSevilleja commented on #106
@johnvanbreda you are right, Austrian transects are 5 for 2020, I may miss up with transects in 2019 maybe.

Did you check for Italy and Portugal? I think there had been more transects registered this year. I checked the numbers with the Scheme site page of the coordinator https://butterfly-monitoring.net/de/node/33 but there, the total number appears. I will rise a new issue to help me in check p

[2020-11-05 14:08] CrisSevilleja opened #312 "Improve Scheme sites page for summarising transects"
The current Scheme sites page for coordinators gives the total number of samples for all the sites in their countries,
https://butterfly-monitoring.net/scheme-sites  I was wondering if it can be added a second column showing the samples per transect done in the calendar year apart from the current column. It would help the coordinators and me to control the samples done per transect.

@johnvanbred

[2020-11-05 14:09] kazlauskis commented on #237
From Chris:

[2020-11-05 14:13] kazlauskis commented on #237
You can click on one of the dots in the overall survey area map, this takes you directly to the occurrence where you can edit it then. We could add a map to the species occurrences page as well. The issue with maps is that it requires network connection to be any useful. If we removed the list and replaced it with a map instead then we would assume our users have the connection so we should probab

[2020-11-05 16:04] DavidRoy commented on #284
Am unable to enter comments on the form as the 'comments' button is not clickable.  It shows a red warning symbol when hovering over...
![wde new](https://user-images.githubusercontent.com/2699478/98265057-81ddbe00-1f80-11eb-8274-d3406c1fb744.png)

[2020-11-05 16:05] DavidRoy commented on #3
Unable to add photo as 'Images' button is not clickable.  Shows red warning symbol.  Using Chrome
![wde new](https://user-images.githubusercontent.com/2699478/98265169-adf93f00-1f80-11eb-8573-a54a59a6a391.png)

[2020-11-05 16:09] DavidRoy commented on #280
Reliability drop-down not showing? e.g.
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new?sample_id=9303254
![wde new](https://user-images.githubusercontent.com/2699478/98265615-31b32b80-1f81-11eb-92d8-7daef7cfbca9.png)

[2020-11-05 16:10] DavidRoy commented on #283
Looks good, thanks

[2020-11-05 16:10] #283 closed

[2020-11-05 16:11] DavidRoy commented on #282
Thanks

[2020-11-05 16:11] #282 closed

[2020-11-05 16:12] DavidRoy commented on #281
Thanks

[2020-11-05 16:12] #281 closed

[2020-11-05 16:15] DavidRoy commented on #257
@Gary-van-Breda can you switch the stage term to ID = 293 (Butterfly life stage), e.g Adults, Larvae, Pupae, Eggs
This can be used for both butterflies and moths

[2020-11-05 16:18] DavidRoy commented on #168
@Gary-van-Breda Does this need to be implemented within
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

Specifically:
I will do the following for Hungary only:

Add an additional select box occurrence attribute for "Outside Transect Count" - values "one (1)", "few (2-5)", "Many (16--)" - @DavidRoy Can you confirm what the wording should be for the 6-15 value(s)?
Switch on the

[2020-11-05 16:20] DavidRoy commented on #232
This works well, thanks

[2020-11-05 17:49] Gary-van-Breda commented on #280
Sorry: Reliability is currently enabled for Luxembourg transects only on this page: @DavidRoy do you want to enable across the board?

[2020-11-05 18:09] Gary-van-Breda commented on #3
Bug fix applied to Dev: note can only add images/comments when an attribute value has been added - i.e. the occurrence has already been created.

[2020-11-05 18:17] Gary-van-Breda commented on #306
@johnvanbreda All my work is on a form which is not currently being used on Live: feel free to push it all through to Live.

[2020-11-05 18:33] Gary-van-Breda commented on #311
@johnvanbreda
We're getting an "Unsupported array field sub-type" from warehouse1 when querying the cache view of occurrences: see

https://warehouse1.indicia.org.uk/index.php/services/data/occurremce?auth_token=76c84a448f5686eea49ae538d8ce9e33e69eed89&nonce=d939f476aee2dbbe84587790838d839a38034193&mode=json&survey_id=562&view=cache

Obviously you'll have to change the auth_token/nonce.

Is this r

[2020-11-05 21:14] Gary-van-Breda commented on #284
Bug fix applied to Dev: note can only add images/comments when an attribute value has been added - i.e. the occurrence has already been created.

[2020-11-05 21:26] Gary-van-Breda commented on #257
Done.

[2020-11-06 08:07] chrisvanswaay commented on #237
Hi Karolis,

One important thing is still missing in the app (though I reported that earlier), at least, as far as I can see.
It is now possible to enter records from multiple species groups. However we have to be sure that ALL species of a group are entered. Lets assume I do a transect counting butterflies, and I also recognize (among many other dragonflyspecies flying around as well) the only sp

[2020-11-06 08:59] johnvanbreda commented on #311
Yes, I think so, I'll take a look.

[2020-11-06 09:23] kazlauskis opened #313 "Choosing species group for full lists"
- [x] Add app settings page for choosing favourite species groups
- [x] Filter species search results based on fav groups
- [ ] Add a summary page with "I have recorded full list" toogle for each fav group.

From Chris:

It is now possible to enter records from multiple species groups. However we have to be sure that ALL species of a group are entered. Lets assume I do a transect counting butterfl

[2020-11-06 09:24] johnvanbreda commented on #311
@Gary-van-Breda Can you check now please - note the link above has a typo and doesn't select a particular record so will probably timeout.

[2020-11-06 09:24] kazlauskis commented on #237
Thanks, I have created a new ticket for choosing the species group #313

[2020-11-06 09:38] Gary-van-Breda commented on #311
Thanks: looks good now.
Bouncing to Cris and David to check and close.

[2020-11-06 09:40] johnvanbreda commented on #312
@CrisSevilleja I'm sure we could add something - can you specify the exact calculation for what you want to see please? Is it just for the current calendar year or do we need multiple columns?

[2020-11-06 09:50] CrisSevilleja commented on #311
Thank you, the warning messages are gone!

[2020-11-06 09:50] #311 closed

[2020-11-06 10:37] #306 closed

[2020-11-06 11:03] johnvanbreda commented on #106
@CrisSevilleja yes, I've rechecked all the data. I get the same result for queries directly on the raw PostgreSQL data and the Elasticsearch reporting data - 23 and 27 for Italy and Portugal respectively. Note that this result excludes any data flagged as "training".

[2020-11-06 15:24] Gary-van-Breda commented on #168
Deployed to Dev site as part of the new walk page, for review:

- Added extra "Outside Transect Count" occurrence attribute for this testing case: Hungarian Branch transects walks only, have made up a name for the 6-15 value case.
- Transect Images enabled across the board.
- Occurrence Images enabled on Hungarian Branch transects walks only.
- "Any Butterflies?" attribute enabled across the board

[2020-11-09 18:13] Gary-van-Breda commented on #278
I have done some tweaks on this page to speed it up a bit.
I've disabled the Full species list as this is I think too big to be practical.

[2020-11-09 18:20] Gary-van-Breda commented on #233
Country species lists enabled on the Dev site: configured on Hungarian and Luxembourg.
For this trial, I've set it up to use the relevant taxon presence attribute (we can set up a similar attribute if this is not appropriate) for each of those 2 countries, using "P" and "M" values (this can be configured to different values.)

As noted in #278 I've disabled the Full species list because it is so b

[2020-11-10 07:56] Gary-van-Breda commented on #231
@DavidRoy : Is this a separate page, or built into the walk data entry page?

[2020-11-10 09:12] Gary-van-Breda commented on #270
Not necessarily. I can't see the attribute being included in the Post from the form on any of the non-Luxembourg walks.

When this site was hosted on warehouse2, the default value for Reliability was set to "1", and the term id was 222. I believe the default value being stored in warehouse1 is also 222, and that this was not translated properly on migration into warehouse1 (this is the migration o

[2020-11-10 09:18] Gary-van-Breda commented on #270
@johnvanbreda : can you confirm you mean timed counts (in the Issue title)? I think the Reliability is only used on the EBMS Transects survey.

[2020-11-10 10:08] Gary-van-Breda commented on #162
@johnvanbreda : did we ever run this script?

[2020-11-10 10:19] Gary-van-Breda commented on #184
@larspett : is this still a problem for you?
A change was put in a while back, so this may have been fixed. If so, could you close the issue?
Thanks.

[2020-11-10 10:36] johnvanbreda commented on #270
@Gary-van-Breda you are correct on 2 fronts - I got the survey name wrong (which stemmed from a muddle elsewhere with survey IDs) and the default value was set to 222. I've run the following script which I believe closes this issue including updating the cache and ES data:
[code]

[2020-11-10 10:36] #270 closed

[2020-11-10 10:38] johnvanbreda commented on #106
@DavidRoy @CrisSevilleja can this be closed?

[2020-11-10 10:48] johnvanbreda commented on #162
It has now been run - 83 locations created.

[2020-11-10 11:37] johnvanbreda commented on #188
@DavidRoy I've re-instated the importer on the dev site at https://dev-butterfly-monitoring.pantheonsite.io/import-ad-hoc-records and locked down the fields. The attached example shows the CSV template required. When you import you will need to choose the correct species list (e.g. EBMS Butterflies) and grid ref system (British National Grid in this case).

Let me know if you are happy with this s

[2020-11-10 13:19] Gary-van-Breda commented on #162
@DavidRoy : I think this is now done.

[2020-11-10 13:38] DavidRoy commented on #162
Thanks, closing as not so easy to test

[2020-11-10 13:38] #162 closed

[2020-11-10 13:42] DavidRoy commented on #231
I think this can be closed as requirement not clear

[2020-11-10 13:42] #231 closed

[2020-11-10 13:55] DavidRoy commented on #233
@xaviermestdagh could you test this for Luxembourg on https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-10 14:19] DavidRoy commented on #233
@Gary-van-Breda I tested out for Hungary.  Am I misunderstanding how this functionality should work?

This screenshot shows that species 'Aglais ichnusa' is still available on the list, even though this taxa is 'A' for HU.
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/432427

![wde](https://user-images.githubusercontent.com/2699478/98685760-af02e580-235f-11eb-8b66-6444d124630f.pn

[2020-11-10 14:22] DavidRoy commented on #233
Actually, ignore my comment. I've now noticed the 'Branch species' option.  The species search enables the full species list which is sensible.

Can 'Branch specific' be relabelled as 'Region species list'

[2020-11-10 14:26] DavidRoy commented on #233
Rename 'Butterfly life stage' (which appears for both the butterfly and moth section).
to 'Life stage'.

[2020-11-10 14:27] DavidRoy commented on #233
Default life stage to 'Adult' throughout

[2020-11-10 16:25] Gary-van-Breda commented on #233
Label changed to "Region specific list"
Default life stage set to "Adult"
I'm assuming you don't want the attribute name changed on the warehouse? In which case we need to wait until the live node number is known before we can change the attribute title

[2020-11-11 08:20] johnvanbreda commented on #276
Proposed amendments to specification -
* Website filtering controlled by a single website ID and list of optional modes (reporting, verification etc) that can then be combined with the website agreements system to work out what website IDs can be included in the filter.
* Optional ES filtering includes a field to capture an ES query in JSON format.
* Option to enable access to other REST end-point

[2020-11-12 07:54] #308 closed

[2020-11-12 07:54] #309 closed

[2020-11-12 07:54] #237 closed

[2020-11-12 07:54] #285 closed

[2020-11-12 07:54] #307 closed

[2020-11-12 07:54] #304 closed

[2020-11-12 07:54] #301 closed

[2020-11-12 12:48] xaviermestdagh commented on #233
Here a screenshot of what I see, how can I have the view with live stage, outside transect counts...?
There are several "UNKNOWN DATA TYPE "" FOR ID: CAPTION:"
The page start with a large error (?) code (second screenshot).
![image](https://user-images.githubusercontent.com/24294138/98940817-d981a980-24eb-11eb-859e-d4ddfe3f7745.png)
![image](https://user-images.githubusercontent.com/24294138/98941

[2020-11-12 13:02] DavidRoy commented on #233
@Gary-van-Breda I get the same error.  Is this to do with the 'reliability' functionality as these errors only show for Luxembourg I think

[2020-11-12 14:53] Gary-van-Breda commented on #233
@DavidRoy : sorry - I had some finger trouble, and put in 1383 instead of 1393 for the reliability attribute ID. Now fixed.

@xaviermestdagh : Currently the live stage and outside transect counts are only active for the Hungarian scheme, not Luxembourg, on the Dev site. Would you like me to activate them for Luxembourg as well?

[2020-11-13 12:42] Gary-van-Breda commented on #277
I've revisited this, and pulled the existing format checks (which were in a node.js file) and the new check into the form JS.
Deployed to Dev as part of the new walk data entry form:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-13 12:50] Gary-van-Breda commented on #233
Form modified to allow override to occurrence attribute labels.
Deployed to Dev as part of the new walk data entry form, and config set so 'Butterfly life stage' shown as 'Life stage':
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-13 12:53] Gary-van-Breda commented on #68
I've revisited this, and pulled these time checks (which were in a node.js file) and the new check (see #277) into the form JS.
Deployed to Dev as part of the new walk data entry form:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-13 12:59] Gary-van-Breda commented on #283
I've revisited this, and modified the form to allow override of the sample attribute labels.
Deployed to Dev as part of the new walk data entry form, and configured to add "(HH:MM)" to the end of the start and end time labels:
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2020-11-13 13:15] DavidRoy opened #314 "Walk data entry new - unable to add new species to list for recording"
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new?location_type_id=777&date=11/11/2020

e.g. trying to add 'Aglais urticae' based on 'Species I have recorded' as the list chosen.  Unable to add new species.  When name selected the page scrolls to the top but the name is not added to the list.

Masquaring as user = szabadfalvi and entering data for Hungary site

![and](https://us

[2020-11-13 13:20] DavidRoy commented on #233
Looks good to me.
@xaviermestdagh can you test again?

[2020-11-13 13:20] DavidRoy commented on #314
Add extra species works when 'Region species list' is active

[2020-11-13 13:22] DavidRoy commented on #277
I'm still able to enter a start time later than end time?
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new?location_type_id=777&date=13/11/2020&sample_id=9303326

[2020-11-13 13:35] xaviermestdagh commented on #233
Great for Luxembourg. Under discussion with colleagues whether to switch to "live stage" view like in Hungary or not.
@DavidRoy : is it expected to have live stage and outside transect counts available for transect in the mobile app as well? For Bumblebee, recording queen, worker or male is of importance, could it be part of the values in "Live stage"? Alternatively, adding a field sex for all gro

[2020-11-13 14:00] Gary-van-Breda commented on #277
Caches cleared: it is working now...

[2020-11-13 14:12] Gary-van-Breda commented on #314
As a result of the performance tweaks for #278, unseen taxa are left on the page if they have been on it previously, but hidden: I forgot to re-display the species in this case.
Fix applied to Dev site.

[2020-11-13 16:36] CrisSevilleja commented on #262
Yes, now everything is correct. Thanks

[2020-11-13 16:36] #262 closed

[2020-11-13 16:46] CrisSevilleja commented on #106
Could it be possible to see which transects are flagged as "training"? Thanks

[2020-11-17 19:47] CrisSevilleja opened #315 "Error log in for several user"
Several users reported errors to log in in the eBMS website https://butterfly-monitoring.net/user/login, the password is unrecognized. Also, this problem happened to me I reset the password and change the account and I managed to log in.
If I log out and try to enter again it doesn't recognize the new password.

I can only log in if I reset the password....
@DavidRoy @Gary-van-Breda @johnvanbreda

[2020-11-17 19:50] CrisSevilleja opened #316 "Error loading the map of the page "Explore online record" - eBMS website"
The map on the page https://butterfly-monitoring.net/elastic/all-records gives an error and it doesn't load
@DavidRoy  @Gary-van-Breda

<img width="935" alt="online data error" src="https://user-images.githubusercontent.com/25052478/99440039-49da6180-2916-11eb-8639-b253f03f34ae.PNG">

[2020-11-18 10:42] BirenRathod commented on #315
@DavidRoy
This could be affected due to using his email address if email is not his username.

[2020-11-18 10:47] johnvanbreda commented on #315
@DavidRoy I think Biren is correct - the username here is CristinaSevilleja and the site is not setup to allow login via email address.

[2020-11-18 10:50] DavidRoy commented on #315
@BirenRathod @Gary-van-Breda  is that a change as I thought login via email was possible previously?

@BirenRathod can you allow login via email again

[2020-11-18 11:01] BirenRathod commented on #315
@DavidRoy
It has been re-enabled now.
It was enabled before but due to language translation module it was not implemented through out the site.

[2020-11-18 11:04] johnvanbreda commented on #316
Now fixed

[2020-11-18 11:04] #316 closed

[2020-11-18 11:05] CrisSevilleja commented on #315
thanks @BirenRathod it works with the username. It was confusing because login with email was possible before.
Now I can log in with both, username and email. Thank you for the prompt solution.

[2020-11-18 11:05] #315 closed

[2020-11-19 23:08] Gary-van-Breda commented on #198
Deployed to Dev site to be tested. Users drop down list now depends on scheme/country (this is fixed for scheme co-ordinators, but selectable for the super-managers).

[2020-12-01 09:59] CrisSevilleja commented on #312
@johnvanbreda  sorry for not replying before.

I will try to explain it in the best way. For the Scheme site page, I would like to have four columns:

1. Samples done in the calendar year (2020 in this case) per transect
2. Samples done in total per transect = sum of all the samples done for that transects including former years of monitoring
3. Number of species registered per transect.
4. Action

[2020-12-02 08:21] CrisSevilleja opened #317 "Section duplication in Data Entry Page - eBMS website"
Transects Pineta and Soaso from Spain have section 1 duplicated when entering data in the Data Entry Page.
Please can you resolve this issue? thanks

@DavidRoy @Gary-van-Breda @johnvanbreda

<img width="454" alt="Fernando Jubete_Soaso section duplication" src="https://user-images.githubusercontent.com/25052478/100847190-c5442300-347f-11eb-99e8-cdca7b616c96.PNG">
<img width="423" alt="Fernando Jube

[2020-12-02 08:32] CrisSevilleja opened #318 "Error loading map on My data page - eBMS website"
The map on My data page https://butterfly-monitoring.net/mydata gives an error and it doesn't load
The message shows: " Elasticsearch query failed"

thanks
@DavidRoy  @johnvanbreda

[2020-12-02 09:28] CrisSevilleja commented on #312
One thing more sorry, if possible to include a searching bar above the columns like in the All site page https://butterfly-monitoring.net/all-sites to be able to search any transect.

Now transects are organised by samples and you cannot search by alphabetic order or typing directly.

Thank you

[2020-12-02 09:58] CrisSevilleja opened #319 "walk-data-entry-2: add option Not recorded/no data for Temperature value"
Temperature is a compulsory value to add when registering a visit.
Please add the option "Not recorded/no data" in the drop-down options, to allow visits without registering Temperature

thanks

@DavidRoy

[2020-12-02 10:03] CrisSevilleja opened #320 "Error Scheme transect Allocation page not working"
The user filter in the Scheme Transect Allocation page https://butterfly-monitoring.net/scheme-transects-allocation is not working. The drop-down of the user filter doesn't show the filter and any user.

@DavidRoy

<img width="665" alt="scheme transect allocation - not working" src="https://user-images.githubusercontent.com/25052478/100858064-c5e3b600-348d-11eb-84d9-764e3e24f4c1.png">

[2020-12-02 10:07] johnvanbreda commented on #318
Fixed.

[2020-12-02 10:07] #318 closed

[2020-12-02 10:19] johnvanbreda commented on #106
Training data filters are automatic according to the flag on your edit profile page. So if you tick this option and save your profile, the report will show just training data. If you untick the option, the report will show just live data.

[2020-12-02 10:47] DavidRoy commented on #320
Were you logged in when doing this?  The page worked ok for me.  Can you try again?

[2020-12-02 10:48] DavidRoy commented on #319
We've now worked on this page as
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

can you test that one please

[2020-12-02 10:59] johnvanbreda commented on #300
@DavidRoy I don't think there are any quick fixes here. The way translation works in Drupal is translation jobs are either single UI strings, or content items (e.g. a page or Indicia form). Indicia forms are primarily going to contain language strings in the user interface configuration and whilst we could choose to expose that configuration text to Transifex in it's entirety, it would mean we are

[2020-12-02 11:50] johnvanbreda commented on #312
All done now @CrisSevilleja

[2020-12-02 11:50] #312 closed

[2020-12-02 12:09] johnvanbreda commented on #202
Done - see https://butterfly-monitoring.net/enter-moth-records. If you are happy with it @DavidRoy where would you like it added to the menus?

[2020-12-02 13:51] CrisSevilleja commented on #320
Now it works! It was needed to log out. After logging in the page works.
a good tip to remind for next time

[2020-12-02 13:51] #320 closed

[2020-12-02 14:15] CrisSevilleja commented on #319
I test it and it is working, the page allows to save No recorded data/no data in different variables (Temp and wind).

From my side, it is ready for the live site. Thank you for all the improvements

[2020-12-02 14:15] #319 closed

[2020-12-19 08:19] CrisSevilleja opened #321 "Unable user to sign in eBMS website"
A user from the Spanish BMS, Tomás Sanz, is not able to enter the website, after resetting his password. I tried to enter his account from several browsers and it is not working, message ×_Error message Unrecognized username or password._

The user Indicia Warehouse User ID 248898
username: Tomás
email: donguillos@xxx
new password: xxx

I don't know what is the problem, no other user had problems

[2020-12-19 08:41] DavidRoy commented on #321
I logged in using these details.  Can you try again.

Also, best not to put personal information and passwords in this github repository as it is open to all.

[2020-12-19 08:52] CrisSevilleja commented on #321
Now I logged in, it looks like you need to see it before... sorry for this silly issue.

Yes, sorry I won't place more personal details and say to Tomas to change his password.

[2020-12-19 08:52] #321 closed

[2020-12-19 08:54] DavidRoy commented on #321
Thanks, glad it is ok :-)

[2020-12-19 10:12] DavidRoy opened #322 "Null parent IDs in transect sections"
It should not be possible for transect sections to not have a parent id.  There are five sections where this rule is broken.  See sql for identifying them

select l.id location_id, l.code transect_code,
l.name transect_name, centroid_sref, centroid_sref_system,
l.deleted, l.parent_id
from locations l, locations_websites lw
where lw.location_id = l.id
and website_id = 118
and location_type_id = 778

[2020-12-19 13:17] DavidRoy opened #323 "Samples missing from download files"
https://butterfly-monitoring.net/downloads.
"Download sample (visits) information from transects (zipped CSV)"
user = https://butterfly-monitoring.net/user/1379
who has role = Scheme co-ordinator for Spain

1046 (out of 1495) samples are missing for 2020.
- mostly since May 2020 so possibly an issue with the ElasticSearch index populating?

Example sample data missing is:

location_id | transect_c

[2020-12-21 16:51] johnvanbreda commented on #323
At least some of these examples are training data - does that explain it?

[2021-02-17 10:16] DavidRoy opened #324 "walk-data-entry-2 license text update"
reword license information at bottom of page to:
By submitting these records you confirm that they contain data that you have collected, give permission for the records to be used for research, education and public information, and to be made generally available for re-use for any other legal purpose under the terms of the creative commons license '[no rights [reserved]',](https://creativecommons.

[2021-02-17 10:41] DavidRoy opened #325 "Data not appearing on ebms-input form"
This data was imported.  It shows on the annual-summary [view](https://butterfly-monitoring.net/annual-report?userID=all&locationID=223875&year=2019) with data for 13 species and 41 individuals, but data is missing from the ebms-input [page.](https://butterfly-monitoring.net/ebms-input-data?sample_id=8421755).  Both when masquerading as user with scheme-ordinator role for [Spain](https://butterfly

[2021-02-17 10:46] DavidRoy commented on #314
Tried to test this and got the follow page

{"success":"multiple records","outer_table":"sample","outer_id":9312387,"struct":{"model":"sample","id":9312387,"created_on":"2021-02-17 10:45:53","updated_on":"20210217 10:46:09","children":[{"model":"sample_attribute_value","id":35498323,"created_on":"2021-02-17 10:45:53","updated_on":"2021-02-17 10:45:53"},{"model":"sample_attribute_value","id":354983

[2021-02-17 10:49] DavidRoy commented on #277
Thanks

[2021-02-17 10:49] #277 closed

[2021-02-17 11:51] DavidRoy opened #326 "update taxon: I. podalirius assigned to I. feisthamelii for SpainBMS"
All the data for I. podalirius in Spain BMS data should be assigned to I. feisthamelii.

[2021-02-23 16:00] CrisSevilleja opened #327 "Add drop-down list for the years on My walks page"
It would be helpful to add a drop-down list for the year on My walks page https://butterfly-monitoring.net/my-walks to move between years and not only clicking on the arrows. Now you can move to consecutive years and not jump between years

See the example from another page https://butterfly-monitoring.net/annual-report
<img width="669" alt="drop-down years- annual report" src="https://user-images

[2021-02-28 08:50] DavidRoy opened #328 "Unable to unblock user account"
https://butterfly-monitoring.net/user/2252/edit?destination=/admin/people

Clicking 'active' on user account and saving returns a page asking to confirm other accounts.
![ebms error](https://user-images.githubusercontent.com/2699478/109412753-bea34a00-79a1-11eb-81c0-6966944a4567.png)

either clicking none or all of these tick boxes returns an error and failure to save.  Account remains blocked.

T

[2021-02-28 17:46] johnvanbreda commented on #328
This problem relates to an old version of the easy_login module running on EBMS and it is fixed in the newest code. I've applied the latest code and activated this account. The new code no longer displayed the request to check which sites the account was linked to.

[2021-02-28 17:46] #328 closed

[2021-03-16 10:09] CrisSevilleja opened #329 "ButterflyCount app: searching species wrong"
One user told me he was not able to find "Pontia daplidice" on the ButterflyCount app. The species is not found when you search "Pont" but it is possible when you type "dapl". Check the pictures

Please correct this error on species searching @DavidRoy @kazlauskis

![Screenshot_20210316-Pontia2](https://user-images.githubusercontent.com/25052478/111291977-01268100-8648-11eb-8190-80110c7d7651.png)

[2021-03-16 10:22] kazlauskis commented on #329
Thanks for raising this here, looks like there is a bug somewhere.

[2021-03-17 11:05] DavidRoy commented on #314
@Gary-van-Breda can you get this page up and running so we can test please
https://dev-butterfly-monitoring.pantheonsite.io/walk-data-entry-new

[2021-03-24 16:02] CrisSevilleja opened #330 "ButterflyCount app: 15 minutes counts doesn't track the route"
One frequent user of 15-min counts, Jurrien from the Netherlands told me today he was doing a 15-min count and the app didn't record the route even when he keeps the app open and not blocking the phone. After he finished the 15-min count the app didn't allow him to submit it.

Any idea to suggest to him how to fix this issue? he is normally using the app and the 15-min count so I doubt if it is a

[2021-03-25 13:38] CrisSevilleja commented on #330
Hi again, it looks like the app is not working well. Jurrien told me he tried today the app again and it only tracks the route for the first few seconds. He didn't see any butterfly, so it also didn't track anything when he finished the 15 minutes...

So the app is not tracking well the route. @DavidRoy

[2021-03-25 14:02] kazlauskis commented on #330
Thanks for raising the ticket here. What is the operating system (Android/iOS) and its version the user is using, also which app version and which survey is it for? There are two 15min count surveys now (under experimental features).

[2021-03-25 14:27] CrisSevilleja commented on #330
I asked him all these details. I hope to tell you something soon

[2021-03-29 08:02] CrisSevilleja commented on #330
@kazlauskis Jurrien has an Android phone with the latest update from 19 March 2021 and version V1.10.0(3). He didn't know about the precise 15-min count, so I don't think he is using that option, just the normal 15-min count

[2021-03-30 13:01] kazlauskis opened #331 "Add single species 15-min count survey"
Based on 15-min precise count survey but with a single species pre-selected and no options to add other species.

[2021-03-30 13:04] kazlauskis commented on #214
I will investigate this.

[2021-03-31 20:21] Gary-van-Breda commented on #314
@DavidRoy : fix deployed to dev site.

[2021-03-31 20:27] Gary-van-Breda commented on #324
Fix deployed to Dev to be checked.

[2021-04-01 07:24] DavidRoy commented on #314
Thanks

[2021-04-01 07:24] #314 closed

[2021-04-01 07:24] DavidRoy commented on #324
thanks

[2021-04-01 07:24] #324 closed

[2021-04-01 07:26] DavidRoy opened #332 "walk-data-entry-2 - 'any butterflies' should default to ticked"
![butt](https://user-images.githubusercontent.com/2699478/113258469-e1d45880-92c3-11eb-8f55-39c01cd192f0.png)

This tick box should default to ticked as that is the usual situation

[2021-04-01 09:26] kazlauskis commented on #330
I've spoken to Chris about this issue and it looks like the GPS works if the screen is unlocked. This should be fixed with #214 so I am closing this.

[2021-04-01 09:26] #330 closed

[2021-04-01 09:39] CrisSevilleja commented on #330
Thank you @kazlauskis

[2021-04-01 13:32] DavidRoy commented on #279
We still have this issue with large image files?
![problem_pic_upload](https://user-images.githubusercontent.com/2699478/113301549-0a297a80-92f7-11eb-98ac-b0a413e2cb97.jpg)

[2021-04-01 15:38] DavidRoy opened #333 "walk-data-entry-2 time values reverting to 12-hour clock"
![image001](https://user-images.githubusercontent.com/2699478/113318662-94c6a580-9308-11eb-8705-0b7aa05b7804.png)

If you enter "13:05", it displays "01:05" and then it doesn't allow you to go on. Error message

This has also been reported for the UKBMS
https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/209

[2021-04-06 16:57] DavidRoy opened #334 "walk-data-entry2. Option for blank species list"
Currently, the page gives a list for the site (whatever has been recorded there) etc
These spp. can then be displayed either in taxonomic order or alphabetically.

Is it possible to give an option to start with a blank list with the option of adding the species one by one?
Reason: some transects have over 70 butterfly spp. and over 30 moth spp. during a whole season. On spp. entry things can get m

[2021-04-12 11:08] kazlauskis opened #335 "Pause GPS tracking when survey is paused"
From Andras:

[2021-04-12 11:09] kazlauskis opened #336 "Ask user to confirm when switching the GPS off/on"
From Andras:

[2021-04-26 13:48] CrisSevilleja commented on #335
I am not completely sure if this function is really needed. If I pause the time, it means I will stay in the same place and the GPS will record the place where I stop.
If this function is applied to the app, I would like to include the automatic switch of the GPS on when the time is running again, then we avoid starting the Time count and the GPS remains off

[2021-04-26 13:52] CrisSevilleja commented on #317
Another transect has a duplicated section, the ID=257172 | **PARQUE NATURAL DE LA MATA** | 38.02113N 0.66615W, shows section 2 duplicated when registering new visits. I included the data in the first section of S2 to remove the second S2.

@DavidRoy

[2021-04-26 14:33] CrisSevilleja opened #337 "GPS of ButterflyCount app not working well"
Hello @kazlauskis. I received some comments from Irma Wynhoff and Chris van Swaay that the GPS of the ButterflyCount app is not working well with the 15-min counts, doing huge jumps while recording the route. They have Android and iOS phones, so it doesn't look like it is an error of the phone system. I attach a picture from Irma's route, with the huge jumps of several km (see the final monitoring

[2021-04-26 15:34] Irmawyn commented on #337
This is why we love butterfly work so much!

Love, Irma

----------------------------------------------------------------------------------------

Dit bericht is verzonden door / This message was sent by

Dr. Irma Wynhoff

De Vlinderstichting / Dutch Butterfly Conservation

Butterfly Conservation Europe

Postbus 506 / P.O. Box 506

NL - 6700 AM  Wageningen

Mennonietenweg 10, Wageningen

[T]  (+31

[2021-04-28 16:28] Gary-van-Breda commented on #255
This comment is WIP:

Currently:

- Super managers (roles "administrator", "super manager") can see all.
- Scheme coordinators (role "scheme co-ordinator"): can see all associated with a scheme. Each person picks a scheme, and the scheme is associated with a country. Each location is also associated with a country: the join is done this way using the country location id as the "intermediary", with

[2021-04-28 18:36] DavidRoy commented on #255
In the first implementation, we can use the NUTS hierarchy to provide the regional breakdown.

[2021-04-29 10:25] kazlauskis commented on #313
@DavidRoy Should moths be a seperate group in the app. At the moment, we have added 4 groups: **butterflies, moths, bumblebees, dragonflies**. Also, do you want to have all of the groups selected automatically the first time user installs the app? Alternatively, I could autoselect only the butterflies to keep the app more butterfly focused.

[2021-04-29 10:30] DavidRoy commented on #313
@kazlauskis yes, moths separate

I like the idea of just having butterflies to start with but would be interested in @chrisvanswaay 's view on this

[2021-04-29 11:42] DavidRoy commented on #313
@kazlauskis Chris agrees with these points.
1. Groups are: butterflies, moths, bumblebees, dragonflies
2. By default, the group selected is butterflies
3. It is possible to restrict the app to any group, e.g. dragonflies only

[2021-04-29 12:59] CrisSevilleja commented on #255
Thanks, Gary for describing everything and pointing what will be affected and what is needed for this new role of Regional coordinator. Replying your questions:

1. For the moment, regional coordinators didn't mention the 15-min counts as a priority to have, only to manage better the transects and users in their regions.
2. It would be useful
4.It is one of the claims for regional coord. role, be

[2021-04-29 13:05] DavidRoy commented on #255
I agree with these two good points

[2021-04-29 13:40] Gary-van-Breda commented on #255
@DavidRoy : Are we using NUTS 1 or 2 or both or is it going to be dependent on the scheme?

[2021-04-29 13:42] kazlauskis commented on #313
Thanks, will do. After finishing a 15min count survey do you want the user to actively select/deselect "Full species list recorded for GROUPNAME" checkboxes? Or can these be auto-checked by default and hidden under the 'Aditional details' menu?

[2021-04-29 14:02] DavidRoy commented on #255
NUTS1 only (the next one down from country)

[2021-04-29 14:04] DavidRoy commented on #313
These can be auto-selected as will be the default case
- are we having an extra survey for 'single-species'?

[2021-04-29 14:07] chrisvanswaay commented on #313
Hi Karolis and David,
I think it is essential the recorder decides at the beginning (with a default) what species groups he is going to count. Only those species should occur in the possibilities to add. You can't decide halfway to start counting a new group.
For single species: certainly a very valuable addition (will make it easier to count one rare species on a remote place, as you are not requ

[2021-04-29 14:09] Gary-van-Breda commented on #255
It would be technically feasible to do this using Filter based role definitions. This would need a rewrite of scheme filtering to be more generic, allowing multiple role based site selection, for the following pages:

- Annual Report
- My year by year index plot
- Section Plot
- Scheme Transects Allocation
- Walk Data Entry (there is additional scheme based functionality in this form, not just sit

[2021-04-29 14:11] DavidRoy commented on #255
That sounds like a good idea to make this more generic functionality and to have the filters defined in the database rather than Drupal.  Can you estimate the time required to do this.

[2021-04-29 14:14] Gary-van-Breda commented on #255
@DavidRoy : would you like a proper quote as a separate work item, or will it be wrapped up into PO-03474 (so you only need an informal estimate)?

[2021-04-29 14:20] DavidRoy commented on #255
Informal is fine

[2021-04-29 14:40] kazlauskis commented on #313
Yes, I'll add this in.

Regards, the favourite species groups, at the moment, I have added this under the Settings menu so this applies app-wide when searching for species. From our last discussion over the phone I thought that the per-survey "full-list" checkbox is merely to understand if the intent was to record all the species, not so much to limit the search results for particular groups - is

[2021-04-29 15:29] chrisvanswaay commented on #313
Hi Karolis,
You have to decide upfront anyway which groups you are going to count (in my case: only butterflies, but others might want to do dragonflies or can do both). It seems convenient that you can then only enter those groups anyway, makes your search quicker (now sometimes loads of moths pop up, orginally there were only butterflies, which worked much easier).

Best wishes,
Chris

--

De Vl

[2021-04-29 16:21] DavidRoy commented on #313
@chrisvanswaay are you ok this being an app setting rather than having to confirm each time?  We want to make the app as simple as possible

[2021-04-29 16:23] chrisvanswaay commented on #313
Yep

*****************
Chris van Swaay
De Vlinderstichting - Dutch Butterfly Conservation
Postbus 506, 6700 AM Wageningen, Netherlands
T: +31 317 467346
***@***.***
*****************

________________________________
From: David Roy (CEH) ***@***.***>
Sent: Thursday, April 29, 2021 6:21:24 PM
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Chris van Swaay ***@***.***>; Mention ***@***.***>
Subje

[2021-04-29 16:45] kazlauskis commented on #313
Great! In that case, are most people recording full lists? Do we need to show the "Full species list recorded for GROUPNAME" checkboxes at all? Or can we assume that our users will always submit full species lists of their favourite groups in the Settings?

[2021-04-29 16:46] DavidRoy commented on #313
I think so, yes
@chrisvanswaay - do you agree?

[2021-04-29 17:48] chrisvanswaay commented on #313
Yes. For me it is clear that all species have to be recorded and counted. If that is not clear for others, than we should work on ways to make that more clear.
Best wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van de steun van donateurs. Wilt u bijdragen aan bescherming van vlinders en libellen? Neem dan een kijkje o

[2021-04-29 18:26] kazlauskis commented on #313
Thanks, in that case, this work is now mostly complete. With the next app update, you should be able to select your favourite groups from the app settings.

@DavidRoy I wonder how it is best to upload this new survey information. Shall I create a "Complete list" `boolean` attribute for each species group in the warehouse? Alternatively, I can submit the names/IDs of the groups under a single sampl

[2021-04-29 18:38] DavidRoy commented on #313
Thanks! The group settings are mainly for reducing the species list when searching names to add.  I don't think we need to capture anything on 'complete list'.  At least for the 15 minute counts.

We may need to consider what we do for transects for the situation where one recorder includes moths but another does not for the same transect.  The lack of moths recorded either indicates a zero count

[2021-04-30 08:02] kazlauskis commented on #313
Yes, we could have the checkboxes for each separate group somewhere in the Transect edit page or I could automatically attach user's favourite groups to the record.

[2021-04-30 14:50] Gary-van-Breda commented on #255
@DavidRoy Can I ask a couple of questions:

- what is the expected benefit/improvement when using Role based filters?
- What happens now that using a filter will improve? Is it a reduction in coding if a new role is created?
- Do you have any definite (or speculative) future plans for using this? (will these filters be across the project, or potentially scheme specific?)

Any steer on how you envi

[2021-04-30 15:07] kazlauskis commented on #331
@DavidRoy do you want me to create a separate survey on the warehouse with its own ID or should I reuse the 15min survey and just flag the records with some extra sample attribute?

[2021-04-30 15:28] DavidRoy commented on #331
@kazlauskis a separate survey makes it more explicit that this is something different I think.  Even if in real terms the data is no different

[2021-04-30 15:32] kazlauskis commented on #331
Thanks, I'll duplicate the 15min survey with a new name then.

[2021-05-01 11:52] kazlauskis commented on #335
I agree, let's close this one.

[2021-05-01 11:52] #335 closed

[2021-05-01 13:23] #336 closed

[2021-05-01 13:23] #337 closed

[2021-05-01 13:23] #329 closed

[2021-05-01 13:23] #331 closed

[2021-05-01 13:23] #214 closed

[2021-05-01 13:23] #313 closed

[2021-05-02 19:49] DavidRoy commented on #255
@Gary-van-Breda
- the benefit is to have functionality primarily defined within the database.  This seems cleaner to me
- nothing specific.  Perhaps querying the list of filters is more straightforward?
- nothing specific planned, although an ongoing requirement across projects to setup roles for data flow and verification

Happy to discuss in person if easier

[2021-05-03 15:05] johnvanbreda commented on #300
1. I now think this is possible for Drupal (not Indicia) content - submitting the body text for example as a single item rather than breaking it down into phrases. However it would need fairly substantial code changes to the way the module works.

[2021-05-03 16:22] DavidRoy commented on #255
@Gary-van-Breda another reason for moving to filter definition is that it gives wider options for providing access to functionality?

[2021-05-06 08:15] CrisSevilleja opened #338 "Problems with one user on the app and the website"
One user cannot submit his 15-min counts registered with the app (it looks like the app crashed) and he doesn't want to lose the data. Now he cannot enter the visits of his transect through the eBMS website...

I suggested signing off and signing in again on the app but saving the data for later submit it and use another browser for the website.The website and app work perfectly for me and when I

[2021-05-07 08:23] kazlauskis commented on #338
@CrisSevilleja Is the issue here that this person can't upload a 15min survey from the app? Is there some error or does it just silently fail? This person has created 2 accounts of which only one is verified.

[2021-05-12 12:02] CrisSevilleja commented on #338
The user cannot log in and he got the message the user and password were incorrect when he reset the password several times.

Yes he has two accounts and he knows one is verified, it is the one he uses to submit data on the website. He doesn't give me any information more and it is difficult to communicate with him by email... He didn't send me any screenshots or anything. I hope you can find the

[2021-05-12 12:12] CrisSevilleja opened #339 "Website Email send issues"
Hi @kazlauskis  some colleagues from Vlinderstichting were trying to register on eBMS through the app and it doesn't work well. Specifically, Anthonie Stip try to register and the app gives the message that the account was already registered when it was not the case... Now the user is blocked.

I tried to register another email account from my phone and the app allows me to do it but I didn't rece

[2021-05-12 12:17] DavidRoy commented on #339
@BirenRathod can you check the status of emails being sent from butterfly-monitoring.net and whether there is an issue due to recent changes to spam filtering

[2021-05-12 12:18] DavidRoy commented on #339
@CrisSevilleja accounts have been activated in the last few days but we'll investigate

[2021-05-12 12:36] CrisSevilleja commented on #339
thanks @DavidRoy

[2021-05-12 18:20] kazlauskis commented on #338
I would need more information to help this person. Like a screenshot of the screen, which email is in use, time of the day that the login was made, which app version etc. as much as possible really as I can't see anything in the logs right now.

[2021-05-14 10:02] Gary-van-Breda commented on #255
@DavidRoy Rough Estimates in line with comments above, though without going down the Filter route:

- EBMS scheme module: 0.5 days
- Annual Report: 0.5days
- My year by year index plot: 0.25days
- My site/visit summary: 0.1days
- Section Plot: 0.25days
- Scheme Transects Allocation: 0.25days
- Walk Data Entry: 0.5days
- Site details: 0.5days
- New Region Sites: 0.2days
- New Region Walks: 0.2days

[2021-05-14 10:09] DavidRoy commented on #255
Thanks @Gary-van-Breda
Please go ahead with this work

[2021-05-14 17:38] BirenRathod commented on #339
@DavidRoy This is not due to recent changes of spam filtering module. Although recently last week I have upgraded SMTP module which uses PHPmailer library. In general it is not a problem but sometime it fails to send notification email. This happens only website registered with non CEH email address. Because relaying email blocked by third party email firewall service which has linked with SMTP mo

[2021-05-16 17:53] DavidRoy commented on #339
@BirenRathod I notice that all 4 new registrations today are blocked.  Can you keep an eye on this problem please

[2021-05-17 08:39] BirenRathod commented on #339
@DavidRoy When I checked the log message, there is no SMTP's error message logged. In fact those accounts been blocked because users can't able to successfully activated their accounts.

[2021-05-17 08:55] DavidRoy commented on #339
thanks for checking @BirenRathod

@CrisSevilleja would you be able to do some testing on the registration/account setup to confirm it works as expected

[2021-05-17 09:12] BirenRathod commented on #339
@CrisSevilleja Please hold on for testing. I will let you soon.

[2021-05-17 09:22] BirenRathod commented on #339
@CrisSevilleja You can now do some testing.

[2021-05-17 12:33] kazlauskis opened #340 "Improve backend error messages"
Use better error/warning messages to indicate the account registration stage users have reached.

[2021-05-19 08:12] CrisSevilleja commented on #339
@DavidRoy @BirenRathod  I did some testing of the registration from the website and from the app with different accounts and everything works well, even the translation of the email. Thanks

The only issue is the verification email sometimes reaches the spam folder, and users can miss it. Maybe we can mention it in the welcome message. Another thing is if the account is not active with the verific

[2021-05-20 12:02] DavidRoy commented on #340
Example improvement.
User has not activated their account but creates a survey.  This shows in their list of pending (see below).  But clicking on the 'Upload' button does nothing.  A warning message is required to inform recorder that they need to activate their account.  Also give the option to request a new activation email.

![cr](https://user-images.githubusercontent.com/2699478/118975070-7cb

[2021-05-24 10:38] chrisvanswaay opened #341 "ButterflyCount app not working well for transect counts"
Saw this message on Facebook from Diana Brown, our main transect walker in Bulgaria:

Good morning , is anyone else have problems with the Butterfly  monitoring phone app , everything is fine when you do a 15 minute survey but when i try to do a  transect and add species entering Butterfly name for example Clouded yellow  the app offers up the Latin names for moths , is anyone else having this pro

[2021-05-27 07:57] CrisSevilleja opened #342 "15-min single species count missing real zero count"
My colleague Jurrien from Vlinderstichting did a 15-min single species count for a species but he didn't found any individual during the 15 minutes. He was wondering if he submits that 15-min how the system knows it was a zero count for which specific species because he didn't write it because there were not individuals.

Maybe we can include a request to enter the species name if there were not i

[2021-05-27 08:01] CrisSevilleja opened #343 "Missing function on ButterflyCount app: editing species occurrences"
Bug when editing an incorrectly entered species:

If you try to change an incorrectly entered species (either in a draft or in a finished survey) to another one already included in the recorded spp list, the app doesn't let you do it (i.e. the desired new sp name is greyed out).
Screenshots attached (trying to change icarus.P/ to loti.Z/ as a test :-)).

@kazlauskis  @DavidRoy @
![Screenshot_2021-

[2021-05-27 14:08] DavidRoy commented on #5
Closing this one as too general

[2021-05-27 14:08] #5 closed, assigned to johnvanbreda

[2021-05-27 14:09] #323 closed

[2021-05-27 14:18] DavidRoy commented on #342
This should result in a sample being created (i.e. with location, date, weather information) but no associated occurrences (species recorded).  The 15-min count should be submitted as this gives information on zero counts

[2021-05-27 14:45] CrisSevilleja commented on #342
Indeed, the sample will be submitted and several variables are recorded, but currently, it is not possible to know which species you are recording if you don't have individuals.

[2021-05-27 15:14] chrisvanswaay commented on #192
I guess there should be a check if the observation.org account is valid (e.g. by requiring a log in)?

[2021-05-27 15:20] DavidRoy commented on #342
I'm not sure I understand what you mean.  If you have no individuals for a species then the count is zero?  For most species, the count is zero in any timed count....

[2021-05-27 15:24] kazlauskis commented on #342
I think Cristina is saying that the survey at the moment doesn't capture the taxon if the abundance is 0. In the database, it will look like there is a survey sample but you won't know which species this is for.

[2021-05-27 15:27] DavidRoy commented on #342
ah, sorry.  I had missed that this is related to the '_single-species_' count.  My bad!
is one option to create an occurrence record but with occurrence.zero_abundance = TRUE

[2021-05-27 15:54] CrisSevilleja commented on #342
ah sorry, I didn't explain well, but yes it is like Karolis mentioned it. Thanks!

[2021-05-28 12:22] #302 closed

[2021-05-28 12:22] #338 closed

[2021-05-28 12:22] #340 closed

[2021-05-28 12:22] #341 closed

[2021-05-31 14:03] CrisSevilleja opened #344 "eBMS website: My walks don't match with annual Report visits"
The user Indicia Warehouse User ID: 295127 realised one problem on the eBMs website. He registered one visit every week this year visualizing well the visits after submitting records on the My walks page. When he wanted to check his visits at Annual Report page https://butterfly-monitoring.net/annual-report one visit was missing in week 16 when it was registered without problems.

When downloading

[2021-05-31 14:37] Gary-van-Breda commented on #344
There is a mismatch in the "week" definitions between the my walks and annual summary pages:

- for the My walks it starts on Mondays, and week one includes 1st January.
- For Annual summary, week one starts on 1st Jan.

This means week 16 for the Annual summary starts on the 16th April, and ends on the 22nd: there are no walks in this period, so I would expect it to be empty.
I assume we wish to

[2021-05-31 15:21] CrisSevilleja commented on #344
Thanks, Gary, I didn't realise about the mismatch on the starting day for the week in my walks and annual summary page. So now I understand why week 16 is empty on the annual summary page because that "week" there was not any visit. However, the next week the 17 there are two visits, then the annual summary page should sum both visits. I checked some of the numbers and week 17 doesn't show the sum

[2021-05-31 21:01] Gary-van-Breda commented on #344
At the moment, the annual summary does not sum multiple walks in a week, but averages them.
@DavidRoy : what are your preferences on both fronts?

[2021-06-01 07:06] DavidRoy commented on #344
@Gary-van-Breda it should be an average when multiple walks per week as otherwise the plots will not make sense

Week 1 should always start on 1st January, so the start of the week will change each year.  This makes most sense to interpret butterfly numbers

[2021-06-01 08:08] Gary-van-Breda commented on #344
@DavidRoy @CrisSevilleja
I have left the Annual summary averaging multiple walks. I have also left its week definition alone, as it is the correct one.
I have changed the week definition on "My walks" and "Scheme walks", so that week one starts on the 1st January. This means that for 2021, the first day of the week as shown in the grid, is a Friday. It may be worth communicating this to the users,

[2021-06-01 08:43] CrisSevilleja commented on #344
Okey good to know the changes and that now both pages, My walks and annual summary show the same week. I will mention how the visits are shown on the week on the page text and announce it to the volunteers. Thanks

[2021-06-01 08:43] #344 closed

[2021-06-02 08:56] DavidRoy opened #345 "Download files for ButterflyCount data"
Reports required for download files (via website links and API)

1. 15 minute count surveys (survey.id = 565)
SampleID
Date
Start Time
End Time
Recorder Name
Area sampled (m2)
Geom (GEOJson?)
% Cloud
Temp (Deg C)
Wind Direction
Wind Speed
Species (preferred latin name)
Count (summed over sub-samples/occurrences - #note that precise survey option include occurrence for each individual butterfly)

2

[2021-06-02 09:31] DavidRoy opened #346 "API reports for ButterflyCount data"
links to reports #345

API to be tailored to these reports and documented via:
https://butterfly-monitoring.net/ebms-api

Note that auto-generated API documentation exists at:
http://warehouse1.indicia.org.uk/index.php/services/rest

[2021-06-17 10:53] CrisSevilleja opened #347 "Verification system on the eBMS website"
When I enter on the Verification page it gives the constant message "Elasticsearch query failed". If you can fix it @Gary-van-Breda
I was wondering, Is the verification system currently working? I mean it registers as correct records based on flight season and distribution?

Also, @DavidRoy  I want to edit some records of Coenonympha orientalis that were wrongly recorded in the 15-min Counts but e

[2021-06-17 12:28] DavidRoy commented on #347
@johnvanbreda can you pick up the two things in this issue.
- error message on the verification page
- enabling verifiers to edit records

@CrisSevilleja we haven't implemented any automatic rule-checks the data

[2021-06-17 12:58] johnvanbreda commented on #347
@DavidRoy both issues should now be sorted. I copied the edit generic record form over from iRecord.

[2021-06-17 13:00] DavidRoy commented on #347
thanks @johnvanbreda
can you check @CrisSevilleja, and close if resolved

[2021-06-17 13:34] CrisSevilleja commented on #347
The verification page is not giving an error message anymore. Although I cannot edit the records I want I don't think is a problem with that page, it is regarding the common species list. I open another issue for that.

Thank you for the prompt reply.

[2021-06-17 13:34] #347 closed

[2021-06-18 08:46] johnvanbreda commented on #345
Hi @DavidRoy we already have the following page which covers survey 565: https://butterfly-monitoring.net/downloads. Is this requirement an extension of that page, or a new page?

Should we be looking to download samples from the PostgreSQL table, accepting lower performance, as opposed to Elasticsearch where empty samples will be omitted?

[2021-06-18 08:55] DavidRoy commented on #345
@johnvanbreda thanks.  Extending the existing page to reflect the more detailed data from the app.

Immediate-term, PostreSQL is ok.  Longer term, everything from ElasticSearch (will require extending to handle all sample attributes, sub-sample structure and samples without occurrences?)

[2021-06-18 08:59] johnvanbreda commented on #345
Thanks @DavidRoy. Also - is GeoJSON a requirement, or is WKT (well-known text) OK? E.g.
[code]
The latter is slightly easier, but I can do GeoJSON if required.

[2021-06-18 09:03] DavidRoy commented on #345
Start with WKT but having GeoJSON is a good option to have going forward?

[2021-06-18 09:29] johnvanbreda commented on #345
Sorry @DavidRoy - thinking of questions as I go along - will reports 1 & 2 output a row with a blank species, if nothing was recorded for the sample? Or is it only a report summarising the species within the samples?

[2021-06-18 09:34] DavidRoy commented on #345
@johnvanbreda
report 1 only includes species within the sample/sub-sample
report 2 to report the target species with a zero count if not present, and absent in presence/absence column.  I believe the app submits an occurrence record but with zero_abundance = true

happy to chat through this via zoom if easier

[2021-06-18 12:47] johnvanbreda commented on #345
@DavidRoy I've added a report for 1 & 2 to the demo page (sent via email). Question regarding report 2, if a species has presence=true, but no count data (which seems quite common in the data on the warehouse) then what should be output?

[2021-06-18 13:07] johnvanbreda commented on #345
All 3 reports are now on the text page with just the above question outstanding.

Once checked, we need to decide where in the list of reports on the existing download page these should be inserted, or if they replace existing ones. I also need to integrate the non-Elasticsearch reports with the permissions filter.

[2021-06-22 10:04] DavidRoy commented on #345
@johnvanbreda nearly there.  A couple of comments on the reports on the dev site.
1. The third link on the page should be labelled 'Download species occurrences from **timed-count samples**..' - it currently is labelled '....from transects...'
2. The first report looks good - Download timed-count samples with species
3. The second report does not include all the data.  'Download single species tim

[2021-06-22 11:01] johnvanbreda commented on #345
@DavidRoy
1. Done
2. Good.
3. I've corrected the logic in the record count (although this just results in not recorded). However, there are 11 samples in this polygon for survey ID 645 and only 3 are top level, 8 are child samples providing an exact location for each species. So the number of rows being 3 is correct from what I can see.
4. I can't see any GPS precision value attribute for the 2 su

[2021-06-22 11:30] kazlauskis commented on #345
@DavidRoy the app doesn't collect the GPS accuracy information yet. Shall I create a ticket to add this?

[2021-06-22 12:25] DavidRoy commented on #345
4. @kazlauskis yes, please add a ticket for capturing GPS accuracy information

3. @johnvanbreda I'll test survey 645 but I'm surprised there is no count information in the files.  Also, if I filter to Src  = 118|645 on https://butterfly-monitoring.net/elastic/all-records I see 13 records from 7 samples (combination of date, location, recorder)

[2021-06-22 12:41] johnvanbreda commented on #345
@DavidRoy the test page is configured to show only data from Italy. The following SQL lists the parent sample IDs, child sample IDs and species names:
[code]
There are 8 records, but only 3 unique combinations of taxon and parent sample ID so the report should include 3 rows.

[2021-06-22 12:43] DavidRoy commented on #345
@johnvanbreda thanks, I'd missed this was restricted to Italy for the test page.  That explains the numbers.  The only remaining issue is why the count is missing a value?

[2021-06-22 12:45] kazlauskis opened #348 "Capture GPS accuracy information"
The app currently doesn't store the accuracy information for the top survey sample when saving the walked trail as a GeoJSON shape as well as for the subsamples (precise occurrence locations). We should add this.

#345

[2021-06-22 14:16] johnvanbreda commented on #345
@DavidRoy the following query uses a sub-query to list the relevant occurrence IDs, then joins across to find all the attributes that are actually recorded for these. The only attribute present is Life Stage:
[code]

[2021-06-22 14:29] DavidRoy commented on #345
@kazlauskis is there an issue capturing the count for the single-species 15m count. I noticed there was no count within the record details, e.g. https://butterfly-monitoring.net/mydata/details/record?occurrence_id=20656726

Or was the idea to count the number of occurrences as each individual is given an occurrence?

[2021-06-22 15:02] kazlauskis commented on #345
Yes, that's correct, in the app there isn't a separate count attribute, the number presented is the number of the occurrences i the list.

<img width="220" alt="Screenshot 2021-06-22 at 16 00 54" src="https://user-images.githubusercontent.com/7383162/122948795-17dd2200-d373-11eb-97ba-81dbeb09659f.png">

<img width="221" style="display:inline-block" alt="Screenshot 2021-06-22 at 16 00 44" src="http

[2021-06-22 15:11] DavidRoy commented on #345
@kazlauskis that makes sense
@johnvanbreda can you update the report count to be based on number of occurrences within the sub-samples

[2021-06-22 15:14] kazlauskis commented on #345
Worth noting that some of the occurrences might not have a subsample wrapper (in case the GPS has failed). Also, a subsample can only have a single occurrence in the app.

[2021-06-23 10:05] CrisSevilleja commented on #345
a great job was done in the reports @johnvanbreda  a few things to add:

1. In the third report, "species occurrences from timed-count samples" I am missing the time of the occurrence was taken, I think it is information recorded on the app as well as the precise coordinate that David mentioned before.

2. The recorded area is saved on the first report, however, I was thinking that maybe some user

[2021-06-23 10:25] johnvanbreda commented on #345
@DavidRoy I've changed the way the count works on the 2nd report as described. On the third report - @CrisSevilleja is suggesting adding the time of the occurrence - we have the start time and end time of the sample in the sample data I think. Are there any other sample attributes that I should include on this report?

Also let me know about the 2nd idea in the post above.

[2021-06-23 11:39] DavidRoy commented on #345
@johnvanbreda I agree that time would be a good addition.  This would be the time of the occurrence record creation if the app captures and submits this (e.g. date extracted from occurrence.created_on ?)
Thanks for fixing the 2nd report which now gives what's needed

On the second point about GIS formats, the advantage of GEOJSon is that it fits in a table of records.  Could other GIS formats fit

[2021-06-23 12:43] johnvanbreda commented on #345
I've included the time formatted from occurrence.created_on as a new column in the third report. But, I can see a couple of problems with this:
1. The time will capture when the record was submitted to the warehouse, not when the record was added to the app. I've not used this app but if it is similar to the iRecord app then the record might not be synced to the warehouse till sometime after it wa

[2021-06-23 12:45] DavidRoy commented on #345
@johnvanbreda good point.  I suggest you remove this from the report for now and I'll pick up the options with karolis.  I think it's best for this to come from the app clock and to store in a occurrence attribution

[2021-06-23 12:49] DavidRoy opened #349 "ButterflyCount to capture time of occurrences"
request is to capture the time of each occurrence record from the precise 15m survey.  Time taken from the phone clock and stored within an occurrence attribute

links to report requirement BiologicalRecordsCentre/ABLE#345

[2021-06-23 12:51] johnvanbreda commented on #345
Agreed and done.

[2021-06-23 13:28] johnvanbreda commented on #349
@DavidRoy did you mean to close this or #345?

[2021-06-23 13:30] DavidRoy commented on #349
Neither!

[2021-06-23 13:31] DavidRoy commented on #345
@johnvanbreda now the report formats are setup, can you integrate with the permissions on the site and make available via: https://butterfly-monitoring.net/downloads

[2021-06-23 15:17] johnvanbreda commented on #345
@DavidRoy do the new buttons just go at the bottom, inside the 15 minute timed-count downloads section header? Or do you want some other ordering or section header for them?

[2021-06-23 18:29] DavidRoy commented on #345
@johnvanbreda yes, within the 15 minute timed count downloads section

[2021-06-23 19:49] johnvanbreda commented on #345
@DavidRoy done.

[2021-06-24 10:08] DavidRoy commented on #345
@johnvanbreda I've tested in a few cases and works well.
However, when masquerading as user: https://butterfly-monitoring.net/nl/users/chrisvanswaay there is an extra drop-down to selected 'all data' or 'Netherlands' but the download files are empty.  Is there a conflict between roles?

[2021-06-24 12:36] johnvanbreda commented on #345
@DavidRoy fixed - the reports had the region as a mandatory parameter whereas it needed to be optional for users with all data access.

[2021-06-24 13:02] CrisSevilleja commented on #345
Are the download reports for 15-min count active on the website https://butterfly-monitoring.net/elastic/my-records? I am not able to see those buttons yet

[2021-06-25 09:24] DavidRoy commented on #345
@CrisSevilleja can you raise this as a separate issue - download via my-records
@johnvanbreda when masquerading as user: https://butterfly-monitoring.net/nl/users/chrisvanswaay there is still an extra drop-down to selected 'all data' or 'Netherlands' and the download files are empty.

[2021-06-25 09:51] CrisSevilleja opened #350 "download 15-min count via my-records"
On the page My 15-min count https://butterfly-monitoring.net/elastic/my-records it is still not possible to see the buttons to download the different reports.
@johnvanbreda

_Originally posted by @CrisSevilleja in https://github.com/BiologicalRecordsCentre/ABLE/issues/345#issuecomment-867618636_

[2021-06-25 10:03] johnvanbreda commented on #345
@DavidRoy the only report I find is empty is the "Download single species timed-count samples with species (*.csv)" report, when Netherlands is selected. That's because although there are 3 samples for survey ID 645 in the Netherlands, none appear to have occurrences and this report only includes samples with occurrences.

[2021-06-25 10:06] johnvanbreda commented on #350
@CrisSevilleja at the bottom of the Records tab on this page, you should be able to see a Download button. If you click this then you should be transferred to the Downloads tab where a download of your records will be prepared.

[2021-06-25 10:46] DavidRoy commented on #345
@johnvanbreda thanks.  I'll ask others to test the downloads.  Can you remind me why https://butterfly-monitoring.net/nl/users/chrisvanswaay has the option for all data/Netherlands.  Does this relate the verification role and filters?

[2021-06-25 12:18] johnvanbreda commented on #345
@DavidRoy yes, there is a verification filter for all records which is causing the all data option. The Netherlands option comes from the Drupal profile scheme coordinator configuration.

[2021-06-25 12:43] CrisSevilleja commented on #350
Okey, I didn't understand this simple process... thank you so much for explaining it to me. Everything works well thanks!

[2021-06-25 12:43] #350 closed

[2021-06-27 19:40] DavidRoy opened #351 "Improve explore reports for 15m counts"
@johnvanbreda thanks for improving the download reports #345
Can you  also improve the explore reports to reflect these reports.

Replace: https://butterfly-monitoring.net/elastic/my-records with two reports.
1. Explore-occurrences to match the report number 3 listed in issue #345
2. Explore-15 minute counts to match the reports number 1 and 2 listed in issue #345.  Ideally a single report for bot

[2021-06-27 19:44] DavidRoy opened #352 "Improve editing of 15minute count data"
@johnvanbreda links to #351 and #345
require improved functionality to edit 15minute counts from the app

[2021-06-28 08:57] johnvanbreda commented on #351
I assume both of these are "My records" reports - let me know if there is a requirement for All records versions.

1. I've updated the test version of elastic/my-records https://test-butterfly-monitoring.pantheonsite.io/elastic/my-records to match report number 3 from #345 - please can you check this is what you intended? In particular do you still want the other tabs, and is it correct that any o

[2021-06-28 08:58] johnvanbreda commented on #352
Is there anything specific required here @DavidRoy?

[2021-06-28 09:33] DavidRoy commented on #351
@CrisSevilleja could you test this please?

[2021-06-29 12:13] DavidRoy commented on #351
@johnvanbreda we've had a rethink on the reports and have decided that they need to be led from the sample view first.  Please can you simplify '../my-records' to a simpler version:
![ebms pic 1](https://user-images.githubusercontent.com/2699478/123795187-a6095900-d8db-11eb-9ad9-f77873172936.png)

then to view the sample occurrences, build a popup summary, e.g.
![ebms pic 2](https://user-images.gi

[2021-06-30 13:34] CrisSevilleja commented on #342
Hi @kazlauskis did you apply this already? I was thinking that the option of the zero_abundance could work but currently, when you add a new species immediately the app gets the coordinates and put directly 1 individual by default.
Maybe we can resolve this issue of having a real zero count for the 15-min single species count, by asking at the end of the 15 minutes which species was being recorded

[2021-06-30 14:47] kazlauskis commented on #342
Yes, this could work but I haven't had the time to work on this yet.

[2021-07-01 07:57] DavidRoy opened #353 "use of # character within ElasticSearch page search"
@johnvanbreda
Is the '#' (hash) character, restricted within searches.  this is used to structure comments e.g. "#DINP:oedippus.C" to easily identify samples within a certain project.  Searching for # does not work in ElasticSearch pages, e.g. https://butterfly-monitoring.net/elastic/all-records

[2021-07-01 09:14] kazlauskis opened #354 "Remove the maximum 35C temperature restriction ☀️"
Users are recording in 35C+ temperatures and we'd like to capture that in the survey.
- [x] Add new warehouse IDs
- [x] Update app ranges
- [x] Update app Weather API mapping

[2021-07-01 09:14] kazlauskis commented on #354
@johnvanbreda @Gary-van-Breda What is the best way to remove the restriction? Shall we just add another +15C values to the dropdown ranges or is there some better way?

[2021-07-01 09:25] johnvanbreda commented on #354
I'm not sure I'm particularly keen on the way it's been setup, using terms to map directly to a range of numbers, but as we have already gone down that route it may be easier just to add extra terms as you suggest.
An integer field with max/min is cleanest, but it doesn't have a "Not recorded" value.

[2021-07-01 10:09] johnvanbreda commented on #353
This may reflect the fact that we don't store the parent sample's comments in the Elasticsearch document - just the sample directly linked to the occurrence. Is this worth adding then @DavidRoy ?

[2021-07-01 10:20] DavidRoy commented on #353
@johnvanbreda yes please

[2021-07-01 10:27] johnvanbreda commented on #353
OK, will do. I just tested the search on a local install and it does work, but you need to wrap it in double quotes:
[code]

[2021-07-08 12:41] CrisSevilleja opened #355 "Possibility to download the Transect visit summary in a file"
Some volunteers asked for the possibility to download a transect visit summary after they have entered the transect data. This summary should have all the information about the visit (as shown in the picture):
- Transect date and time
- Recorder name
- Environmental variables: temp, % clouds, wind and notes
- Species and abundances per section
- Total number of individuals and species* (variables

[2021-07-09 08:04] CrisSevilleja commented on #355
One small remark, if possible, only include the species with abundances for the visit of the summary, not the complete list that appear by default (in some transects the list is quite long). thank you

[2021-07-09 12:30] CrisSevilleja opened #356 "15-min single species count unable to do more than one count"
@kazlauskis  @DavidRoy
Jurrien van Deijk, my colleague at the Vlinderstichting trying to use the 15min single species count method, he got some error messages while doing it today: "I got this message when I want to do a second 15 minute species specific count. I can upload it, but can't do the next one."

First image: er bestaat een eerder concept. Wilt u hiermee doorgaan? -> There is a previous

[2021-07-09 15:45] kazlauskis commented on #356
Thanks for raising it here. It seems that the app thinks the uploaded record is still a draft. I have fixed this issue now and will push the update asap. The current user can wait for the update which might take a few days for app stores to review or delete this uploaded survey on the device (swipe left to delete), this will also allow a new survey to be started.

[2021-07-09 15:45] #356 closed

[2021-07-12 15:36] CrisSevilleja opened #357 "Add new BMS options and languages to eBMS website"
I realised some BMS are not available to choose when registering on eBMS. Please could you add the following BMS?
- Romania BMS
- France BMS
- Greece BMS
- Slovakia BMS
- Denmark BMS

And the languages Romanian and Danish. Thank you in advance.

@DavidRoy

[2021-07-14 11:29] DavidRoy commented on #357
@CrisSevilleja that should be setup.  Please close this issue if all ok

[2021-07-14 12:48] CrisSevilleja commented on #357
Thank you @DavidRoy, I see you included all the new BMS on the system.

I am missing the Danish and Romanian languages, not hurry to have it soon I am still looking for translators

[2021-07-15 13:40] CrisSevilleja commented on #357
Hello again,

@DavidRoy I realised I missed one scheme, the Madeira BMS, could you include it, please?
sorry for not mentioning before

[2021-07-16 07:15] DavidRoy commented on #357
@CrisSevilleja Madeira is not a country so doesn't fit.  Shall we look at options when the regional co-ordinator role in available?

[2021-07-16 07:22] DavidRoy commented on #357
additional languages added now

[2021-07-16 09:35] CrisSevilleja commented on #357
@DavidRoy okey, I didn't think about Madeira cannot be a scheme right now... okey let's investigate that option with the regional coordinator role. Thank you for the languages added

[2021-07-16 09:35] #357 closed

[2021-07-16 10:06] CrisSevilleja opened #358 "New transects created on eBMS get the waiting approval status"
For controlling better the new transects created under a BMS, investigate the possibility to put "waiting approval" status for new transects created on the eBMS transects by volunteers.

Coordinators have to approve these new transects to change the status of the transects and to be part of the scheme

@DavidRoy

[2021-07-21 08:33] kazlauskis commented on #354
@DavidRoy what do you think, should we just add +15C values to the range? This will then show up in the app and the website forms.

[2021-07-21 08:34] DavidRoy commented on #354
@kazlauskis yes, add extra temperatures to the term list seems best

[2021-07-21 08:54] kazlauskis commented on #354
Thanks, we'll make it 10-50C then. Would it make sense to make it 10-40C and a 40C+ option for anything above 40?

[2021-07-21 08:56] DavidRoy commented on #354
Go with 10-40C and with 40+ as the final value.  We can always change this again if there are people crazy enough to be recording in such conditions!

[2021-07-23 11:41] DavidRoy commented on #351
@johnvanbreda - are you ok to pick this up

[2021-07-23 12:35] DavidRoy commented on #352
@CrisSevilleja to define requirement

[2021-07-23 15:49] johnvanbreda commented on #351
Will do.

[2021-07-27 09:42] CrisSevilleja opened #359 "Survey Map of ButterflyCount showing zeros constantly"
Hi @kazlauskis  I realised the map showing your counts under the Survey tab on the app, it shows all the counts but the number of species is always zero when I know there are some species recorded. See below the screenshot from Irma Wynhoff, soort= species, it is happening for all her counts, and mine as well.

Could you fix that error? thank you so much

![IMG-20210727-WA0001](https://user-images

[2021-07-27 13:49] Vilius-Stankaitis commented on #348
Would like to capture altitude as well? @DavidRoy

[2021-07-27 13:56] DavidRoy commented on #348
yes please, altitude and its accuracy

[2021-07-28 08:13] #354 closed

[2021-07-28 08:13] #359 closed

[2021-07-28 15:49] #342 closed

[2021-07-28 19:26] johnvanbreda commented on #351
@DavidRoy some progress for you at https://butterfly-monitoring.net/elastic/my-records-2. I've not implemented the quick view option yet but the details view should work.

[2021-07-29 08:02] CrisSevilleja commented on #351
Nice progress on the 15-min count view. Some comments to suggest:

_My 15-min counts page__ https://butterfly-monitoring.net/elastic/my-records-2
- I would add the Start and End time variables
- Allow selecting the sample (selecting the row like currently) and see it on the map above
- There are not tabs like before for species, samples, and download. That is okay but there should be a way to down

[2021-07-29 08:08] CrisSevilleja commented on #351
Sorry I just see on My 15-min counts page that is possible to select the sample and see the sample route on the map, that is really great! However, you can do that when you select the empty spaces between the numbers (see the picture below).

I would allow to select the complete row.
Thank you for the improvement!
![image](https://user-images.githubusercontent.com/25052478/127455471-3ac024c4-e51d-

[2021-07-29 08:12] DavidRoy commented on #351
@CrisSevilleja thanks for the feedback.
@johnvanbreda is it possible to have a column selector (for sample attributes) as with other explore pages?  Also the download tab?

[2021-07-29 08:21] CrisSevilleja commented on #351
Show on View details Page the comments from the sample, under or next to the map.

[2021-07-29 12:00] CrisSevilleja commented on #352
How to do the edition of the 15-min counts' records:

- Starting on the Sample details page and add the edition button.
![eBMS edit records - explanation1](https://user-images.githubusercontent.com/25052478/127487858-4cf4a2c5-b9d7-47a1-b826-62f4f813b759.png)

-That will enter in _Edit Sample Details page_, where the map with the sample route and every individual coordinate is shown. I took the cur

[2021-07-29 12:18] DavidRoy commented on #352
@johnvanbreda are you ok to pick this up after #351
@CrisSevilleja one thing that might need adding is the ability to change the species name on one occurrence?

[2021-07-29 13:19] johnvanbreda commented on #351
Please note I've changed the URL to https://butterfly-monitoring.net/mydata/samples, as it fixes some of the navigation issues mentioned.

@CrisSevilleja
* Start and end time added
* Row selection now clarified in grid styling
* There is now a download button at the bottom. It's a different technology for this report, hence not a tab.
* On the details page, the counts don't show because there is n

[2021-07-29 13:32] DavidRoy commented on #351
@johnvanbreda yes, each occurrence is of 1 individual in this survey type.  Do you think we should set the abundance = 1 for completeness.  I can ask Karolis to include this within the app submission if so

Makes sense that this is not an ES report so we can include empty samples

[2021-07-29 13:35] johnvanbreda commented on #351
@DavidRoy it will be tidier if the data are explicit and we don't have survey specific rules about how to interpret them, so yes, my preference would be to set abundance=1 in this case.

[2021-07-29 14:39] DavidRoy commented on #351
@johnvanbreda one other requirement for the samples view is to show the sample photos.  Is that possible?

[2021-07-29 19:21] #348 closed

[2021-07-29 19:44] DavidRoy opened #360 "Submit abundance = 1 for each occurence within the 15-minute count samples"
links to BiologicalRecordsCentre/ABLE#351
Makes data more internally consistent to set occurrence_attribute = abundance (quantity?) to equal 1 for each occurrence within a 15m count.  Extending the data submitted by the app

[2021-07-29 21:19] kazlauskis commented on #360
@Vilius-Stankaitis could you squeeze this into your current update before the weekend?

[2021-07-30 08:28] DavidRoy commented on #345
@johnvanbreda the 'Download timed-count sample data' does not include samples without any occurrences (i.e. no species were seen).   Including **all** samples is essential for analysis purposes.  An example of a missing sample.id is https://butterfly-monitoring.net/mydata/samples/details?sample_id=14988363 for user = https://butterfly-monitoring.net/nl/users/chrisvanswaay.

The tracks for samples-

[2021-07-30 15:32] #343 closed

[2021-08-02 10:35] #360 closed

[2021-08-05 11:37] CrisSevilleja opened #361 "Create SPRING tab; move ABLE tab on eBMS"
Hi, @DavidRoy I have updated the information on the ABLE tab https://butterfly-monitoring.net/able rephrasing everything to past tense to be accurate now the project is over. I think the ABLE tab should be moved to the Projects tab https://butterfly-monitoring.net/projects and create a new tab for the SPRING project.

Please if you can do it, I can start filling in some information about the proje

[2021-08-17 10:00] DavidRoy commented on #361
@CrisSevilleja I agree and I have moved the ABLE menu item under the projects menu.  I have created a blank page for SPRING as a new project menu item

SPRING will have its own website so I suggest we keep the SPRING page quite simple?

[2021-08-17 10:00] #361 closed

[2021-08-25 11:20] johnvanbreda commented on #351
@DavidRoy I've added sample photos. Let me know if there is anything else, otherwise can this be closed?

[2021-08-25 13:50] DavidRoy commented on #351
@CrisSevilleja can you review and close this issue if resolved, thanks

[2021-08-27 16:57] DavidRoy opened #362 "My 15-minute count samples - page lacking area sampled (sample attribute)"
The new samples summary page should have area_sampled within the data grid, e.g. it is currently lacking
https://butterfly-monitoring.net/mydata/samples

Also, should be included within the 'details view' of each sample, e.g.
https://butterfly-monitoring.net/mydata/samples/details?sample_id=15376801

[2021-08-30 16:50] johnvanbreda commented on #362
I've added the column to mydata/samples, but it is only present for some samples.

It does appear on the details view where present, e.g. https://butterfly-monitoring.net/mydata/samples/details?sample_id=7788860. The value is not present in the database on the example you gave.

Please close if OK.

[2021-08-31 07:59] DavidRoy commented on #362
@kazlauskis - is there an issue with the app submission that area sampled is not in the database for this sample?  https://butterfly-monitoring.net/mydata/samples/details?sample_id=15376801

[2021-08-31 08:07] DavidRoy opened #363 "My 15-minute count sample page - ability to download route"
Add link for recorder to download the kml of the sample, e.g. from https://butterfly-monitoring.net/mydata/samples/details?sample_id=15342137

[2021-08-31 08:11] DavidRoy opened #364 "My 15-minute count: user download page"
New download page is required for individual users: https://butterfly-monitoring.net/mydata/samples/downloads

A clone of the scheme co-ordinator download page: https://butterfly-monitoring.net/downloads

Full details to be specified once ElasticSearch extended to include samples lacking occurrences

[2021-08-31 08:16] DavidRoy opened #365 "ButterflyCount - new sample attribute for number of recorders"
Add in new sample attribute to ButterflyCount to capture number of recorders

[2021-08-31 19:12] kazlauskis commented on #362
Sure, we'll have a look at this tomorrow.

[2021-09-01 08:45] #362 closed

[2021-09-01 08:51] kazlauskis opened #366 "Expand Dutch species names list"
Would it be possible to add the Dutch vernacular names to one of the upcoming updates? So far only the Dutch names for species occuring in NL are shown, which means that outside NL people have to use scientific names for species not occurring in NL. No big deal for me, but more and more people only seem to use those names, so this will make the app more accessible to them.

#### Tasks:
- [x] Add e

[2021-09-01 13:44] johnvanbreda commented on #351
@DavidRoy I've done that - it will take an hour or so to process and appear in reports.

[2021-09-06 13:14] DavidRoy commented on #351
@CrisSevilleja can you confirm any more work needed on this page?

[2021-09-06 13:16] DavidRoy commented on #352
@johnvanbreda can you add functionality for editing the species name/abundance for an individual occurrence

[2021-09-06 13:20] DavidRoy commented on #230
Closing for now.  Raise more specific issues as needed

[2021-09-06 13:20] #230 closed

[2021-09-12 11:07] CrisSevilleja commented on #364
yes @DavidRoy this is quite important, at the moment, the users of 15-min counts cannot download their records on the website. I will put priority on this issue

[2021-09-12 11:14] CrisSevilleja commented on #365
By default should be 1, and allow to select the number of recorders. I would include it on the "Additional Details" section

[2021-09-12 11:36] CrisSevilleja commented on #351
@johnvanbreda what I meant with "add a scrolling bar of the samples at the same time you see the map." is to be able to scroll down my list of samples while I see the map. Right now if I scroll down, I can see the list of samples and the map stays on the top. A scrolling bar is already placed on https://butterfly-monitoring.net/elastic/my-records See picture below
![image](https://user-images.gith

[2021-09-12 11:40] CrisSevilleja commented on #352
Please, also add the ability to edit the route (especially to correct GPS errors). Thanks

[2021-09-18 15:49] CrisSevilleja opened #367 "error uploading 15-min counts on the ButterflyCount app"
Hi @DavidRoy @kazlauskis We are using a lot of the app for a project in Madeira. Recently, one of the recorders, Mike Prentice trying to upload 15-min count got an error message and he is not able to upload his data (I don't understand the error). See picture below

The Indicia Warehouse User ID is 227057, his account is active and he logs in well on the app. Also, he uninstalls and installs again

[2021-09-18 20:06] kazlauskis commented on #367
Thanks, we'll have a look at it.

[2021-09-22 08:21] johnvanbreda commented on #367
I can't see anything related in the warehouse log.

In the IIS access log, I can see OPTIONS or POST requests to the rest/samples end-point that matches these times (an hour before presumably due to timezone settings somewhere on the server). But no indication of anything wrong.

@BirenRathod I've had a look but can't spot the PHP error log that's being updated now - the one in the usual place has

[2021-09-27 11:43] CrisSevilleja commented on #196
Following this issue back, currently, the home page of ButterflyCount is a bit boring and we discussed possibilities to improve it. Now you see a list of the top recorded butterflies in all 15-min counts that don't say much to recorders and almost never change being meadow brown on the top always. @DavidRoy @kazlauskis

I would suggest including the top recorded butterflies from the user's own dat

[2021-09-27 11:46] CrisSevilleja commented on #268
I think this issue can is done and can be closed @DavidRoy

[2021-09-27 11:47] CrisSevilleja commented on #263
@kazlauskis issue done, you can close it

[2021-09-27 11:48] CrisSevilleja commented on #235
@DavidRoy issue done, possible to close

[2021-09-27 11:48] #263 closed

[2021-09-27 11:54] CrisSevilleja commented on #209
@kazlauskis This option is not working on the app now, you are able to copy the list but the app only copies a maximum of one species, and I think it is the last one added.
Please if possible solve this issue although right now after counting a lot on an island with a low number of species, I see more convenience to set the fixed species list on the app. I would place it on app settings, hidden a

[2021-09-27 12:01] kazlauskis commented on #209
For the transects, I think, the copying isn't added at all. For the 15min surveys it should copy the full list of the previous survey, does this not work?

For the transect surveys, would you prefer setting up a single static list of species? or would copying from the previous section be OK?

[2021-09-27 12:12] CrisSevilleja opened #368 "ButterflyCount: add buttons of +5 +10"
Add buttons to raise the number of individuals larger, +5 and +10
(typing one by one individual when there are many butterflies is annoying).
I suggest placing it on the _occurrence page_ of the species; the species has to be registered once and after that entering on the page of the species you can see the +5 and +10 buttons like on the image below

@DavidRoy do you agree?

<img width="540" alt="

[2021-09-27 12:27] CrisSevilleja commented on #209
No, currently, this option is not working for 15-min counts, it only copies one species as maximum, although you have 10 species.

Maybe for transects is more convenient to enable this option too, copying the species from the section before it is useful

[2021-09-27 13:00] kazlauskis commented on #209
I've just tried it with the 15min survey
and it has correctly copied over my previous survey list. All of the copied entries have 0s as a count set. Doesn't this work the same way for you?

![IMG_CC93B3147316-1](https://user-images.githubusercontent.com/7383162/134913011-d6922dfb-14fc-4729-ab17-c68f29774ef9.jpeg)

[2021-09-27 15:54] CrisSevilleja commented on #209
So strange it is working for you and not for me... I just tried again and the app only copied one species when I have it three on the previous record. I did it with an Android but Irma did it with her Apple and it didn't work either.

Can it be something related to using common names? We use normally Latin names and I see yours are only common English names. If it is not that, I don't get why it i

[2021-09-28 06:26] kazlauskis commented on #209
Yes, I've tried it with latin names as well as other languages and it works fine for me. Which app version do you have? Could you send me a few screenshots to illustrate the issue?

[2021-09-28 10:41] DavidRoy opened #369 "Download page for individual users - 'my downloads'"
links to https://github.com/BiologicalRecordsCentre/ABLE/issues/345

need equivalent of https://butterfly-monitoring.net/downloads (currently for scheme co-ordinators), using the same download file formats and options but for individual users to download all their data in one place.

[2021-09-28 11:58] CrisSevilleja commented on #209
Here are some screenshots: I did three 15-min countsone after the other, in the first one (1st pic) you see 5 species with different abundances where Aglais io is the most abundant. In the second one, I tried to copy the species list and it was only copied Aglais io. I finish that count with 4 species changing abundances, now Pieris rapae has the most abundance. I start the third 15-min count and

[2021-09-29 16:23] #268 closed

[2021-09-30 14:07] johnvanbreda commented on #345
In https://test-butterfly-monitoring.pantheonsite.io/sample-downloads-test, there is a new download linked to the new Elasticsearch samples index (currently populated only for EBMS and Fit counts). This includes zero occurrence samples. Once Gary gives the all-clear to upgrade the code, I can swap this download for the "timed-count sample data" download on the live site.

But, note that this downl

[2021-09-30 15:25] DavidRoy commented on #345
Thanks @johnvanbreda.  A couple of replies:
1. Survey 565 is for 15-minute timed counts.  We will need an equivalent report for Survey 645 which is 'single-species' 15-minute timed counts.  The same basic survey but the 'single species' version only targets one species
2. The download file masquarading as Chrisvanswaay and selecting Netherlands data, doesn't seem quite right.  I don't think the su

[2021-10-01 10:56] johnvanbreda commented on #345
1. I've added a second button for survey 645.
2. I was thrown a bit by the fact that survey 565 data started off as flat, but has had 2 sample levels since April 2021. I think this should be OK now?

I thought the plan was for the app to record an individual count of 1 as a default? At the moment there are lots of data with no individual counts so this column isn't reliably populated in the downlo

[2021-10-04 14:04] CrisSevilleja commented on #351
@johnvanbreda thanks for the improvement on the map and on this page, now it is working well, scrolling down and the zoom. From my last records, everything looks great, species and their abundance. From old records, the abundances are still missing but at this point, it would be good to go further on the edition part.

@DavidRoy

[2021-10-06 14:07] CrisSevilleja opened #370 "how can I keep track of training transects/users?"
Hello, I have been checking all the data of eBMS on the website in the Summary page https://butterfly-monitoring.net/elastic/summary-by-country-year, quite useful to see the active transect registering data per year and how many occurrences and species. However I know there are some training transects/users registering data, so I activated my account on training to identify those transects/users b

[2021-10-12 14:08] johnvanbreda commented on #351
This updated copy of the page now uses the new Elasticsearch samples index, so includes samples containing no records: https://live-brc-ebms.pantheonsite.io/mydata/samples.

[2021-10-29 08:01] kazlauskis opened #371 "Update input_form field"
Comes from BiologicalRecordsCentre/ABLE#352.

[2021-11-01 12:56] chrisvanswaay commented on #369
I fear I am a bit lost, as this email series seems to miss context. I don't have access to BiologicalRecordsCentre/ABLE (at least: it doesn't show up in my list on github), so it's hard for me to understand these emails.

[cid:2b009ee9-9cd2-4c9e-b23d-2736c1b468d5]

Bset wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk va

[2021-11-01 13:31] johnvanbreda commented on #371
@kazlauskis If the survey ID is 565 or 645, please set the input_form to 'mydata/samples/edit'. Otherwise leave it as it is.
Thanks

[2021-11-01 14:03] johnvanbreda commented on #369
@chrisvanswaay the page for downloading your own records is available at https://butterfly-monitoring.net/mydata/downloads now. This is an alternative to the previous downloads page which can be made available to all users since it is filtered to only the data input by the logged in user. Is this page OK for your needs?

[2021-11-01 14:14] kazlauskis commented on #371
Thanks

[2021-11-01 14:47] johnvanbreda commented on #345
@kazlauskis for survey 645 - the zero_abundance=true value is fine. For data added prior to the new app version, am I right in saying that the occurrence was missing, so we don't know what was searched for? This seems to be the case - e.g. https://butterfly-monitoring.net/mydata/samples/details?sample_id=15194638. @DavidRoy is it OK therefore that the single species timed count only includes the s

[2021-11-01 14:57] johnvanbreda commented on #345
Also, I can't see any zero abundance data for survey 645, presumably this is just because there hasn't been any submissions where the searched species wasn't observed yet?

[2021-11-01 15:06] johnvanbreda commented on #345
@DavidRoy the single-species occurrences download now covers all the columns from the samples download. If the data are structured as described above, then the samples download becomes unnecessary for the single species searches. Shall I remove it?

[2021-11-01 16:45] DavidRoy commented on #345
@kazlauskis.  Can you confirm the functionality for the single-species survey.  There should be always be an occurrence submitted.  Either with a count or zero_abundance=true

@johnvanbreda, yes the single-species samples download is redundant and can be removed.

[2021-11-01 16:56] DavidRoy commented on #369
@johnvanbreda can you standardise the column names.
1. in the sample download, rename 'Sample ID' to 'Visit Sample ID' to match the occurrences download
2. in the occurrences download, rename 'ID' to 'Occurrence ID'

[2021-11-01 20:48] johnvanbreda commented on #345
The single-species samples download has been removed.

[2021-11-01 20:50] johnvanbreda commented on #369
Column renaming changes done.

[2021-11-02 08:31] kazlauskis commented on #345
There should always be an occurrence, that was so even before the last update. Having said this, there is currently a bug (missing validation) that allows to upload a survey without any species added to it. Essentially it allows to upload a top-level sample alone. @Vilius-Stankaitis is fixing this right now and it will come out today or shortly after as (v.1.14.1).

[2021-11-02 08:32] kazlauskis opened #372 "Make sure that a species is selected before uploading single species count"
Mentioned in BiologicalRecordsCentre/ABLE#345

[2021-11-02 09:49] #372 closed

[2021-11-03 09:56] DavidRoy opened #373 "Capture length walked in 15-minute count"
Requires new sample attribute

update to ButterflyCount interface

update to website editing forms and downloads

[2021-11-03 09:59] DavidRoy opened #374 "15-minute count KML downloads updates"
divide the kml into two files:
- occurrences (point of the records) kml.
Rename ID to Occurrence ID
Remove date_start, date_end, data_type fields
Include species name as point attribute

- tracks (lines) kml.  Include SampleID

[2021-11-03 11:47] johnvanbreda commented on #374
@DavidRoy before I do this, the occurrences KML download will need to be driven from PostgreSQL rather than Elasticsearch, as we don't currently have an Elasticsearch -> KML option in the code at the moment. Therefore there's a performance implication of this change. Implementing Elasticsearch -> KML is possible I'm sure, but would not be a trivial task.

[2021-11-03 11:58] DavidRoy commented on #374
@johnvanbreda how much work to implement an ES option for this?  This is not needed immediately

[2021-11-03 12:08] johnvanbreda commented on #374
1 to 2 days.

[2021-11-03 12:13] DavidRoy commented on #374
Let's leave this job for the time being.  Can you action the other changes to the existing KML download.  Does this KML download come from ES?

[2021-11-03 12:55] DavidRoy commented on #352
Closing this issue so final changes can be picked up through more specific issues

[2021-11-03 12:55] #352 closed

[2021-11-03 12:58] DavidRoy opened #375 "15m count - my samples page improvements"
https://butterfly-monitoring.net/mydata/samples
- [ ] Replace existing menu item. To My data -> My 15-minute counts
- [ ] Add a records tab to the ES report. As currently exists for https://butterfly-monitoring.net/elastic/my-records
- [ ] Add a species tab to the ES report.  As currently exists for https://butterfly-monitoring.net/elastic/my-records
- [ ] Remove 'Download' tab

[2021-11-03 12:59] DavidRoy commented on #369
@johnvanbreda can you implement as a new menu item
My data -> My downloads

Restricted to user's own data

[2021-11-03 13:02] DavidRoy opened #376 "Improvement to layout of My Downloads page"
https://butterfly-monitoring.net/mydata/downloads

Break downloads into three sections:
1. BMS transect downloads (as currently exists)
2. 15-minute count downloads
3. 15-minute single species count downloads

As per this example, although the 'download 15-min single-species occurrences' is no longer needed
![download ebms](https://user-images.githubusercontent.com/2699478/140064794-9c7ebbe9-aa1b-

[2021-11-03 16:53] johnvanbreda commented on #375
Done

[2021-11-03 16:53] #375 closed

[2021-11-03 20:21] johnvanbreda commented on #374
@DavidRoy No, the KML only comes from PostgreSQL at the moment.

On the user download page, I've renamed the id column to visit_sample_id in the samples KML file and added an occurrences KML file (will have to hope the performance is OK as data volumes grow for now). Are these changes OK? If so I'll apply them to the main downloads page.

[2021-11-03 20:29] johnvanbreda commented on #376
Done, but will need checking that it's exactly what you wanted. Is the GPX download still required and should we offer it for both normal timed-counts and single species, as well as for both samples and occurrences for the normal timed-counts?

[2021-11-04 08:39] DavidRoy commented on #374
Thanks John.
@CrisSevilleja can you test please

[2021-11-04 08:42] DavidRoy commented on #376
Looks good,  Could you improve the layout.  Currently there is no gap before the headings and a big gap after the heading

[2021-11-04 08:45] DavidRoy opened #377 "Downloads direct to .csv rather than .zip files?"
Currently the downloads pages create .zip files.  Is it possible to create .csv files to reduce the number of steps for users?
e.g. https://butterfly-monitoring.net/mydata/downloads

Or does the asynchronous download facility require ,zip files?

[2021-11-04 09:36] johnvanbreda commented on #376
Layout improved on both download pages.

[2021-11-04 09:37] johnvanbreda commented on #377
It has been coded that way as it's more efficient for larger files, but we could add a switch to the configuration so that the zipping stage can be turned off. 1-2 hours work.

[2021-11-04 15:33] #376 closed

[2021-11-04 15:51] DavidRoy commented on #377
To be reviewed as a priority against other work

[2021-11-04 15:52] DavidRoy commented on #364
repeat of #369

[2021-11-04 15:53] DavidRoy commented on #363
@johnvanbreda is it possible to add the route download (kml) to this page for the specific sample?

[2021-11-05 06:53] kazlauskis commented on #373
@DavidRoy Does this require a new input in the app to set the distance walked? Or do we simply rely on the existing GPS tracking (or manually drawn lines)? I'm asking this because a user can also draw an area on the map which would be hard to translate to a walked distance.

[2021-11-05 09:41] johnvanbreda commented on #363
@DavidRoy yes, we can add a sample ID filter to the existing reports used for KML download. Presumably this should include the visit and the point samples together? Also, is this only for a user viewing their own sample?

[2021-11-11 12:20] #367 closed

[2021-11-11 12:28] CrisSevilleja opened #378 "Add "Filter by site:" on the Scheme walk page"
The Scheme walks page https://butterfly-monitoring.net/scheme-walks is missing a filter to searching by site as it is present in the My transect walk page https://butterfly-monitoring.net/my-walks. See picture below

<img width="600" alt="2021-11-11_13h24_28" src="https://user-images.githubusercontent.com/25052478/141297675-212646d8-619d-485d-bc50-3e935cd43443.png">

@DavidRoy @johnvanbreda

[2021-11-11 12:37] CrisSevilleja opened #379 "Problems with country borders on the Explore online data map"
On the Explore online data map https://butterfly-monitoring.net/elastic/all-records, there is a problem when selecting the filter by country, the border is not accurate to the terrain border and some samples are left out from on the filter selection.

That is the case for Bulgaria. there is a transect close to the coast BG - Black Sea transect as you se below on the map
<img width="589" alt="2021-

[2021-11-11 12:44] CrisSevilleja opened #380 "the Image carousel of eBMS website is on every page"
I think from the recent migration/update of the eBMS website, the image carousel that appeared only on the home page, not it is present on every page of the website. Nothing important but it would be better to remove it and leave the image carousel only on the home page.

[2021-11-11 13:11] DavidRoy commented on #380
hi @BirenRathod  can you pick up this please

[2021-11-11 13:15] BirenRathod commented on #380
@CrisSevilleja That has resolved now.

[2021-11-11 13:19] CrisSevilleja commented on #351
It is not possible to search by species in the records tab of the My samples page https://butterfly-monitoring.net/mydata/samples. Could it be added @johnvanbreda? Thanks

<img width="600" alt="2021-11-11_14h18_10" src="https://user-images.githubusercontent.com/25052478/141305007-02bfe0c1-30e3-43ff-ab59-a9e2ce8e1c75.png">

[2021-11-11 14:56] johnvanbreda commented on #378
@DavidRoy the 2 reports involved in these pages handle the location ID parameter differently, in that it is optional for one (so can be a user parameter) but not the other. Need to check with @Gary-van-Breda if changing the reports_for_prebuilt_forms/UKBMS/ukbms_branch_walks_list.xml file location_id parameter to make it optional will be OK for UKBMS?

[2021-11-11 14:58] johnvanbreda commented on #379
@DavidRoy this is the same issue as observed for Swedish data, which we resolved just for that case. The NUTS Countries 2016 layer we loaded is not accurate enough it seems.

[2021-11-11 14:59] johnvanbreda commented on #351
Yes, it's because the column configuration comes from the first tab which only contains samples, so the occurrence related columns are missing their configuration. @DavidRoy this is 2-3 hours to fix, so let me know if a priority.

[2021-11-11 15:01] DavidRoy commented on #379
@johnvanbreda yes, what is your suggested solution?  Either load a more detailed NUTS boundary set and/or buffer out to sea?

[2021-11-11 15:06] johnvanbreda commented on #327
Need to double check with @Gary-van-Breda if changing report parameters will affect UKBMS.

[2021-11-11 15:13] DavidRoy commented on #327
yes, one for Gary to consider

[2021-11-11 15:18] CrisSevilleja commented on #369
I checked the new page My downloads https://butterfly-monitoring.net/mydata/downloads and it is working well for single users.

For downloading transect : Doing some checks on people with one or several transects, the page allows to download well their data from transects or 15-min counts without problems. However, when a user has several transects, for example a regional coordinator has allocated

[2021-11-11 16:23] johnvanbreda commented on #379
@DavidRoy We may need to do both - the land boundaries aren't accurate enough as it stands. There will always be a risk that a record along the boundary falls into the wrong polygon unless the polygons are perfect, so one thought is that we should buffer very slightly along the land boundaries as well, so some records end up in 2 countries (better than none or just the wrong one?).

[2021-11-13 10:47] #380 closed

[2021-11-14 20:10] DavidRoy commented on #351
Not an immediate priority I think.  I'll close this issue and raise a new one

[2021-11-14 20:10] #351 closed

[2021-11-14 20:11] DavidRoy opened #381 "Allow species searching in explore-my samples report"
It is not possible to search by species in the records tab of the My samples page https://butterfly-monitoring.net/mydata/samples.
2-3 hours work to implement.
See #351

[2021-11-14 20:12] DavidRoy commented on #379
ageed, we'll schedule this in

[2021-11-15 08:58] DavidRoy commented on #369
Thanks @CrisSevilleja.  I'll create new issues for the remaining items.

@johnvanbreda can you implement as a new menu item
My data -> My downloads

Restricted to user's own data

Then close this issue?

[2021-11-15 09:40] DavidRoy opened #382 "user downloads - kml"
- [ ] tracks and areas KMLs: showing 3 different dates, leave 'date', move start/end dates
- [ ] missing length of the route
- [ ] occurrences KMLs: missing date

[2021-11-15 09:44] johnvanbreda commented on #369
Done. I also added date to the occurrences KMLs but it will have the same issue as the tracks KML as the visibility flag in the report files is not being respected (fixing that will fix both).

[2021-11-15 09:44] #369 closed

[2021-11-15 16:29] CrisSevilleja opened #383 "Edited data on My sample page not working"
User Indicia Warehouse User ID 251007 registered some 15-min counts manually the 08/07/2021, so the recording time was wrong. I edited the time based on his comments from 18h more or less to 11h; all the 15-min counts of that day, the time was edited.

The edition is not shown on My sample table, although when you enter the sample details page, the corrected times are shown well. I downloaded the

[2021-11-16 10:44] CrisSevilleja opened #384 "eBMS website - Enable Field Guides page for entering text"
The Field Guide page https://butterfly-monitoring.net/field-guides was created and only shows the home page, it doesn't allow me to add text.

@johnvanbreda  or @Gary-van-Breda could you enable this page to add text? Thank you in advance

[2021-11-16 11:05] johnvanbreda commented on #384
@CrisSevilleja are you sure you actually created this page? I cannot find it on the content list: https://butterfly-monitoring.net/admin/content?title=field+guides&type=All&status=All&langcode=All.

[2021-11-16 14:36] CrisSevilleja commented on #384
It is on the menu https://butterfly-monitoring.net/admin/structure/menu/manage/main
Under Butterfly Monitoring -> Materials -> Field Guides

[2021-11-16 18:10] johnvanbreda commented on #384
@CrisSevilleja I assume you added a menu link and specified the path, rather than adding a content page then setting the menu link on the page's Edit tab? If you add a menu link directly, it doesn't actually create a content page.

[2021-11-17 08:49] CrisSevilleja opened #385 "New transect cannot be saved"
Trying to create a new transect in My Sites https://butterfly-monitoring.net/my-sites doesn't save the data. See the picture below with the error message. I think it is happening for any transect you want to create. Any idea what this is happening @DavidRoy?

![image](https://user-images.githubusercontent.com/25052478/142167571-4d6d14a7-aecc-4fc9-b131-139e02728308.png)

[2021-11-17 17:09] CrisSevilleja commented on #384
@johnvanbreda yes, it looks like I did that thinking it would work that way... sorry still learning the use of the website.
Could you help me to create a content page for the Field Guide page under the Materials? or tell me how I can create a content page. Thanks in advance.

[2021-11-19 08:53] CrisSevilleja commented on #385
@johnvanbreda can you help me with this? It is not possible to create a new transect on the website.

[2021-11-19 09:33] DavidRoy commented on #385
@Gary-van-Breda can you pick this up please

[2021-11-19 09:42] johnvanbreda commented on #385
@DavidRoy I've just started to look - it's something to do with new attributes that have been recently added for moth traps.

[2021-11-19 09:44] DavidRoy commented on #385
Thanks.  Am tagging @JimBacon who is working on the moth element

[2021-11-19 09:52] johnvanbreda commented on #385
The reason is that the EBMS Location Editor form type does not have a parameter for the survey dataset, so the location is posted against the website. This causes the warehouse to think that all the required location attributes linked to that website should be applied when validating, even though some are linked to specific survey datasets. Jim has added required attributes for the moth trapping,

[2021-11-19 10:23] JimBacon commented on #385
In the short term, we can remove the 'required' setting on the new attributes as they are for work that is still in development.

[2021-11-19 14:57] CrisSevilleja commented on #385
Okey, I hope if the required setting is removed, adding new transects works again.
Also the Transect allocation page https://butterfly-monitoring.net/scheme-transects-allocation is not working. I can imagine for the same reason. thanks for checking it.

[2021-11-19 15:09] JimBacon commented on #385
I am not clear who is taking responsibility for this issue currently. I will remove the required setting on the new attributes and hope that does not cause confusion for anyone else.

[2021-11-19 15:12] CrisSevilleja opened #386 "ButterflyCount app - Discard local data checkbox unchecked by default"
@kazlauskis @DavidRoy

For avoiding loss of data when logging out, set up the Discard local data checkbox unchecked by default.

[2021-11-19 15:13] DavidRoy commented on #385
@Gary-van-Breda for the transect allocation page.  He's in the middle of working on the site.

[2021-11-22 09:11] JimBacon commented on #385
Cristina reports "now the creation of new transect function is working again. Although the page of the Transect Allocation https://butterfly-monitoring.net/scheme-transects-allocation is not working yet." It is possible there are two issues to resolve.

[2021-11-22 11:58] #386 closed

[2021-11-26 21:30] #385 closed

[2021-11-26 21:39] CrisSevilleja opened #387 "Some transect pages of eBMS not working"
Since some things were changed on the website for the moth trap data entry, there were some errors on the page of Transect Allocation https://butterfly-monitoring.net/scheme-transects-allocation still not working the filters and not possible to see the volunteers allocated to the transects. This page is the only place for coordinators to check users and see who is under their BMS.

Also, I found a

[2021-11-29 11:35] DavidRoy commented on #387
@Gary-van-Breda can you investigate these issue please

[2021-11-30 08:41] CrisSevilleja commented on #387
Hello @Gary-van-Breda, sorry for insisting on this; I give in two days a workshop explaining the use of the website and I would like to show, how to download data and see the transects, so I need those functions working. I hope you can help me and thank you in advance.

[2021-11-30 09:02] DavidRoy commented on #387
@johnvanbreda - are you able to look at this if Gary is not around?

[2021-11-30 09:27] johnvanbreda commented on #387
@DavidRoy I'll have a look.

[2021-11-30 09:31] johnvanbreda commented on #387
@CrisSevilleja as I am not so familiar with the Scheme Transects Allocation page, please can you give me an examples of how you use the page and what exactly it should do, e.g. the steps you would take when filtering, or trying to view the volunteers allocated to a transect.

[2021-11-30 09:39] CrisSevilleja commented on #387
@johnvanbreda I normally used the Transects Allocation page to allocate transects to the different users. Basically, the first filter selects the country and then the other two filters are sorted based on the selected country. So, I select Austria, and then in the second filter appears only the Austrian transects to select, and in the third filter appears only the users registered under the Austri

[2021-11-30 09:46] Gary-van-Breda commented on #387
@johnvanbreda : I'll look at this

[2021-11-30 09:54] johnvanbreda commented on #387
@Gary-van-Breda thanks. My investigations so far lead me to think that the iform module is partially upgraded, so some new Fancybox related code is failing. I would suggest bringing the whole iform module up to the current master branch.

[2021-11-30 11:22] JimBacon commented on #385
This issue was only temporarily worked around. It is likely to recur.

[2021-12-01 09:00] CrisSevilleja opened #388 "The whole eBMS menu shown to all users - need to hide coord. pages"
As a supermanager I am able to see all the menu pages on the eBMS website; the normal recorders shouldn't see the pages for coordination as shown in the red square on the picture below. It is confusing showing pages normal recorders don't have available. Before the last website update, this appearance was working well.

<img width="890" alt="2021-12-01_09h56_10" src="https://user-images.githubuser

[2021-12-01 09:04] DavidRoy commented on #388
@BirenRathod can you fix this please, hiding these 'admin' menu items from standard users

[2021-12-01 09:06] BirenRathod commented on #388
@DavidRoy Are these visible to admin only or any other roles to consider for?

[2021-12-01 09:10] Irmawyn commented on #388
I am a "normal"user of the page, I cannot see the two tabs Cristina mentioned. However, there is something mixed up with the languages. My Dutch page is English.

Best wishes, Irma

----------------------------------------------------------------------------------------

Dit bericht is verzonden door / This message was sent by

Dr. Irma Wynhoff

De Vlinderstichting / Dutch Butterfly Conservation

[2021-12-01 09:12] BirenRathod commented on #388
@DavidRoy It has hidden now for all users except "Administrator"

[2021-12-01 09:19] DavidRoy commented on #388
@BirenRathod
The Scheme admin menu needs to be available to these roles:
'Super manager'
'Scheme co-ordinator'

[2021-12-01 09:23] BirenRathod commented on #388
@DavidRoy  Done.

[2021-12-01 09:24] DavidRoy commented on #388
@CrisSevilleja to review and close this issue if resolved.  And raise a separate one for Irma's translation problem

[2021-12-01 09:46] CrisSevilleja commented on #388
thank you @BirenRathod now the appearance is correct.

[2021-12-01 09:46] #388 closed

[2021-12-01 10:38] CrisSevilleja opened #389 "eBMS website- place a message for languages without translation"
There are some languages available to select on the eBMS website which the translation has not been applied. Irma Wyhnoff, a user of the Dutch Butterfly Conservation was confused to select the Dutch language and see only the English language. This is because the Dutch translation has not been applied and she can only see English.

I suggest placing a message when selecting the languages Dutch, Fre

[2021-12-02 08:57] CrisSevilleja commented on #387
@Gary-van-Breda thanks for looking at this. Trying to check if the Annual Summary page works https://butterfly-monitoring.net/annual-report, I saw the current data from people is loaded but the use of the filter doesn't work. Do you think it is possible to fix it soon? Thank you in advance

[2021-12-02 09:32] CrisSevilleja opened #390 "Not applied translations to eBMS website from Transifex"
All the translations done on Transifex for the eBMS website - https://www.transifex.com/ceh/ebms-website-wwwbutterfly-monitoringnet/dashboard/ some of them were already applied to the website. Now, these translations are not appearing here. Checking the Translation section and sources https://butterfly-monitoring.net/admin/tmgmt/sources you can find some languages with translations done but not ap

[2021-12-02 15:55] CrisSevilleja commented on #384
I managed to create the content page

[2021-12-02 15:55] #384 closed

[2021-12-13 16:06] CrisSevilleja commented on #317
These duplications are still on the transects. Is this related to issue #269 ?

[2021-12-13 16:34] DavidRoy commented on #317
@Gary-van-Breda are you able to pick this up?

[2021-12-14 08:00] kazlauskis opened #391 "Add image classifier country filtering"
It would be useful to filter out results coming from the AI based on the current user's country.

[2021-12-14 09:00] Gary-van-Breda commented on #317
Yes...

[2021-12-14 17:39] johnvanbreda commented on #391
@kazlauskis do you mean that the request to the classifier should include the country of the record, so the classifier can respond using only species known to occur in that country? Maybe a question for @JimBacon as to whether this is possible?

[2021-12-16 11:29] chrisvanswaay commented on #366
Hi @kazlauskis (and @CrisSevilleja and @DavidRoy) , I also attach the Dutch vernacular names for moths. We want to use them in January as we hope to use the 15 min counts in the Butterfly Count app for counts of https://www.vlinderstichting.nl/vlinders/overzicht-vlinders/details-vlinder/meidoornspanner. People would like to use the Dutch names. Would this be possible? So updating the Dutch vernacu

[2021-12-16 11:47] larspett commented on #366
A related question - the id that you use, for instance 459359 for Acantholipes regularis, what does that refer to? I was thinking GBIF but taht does not seem to be the case (it is 4532488) ?

[2021-12-16 12:22] chrisvanswaay commented on #366
No idea, @CrisSevilleja sent that to Jurrien van Deijk. Maybe she can help.

[2021-12-16 12:22] CrisSevilleja commented on #366
The Dutch vernacular names were added to a list I had from the whole Lepidoptera group of ABLE. Therefore the ID number is referring to the eBMS ID we have in the system

[2021-12-16 12:28] johnvanbreda commented on #366
@larspett it is an internally generated sequential taxon ID from the Indicia database.

[2021-12-16 12:55] kazlauskis commented on #366
@johnvanbreda let me know once you have the common names in the warehouse and we'll pull it into the app.

[2021-12-16 15:28] CrisSevilleja opened #392 "Downloaded data from eBMS website is wrong"
Trying to get some summary numbers of 15-min counts done this year, we found the downloaded file of 15-min counts don't include all the data, for both occurrences and samples files. Data got it from https://butterfly-monitoring.net/downloads

Specifically checking how many 15-min counts were done per recorders (dt= time count sample data file for all eBMS)
#- Number of visits per recorder per year

[2021-12-21 14:58] DavidRoy commented on #383
@CrisSevilleja It takes ~15minutes for edits to come through on reports etc as we have background processes that run.  This is so the reports run quickly.  Shall we add a note to the pages to explain this to recorders?

[2021-12-22 13:22] DavidRoy opened #393 "ButterflyCount: Moth survey trap setup (finalise trap and lamp categories)"
Review moth trap setup, particularly trap and lamp types
https://test-brc-ebms.pantheonsite.io/my-moth-trap-sites

@JurrienVanDeijk

[2021-12-22 14:13] DavidRoy commented on #366
@johnvanbreda are you able to take this on?

[2021-12-22 14:42] johnvanbreda commented on #366
@kazlauskis you should find all the names are in place now - are you OK to extract the IDs?

[2021-12-23 08:41] JurrienVanDeijk commented on #393
I have changed the set-up a little so that it is hopefully clearer. It may be a bit confusing, so I think it's helpful if I explain it digitally. Jim do you have time today (ill send you an email as well)? I have a two-week holiday after today.

[different moth traps.xlsx](https://github.com/BiologicalRecordsCentre/ABLE/files/7767886/different.moth.traps.xlsx)

[2021-12-23 11:46] kazlauskis commented on #366
We've pulled in the new moth common names in to the app now.

[2022-01-03 14:07] kazlauskis opened #394 "Add 'Unknown' moth species to the other languages"
Currently, 'Unknown' moth species exist only in the English language.

- [x] Add Dutch
- [ ] other languages ?

[2022-01-03 14:09] kazlauskis commented on #394
@chrisvanswaay what is the 'Unknown' (as in unknown species) in Dutch?

[2022-01-03 14:17] chrisvanswaay commented on #394
Hi Karolis,
First of all I want to wish you a good 2022.
And 'Unknown' will be 'Onbekend' or "Onbekende'. In this case 'Unknown species' would become 'Onbekende soort'.
Best wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van de steun van donateurs. Wilt u bijdragen aan bescherming van vlinders en libellen? Neem dan een

[2022-01-03 14:27] kazlauskis commented on #394
@JimBacon I have added this new Dutch term for 'Unknown' to the moths list in the Warehouse. Does the English and the Dutch entries need to be linked together to hold the same meaning, like kind of synonyms? or is it OK just to leave it as is
![Screenshot 2022-01-03 at 16 25 20](https://user-images.githubusercontent.com/7383162/147942023-279ab665-5cfe-4691-bd75-763cf463b04e.png)
?

[2022-01-03 15:00] johnvanbreda commented on #394
I've attached Onbekend as a synonym of Unknown. Here's the SQL for reference:
[code]

[2022-01-03 15:02] kazlauskis commented on #394
@johnvanbreda great, thanks!

[2022-01-03 15:09] kazlauskis commented on #394
@DavidRoy this should get the moth trap survey ready for Beta testing in the Netherlands. We should ideally add all the other language options, no? Here is the list of currently supported languages in the app, what is the best way to get the translations for these?

[code]

[2022-01-04 09:48] JimBacon commented on #394
Hi @kazlauskis

If you are adding further translations, you can do this by going to https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/538737 and putting more entries in the Common Names field.

[2022-01-12 14:29] CrisSevilleja commented on #387
The pages are working again. Thank you so much for solving these issues

[2022-01-12 14:29] #387 closed

[2022-01-13 09:52] DavidRoy opened #395 "Add stage term to single-species count survey"
to enable egg/larval counts for single-species

- add butterfly stage term to additional details page of single-species timed count
- Or alternatively: when you choose the species for your single species 15 min count, there could be a tick box for egg/larva/adult (default on adult).

[2022-01-13 09:57] DavidRoy opened #396 "Moth survey - sample photos"
Add option to add sample photos to moth survey.

4 photos each catch-day (E, W, N and S-facing) with the trap visible? As in https://ec.europa.eu/statistical-atlas/viewer/?config=LUCAS-2015.json&mids=BACK-CNTR,BACK-CRLR,2015-1,CNTOVL&o=1,0.5,1,0.7&ch=2015&center=52.15152,5.85232,8&. If that could be made possible in the app and website, we could collect information on vegetationheight and -structu

[2022-01-13 16:54] kazlauskis commented on #396
@Vilius-Stankaitis could you add the photo picker to the moth survey details page?

[2022-01-13 22:10] larspett commented on #396
Depending on how difficult it is to implement, we might want to help users by guiding the camera positioning (and thereby improving photo standardization) by providing a horizon reference (LUCAS has a guide for how much horizon there should be in these photos), possibly also N-E-S-W indication to improve positioning of the photos, plus a trap reference zone. This could be used for the light  traps

[2022-01-14 10:19] CrisSevilleja opened #397 "ButterflyCount: allow to set temperature below 10 degrees"
Enable -0, 0 .... 40, +40 range for the two 15min count surveys and also the transect survey. This does not include the moth trap survey.

[2022-01-14 16:30] DavidRoy commented on #397
@CrisSevilleja we are not capturing weather data for the moth trap survey so is this needed?  For the timed counts, we only want weather recorded when insects are actively flying?  To account for the relationship between weather and detectability?

Even when counting butterfly eggs/larvae the weather data is not relevant as it does not affect the detection of individuals?

[2022-01-17 08:28] kazlauskis commented on #396
@DavidRoy it is easy to attach a number of photos to the sample as media. But these couldn't be identified facing a particular direction unless we add some guidance. @JimBacon do you know of any surveys that ask to capture media with attributes? Here are the options I could think of:

1. add the guidance above the photo picker that asks the user to add the first pic facing North and then move cloc

[2022-01-17 09:13] larspett commented on #396
I talked to Harriet who works with me here in Lund, she has been doing all standardised photos for LUCAS in two of the Swedish regions. Apparently LUCAS have a designated validation group that goes through all their photos to make sure they follow their guidelines - so it suggests standardisation in the app will be really important. I was also considering the vertical positioning of the camera vie

[2022-01-17 09:26] kazlauskis commented on #395
@DavidRoy @chrisvanswaay at the moment, in the app you can select the occurrence stage (adult, pupa etc) so I understand this is about surveying single-stage occurrences only and not mixing different stages in a single survey, is that right? If you want to mix different stages then we can use this option to 'default' to a certain stage (at the moment it is Adult) and keep the per-occurrence stages

[2022-01-17 10:56] chrisvanswaay commented on #395
Hello Karolis,
How can you change the stage? Tried to find it again, but no idea how to change it to eggs for Thecla betulae.
Could you help me out?

Best wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van de steun van donateurs. Wilt u bijdragen aan bescherming van vlinders en libellen? Neem dan een kijkje op onze web

[2022-01-17 10:56] JimBacon commented on #396
@kazlauskis, It happens there is an Exif tag, `Exif.GPSInfo.GPSImgDirection`, which is intended for this information and, if the phone has the capability, may already be populated. My limited experience of compasses in phones does not inspire me with confidence about its accuracy though. Mind you, humans are not very good at pointing accurately either so it may not be much different.

I think I ha

[2022-01-17 11:00] kazlauskis commented on #395
1.
![IMG_2245](https://user-images.githubusercontent.com/7383162/149757570-3d972abd-e81a-42b8-8c18-2fed5a25fb85.PNG)

2.
![IMG_2246](https://user-images.githubusercontent.com/7383162/149757689-8b421982-bbc0-42eb-92d3-09115be6ec0b.PNG)

3.
![IMG_2247](https://user-images.githubusercontent.com/7383162/149757669-7801a2fe-016d-40fc-9a76-c9c33e380ca7.PNG)

4.
![IMG_2245](https://user-images.githubuserc

[2022-01-17 11:05] chrisvanswaay commented on #395
Ah, that helped. I always tried when the count was still 0.
Thanks,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk zijn wij afhankelijk van de steun van donateurs. Wilt u bijdragen aan bescherming van vlinders en libellen? Neem dan een kijkje op onze website<https://www.vlinderstichting.nl/help-mee/donateur-worden> en help ons!

Chris van Swaay
De

[2022-01-17 11:08] DavidRoy opened #398 "ButterflyCount - stage terms for Dragonflies"
Currently the butterfly stage terms are used for all taxa.  For dragonflies the options should be relevant to that group.  Change to correct terms (e.g. http://warehouse1.indicia.org.uk/index.php/termlist/edit/459?tab=terms) that include exuviae etc

[2022-01-17 11:11] DavidRoy commented on #395
So the functionality exists in the app?
@chrisvanswaay - does this give what is needed and we can close this issue?

[2022-01-17 11:18] chrisvanswaay commented on #395
Yes, for now on, though we should think of making this option easier to find or find another way to promote the use, because after using this app since the beginning I either missed this option of forgot about it (old man...). And if I already missed it, many others also will (I think).
Best wishes,
Chris

--

De Vlinderstichting is een organisatie zonder winstoogmerk. Voor een deel van ons werk z

[2022-01-17 11:19] kazlauskis commented on #396
This Exif field is only pre-populated if the GPS photo tagging is turned on so we shouldn't rely on the camera app capturing this info. But I can set the exif field in the app depending which photo picker is used (N,E,S,W mapped to the bearing of 0-359.99 that this exif field expects). There is also the question of how you would like to present this in the website? We can add the N,E,S,W option as

[2022-01-17 11:34] larspett commented on #396
When you mention adding NESW option as a string to the caption field, would that mean that people should populate that field manually? I worry that that would introduce a lot of errors and could make it difficult to use such photos in general since validating them posthoc would be a lot of work. GPS tagging (or GPS aided tagging) of directions would be very much preferrable

From: Karolis Kazlausk

[2022-01-17 12:30] kazlauskis commented on #396
@larspett for adding a caption with the N,E,S,W letters I meant that this would be hidden and attached to the image as metadata for the database in the background. The user would have to attach a photo to the right photo picker (4 of them with headers "North", "East" etc.).

[2022-01-17 12:43] larspett commented on #396
Ok I see. As much GPS guided standardization as possible will be essential to avoid too much noise in the photo documentation of sites. But I guess we all agree on that

[2022-01-17 13:13] DavidRoy opened #399 "Moth trap setup on website - list of countries"
Use same list as for EU Red List

Albania | AL
Andorra | AD
Austria | AT
Belarus | BY
Belgium | BE
Bosnia and Herzegovina | BA
Bulgaria | BG
Croatia | HR
Cyprus | CY
Czechia | CZ
Denmark | DK
Estonia | EE
Finland | FI
France | FR
Georgia | GE
Germany | DE
Gibraltar | GI
Greece | GR
Hungary | HU
Iceland | IS
Ireland | IE
Italy | IT
Latvia | LV
Liechtenstein | LI
Lithuania | LT
Luxembourg | LU
Malta

[2022-01-17 13:23] kazlauskis commented on #396
This depends how much time we want to spend on this as we can do the more guided camera version too. If we want to use the native device orientation to help the user find the directions then we could create a custom camera view that helps the user like in the screenshot below.

![Screenshot 2022-01-17 at 15 23 16](https://user-images.githubusercontent.com/7383162/149776784-6426b132-6cfb-4547-b7ab-

[2022-01-17 13:30] JimBacon commented on #396
Nice pad, Karolis!
You could also have a semi-transparent reference photo which the photographer has to try to align with the current view when taking the photo.

[2022-02-02 09:21] JimBacon commented on #396
I'm just looking at this from the website point of view, having 4 photo pickers, one for each direction. We were discussing how to identify in the database which photo is for which direction. Turns out there is a field called `media_type_id`. This is a foreign key to a list of terms containing media types. I'm working on a [bug fix](https://github.com/Indicia-Team/warehouse/issues/415) but it seem

[2022-02-02 09:45] johnvanbreda commented on #396
@JimBacon I always assumed that media_type_id would point to a term identifying the file type (e.g. external image, local image, video, audio etc).

There is a field called external_details which is pretty vague in purpose.

[2022-02-02 10:13] JimBacon commented on #396
@johnvanbreda, The media type termlist is hierarchical having a top level indicating the file type. It has terms like Video, Image, Audio.

The second level adds the location of the media, e.g for Image there are terms like Image:Local, Image:iNaturalist.

The bug fix that I mentioned above was in code for additional levels indicating some further distinction, intended to allow multiple file selec

[2022-02-02 10:32] johnvanbreda commented on #396
@JimBacon I think differentiating a sketch from a photo is part of the description of an image's type. Though it still goes against the original intention of this field's usage, which was to allow client-side code to render the media correctly when viewing data. So I have a slight logical objection, but only slight, as the client-side code could still do this by only looking at the first 2 parts o

[2022-02-02 10:59] JimBacon commented on #396
@johnvanbreda Do you think an integer array, allowing a media item to be tagged by multiple terms, is better than a single foreign key? Custom media attributes come to mind as well, but that is way beyond my current requirement.

[2022-02-02 11:44] johnvanbreda commented on #396
If not too much extra work then yes, an integer array would be a good solution.

[2022-02-07 11:27] CrisSevilleja opened #400 "My sample page has an error - eBMS website"
On the eBMS website,  My sample page https://butterfly-monitoring.net/mydata/samples shows an error "The form structure references an unrecognised extension control [misc_extensions.localised_text_js]."

Also, some functions on the table below are not working (small icons on the right), only the edit sample is working well.

[2022-02-07 12:16] JimBacon commented on #400
I can see the localised_text_js function was deleted in https://github.com/Indicia-Team/client_helpers/commit/bfde99c9093ab2e2dff9dab44daa041241014a26#diff-53fa79fbc8e97405d48efb61a445a1cae22cad039c306347011398d23e714380L718

The reason for the change is given as "code amended to comply with drupal 8, 7 & non drupal site."

@BirenRathod, can you see any problem with me restoring this function?

[2022-02-07 12:18] BirenRathod commented on #400
@JimBacon No, that is fine.

[2022-02-07 18:28] JimBacon commented on #400
I've made a fix to the code and have installed it on the eBMS site.
@CrisSevilleja, please check it has solved your problem and close this issue if it has.

[2022-02-07 19:33] CrisSevilleja commented on #400
Great, thank you @JimBacon now the problem is solved!

[2022-02-07 19:33] #400 closed

[2022-02-15 15:20] JimBacon commented on #393
Hi @JurrienVanDeijk. Could you take a look at https://test-brc-ebms.pantheonsite.io/moth-trap-details-v2 to see if I have succeeded in creating a form which allows the selection of moth-trap and lamp-types as you wanted?

It now enables a user to describe a trap with any number of lamps of any type which I think was the principal aim.

![image](https://user-images.githubusercontent.com/2545390/154

[2022-02-16 14:55] JurrienVanDeijk commented on #393
Yep, looks good! Is it also possible for an admin to add a new lampmtype in the default list? For example when a new favorite is commonly used in a few years?

[2022-02-16 15:15] DavidRoy commented on #393
In general, it is good to keep some control of term lists. Otherwise, things get out of hand with duplicates etc.  I suggest that for the being that requests for new trap types etc come to Jim

[2022-02-22 10:42] CrisSevilleja commented on #379
Hi again, when is this issue scheduled to be solved? Registering a new transect in Slovenia appeared the message "The new transect position is outside the boundary of the previously selected country". As it was mentioned the NUTS are not accurate enough. My main worry is if these kinds of transects outside of the current borders won't appear under the correct country and won't appear to the coordi

[2022-03-08 20:25] DavidRoy commented on #397
Confirm that the minimum temperature should be zero.  Requirement for bumblebee recording

[2022-03-09 07:44] JurrienVanDeijk commented on #397
In addition to the catches with the traps, I also want to do a 15 minutes count for moths, for example winter moths or larvae. Some of the species are also active from 0 degrees Celsius, and my preference would be to adjust the temperature to this as well.

[2022-03-09 08:37] DavidRoy commented on #397
Agreed.  Make this for all taxa as in most cases the weather information is automatically populated. That is the simplest options rather than vary this by taxon groups

[2022-03-24 12:47] DavidRoy opened #401 "Weather data for moth trap samples"
Suggestion to include:
- Temps (Celsius)(opening, closing and nightly minimum values);
- Clouds (%);
- Moon (phase. e.g. "2/3+" = two thirds growing);
- Wind (Beaufort scale, optionally direction)

[2022-03-24 13:36] larspett commented on #401
Maybe the moon phase or amount of moonlight can be calculated (and suggested) for a given site rather than entered by the app user? Here is a commercial site that does that https://www.meteomatics.com/en/api/available-parameters/moon/ but there are other ones available (although I haven’t been able to find one with equally rich information content)

From: "David Roy (CEH)" ***@***.***>
Reply to: B

[2022-04-06 10:04] CrisSevilleja commented on #181
this issue is done

[2022-04-06 10:04] #181 closed

[2022-04-07 12:23] CrisSevilleja commented on #383
Checking this again @DavidRoy the editions done for 15-min counts are not applied and not visualized after the edition. I left more than 15 minutes to see the changes applied and it doesn't work (I edited this morning and after several hours it appears the same).

One example: ID 18000828 | EBMS 15 minute counts | 03/11/2021 | 13:11 | 14:16 in Madeira.
On the 15-min count route, there is a jump ma

[2022-04-07 12:59] DavidRoy commented on #383
@johnvanbreda I think there may be an issue with the ElasticSearch Sample index not being rebuilt after sample editing?
https://butterfly-monitoring.net/mydata/samples

[2022-04-08 13:09] CrisSevilleja commented on #383
@johnvanbreda the last example I placed for 15-min count edition, ID 18000828 | EBMS 15 minute counts | 03/11/2021 | 13:11 | 14:16 in Madeira. I did the edition similar to what you did. First I masqueraded as one user Indicia Warehouse User ID
288262 and went to My samples page (https://butterfly-monitoring.net/mydata/samples) and there search for the 15-min count ID 18000828. I click on the 3rd r

[2022-04-08 13:19] CrisSevilleja commented on #173
@kazlauskis Is this already applied? if yes close the issue, if not see how much priority deserves

[2022-04-08 13:20] CrisSevilleja commented on #96
not needed at the moment

[2022-04-08 13:20] #96 closed

[2022-04-08 13:36] #389 closed

[2022-04-08 14:16] chrisvanswaay commented on #374
Hi all, on 1 Oct last year I emailed: probably the problem would be solved if the .csv would only contain the butterfly data (so it would get smaller), and there would be a separate csv with weather, recorder etc. per sampleid (as the sampleid is already in the kml as well as in the csv), including such data on transects without butterflies, simply for all transects.

Let me try to explain. I need

[2022-04-08 18:59] chrisvanswaay commented on #374
Hi David, I downloaded three (out of five) files (for some analysis on the Madeira data).
These were:

timed count occurrences
Contains 19 fields, they look like observations to me, but they also contain data on the whole transect, as start and endtime (I guess of the transect, not of the pure observation) and weather data:

timed count sample data
This contains the sample data I was looking for.

[2022-04-09 18:36] DavidRoy commented on #374
@chrisvanswaay some users prefer .kml and .gpx downloads.  I confirm the 'empty' samples are included - you can see that there are samples with 0 taxa and 0 individuals
@johnvanbreda can you confirm if the .kml includes all samples (including those with no occurrences)? Can you also check the included fields make sense.  If these gis downloads don't include samples with no occurrences then we shou

[2022-04-10 07:13] chrisvanswaay commented on #374
Thanks David, you are right, gpx and kml will be very useful for many. I now know I can restrict to download the two csv files (packed in a zip), as they have all the data I need.

[2022-04-11 08:12] kazlauskis commented on #173
This isn't yet implemented. We could pick this up with the next release.

[2022-04-11 08:43] kazlauskis opened #402 "Upload full classifier results to the warehouse"
Use the new upload format to send not just the top species suggestion but the full list with probability scores.

[2022-04-12 11:42] CrisSevilleja opened #403 "Create Scheme users page"
Under Scheme admin create the Scheme user page to sort information of users of a scheme. Similar to Scheme sites: https://butterfly-monitoring.net/scheme-sites

Include the variables:
- Name of the user
- Email of the user
- Sites (number of transect sites)
- Number of samples
- Number of samples this year
- Training mode (active or not)

Include a searching option at the top of every variable lik

[2022-04-12 11:47] CrisSevilleja commented on #232
This searching option is not working on the live website. Can we check this again?

[2022-04-12 11:54] CrisSevilleja opened #404 "Add "objetive" field on Site Details"
Add  an extra field, "objetive" to determine the purpose of the transect on the Site Details page https://butterfly-monitoring.net/ebms-site-details (when registering a new site)

Not compulsory field, place under details and free text to write.

<img width="641" alt="image" src="https://user-images.githubusercontent.com/25052478/162956089-2ccf6fcd-a4e1-4522-afc4-dd0efdde4bdc.png">

[2022-04-12 12:00] CrisSevilleja opened #405 "Set up transect for a single species"
Add the possibility to define a transect for a single species.

It makes sense to place this possibility while the transect registration and determine which species to record.
How would you describe it @DavidRoy ?

[2022-04-12 15:26] larspett opened #406 "Mysterious string in eBMS website"
String hash 1e76bda3c41587f12e95208c3ec0b96c

says "Records which user has read which content."

What is the meaning of this?

[2022-04-12 16:05] DavidRoy commented on #406
which page does it occur on?

[2022-04-13 14:18] CrisSevilleja opened #407 "Add Catalan language to eBMS website"

[2022-04-15 14:36] johnvanbreda commented on #406
@larspett would you be able to copy and paste the web page address you saw the message on please?

[2022-04-15 15:22] larspett commented on #406
I got it in Transifex so no chance of knowing where it shows up but I googled it and found that it seems to be core Drupal text, seen here for instance https://www.drupal.org/docs/8/core/modules/history/overview I used the Drupal context and provided a Swedish translation based on that. The text snippet in itself is pretty difficult to understand for anyone not googling it, though. For me, you can

[2022-04-15 15:38] johnvanbreda commented on #374
@DavidRoy the .kml file does include all samples - there is no link to the occurrences data in the report used. The fields included are the sample ID of the visit, the date and the grid ref or lat/long point, so they do make sense though are very limited. The one quirk is that the date information includes separate columns for the date start, end and type as well - these are hidden fields in the r

[2022-04-15 15:39] johnvanbreda commented on #406
Ok, thanks @larspett, that makes more sense. Closing.

[2022-04-15 15:39] #406 closed

[2022-04-17 07:48] chrisvanswaay commented on #374
Just to be sure: the times in the sample file are local times? Which means that if a sample starts at 06:00:00, that means that is very early, and not 06:00:00 GMT (meaning 08:00:00 on European mainland in summer).

[2022-04-17 08:25] chrisvanswaay commented on #374
I notice that in the download file timed count occurrences.zip (for all the data), which contains >100000 records of butterflies, the Visit Sample ID is missing for 20000 records or so, meaning I cannot link them to the length and location of a 15 minute count (from timed count sample data.zip). These are 'old' records.
I always thought that for the 'old' records we only collected the total transe

[2022-04-18 17:00] DavidRoy commented on #407
Now added to the eBMS website and Transifex

[2022-04-18 17:00] #407 closed

[2022-04-19 07:00] DavidRoy commented on #172
Update to issue to make more generic for improving home screen.

Suggestion from Lars: suggest making all butterfly methods combined x the selected country being the default homepage display (all methods , rather than 15-min, if it remains non-configurable) with an option in settings to select something different (see comments below).

Other suggestion is a general dashboard with key numbers, e.g.

[2022-04-19 11:40] johnvanbreda commented on #374
@DavidRoy it seems there is a mixture of data where we have a parent sample ID (visit) containing a list of precise samples and where the occurrences are attached to a sample with no parent. I don't think it's as simple as old vs new data though as I can see data from all versions of the app which have no parent sample, though it seems the use of parent samples only appears in data from version 1.

[2022-04-19 11:41] johnvanbreda commented on #374
@chrisvanswaay the times in the download are as reported by the mobile application. I believe this to be the time on the device but @kazlauskis can confirm?

[2022-04-19 11:45] DavidRoy commented on #374
@johnvanbreda yes, the app functionality changed.  The original survey design was for each occurrence to be attached to a sample (with an associated GPS track or a user-drawn polygon). The current survey design is for each occurrence to have it's own sub-sample (and point location), and these sub-samples to be within a sample (with GPS track or polygon)

[2022-04-19 12:50] johnvanbreda commented on #374
There do seem to be some samples without a parent sample even in the data generated by the latest app version, e.g. sample IDs 18083646, 18108270, 18089546, 18136744. Though, I think what is happening is the structure is still 2 levels, but there are occurrences that are attached to both the parent and the child samples. So, some of the occurrences only have the polygon/GPS track of the visit as t

[2022-04-19 12:57] kazlauskis commented on #374
@johnvanbreda In case the sub-sample fails to capture a precise location (timeout, under bridge etc) then such occurrence will be directly attached to the top parent sample upon the submission. This can potentially result in a survey with occurrences with the 2 samples above and some with only 1 sample.

[2022-04-19 13:06] larspett opened #408 "app Guide Transifex issues"
•	The texts Pyrgus-foulquieri-description and Pyrgus-cirsii-description confused me since they refer to “This grizzled skipper” so I thought it was Pyrgus malvae (Grizzled Skipper) But I closed the Transifex issue now, saw what the reason was.

•	Agriades-aquilo-description has a typo, it says “It lives on Arctic Grasslands on shale in elevations between 0 and 900m asl.” Shouldn’t be a zero there.

[2022-04-19 13:06] DavidRoy commented on #374
@johnvanbreda I agree to your suggestion to extend the download to include parent (visit) + child (sample point) etc.  The key thing is that users can download everything from the survey, even if they have to join across download files (samples and occurrences)

[2022-04-19 13:08] kazlauskis commented on #408
@CrisSevilleja are you able to edit the English descriptions in Transifex?

[2022-04-19 13:11] chrisvanswaay commented on #374
Thanks to all, I think we are getting closer. @johnvanbreda still the kml is unclear to me. It looks like:
       Name Description                       geometry
1 records.1             LINESTRING Z (-1.354157 53....
2 records.2             POLYGON Z ((-1.111025 51.60...
3 records.3             LINESTRING Z (-1.115607 51....
4 records.4             LINESTRING Z (-1.110211 51....
and simple has 733

[2022-04-19 14:43] johnvanbreda commented on #374
I've made a change so that the downloaded attribute columns (e.g. time) are filled in from the child sample or the parent sample depending on the structure, so there will be less blanks.

@DavidRoy I'd read the code incorrectly - the samples download and the track downloads both enforce the same filter, including only samples which do not have a parent. This means the following:
1. For old data, t

[2022-04-19 18:19] chrisvanswaay commented on #374
@johnvanbreda
I gave it a check and downloaded the timed-count occurrences and the timed-count sample data (All data).

When I checked my own data, I noticed my first sample is from 30-7-2019, so after my holiday in Italy, when I did quite a lot of 15 min counts. Those transects now seem not to be available (but they have existed). I also can't find older data on https://butterfly-monitoring.net/m

[2022-04-20 06:59] kazlauskis opened #409 "Verification email is in English and from the iRecord site"
- The verification update the user gets states it is from the iRecord site instead of the butterfly-monitoring.net
- The text is in English and should be translated.

[2022-04-20 10:18] DavidRoy opened #410 "Import Sweden BMS sites"
Import transect lines as Location type = transect and transect section

For fixed point sites, create a new location type = fixed point site
Import fixed point sites (polygons) as location type = fixed point site

data to import emailed separately

[2022-04-20 11:20] DavidRoy opened #411 "eBMS: update bumblebee species list"
taxon list id = 261 (https://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/461252)

- [x] Add missing recording aggregates from the Luxembourg list to the eBMS bumblebee list
- [x] Add taxon_list attributes for countries from taxon_list.id=251 (butterflies) to taxon_list_id.261 (bumblebees)
- [x] Add term_list (id = 816) to taxon_list attributes.
- [x] Populate taxon_attribute LU with v

[2022-04-20 16:32] CrisSevilleja opened #412 "Add Sweden BMS page"
Add Sweden BMS page under My Scheme page https://butterfly-monitoring.net/my-scheme

Associated country: Sweden

[2022-04-21 07:54] johnvanbreda commented on #412
@DavidRoy?

[2022-04-21 10:36] CrisSevilleja opened #413 "Issue: transect display without sections"
### Describe the issue

There is a bug in the transects display. In the part where we can select the transect, only the first transects appear normally, the followings appear with 0 sections and it is not possible to select them and visualize the sections (see the attached screenshots). Unfortunately, this issue is still occurring on their smartphones and for some of Luxembourg's transects.

I che

[2022-04-21 10:40] kazlauskis commented on #413
Thanks for reporting this, we'll have a look.

[2022-04-21 13:40] CrisSevilleja commented on #390
this issue is still not solved. Translated words from transifex are not applied on the website.

I see those terms have the translation on the Translation page but still is not applied. For example Week Number: https://butterfly-monitoring.net/admin/tmgmt/sources/locale/default?label=Week%20Number&missing_target_language=&context=
Site Name: https://butterfly-monitoring.net/admin/tmgmt/sources/loc

[2022-04-21 13:41] DavidRoy commented on #390
@johnvanbreda this happened after the Drupal9 update I think.  The 'Indicia' terms are no longer translated.  Can you investigate please

[2022-04-21 13:48] CrisSevilleja opened #414 "Translation of some pages not working"
I applied the translation of many languages on the website. While navigating between pages the languages stays the same, however this is not happening for certain pages:

- My sites https://butterfly-monitoring.net/my-sites
- My walks https://butterfly-monitoring.net/my-walks
- Annual Report https://butterfly-monitoring.net/annual-report
- butterfly monitoring https://butterfly-monitoring.net/BMS

[2022-04-21 14:34] johnvanbreda commented on #390
Fixed. The helper_config.php file had not been migrated to the Drupal 9 site version. This contains a setting that tells Indicia to use the Drupal translation system for it's strings.

[2022-04-21 15:34] DavidRoy commented on #412
That's done

[2022-04-22 09:34] DavidRoy opened #415 "EBMS transect setup - add Saint Helena as a country in drop-down list"
https://butterfly-monitoring.net/ebms-site-details

To support scheme in UK Overseas territory

[2022-04-22 09:52] DavidRoy commented on #415
@JimBacon have done this via the form edit

[2022-04-22 09:52] #415 closed

[2022-04-22 09:53] DavidRoy commented on #415
@Gary-van-Breda for info.  Please can you update the form in development so this change is not lost

[2022-04-22 09:58] CrisSevilleja commented on #408
@kazlauskis I can do it, but I don't know how to exactly edit the source string in Transifex. If you tell me where I can apply the description.

Sorry @larspett this is the original text for Agriades aquilo from the Climatic Risk Atlas: "This species occurs exclusively in Nothern Fennoscandia. It occurs on slate and shale rocks with patches of grassy vegetation and with Crowberry (Empetrum nigrum)

[2022-04-22 10:12] larspett commented on #408
Hi again , I had a quick look at GBIF and

From: Cristina Sevilleja ***@***.***>
Sent: den 22 april 2022 11:59
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pettersson ***@***.***>; Mention ***@***.***>
Subject: Re: [BiologicalRecordsCentre/ABLE] app Guide Transifex issues (Issue #408)

@kazlauskis<https://github.com/kazlauskis> I can do it, but I don't know how to exactly edit the source

[2022-04-22 10:14] DavidRoy commented on #405
We have something like this on the UKBMS website already ([Site Details | UKBMS](https://ukbms.org/site-details?location_type_id=777)).  The simplest option is to use the same approach.
![image](https://user-images.githubusercontent.com/2699478/164687396-972972e2-f65b-4a7c-be5d-b04ffc120d2a.png)

The work required is:
- [ ] enable location attribute 42 to be used on the eBMS website (http://wareho

[2022-04-22 10:19] DavidRoy opened #416 "eBMS website and app: add common names to butterfly lists"
Common names for Catalan, Danish, Polish, Slovenian, Bulgarian, Croatian and Lithuanian to be added to butterfly checklist.  Files sent by email.

- [x] incorporate within Indicia checklist
- [x] incorporate within ButterflyCount app

[2022-04-22 11:02] kazlauskis commented on #408
@CrisSevilleja the species descriptions are simple English translations in Transifex so all you need to do is just open up a English translation and edit the text

[2022-04-22 11:26] DavidRoy opened #417 "eBMS moth checklist - add flag for 'day-flying'"
to enable them to be recorded alongside butterflies

- [x] new taxon list attribute for moth list.id = 260 as 'Day-active' with true/false values
- [x] flag the following taxa as 'Day-active' = TRUE

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta

[2022-04-22 11:38] CrisSevilleja commented on #405
@DavidRoy I think to set "all species" as default value is good. The majority of the transects are like that.

[2022-04-22 11:45] CrisSevilleja commented on #408
Sorry @kazlauskis I don't know exactly where you find the English translation, maybe it is quite obvious but I cannot only see the different languages to translate. Could you show me in a screenshot where to find it? Maybe I don't have the rights to do it. Thanks

[2022-04-22 13:16] CrisSevilleja commented on #413
Some more information:
"We have this problem on all our devices: Android (BlackView, Samsung…, with the version v1.15.0 (87)) and iPhone (v1.15(90)). Yes, we noticed the problem around June 2021. Everyone that has at least 7 transects has the problem.

I join two screenshots to explain you the problem:
“7_transects”: here I have 7 transects allocated to me. The 6 first transects appear normally, b

[2022-04-25 06:59] kazlauskis commented on #408
@CrisSevilleja Ah, sorry! It seems that editing the source file in Transifex is a premium feature. Can you confirm how and which terms I need to change? Thanks

[2022-04-25 08:33] kazlauskis commented on #413
This is fixed now and will be available in v1.16.0.

The reason for this issue was a default maximum of total 100 sections returned by the report. We have now increased this to 3000.

[2022-04-25 08:33] #413 closed

[2022-04-25 08:53] JimBacon commented on #416
Awaiting updated files from @CrisSevilleja having the accented characters correctly encoded.

[2022-04-25 10:28] JimBacon commented on #417
Added the Day-active taxon attribute (ID 194).
Flagged all the species in the list above, including Cristina's additions, as Day-active.

I.e. Both tasks completed. I don't seem to have permissions to mark the tasks completed or to close this issue.

[2022-04-25 10:32] DavidRoy commented on #417
Thanks.  I've hopefully given you admin rights for this repository

[2022-04-25 10:32] #417 closed

[2022-04-25 10:34] DavidRoy opened #418 "ButterflyCount - add day-flying moths to butterfly list"
linked to #417
enable day-flying moths (defined by attribute ID 194) to be recorded alongside butterflies in the ButterflyCount app

[2022-04-25 10:41] larspett commented on #418
Will the day-active moths be filtered by country in the app (so that we don't end up with a very long general European list)?

[2022-04-25 10:45] DavidRoy commented on #418
We currently do no filtering in the name search for butterflies, so this will make little change?

However, we are also working towards regional lists.  Particularly as we are getting interest to extend beyond Europe.

[2022-04-25 11:09] DavidRoy opened #419 "ebms: new taxon list attribute 'Europe' for butterfly taxon list"
Required to enable extension of ButterflyCount/eBMS beyond Europe.  Need to be able to identify taxa on the European list, versus elsewhere (e.g. Kenya, Japan etc).

- [x] new taxon_list attribute as 'Europe'
- [x] term list of attribute is term list.id 816 (Species presence code)
- [x] add the 'Europe' taxon_list attribute to taxon_list_id = 251
- [x] set value = 'P' for existing taxa on the Euro

[2022-04-25 12:01] JimBacon commented on #414
Hi Cristina,

If I go to the home page and switch to Spanish I see the following menu items which navigate me to Spanish versions of the pages which are in Spanish:

- Mis datos > Mis Transectos: https://butterfly-monitoring.net/es/mis-transectos
- Mis datos > Mis Visitas: https://butterfly-monitoring.net/es/mis-visitas
- Mis datos > Informes > Resumen Anual: https://butterfly-monitoring.net/es/in

[2022-04-25 12:51] CrisSevilleja commented on #408
thank @kazlauskis then I know I cannot edit the English text. Here are the changes to do on species description resource of eBMS:

Agriades-aquilo-description: This species occurs exclusively in Nothern Fennoscandia. It occurs on slate and shale rocks with patches of grassy vegetation and with Crowberry (Empetrum nigrum), especially in areas sheltered from the northwestern wind. It lives from sea

[2022-04-25 13:10] CrisSevilleja commented on #414
Yes, now the translation of these pages are changing when you are in a certain language. Thanks @JimBacon  it is working well now.

About the Bulgaria page and Dutch, that is referring to the content, that they didn't provide it to me and I have to add it. The main thing is the page language doesn't change while navigating between pages.

Everything solved. Thanks

[2022-04-25 13:13] JimBacon commented on #414
I did not change anything so this is rather a mystery!

[2022-04-25 13:17] CrisSevilleja commented on #414
so strange, now it is working well...

[2022-04-26 07:34] kazlauskis commented on #408
Thanks, I've changed it now. It will come out with the next app release.

[2022-04-26 07:34] #408 closed

[2022-04-26 10:28] JimBacon commented on #410
The `point_sites` file contains 698 features. We have previously imported 608 features of type 'ABLE fixed point site'

Of the 608 existing points,

- 2 have been removed (2631, 2768)
- 3 have had a name alteration (198, 236, 2781)
- 1 has change location slightly (247)
- 1 has changed location significantly (2662)
- 2 which previously had the same location now have slightly different locations (2

[2022-04-26 10:47] larspett commented on #410
I would prefer to have them as polygons since that is what they are. The centroid midpoint can always be derived (or kept as a separate table field if needed). I would suggest removing all entries present in the db and running a full resupply with the polygon definitions. Is the radius 50 m? I should be 25 m (a diameter of 50 m)

[2022-04-26 11:22] JimBacon commented on #410
Sorry, yes, I meant 50m diameter. I was unsure if they would still look circular when projected in EPSG:3857, which is what I think the website will use, but it looks okay in QGIS. I will try what you suggest, thanks.

[2022-04-26 11:26] larspett commented on #410
Great! The shape of them will probably change when we allow volunteers to see them and (possibly) edit them, that’s why we have them as polygons with quite a lot of segments. Then a user should be able to adapt it to their garden etc if they want to (and we make the shape editable)

From: JimBacon ***@***.***>
Sent: den 26 april 2022 13:23
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pet

[2022-04-26 13:29] larspett commented on #410
Could you send me the id:s of the 33 ones? The Turning Tors one below is a test site and shouldn’t really be in the selected sites. Might make sense to double-check the others too

From: JimBacon ***@***.***>
Sent: den 26 april 2022 15:02
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pettersson ***@***.***>; Mention ***@***.***>
Subject: Re: [BiologicalRecordsCentre/ABLE] Import Sweden BM

[2022-04-26 13:43] JimBacon commented on #410
565 out of 698 have 33 vertices. That is a lot of checking!
IDs in the attached text file.
[point_sites_33_vertices.csv](https://github.com/BiologicalRecordsCentre/ABLE/files/8563716/point_sites_33_vertices.csv)

[2022-04-26 13:46] larspett commented on #410
Ah that was a bit surprising, then absolutely yes, please do simplify them to 33. All should be circular, so the two odd ones you sent would be good to double-check. Do you find other non-circular ones? If so, please send the ids. Eventually we will be resupplying updated shapes when necessary (or upload to the site directly.)

From: JimBacon ***@***.***>
Sent: den 26 april 2022 15:44
To: Biologic

[2022-04-26 13:58] JimBacon commented on #410
Okay. That's good. They are all circular. The two screenshots were my attempt to show editing in progress and how difficult it is to alter the polygon when there are 361 vertices compared to 33.

[2022-04-26 16:35] DavidRoy commented on #241
Sweden fixed sites now available in the warehouse #410

[2022-04-27 07:39] CrisSevilleja commented on #416
Files sent by email @JimBacon

incorporate "unknown" to the species list of butterflies

[2022-04-28 08:22] JimBacon commented on #410
For reference, I have done the following to import the transects.

1. Opened the KML file in QGIS and added additional fields consistent with the existing naming convention for eBMS:
    1. transect code: EBMS:Sweden:<geo_sit_si>
    2. section code: S<geo_seg__1>
    3. section name: <geo_sit_na> - S<geo_sit_si>
2. Added further fields in QGIS to
     1. count the number of sections in a transect

[2022-04-28 08:45] JimBacon commented on #410
Hi @larspett

Yes, they are visible.

The following 6 transects were already present in eBMS.
Billebjer and Rökepipan are now duplicated. You probably want to delete something to avoid confusion.
Note, I also changed the code for 'test transect 1' so it did not conflict with one of the imported transects.

![image](https://user-images.githubusercontent.com/2545390/165712439-6b77ae49-573e-4605-bffd

[2022-04-28 08:58] larspett commented on #410
Great, I will delete most of them. How much of the metadata from us remains?

28 apr. 2022 kl. 10:45 skrev JimBacon ***@***.***>:

﻿

Hi @larspett<https://github.com/larspett>

Yes, they are visible.

The following 6 transects were already present in eBMS.
Billebjer and Rökepipan are now duplicated. You probably want to delete something to avoid confusion.
Note, I also changed the code for 'test t

[2022-04-28 09:09] JimBacon commented on #410
The 6 existing transects are unchanged so if you have added metadata to them you may prefer to delete the newly imported versions. One difference is that you have used sequential numbers (1-6) in the codes of the transects you have added while I used your existing transect IDs because I thought that might be more useful. I am now wondering if that was a mistake. If the system has allocated those c

[2022-04-28 09:23] JimBacon commented on #410
Just checked the way codes are created and the number is always one greater than the previous maximum so I don't think I have created any problem there.

[2022-04-28 09:28] larspett commented on #410
No the sit_uid that came with those sites (rather, the uid was called geo_sit_siteid) is what we would like to keep. Those 6 old cases are just test sites, one of them might have been used for real but the others are just dummies.

I would very much like to keep those UIDs but am unsure if those are unique in Indicia or just metadata so that the unique id:s are not visible to the ordinary user? I

[2022-04-28 09:34] larspett commented on #410
The important thing is that the unique codes are preserved (sit_uid a.k.a. geo_sit_siteid )

From: JimBacon ***@***.***>
Reply to: BiologicalRecordsCentre/ABLE ***@***.***>
Date: Thursday, 28 April 2022 at 11:23
To: BiologicalRecordsCentre/ABLE ***@***.***>
Cc: Lars Pettersson ***@***.***>, Mention ***@***.***>
Subject: Re: [BiologicalRecordsCentre/ABLE] Import Sweden BMS sites (Issue #410)

Just

[2022-04-28 10:04] JimBacon commented on #410
Every location has a unique ID in our database, which the user can occasionally see.
The code field, in which I have kept your site ID, is metadata as far as the database is concerned.
However, the website uses the code field and expects it to have a pattern and be unique within the context of the EBMS website (our database serves many websites).

I think everything is good and we can close this i

[2022-04-28 10:14] larspett commented on #410
Yes looks excellent. Fine with me to close it

28 apr. 2022 kl. 12:05 skrev JimBacon ***@***.***>:

﻿

Every location has a unique ID in our database, which the user can occasionally see.
The code field, in which I have kept your site ID, is metadata as far as the database is concerned.
However, the website uses the code field and expects it to have a pattern and be unique within the context of th

[2022-04-28 10:16] #410 closed

[2022-04-28 10:59] JimBacon commented on #411
In the Luxembourg list where they have e.g. _Bombus bohemicus_, list 261 has _Bombus (Psithyrus) bohemicus_

Where they have an aggregate like _Bombus bohemicus/vestalis_, I can add _Bombus (Psithyrus) bohemicus/vestalis_

However, where they have an aggregate like _Bombus hortorum/ruderatus/jonellus_, how do I write an aggregate of _Bombus (Megabombus) hortorum_,  _Bombus (Megabombus) ruderatus_,

[2022-04-28 11:02] JimBacon commented on #411
The Luxembourg list also contains sub-species. Do you want me to omit those?

There is one aggregate which contains a sub-species (_Bombus lapidarius/ruderarius/soroeensis proteus_)